[2021-08-19 17:40] jmazzitelli commented on #4290
FWIW: we did do an audit of the server permissions recently - so these permissions are going to be required in the operator since the operator needs to give the permissions to the server: https://github.com/kiali/helm-charts/blob/master/kiali-server/templates/role.yaml

So any perms you see in the server role need to exist in the operator role as well.

[2021-08-19 17:46] nrfox commented on #4220
That's interesting, I like that idea. I wonder if there's ever a situation where you'd end up with both colors.

[2021-08-19 17:47] vasartori commented on #4288
Looking over some apps who uses "domain filter", is only the domain.
I think using regex, we will add unnecessary complexity on a simple "array".

[2021-08-19 17:48] jmazzitelli commented on #4290
We do not know that for sure. My [comment](https://github.com/kiali/kiali/issues/4290#issuecomment-902013137) above explains why. If a user creates a Kiali CR with `spec.deployment.instance_name` set to something other than `kiali` then those are not the resource names that will be used. See: https://github.com/kiali/kiali-operator/blob/v1.38.0/roles/default/kiali-deploy/templates/kubernetes/role-

[2021-08-19 17:57] israel-hdez commented on #4288
Such validation would need to be right before this conditional:
* https://github.com/kiali/kiali/blob/cbe232840933809f09104dcb198d99a0ab5184d6/handlers/authentication.go#L243

And also replicated before this other similar conditional:
* https://github.com/kiali/kiali/blob/cbe232840933809f09104dcb198d99a0ab5184d6/handlers/authentication.go#L896

and configuration should be added to this struct:
* h

[2021-08-19 18:03] vasartori commented on #4288
Sure, I'll try do this change.

[2021-08-19 19:42] bianpengyuan commented on #3825
Yeah this is a known issue / behavior, since egressgateway is also treated as a outbound proxy, and the stats filter cannot tell if the client certs is really verified or not at the server proxy, so it reports `unknown`.

[2021-08-19 20:29] jshaughn commented on #3825
Thanks @bianpengyuan , I'll close this now that we understand the root cause.

[2021-08-19 20:29] #3825 closed

[2021-08-20 05:12] jmazzitelli opened #4292 "publish 1.39.0 OLM metadata and create new 1.40.0 metadata in operator repo"
Once 1.39 is released and up on quay.io, we need to [prepare 1.39 OLM metadata for publication](https://github.com/kiali/kiali-operator/blob/master/manifests/prepare-community-prs.sh) and then [create new 1.40.0 OLM metadata](https://github.com/kiali/kiali-operator/blob/master/manifests/create-new-version.sh)

[2021-08-20 13:23] israel-hdez commented on #4287
A message in the #kiali room in Istio slack has 4 votes seems to be the preferred channel.

I'll try that route. It's a "chat", so it will be a minimalistic "Kiali vX.Y.Z was released just now".

[2021-08-20 17:57] jshaughn commented on #3895
This was done, see above merged PRs.

[2021-08-20 17:57] #3895 closed

[2021-08-20 19:18] jmazzitelli commented on #4259
I do not think this will affect those.

[2021-08-20 19:20] jmazzitelli commented on #4196
I do not have "kind" running on my machine, but I did the OLM work for the minikube CI script so I can do most of the work for this and ask someone with a functioning "kind" to review/test it and tweak the PR to get to a finished product.

[2021-08-20 19:22] jmazzitelli commented on #3858
We should consider having something that can process the example CR yaml and automatically produce some .adoc document that we can then publish on kiali.io. Something like swagger for the CR yaml.

[2021-08-20 19:59] nrfox opened #4295 "Mesh internal ServiceEntry should be grouped in app box with workloads"
**General remarks**

Service nodes are grouped with their workloads on the "versioned app" graph. But internal ServiceEntries are not despite being a part of the same "app".

**Describe the bug**
In this screenshot, on the left is a Service without a ServiceEntry that is properly boxed with the workloads. On the right is a Service with a ServiceEntry that is excluded from the box with the workload

[2021-08-20 20:05] #3927 closed

[2021-08-20 20:17] jmazzitelli commented on #4292
1.39 OLM metadata to be published via these PRs:
* https://github.com/k8s-operatorhub/community-operators/pull/132
* https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/135

[2021-08-20 20:23] nrfox commented on #1525
In testing this by `kubectl exec` into the proxy pod and doing `curl -XPOST localhost:15000/logging?level=debug`, the log level updated successfully without a pod restart. If the istio proxy works the same way then a pod restart shouldn't be necessary for updating this.

[2021-08-20 20:32] jshaughn commented on #4295
Hmm, that's interesting.  I guess the "se-aggregate" node must not be getting the "app" assigned.  Is it always true that the aggregated "se-service" nodes have the same "app" value, or is it possible to have "se-service" nodes with different apps, getting aggregated together?   If we safely aggregate, and assign the "app" value to the new serviceEntry node, it should get boxed.  Adding to the bac

[2021-08-20 20:38] nrfox commented on #1525
How about having the dropdown just to the left of the "log lines" dropdown?

![loglevellocation](https://user-images.githubusercontent.com/6226732/130290915-f11acf3d-153d-459e-8f7c-7dc9c9ed774c.png)

[2021-08-20 20:46] jmazzitelli commented on #4292
1.40.0 OLM metadata PR: https://github.com/kiali/kiali-operator/pull/402

[2021-08-20 20:47] jshaughn commented on #1525
Is it actually possible to know the current log level?  Or just to set a new one?  I'm not sure whether I'd like to add more to the toolbar or instead control it from the kebab.

[2021-08-20 20:54] #4292 closed

[2021-08-23 08:00] movergan commented on #4054
Faced the same issue in GKE.

[2021-08-23 09:00] lucasponce commented on #4054
Hi @movergan, can you add more details about:
- GKE version.
- Istio version and source (if you are using Istio upstream or other Istio provided by GKE or other provider).
- Kiali version.
- Mechanism to reproduce/install your scenario.

I typically use GKE in public cluster for testing using the demo profile, so I assume and probably there is something in your installation that personalizes the c

[2021-08-23 13:59] nrfox commented on #1525
Good question! Yes, you can list the current loggers by sending the same request without a query param `curl -XPOST http://localhost:15000/logging`. https://www.envoyproxy.io/docs/envoy/latest/operations/admin#post--logging

[2021-08-23 17:23] nrfox commented on #1525
Another thing to consider for this feature is changing the log level of a specific logger vs. changing the log level for every logger. From the implementation side I don't believe it would be much work to support both since it's just a matter of setting the correct query param but supporting specific loggers would probably change the UI and how these options are laid out.

[2021-08-23 17:51] jshaughn commented on #1525
To start I'd say all loggers and see whether anyone asks for, or submits, an enhancement for individual loggers.

[2021-08-23 18:21] jshaughn commented on #3840
This comment is to just make explicit which graph options are and are not bookmarkable:

option | supports bookmarking
--------------------- | ----------------------
duration | yes
edge labels | yes
graphType | yes
layout | yes
namespaces | yes
refresh period | yes
replay | no
show idle edges | yes
show idle nodes | yes
show operation nodes | yes
show service nodes | yes
traffic rates | yes
find/h

[2021-08-23 20:02] nrfox commented on #1525
So digging into this a little more I think there's two different use cases here for changing the log level:

1. Adjusting the log level for a specific workload. Say the global log level is `warning` but for a specific workload(s) you want the log level to be `info`. Here you want every pod in that workload to have the same `info` log level. That would be pretty tedious to do with the proxy but Ist

[2021-08-23 23:42] nrfox commented on #4179
That sounds great! By restricting the editable annotations in the modal to Istio/Kiali you can provide richer validation and autocomplete to help guide the user to the correct usage.

[2021-08-24 15:01] jshaughn commented on #1525
This should only be concerned with changing log level without a pod restart.  A pod restart will change everything regarding to the workload detail and would require a refresh of the entire detail, after the pod(s) restart.   As mentioned above, I don't think we want Kiali to do that sort of non-Istio-config workload manipulation (unless community really demands it).

[2021-08-24 17:08] prary commented on #4290
Hi @jmazzitelli I see the utility of instance name and its very well needed in case of multicluster setup. But do we actually need instance name in case of role, rolebinding, clusterrole and clusrterrolebinding. Right now we have practically made kiali-operator as the admin.  It can create, delete any role, rolebinding, clusterrole and clusrterrolebinding.

If in a undesirable scenario this kiali-

[2021-08-24 17:25] hhovsepy commented on #4218
@linjmeyer the requested feature of showing Info message instead of Error message on DestinationRule's not existing subset, which is not linked in any VirtualService, is approached in pull request https://github.com/kiali/kiali/pull/4256 and is also documented in https://github.com/kiali/kiali.io/pull/402 .
This feature will be released in upcoming Kiali v1.40  release.
Can you please take a look

[2021-08-24 18:04] jmazzitelli commented on #4290
By definition, yes, Kubernetes Operators are considered to provide "admin-like" capabilities (just like internal cluster operators and components) so they are expected to have at least some admin permissions. And because Kiali is monitoring cross-namespace service mesh components, the Kiali Operator is expected to have much more wide-spread permissions than other run-of-the-mill operators because

[2021-08-24 21:06] jmazzitelli commented on #4290
BTW: what we could do is potentially add a new enhancement request - something along the lines of configuring the operator to disallow "instance name" from changing (thus forcing it always to "kiali") - and if that flag to disable instance names is activated, then we could do something like add "resourceNames" to some of the rules here to restrict further things like creation, deletion, and modifi

[2021-08-24 22:27] mjnagel opened #4298 "Kiali Operator: Pods attempt to use auth secret when external service disabled"
**General remarks**

I am not certain if this is intended behavior as this could be considered a "misconfigured Kiali object", but it seems like it could be more robust.

**Describe the bug**

If a user creates a `Kiali` object that has an external service disabled but also provides a `auth.password` that contains a secret, the operator will generate a pod that attempts to use this secret - result

[2021-08-24 22:53] jmazzitelli commented on #4298
Agreed. If disabled, the operator should ignore those and also not tell the server about any of those peer settings.

[2021-08-25 14:18] #4290 closed

[2021-08-26 14:48] #4259 closed, assigned to jmazzitelli

[2021-08-26 16:55] prary opened #4302 "Not able to build Molecule image"
**Describe the bug**
Tried running molecule test case where ```make molecule-build``` failed.
Reason for failure:
[code]
Lookslike repository is deleted/moved.
![image](https://user-images.githubusercontent.com/6360614/131004006-104b6780-09f2-4c65-bff8-0dbc5b50771a.png)

**Versions used**
Kiali: 1.39.0
Istio: N/A
Kubernetes flavour and version: minikube
**Expected behavior**
Build should succeed b

[2021-08-26 17:54] vbergbauer opened #4303 "Kiali Istio dashboards incompatible with thanos-query"
**General remarks**

To reduce the load on the Prometheus server, we are directing Grafana and Kiali to a Thanos querier.
This works fine with Grafana, and mostly works with Kiali, as seen on:
- the graph:
  ![image](https://user-images.githubusercontent.com/8659572/131010698-e775da36-8443-42ab-9b49-22f96a9e907e.png)
- this custom dashboard:
   ![image](https://user-images.githubusercontent.com/86

[2021-08-26 18:30] jmazzitelli opened #4305 "[molecule] upgrade to new ansible/molecule toolset"
The old ansible-molecule base image we use for our molecule test framework as been removed. For background, see:

* https://github.com/kiali/kiali/issues/4302
* https://github.com/ansible-community/molecule/discussions/3206

Right now, we mirror that ansible-molecule image in the Kiali quay.io repo since the one up on the ansible quay repo has been removed. We should upgrade the molecule base imag

[2021-08-26 18:31] #4302 closed, assigned to jmazzitelli

[2021-08-26 18:33] vbergbauer opened #4306 "Kiali 1.39.0 Does not start at all on KinD"
**Bug**
Running Kiali 1.39.0 whether via the operator or via the kiali-server Helm chart on KinD results in the pod failing to start.

The error is:
[code]

There are no issue in previous versions of Kiali (e.g. 1.38.1) on the same version of KinD on the same WSL environment.

**Versions used**
Kiali: 1.39.0
Istio: 1.10.3
Kubernetes version 1.21.2
KinD version: kind v0.11.1
Docker server version:

[2021-08-26 22:17] #4306 closed, assigned to nobody

[2021-08-27 16:58] nrfox opened #4307 "Distinguish between workload and routing node badges"
**Is your feature request related to a problem? Please describe.**
As more graph badges are added over time, being able to more easily distinguish between workload and routing node badges could become more useful.

**Describe the solution you'd like**
Visually distinguish between workload and routing node badges by adding different coloring for each. The current badge color can be kept for the rou

[2021-08-27 18:19] #4305 closed, assigned to nobody

[2021-08-30 11:48] #4202 closed

[2021-08-30 13:49] jmazzitelli commented on #4268
More clarification from the upstream Istio team:

QUESTION: what happens if both are set? I assume when you say Label > Annotation that the label takes precedence. I just want to confirm that. If both label and annotation are set - I will assume annotation is ignored and label is used. Correct?

ANSWER: actually no, [if] either one is false it will not be injected

[2021-08-30 14:38] jmazzitelli commented on #4268
One weird thing is I don't see annotations working in 1.11:

[code]

You can see the `simple-client` has the sidecar - its label is `true` - the annotation does not exist.
`simple-server` does NOT have the sidecar - its annotation is `true` - the label does not exist.
I can't explain that - looks like the annotation didn't take effect.

[2021-08-30 17:16] RobberPhex opened #4310 "bring Dapr service into Kiali"
**Is your feature request related to a problem? Please describe.**

When using Dapr, there is no dashboard like Kiali to display service graph, app list with metric/trace.

**Describe the solution you'd like**
* In application detail, workload detail, service detail page, show Dapr traffic in traffic tab, show Dapr metrics in metrics tabs.
* At service graph, show Istio and Dapr in one graph.

**D

[2021-08-30 17:17] RobberPhex commented on #4310
I'm working on this way, but I'm not sure there is an alternative way or a better way.

[2021-08-30 17:34] jmazzitelli commented on #4310
Can you explain what Dapr is?

If this is asking for Kiali to support additional non-Istio service mesh implementations, that's already been requested several times in the past and declined. See:
* https://github.com/kiali/kiali/issues/2823
* https://github.com/kiali/kiali/issues/1679
* https://github.com/kiali/kiali/issues/3778

But I cannot tell if that is what this enhancement request is asking

[2021-08-30 19:44] jmazzitelli commented on #4268
I just found out (this is new to me) that the sidecar pod annotation can only OPT OUT of injection. It cannot opt in. In other words, the sidecar annotation value of "true" is meaningless -- the annotation only takes effect if the namespace label "istio-injection" is set to "true". So a value of "false" is the only meaningful value for the annotation.

[2021-08-30 21:38] #3840 closed

[2021-08-31 03:08] jmazzitelli commented on #4310
* https://docs.dapr.io/concepts/overview/
* https://docs.dapr.io/concepts/service-mesh/

@lucasponce I wonder if there is room here to do an integration with Dapr in the same way we did with iter8?

[2021-08-31 10:19] hhovsepy opened #4314 "Support it in VirtualServices"

[2021-08-31 10:23] hhovsepy commented on #4314
Added validations for VirtualService checks:

- SingleHostChecker - KIA1106 More than one Virtual Service for same host
- SubsetPresenceChecker - KIA1107 Subset not found

[2021-08-31 10:23] #4314 closed

[2021-08-31 10:24] hhovsepy opened #4315 "Support `exportTo` validation in DestinationRules"
Validations to be supported:
TrafficPolicyChecker - "KIA0204 mTLS settings of a non-local Destination Rule are overridden"
MultiMatchChecker  - "KIA0201 More than one DestinationRules for the same host subset combination"

[2021-08-31 10:24] hhovsepy opened #4316 "Support it in ServicesEntries"

[2021-08-31 10:24] hhovsepy opened #4317 "Support `exportTo` validation in Services (`networking.istio.io/exportTo` annotation)"

[2021-08-31 14:30] nrfox commented on #1525
Added an action to the kebab dropdown on the pod logs page:

![setloglevel](https://user-images.githubusercontent.com/6226732/131519063-2fca5678-9206-4981-8635-c3b7c1e63644.png)

A problem with this approach is that it doesn't offer the ability to select which log level to set. There would need to be a separate action for each log level.

Instead, clicking the kebab action could open a modal windo

[2021-08-31 15:52] prary opened #4318 "Running ./ci-minikube-molecule-tests.sh fails"
With '''set -u''' enabled scripts fails with '''variable unbound error'''

https://github.com/kiali/kiali/blob/2c22b05724f967a95f3204130ce5327c6e9b4a0b/hack/ci-minikube-molecule-tests.sh#L111

Steps to reproduce it:
Run ./ci-minikube-molecule-tests.sh with default flags

[2021-08-31 16:25] prary opened #4319 "Docker copy fails with permission denied"
Running ```CLUSTER_TYPE=minikube MINIKUBE_PROFILE=ci MOLECULE_USE_DEV_IMAGES=true MOLECULE_SCENARIO="jaeger-test" make  molecule-test```
fails with following error.
'''
docker cp "/home/arya/.kube/config" molecule-volume-helper:/data/kubeconfig
ERRO[0000] Can't add file /home/arya/.kube/config to tar: open /home/arya/.kube/config: permission denied
'''

https://github.com/kiali/kiali/blob/2c22b057

[2021-08-31 16:39] prary opened #4320 "Jaeger-test & header-auth-test failing"
Not sure why ```CLUSTER_TYPE=minikube MINIKUBE_PROFILE=ci MOLECULE_USE_DEV_IMAGES=true MOLECULE_SCENARIO="jaeger-test" make  molecule-test has suddenly started failing, it use to work seamlessly

logs
[code]
Can see kiali is not able to connect to jaeger service
[code]
Steps to reproduce

- Install minikube
- run CLUSTER_TYPE=minikube MINIKUBE_PROFILE=ci MOLECULE_USE_DEV_IMAGES=true MOLECULE_SCENA

[2021-08-31 16:42] nrfox commented on #4318
I get the same error. Judging by the name of the script, my guess is this is usually run in a CI context where that option is passed in but it seems like it should have an `if upload_logs == true` guard around those variable assignments. @jmazzitelli you might be more familiar with this.

[2021-08-31 18:16] jmazzitelli commented on #4319
Looks like you just have a permissions restriction on your `/home/arya/.kube/config` file.

[2021-08-31 18:19] jmazzitelli commented on #4320
Most likely the version of Kiali and Istio you are running together are now incompatible. The jaeger stuff changed recently - that jaeger-test will not run on older versions of Istio / Jaeger anymore. Follow this and everything related to it: https://github.com/kiali/kiali/issues/4207

[2021-08-31 18:25] jmazzitelli commented on #4318
Well, I would say, "don't add `set -u`" to the script and it'll work :)

If you want to add a `set -u` then the fix for this would be:

[code]

This logs stuff is used if "upload logs" feature is turned on - and when it is, you will be setting that logs dir so under normal circumstances this isn't a problem. Hence why no one cared.

[2021-08-31 18:28] prary commented on #4319
That's what I thought, have tried with chmod+777 but it fails with same error. Not sure why?

[2021-08-31 18:39] jmazzitelli commented on #4319
https://github.com/docker/for-linux/issues/564

Moving this to "Discussions" - doesn't seem to be an issue with anything in Kiali

[2021-08-31 18:40] #4319 closed

[2021-08-31 19:11] jshaughn commented on #1525
How about if the dropdown just showed something like:

[code]
And the current log level is grayed out

[2021-08-31 20:12] nrfox commented on #1525
I like that approach too.

Showing the "current log level" is a little tricky since there doesn't seem to be a "global" log level option for the proxy. Rather there are 20+ individual loggers returned from `localhost:15000/logging`:

[code]

Each logger could have it's own log level. To determine the "current" log level, I was planning on tallying up the occurrences of each and going with the max.

[2021-09-01 08:42] #4310 closed

[2021-09-01 11:25] libesz opened #4323 "Custom HTTP headers when connecting to Prometheus"
Once I asked about this topic on Slack and I was told that: this is not yet supported and it is better to open an issue for further consideration. So here it is 😄

**Is your feature request related to a problem? Please describe.**
There are certain managed public cloud offerings, where a multi-tenant monitoring endpoint however, is a standard Prometheus API, but the client authentication is not a

[2021-09-01 13:00] jshaughn commented on #1525
@nrfox OK, if it doesn't really make sense I'm fine not showing a "current" log level, just setting is fine.  This will consolidate all loggers to the selected log level, right?

[2021-09-01 13:25] nrfox commented on #1525
Yes they'll all be updated to the same level. It's possible to target individual loggers with the envoy admin interface but I didn't think that was necessary for this feature since this is a temporary way to adjust your log level for debugging and that would add more complexity on the front end.

[2021-09-01 17:57] jshaughn commented on #4323
Hi @libesz , thanks for creating the issue.  I think this is a reasonable enhancement and am adding to the backlog.

[2021-09-01 18:31] libesz commented on #4323
Thanks @jshaughn . Our team might offer some help with the actual contribution in the coming months if you need it.

[2021-09-01 19:04] jshaughn commented on #4323
@libesz If you'd like to see it sooner than later please feel free to submit a PR and we will be more than happy to review/guide the submission.  Just let us know if you are starting so that we don't also start at some point.

[2021-09-01 19:58] libesz commented on #4323
Okay, sure! It is unlikely that we will have any free cycles in 1-2 months, but whenever we get there, I will get back to you.

[2021-09-02 19:54] #4223 closed

[2021-09-02 19:54] #4220 closed

[2021-09-02 23:05] israel-hdez opened #4325 "Metrics charts can be too thin"
**General remarks**

Metrics charts look like this in my laptop screen:

![image](https://user-images.githubusercontent.com/23639005/131926090-32807861-ceb5-4ef5-9015-db1aaca5a4dc.png)

Laptop's maximum screen resolution is 1366x768, which is still a very common resolution:

![StatCounter-resolution-ww-monthly-202007-202108](https://user-images.githubusercontent.com/23639005/131926961-dcf098b0-c19

[2021-09-03 05:53] lucasponce commented on #4325
Yes, on heights < 800 px with 2 rows it worked well, but when we introduced the TCP row it pushes this a little bit on narrow resolutions.

Additionally to the design, I see a bug in the screenshot that can be addressed.

[2021-09-03 07:35] zackzhangkai opened #4326 "Show gateway in istio config"
Create a gateway in *Request Routing* - *advanced options*. Then it will create a Virtualservice resource , a DestinationRule resource and a Gateway resource.
In the *istio config*, it just shows *virtualservice* and *destinationrule*.

I think *gateway* resource should also be displayed.

![image](https://user-images.githubusercontent.com/20178386/131968160-82c75033-9c62-400b-a4e1-eb4e78836843.pn

[2021-09-03 07:50] lucasponce commented on #4326
Thanks @zackzhangkai for the feedback.
Yes, I agree, it's not linked due the VirtualService and DestinationRule are linked only with the direct services.
But I think it could be a nice enhancement to add under the service others related Gateways that are linked with the VirtualService.

I'll put it in the backlog.

[2021-09-03 11:58] jmazzitelli opened #4327 "return istio implementation version to status API response"
We've been talking about adding an API to the server (and the UI will have this too) that lets you know if you are running in a Maistra environment (implemented in the two PRs, see https://github.com/kiali/kiali/pull/4309 and https://github.com/kiali/kiali-ui/pull/2230). We first are using this in those PRs to know what sidecar injection label/annotation to use.

The question just came up, "If the

[2021-09-03 15:41] israel-hdez commented on #4287
I tried to setup the release notifications to #kiali channel in Istio's Slack. The process is as follows:
* You need to create a "Slack app". I already did this step.
* That #kiali channel is on Istio's Slack Workspace. Clearly, we don't own it. We are "guests" there. So, an admin of the Istio's Slack needed to approve the App.
  * I requested approval for the App, and it was granted.
* Once the A

[2021-09-03 15:56] jshaughn commented on #4287
@israel-hdez, thanks for identifying the steps and trying to proceed.  I doubt they will make space for our app, so I don't know that there is anything more to do.  We can probably close this issue and maybe add the "waiting external" label.  I think we will have to defer to github release page to announce our builds.  We have deprecated the mailing lists, rejected automated tweets, don't have a r

[2021-09-04 19:28] YUNZHONGTAN opened #4330 "istio_config.go code need refactor, it's ugly."
**Is your feature request related to a problem? Please describe.**
the istio_config.go code need refactor,  it's not elegant.

**Describe the solution you'd like**
so, I refactor some functions.

**Describe alternatives you've considered**
not other considered.

**Additional context**

[2021-09-04 22:01] jmazzitelli commented on #4330
The description of this issue is completely the template. Please enter a description so we know what the issue is. Having the full template is not helpful.

[2021-09-05 09:10] YUNZHONGTAN commented on #4330
I just refactor the istio_config.go code, because it too long.

[2021-09-05 12:17] jmazzitelli commented on #4330
Does this fix any problems? "too long" and "ugly" is subjective. What issues is this fixing? Refactoring code for the sole purpose of making it shorter or pretty is not usually something we would do - the risk of introducing bugs is now introduced. i.e. "If it works, don't fix it"

@lucasponce @jshaughn - I'll let you decide.

[2021-09-05 13:54] YUNZHONGTAN commented on #4330
just work? Copy and paste？ok, i get u.

[2021-09-05 20:16] #4330 closed

[2021-09-06 12:39] #4325 closed

[2021-09-06 15:49] nustiueudinastea opened #4334 "Ability to use a custom configmap in the standalone helm chart (kiali-server)"
**Is your feature request related to a problem? Please describe.**
Standalone helm chart (kiali-server) does not allow for the use of a custom config map for configuring Kiali.

**Describe the solution you'd like**
I would like to be able to set a custom configmap for Kiali, using a variable like "configuration_configmap".

**Additional context**
PR implementing this feature: https://github.com/ki

[2021-09-06 17:53] jmazzitelli commented on #4334
So the idea here is you want to just give a name of an external configmap to the helm config and have Kiali use that config map rather than the one it creates itself from the values.yaml. It would be the responsibility of the admin user that runs the helm chart to have already created the ConfigMap ahead of time.

[2021-09-06 18:04] nustiueudinastea commented on #4334
@jmazzitelli thats an accurate description of the PR

[2021-09-06 18:05] jmazzitelli commented on #4334
The more I think about it, this is going to diverge the server helm chart with that of the operator helm chart and also how the operator itself works. In other words, the server helm chart is going to have a feature (custom external configmap) that the operator will not have. We try to keep feature-parity between the operator and the server helm chart. I'm thinking if we do this, we'll want to als

[2021-09-07 16:28] israel-hdez commented on #4334
@nustiueudinastea I wonder why you need this?
Lot's of settings are simply copied over the config map. So, why not use the regular `--set` flag of helm?

Also, the deployment, service, labels, etc. can change given certain configurations. I'm not really sure we want a completely de-coupled config map from the other options. I think it's better if you use `helm` to render a manifest and then patch

[2021-09-07 17:42] #4287 closed

[2021-09-07 17:50] israel-hdez opened #4336 "Publish release notes at the same time a release is generated"
This is a follow-up of https://github.com/kiali/kiali/issues/4287.

Since we have deprecated release notifications, the only option left for community to receive release notifications is to subscribe to [Kiali's GitHub release page](https://github.com/kiali/kiali/releases) (unless somebody is going to manually post messages about new releases in other channels).

Ideally, release entries should ha

[2021-09-08 06:08] #1577 closed

[2021-09-08 09:27] #3835 closed

[2021-09-08 09:36] #3455 closed

[2021-09-08 11:24] #4268 closed

[2021-09-08 11:53] jmazzitelli opened #4338 "ansible option we use in operator code is being renamed"
Getting this deprecation warning when running the molecule tests. This is something we are going to need to fix.

[code]

Here's where we use that option: https://github.com/kiali/kiali-operator/search?q=callback_whitelist&type=code

Note it is used for our production builds (see Dockerfile) as well as in the molecule config files.

[2021-09-08 18:35] nrfox commented on #4219
Now that #4223 has been fixed this can be worked on.

[2021-09-08 18:49] nrfox opened #4339 "Validations - Ensure ServiceEntry has WorkloadEntry addresses"
Validate that internal `ServiceEntry` objects contain addresses that match the `WorkloadEntry` objects that they select.

Given the following `ServiceEntry` and `WorkloadEntry`
[code]

[code]

Kiali validations should ensure that for every `WorkloadEntry` object selected by the `ServiceEntry.workloadSelector` field, the `ServiceEntry.addresses` field has an entry that matches the `WorkloadEntry.ad

[2021-09-09 07:21] lucasponce commented on #1372
I'm thinking that this one would be good to add it for next Sprint.
Basically the scope would be:
- To use the istio.io/client-go dependency for using Istio types.
- Update generic IstioObject wrappers with proper types.
- Propagate the changes into cache, validations and business package logic (most of the work would be to get rid of the conversion of generic interface{} into proper structs).
- P

[2021-09-09 09:56] lucasponce commented on #3733
Discussed with @rhrazdil and team, we'll raise the priority of this one and I've added to the next Sprint.

[2021-09-09 10:34] hhovsepy commented on #4315
Having this subtask finished as both validations are supporting exported DestinationRules.

[2021-09-09 10:35] #4315 closed

[2021-09-09 10:42] openstack-test opened #4341 "Setting Kiali read-only does not take effect"
**Describe the bug**
Kiali configuration view_only_mode: true does not take effect and can still be modified or edited

**Versions used**
Kiali:  v1.29.0
Istio:  1.9.6
Kubernetes version: 1.16.3

**To Reproduce**
1. Configure access control by referring to the official document.
https://kiali.io/documentation/latest/configuration/authentication/anonymous/
[code]

2. Deploy
[code]

3. Validation
It

[2021-09-09 10:51] nustiueudinastea commented on #4334
@israel-hdez I need it because I have Kiali chart embedded in another chart, and it's not possible to template the values that I pass to the Kiali chart. Having a configurable configmap is a pretty standard pattern that is used in other charts (Bitnami for example) in order to allow for more complex scenarios. It's not reasonable to rely on `kubectl patch` commands in deployment pipelines.

[2021-09-09 11:06] lucasponce commented on #4341
I know this feature is addressed in latest Istio 1.11 + Kiali 1.38.0.

For Istio 1.9 and Kiali 1.29.
Please, which platform are you using, how did you install Istio and the Kiali the operator ?

Thanks

[2021-09-09 12:21] jmazzitelli commented on #4334
See my request-for-change comment in the PR here: https://github.com/kiali/helm-charts/pull/102#pullrequestreview-750258577

[2021-09-09 13:42] #4298 closed

[2021-09-09 15:17] israel-hdez commented on #4280
Done: https://medium.com/kialiproject/kiali-releases-1-34-to-1-39-overview-587f33fac41a

[2021-09-09 15:17] #4280 closed

[2021-09-09 17:16] #1440 closed

[2021-09-09 17:16] #1433 closed

[2021-09-09 18:09] nrfox opened #4342 "ingress created by Kiali CR does not include ingress class - need new deployment.ingress setting"
The Ingress object created from the Kiali CR does not include the `ingress.spec.ingressClassName` field or the (deprecated) class name annotation. As a result, the Ingress object is ignored by the nginx controller and fails to be ready.

Versions tested with:
- Minikube: v1.23.0
- Kubernetes: v1.22.1

[2021-09-09 18:14] jmazzitelli commented on #4342
Because Ingress definitions can differ across cluster implementations, Kiali will produce a "basic" Ingress definition. If it doesn't work for your environment, or you want to customize it, that is the purpose of this setting:

https://github.com/kiali/kiali-operator/blob/v1.39.0/deploy/kiali/kiali_cr.yaml#L311-L336

[2021-09-09 18:23] nrfox commented on #4342
Ah I did not know about that override field. Shouldn't the basic nginx definition work out of the box though? Starting in kube 1.22+ or at least with minikube 1.23+ the basic definition will no longer work without the addition of the `ingressClassName` field.

[2021-09-09 18:28] jmazzitelli commented on #4342
We can update the basic definition if it doesn't work for the majority of users. I don't know how many people are using the kube 1.22+ - alot of people still seem to be on older versions.

[2021-09-09 18:33] nrfox commented on #4342
It looks like there's already checks for `Ingress.v1`: https://github.com/kiali/kiali-operator/blob/master/roles/default/kiali-deploy/templates/kubernetes/ingress.yaml#L1

The operator could do the same for adding the `ingressClassName` field only if the `Ingress.v1` kind exists.

[2021-09-09 18:44] jmazzitelli commented on #4342
Here's that exact if-else stmt in the ingress template: https://github.com/kiali/kiali-operator/blob/v1.39.0/roles/default/kiali-deploy/templates/kubernetes/ingress.yaml#L25

[2021-09-10 00:08] israel-hdez commented on #4342
I'm :-1: for this issue.

The behavior about how an Ingress resource is processed is completely dependent on cluster setup.
Perhaps you used minikube's ingress add-on? If so, that's a change in how minikube is setting up k8s v1.22.1 + Ingress-nginx. You may fix you setup manually by following these instructions: https://kubernetes.github.io/ingress-nginx/#i-have-only-one-instance-of-the-ingresss-n

[2021-09-10 01:29] openstack-test commented on #4341
@lucasponce

[2021-09-10 03:03] nrfox commented on #4342
That flag looks like it will fix the issue for my environment. My assumption was that since the Ingress object created by the default Kiali CR had nginx specific annotations, that was the default setup. Does the default setup now work in any environment in k8s v1.22+ without the user having to tweak either their nginx ingress controller or the Kiali CR in some way? I guess you could rename this is

[2021-09-10 06:50] lucasponce commented on #4341
Hi @openstack-test,

The sample/addons are good for getting started but they come with some fixed configurations.

I'd recommend to take a look to use the kiali operator:

https://kiali.io/documentation/v1.39/installation-guide/

[2021-09-10 10:16] lucasponce commented on #4318
I read then this issue can be considered a minor maintenance one (but valid). Isn't it ?

[2021-09-10 10:18] lucasponce commented on #4307
@nrfox I guess you wanted to point other reference or that PR of the UI is the one you refered ?

[2021-09-10 10:21] lucasponce commented on #4307
As a general note, and related to the context of this issue, I have also feel that we need to re-study the current scheme for badging and visualization.

Specially in the context of scalability and related to the discussion https://github.com/kiali/kiali/discussions/4080 when we have namespace with certain number of nodes, the current visualization could be improved.

I know this is a more unrelat

[2021-09-10 10:22] #4320 closed

[2021-09-10 10:27] lucasponce commented on #4336
I think it could be interesting to make more robust the github releases page:
https://github.com/kiali/kiali/releases

As it seems to be an standard way, and then, perhaps in the website it can "echo" the release notes at a different time.

I would prefer to not add more dependencies/complexities in the pipeline I think.

[2021-09-10 10:38] lucasponce commented on #4342
As how ingress are exposed, I wonder why don't rely in the "recommended" way exposed by Istio ?

https://istio.io/latest/docs/tasks/observability/gateways/

I mean, if the operator should automate something in that direction, I'd suggest to follow a document like that, otherwise I'd let the user to configure this manually in his own way.

(I've jumped as Ingress are a hot topic in the community fo

[2021-09-10 10:39] #4184 closed

[2021-09-10 11:58] jmazzitelli commented on #4318
Yes @lucasponce . We could do that fix I mention above which would produce a more human readable error. So it is very minor but valid.

[2021-09-10 15:42] israel-hdez commented on #4342
I only scanned the page. But IMO it's more complex than what we currently have and I wouldn't like to add another bunch of options to support configuring the Istio Ingress.

I know this can be nice for starters, but I have the thought that most people will want to turn it off to expose via their stable method in production. So, I don't feel motivated in maintaining this feature.

I would lean towa

[2021-09-10 15:48] israel-hdez commented on #4336
I know. It makes the pipeline more complex :-/ But it has the benefit that you relief some manual work. I don't know if there is a real trade off.

[2021-09-10 16:01] israel-hdez commented on #4341
To further expand Lucas answer, all documentation in the https://kiali.io website assumes you are using the Kiali Operator to manage your installation (you also may use Helm if you don't like operators).

If you are directly modifying the ConfigMap (or any other resource) using instructions in the website, it may or may not work.

[2021-09-10 16:48] #2494 closed

[2021-09-10 17:51] jshaughn commented on #4336
Minimally it would be nice if releases (probably could limit to non-pre-release .0 releases) at least had a link to the release notes page on kiali.io.  This has been done manually, and sporadically, (by me).  Looking now I see the last update was for 1.35 :-(

As for automating the actual release notes, it would be nice but we would have to do some work.  I don't know that we need the content in

[2021-09-10 18:22] israel-hdez commented on #4336
That can be done easily by changing these lines: https://github.com/kiali/kiali/blob/9ad4aff742ce58462d03701d51da0e70360a436c/deploy/jenkins-ci/Makefile#L163-L166

According to [GitHub docs](https://docs.github.com/en/rest/reference/repos#create-a-release), it's as simply as adding a `body` attribute with the desired text to the JSON in that curl command.

[2021-09-10 18:33] israel-hdez commented on #4336
I was thinking partial automation... Having the kiali-bot to create an issue with the release notes and only _add_ entries as PRs/issues are merged/closed. You can edit the text at any time. Then, at the release time, the bot does copy-paste of the text.

[2021-09-10 18:39] jshaughn commented on #4336
Are the entries added automatically, when the issue is closed, or manually?  I'd be against a manual update and would prefer leveraging the existing script in some way.

[2021-09-10 18:42] israel-hdez commented on #4336
It can be automatically....

I see there already are exist tools that do this. For example, this one creates a draft directly in the release page (rather than an issue): https://github.com/release-drafter/release-drafter

It supports a label to skip from release notes (what you mentioned).

[2021-09-10 18:44] nrfox commented on #4342
Instead of removing it, the default option in the CR could be `deployment.ingress_enabled = false`. That way an ingress is not created when it's not asked for. I don't feel strongly either way except that whatever the defaults are should just work without additional configuration.

[2021-09-10 18:47] jshaughn commented on #4218
I believe the work here has been merged and so I am closing the issue.  It can be re-opened if I am wrong.

[2021-09-10 18:47] #4218 closed

[2021-09-10 19:23] jmazzitelli commented on #4342
I'm OK disabling it (or even removing it) for kubernetes , but we should leave it as-is for OpenShift because it is used when deploying on OpenShift - it creates a Route and that normally always works with our default template.

See: https://github.com/kiali/kiali-operator/blob/master/roles/default/kiali-deploy/templates/openshift/route.yaml and https://github.com/kiali/kiali-operator/blob/master/

[2021-09-10 19:30] jmazzitelli opened #4345 "operator breaks if user uses string instead of boolean for some settings"
make sure the operator converts boolean strings to actual boolean types. If not, it breaks. We've had this bug before, and we fixed it. But new code has been added that checks some booleans and we did not do the same fix for that new code.

[2021-09-10 19:44] #4345 closed

[2021-09-10 20:32] linjmeyer commented on #4218
Sorry guys just saw the updates here, thank you for implementing this!  @jshaughn  @hhovsepy

[2021-09-13 02:04] openstack-test commented on #4341
@lucasponce  @israel-hdez
I successfully deployed Kiali v1.38.1 using HELM mode, thank you

[2021-09-13 02:04] #4341 closed

[2021-09-13 07:22] lucasponce commented on #4342
This issue is showing a recurrent problem we have in Kiali.
We don't have properly documented this use case, how to expose Kiali for users.
Istio has a recommendation, and the Kiali operator has some support in the Ingress

Personally, I don't think is a matter to automate more things but document it properly.
Istio has a page for this and it's the first reference for "starters", as you comment, I

[2021-09-13 15:36] lucasponce commented on #3394
This may require to update the "Security" chapter in the kiali.io Tutorial

[2021-09-13 17:22] jmazzitelli commented on #4318
PR to fix: https://github.com/kiali/kiali/pull/4347

[2021-09-13 18:45] #4165 closed

[2021-09-13 19:13] jmazzitelli commented on #4323
@libesz I'm going to take a stab at this. Can you confirm if this is what you would need? This is a snippet of the Kiali CR with the new setting:

[code]

I place them under the `auth` subsection since it appears likely these custom headers would have to do with logging in or authenticating with Prometheus. But I'm not sure. Perhaps the potential exists for needing custom headers that do not have

[2021-09-13 19:37] mattmahoneyrh opened #4348 "Tracing Error: Request failed with status code 503"
Tracing is failing with Error: Request failed with status code 503

Kiali pod log:

2021-09-13T19:08:27Z INF Kiali cache for [namespace: default] started
2021-09-13T19:08:42Z ERR Error fetching availability of the tracing service: rpc error: code = Unavailable desc = connection closed
2021-09-13T19:08:57Z ERR Error fetching availability of the tracing service: rpc error: code = Unavailable desc =

[2021-09-13 20:02] libesz commented on #4323
@jmazzitelli thanks for taking a look! Let me discuss the proposal within our team in the coming days. Meanwhile... for our particular use-case these are indeed auth related headers only, though not really any secret as far as I can tell (i.e. instance ID is not very sensitive). I think other people might have other use-cases outside of auth, so probably having it as generic header section makes m

[2021-09-13 20:52] jmazzitelli opened #4349 "can additional_request_params contain camelCase? If so, we need to fix the operator"
In PR https://github.com/kiali/kiali-operator/pull/289 we introduced a new setting in the Kiali CR `spec.auth.openid.additional_request_params` seen [here](https://github.com/kiali/kiali-operator/blob/v1.39.0/roles/default/kiali-deploy/defaults/main.yml#L32).

Question: can these additional request parameters be camelCase? (e.g. `thisIsCamelCaseParam`)? For example, is this ever possible?

[code]

[2021-09-13 20:53] jmazzitelli commented on #4349
@israel-hdez can you answer the question asked in the description? (i.e. can the openid additional request parameters be camelCase?)

If they are never camelCase, then we can close this issue without doing anything.

If they can be camelCase, we'll need to fix this.

[2021-09-13 20:54] jshaughn commented on #4348
I was unable to reproduce using kiali master, Istio 1.11.0 with the standard jaeger addon, and OpenShift 4.8.3.

Kiali UI 1.41.0 (3f28b9b31fe1a43432dc0e1b521f835c57acf9c9)
Kiali Server v1.41.0-SNAPSHOT (b3e167c2e063b4f4eb094d8784e95a07a71f6e31)

@mattmahoneyrh Any ideas what may be the difference?

[2021-09-13 21:01] jmazzitelli commented on #4323
draft [operator PR](https://github.com/kiali/kiali-operator/pull/421) adds the following:
[code]

[2021-09-13 22:04] israel-hdez commented on #4349
Not for the standard ones. See: https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

But any IdP may have custom parameters which can be in camelCase format. So, there is a chance, but I haven't heard of any case.

[2021-09-14 08:09] lucasponce commented on #4348
Are we talking here of Istio upstream and Kiali upstream ? Or a different version.

This issue needs more data.

[2021-09-14 09:46] lucasponce commented on #4348
I ran a smoke test using OpenShift ServiceMesh 2.1 on OpenShift 4.8 (CRC) (to discard a blocker bug) and it looks ok:
![image](https://user-images.githubusercontent.com/1662329/133234944-e8b34b45-0b50-4eb3-aa84-5430983fff8e.png)
![image](https://user-images.githubusercontent.com/1662329/133234975-82499870-9e2f-4d28-842e-7879d4c355c7.png)

@mattmahoneyrh I guess there is a mix of versions here, als

[2021-09-14 11:55] jmazzitelli commented on #4349
It is interesting that all of those standard ones are snake_case. So that is good. Perhaps the standard is to always use all-lowercase snake_case? Maybe we don't do anything unless someone complains??

[2021-09-14 12:11] libesz commented on #4323
@jmazzitelli Sounds good, thanks! We are more than happy to test this change whenever becomes available.

[2021-09-14 12:33] jshaughn commented on #4349
Changes lead to regressions.  If no one is complaining let's leave it as a future improvement and deal with it only if someone needs it.

[2021-09-14 12:37] jshaughn commented on #4348
@lucasponce, Considering this is in githib and not Jira I think we can assume it's being reported against kiali master.  But would be good to know the Istio version.

[2021-09-14 13:30] mattmahoneyrh commented on #4348
The config is upstream Kiali built from master + istio 1.11.2
![image](https://user-images.githubusercontent.com/7262987/133266531-b9bafbcc-489b-47f4-a873-2b3ae6866fbb.png)

[2021-09-14 13:38] jmazzitelli commented on #4323
I'll be working in this draft server-side PR: https://github.com/kiali/kiali/pull/4350

[2021-09-14 13:52] lucasponce commented on #4348
I guess it may be related to this
https://github.com/kiali/kiali/pull/4240#issuecomment-889883601

Perhaps the Job that @mattmahoneyrh used has some step not updated related the default values ?

[2021-09-14 13:53] jshaughn commented on #4206
This is waiting on an Istio fix: https://github.com/istio/istio/issues/34395.  When we get the fix we can re-test and likely close this issue.

[2021-09-14 15:22] israel-hdez commented on #4349
Yes !

[2021-09-14 16:30] jmazzitelli opened #4351 "seg fault in IsMaistra status"
[code]

[2021-09-14 16:33] jmazzitelli commented on #4351
Looks like its possible the status hasn't been obtained prior to this IsMaistra being called. We need to protect for that.

[2021-09-14 16:54] #4351 closed

[2021-09-14 19:21] jmazzitelli commented on #4323
@libesz can you test this out and see how it works for you?

Here's a quick way to install the Kiali Operator (and a Kiali CR) via helm - you can add your own `--set cr.spec.XYZ` settings if you want to set additional config. Make sure you set the new `custom_headers` correctly, obviously. Or you can just create your own Kiali CR after you install the operator (leave out the `--set cr.create=true`

[2021-09-14 20:47] jmazzitelli commented on #4351
In case we want to fix this now and build a 1.40.1, here's PRs that need to go in first - then we can kick off a patch build:

* https://github.com/kiali/kiali/pull/4353
* https://github.com/kiali/kiali-operator/pull/423
* https://github.com/kiali/kiali-operator/pull/424

[2021-09-15 03:06] lucasponce commented on #4348
It seems the installation personalize the tracing "in_cluster_url", note that the default value should be:
"http://tracing.istio-system:16685/jaeger"

Pointing to that value:
https://github.com/kiali/kiali/blob/master/config/config.go#L525

[2021-09-15 12:14] aljesusg commented on #4303
@vbergbauer what version of thanos are you using? I am trying to deploy the environment in gke to replicate the error

[2021-09-15 12:48] vbergbauer commented on #4303
Hi @aljesusg , I am using the latest released Thanos (0.22).

Thanos [query](https://thanos.io/tip/components/query.md/)  and [query frontend](https://thanos.io/tip/components/query-frontend.md/)  do not implement the Prometheus API `/api/v1/status/config`, because they don't  use a config file...

[2021-09-15 12:53] libesz commented on #4323
@jmazzitelli quick update from my side. FYI I am trying to use this change along with some other extraordinary things:
* the experimental remote cluster feature added by [this change](https://github.com/kiali/kiali/pull/3089/files).
* my environment is based on Maistra

Anyways, once every configuration (i.e. prometheus and remote K8S API) seems to be in place, I run into the following crash:
[cod

[2021-09-15 12:58] jmazzitelli commented on #4303
See: https://github.com/kiali/kiali/blob/v1.40.0/handlers/config.go#L176-L196

Kiali gets things like retention period and global scrape interval. IIRC, it does this to help the UI determine what options to give the user in things like the refresh drop down menu.

[2021-09-15 13:03] jmazzitelli commented on #4323
Ignore that seg fault - see this for the bug and workaround. We might ship a fix for this (1.40.1) - haven't decided yet. https://github.com/kiali/kiali/issues/4351

Just shutdown your Kiali UI browser tabs when you restart a kiali pod. How is the custom headers working is the important question.

[2021-09-15 13:16] vbergbauer commented on #4303
@jmazzitelli, then we can have a cascade of settings
- New optional settings in the Kiali configuration (Prometheus retention period and global scrape interval): use them if specified
- Try to use `/api/v1/status/config` if the configuration entries are not defined.
- Maybe fall back to some default values if the API is not available?

[2021-09-15 13:23] jmazzitelli commented on #4303
Sounds like we'll need a special setting for Thanos proxy anyway - perhaps we do something in there. Like:

[code]

If `thanos_proxy.enabled` is `true` then we don't attempt to call the prometheus config API and we just use the hardcoded values found here in this `thanos_proxy` section.

[2021-09-15 18:37] jshaughn commented on #4141
Kiali identifies workloads using sort-of a bottom-up approach that starts with Pods and looks for thir owners.  The owner can be a ReplicaSet.  Our list of Pods is cached (as is our list of ReplicaSets) and I think what happens is that we get a cached pod for an old ReplicaSet.  Our list of ReplicaSets contains all the ReplicaSets for the namespace, both active and inactive (not that inactive RS c

[2021-09-15 19:26] jmazzitelli commented on #4323
I don't have anything special setup (so these headers are essentially a no-op) but here's what Kiali's HTTP request looks like when passing in custom headers:

Kiali CR snippet:

[code]

HTTP request that the internal client sends:

[code]

I will assume case does not matter (looks like the client library is modifying the header names to just be capitalized). Other than that, the custom headers ar

[2021-09-15 20:03] nrfox opened #4356 "Workload pod proxy logs shows details for Envoy app logging"
Envoy [application logs](https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/application_logging) have a different format than the access logs. The logs console shows the "info" icon for both even though the log parsing does not work with the app logs.

![Screenshot from 2021-09-15 15-55-28](https://user-images.githubusercontent.com/6226732/133501015-1cf75b4a-ba32-42d2-b298-1e3

[2021-09-15 20:04] libesz commented on #4323
Thanks for the update. I was also able to set up my kiali instance, just stuck with the actual (relevant) metrics push to my monitoring backend from the proxies. Will get back to you once I got working graphs within Kiali.

[2021-09-15 20:13] nrfox commented on #4219
Workloads can have more than one `WorkloadEntry` so linking to a single `WorkloadEntry` will not work. If there are multiple, which one should be linked to?

In addition, workload nodes can represent **both** pods and workload entries. In this case, how can Kiali know if the workload node on the graph represents a workload with a workload entry **and** a deployment or just a workload entry without

[2021-09-15 21:35] libesz commented on #4323
Another update: I am now having a working graph with live data. We can consider the custom_header changes as working. Thanks @jmazzitelli 👍

[2021-09-16 12:05] libesz opened #4359 "Client certificate based kubeconfig usage"
**Is your feature request related to a problem? Please describe.**
The current Kubernetes API client in Kiali can be only configured to use the bearer token method. I would like to use also kubeconfigs with a client certificate instead of a token.

**Describe the solution you'd like**
During the testing of https://github.com/kiali/kiali/issues/4323, I found out that Kiali does not support certific

[2021-09-16 13:25] #4318 closed

[2021-09-16 15:32] jshaughn commented on #4219
@nrfox I think probably more is better.  I'm not against multiple links in the side panel, so if it's easy enough to determine I'm fine with seeing multiple WE links.  I'm also fine just deferring to a filtered Istio Config page and having a single link.  We just need to ensure no broken links.  I thought all workload nodes, whether they are badged as a WE or not, would show up in the Workloads li

[2021-09-16 17:18] nrfox commented on #4219
That's exactly right. Workloads that are only WE do not show up in the Workloads list today. The workloads list is effectively only the Kubernetes workloads (deployments, etc.) of a mesh. [This issue](https://github.com/kiali/kiali/issues/4169) proposes adding solely VM based workloads to the workloads list and has more context in there. Today, in order to offer both a link for the workload entrie

[2021-09-16 20:53] FilipB commented on #4348
This can be closed. Our istio installation script did not reflect new defaults. It's fixed.

[2021-09-16 20:53] #4348 closed

[2021-09-17 02:26] zackzhangkai opened #4362 "Install kiali , get some unnomarl logs"
**Describe the bug**
When install Kiali with helm chart. The warning logs as below:

[code]

After add the `pods/proxy` the role disappeared.

Referenced PR https://github.com/kiali/helm-charts/pull/107

**Versions used**
Kiali: 1.34.1
Istio: 1.10.4
Kubernetes flavour and version: Kubernetes 1.18

**To Reproduce**

1. Go to https://github.com/kiali/helm-charts/tree/master/kiali-server , install ki

[2021-09-17 09:04] lucasponce commented on #4359
Thanks @libesz.
I think this issue is valid, we have open discussions about "Deployment Models" that basically it covers from a high level if Kiali is deployed in the same cluster of the mesh or in a remote one.

Also, this issue should be part of the "design/implementation" where it may cover these cases.

But I guess we could discuss this specific topic as well, Kiali is not supported in externa

[2021-09-17 09:08] jmazzitelli commented on #4362
This is not a bug - it is just a misuse of the helm charts. Overriding the image_version field needs to be done carefully - if you don't use a compatible image version, things will break, as you see here.

Here is your problem:

and

The master branch of the server helm chart is currently for v1.40.1, and is not compatible with kiali server v1.34.1.

Unless you override the image version with a co

[2021-09-17 09:08] #4362 closed

[2021-09-17 09:08] lucasponce opened #4363 "Kiali loading icon seems broken"
The "loading" icon in the "masthead" is constantly spinning.
It seems a bug introduced in a previous UI work.

[2021-09-17 09:21] libesz commented on #4359
Thanks @lucasponce! Yeah I am open to any detailed discussion.

My initial thought is that if Kiali would be able to consume any regular kubeconfig mounted in the Pod (and referred by the KUBECONFIG env var), that would cover a lot of use-cases. I mean, this behavior is fairly common for any Kubernetes API consuming projects. Official Kubernetes client packages are providing seamless [client confi

[2021-09-17 09:31] lucasponce commented on #4363
The bump of axios library in this commit [1] seems to be related with the problem.
[1] https://github.com/kiali/kiali-ui/commit/c74634d659e533239b297d685e830364a101e150

[2021-09-17 15:56] ldemailly opened #4366 "kiali reports wrong rps on edges for service aliases going to same deployment, unless focused"
**Describe the bug**
kiali reports wrong rps on edges for service aliases going to same deployment, unless focused

When double clicking on the node, it's correct:

![image](https://user-images.githubusercontent.com/3664595/133817850-2cef3a68-0565-4be7-b2d3-cd167adb5261.png)

Without:

![image](https://user-images.githubusercontent.com/3664595/133817972-b4eb858d-a67c-4401-b00e-6159d20c68f4.png)

!

[2021-09-17 16:19] ldemailly commented on #4366
yaml: https://gist.github.com/ldemailly/6f54d33c757af5d70a358a83cf1b7abb

[2021-09-17 18:38] jmazzitelli commented on #3704
Just documenting where this `api.Series` call is - it is found here (a partial call stack):

* https://github.com/kiali/kiali/blob/v1.40.0/prometheus/client.go#L294
* https://github.com/kiali/kiali/blob/v1.40.0/business/dashboards.go#L286
* https://github.com/kiali/kiali/blob/v1.40.0/business/dashboards.go#L302

[2021-09-17 19:45] jmazzitelli commented on #3704
I think we can do this with the "or" keyword ... so rather than call `api.Series` that returns potentially hundreds of series, we can call `api.Query` and build a query that "or"s all the `discoverOn` metric names with the labels we want. So rather than `api.Series({{kubernetes_namespace="bookinfo",app="details"}` we can do something like:

[code]

Assuming we have something on the order of 50 das

[2021-09-19 19:38] shireenf-ibm opened #4368 "Validation: warn about workloads that are not protected by any AuthorizationPolicy"
Istio: When no AuthorizationPolicies select a workload, all requests are allowed , a thing that may cause security issues.
so a warning on uncovered workloads may help the user to improve the access control on his resources

[2021-09-20 06:58] lucasponce commented on #4368
Nice feature proposal.
It suits pretty well in the work that Kiali is performing under workload details.
As it's a "negative" validation, meaning that it will warn when there is no presence of an AuthorizationPolicy under a workload, perhaps it needs to be located as a "missing sidecar" category workload, or perhaps, better, as a warning per "Pod".

Thanks for the issue @shireenf-ibm, if you'd lik

[2021-09-20 13:31] hhovsepy opened #4371 "Unable to edit ServiceEntry"
Happens on master. A regression.

Open any ServiceEntry page via YAML editor, try to change and save. Error happens.

"Could not update IstioConfig details. Invalid JSON Patch"
![Screenshot from 2021-09-20 15-24-31](https://user-images.githubusercontent.com/604313/134010778-49ac354b-0241-407f-b973-5e11672f7582.png)

No other logs in Kiali pod.
![Screenshot from 2021-09-20 15-24-12](https://user-im

[2021-09-20 14:53] jmazzitelli commented on #4349
Closing as "not a bug _yet_" :)

[2021-09-20 14:53] #4349 closed

[2021-09-20 15:00] lucasponce commented on #4371
I couldn't reproduce in master.
Did you change some fields at same time ?
I wonder if you reproduce always the bug.

[2021-09-20 15:12] hhovsepy commented on #4371
Just changing the hostname, a simple edit.

[2021-09-20 16:11] prary opened #4373 "Query What's the use of runner volume in Operator Deployment"
Hi,

I have a query for https://github.com/kiali/helm-charts/blob/abb34a83629945def72cf1db68ee6d9a586aa74b/kiali-operator/templates/deployment.yaml#L92 . Whats the purpose of runner volume in operator deployment?

I can see empty folder in operator pod.

[2021-09-20 16:13] pbajjuri20 commented on #4371
I have also try to change the Hostname, It is through an error.

![ServiceEntry_error](https://user-images.githubusercontent.com/55099523/134036721-e781a2f3-4302-4560-ab32-a6ecc601efc9.png)

[2021-09-20 16:30] lucasponce commented on #4371
@pbajjuri20 @hhovsepy which version of OpenShift are you using ?
I'm going to take it.

[2021-09-20 16:35] lucasponce commented on #1372
Updating this one, as it seems that the istio.io/client-go and the jaegertracing/jaeger project have some conflicts related the use of grpc for their models.

I've created both issues in jaeger and istio projects:
https://github.com/jaegertracing/jaeger/issues/3276
https://github.com/istio/istio/issues/35277

I've worked to bypass/fetch the minimal dependencies:
https://github.com/lucasponce/lucas

[2021-09-20 16:37] pbajjuri20 commented on #4371
I have tested on OCP version: 4.8.5

[2021-09-20 16:44] lucasponce commented on #4371
Ok, it fails other Istio resources as well.
I have a suspect about where the problem is, I'll put it in the sprint.

[2021-09-20 17:47] #4373 closed

[2021-09-20 17:49] jmazzitelli commented on #3704
See the PR for different ideas of how this can be implemented.

[2021-09-20 19:45] #4323 closed

[2021-09-20 21:05] nrfox opened #4377 "Ability to pass custom headers to httputil.Post"
Add the ability to pass in custom http headers to `httputil.Post` the same way that it is supported for `httputil.Get`.

Follow up from: https://github.com/kiali/kiali/pull/4375

[2021-09-21 06:10] lucasponce commented on #4371
Now with latest master I can reproduce the problem in minikube, so I guess bug is consistent.

[2021-09-21 06:53] lucasponce commented on #4371
Ouch, it was the axios library !

There is a PR that should solve the problem:
https://github.com/kiali/kiali-ui/pull/2242

I had a random behaviour on this as when I changed from the branch in the UI project I was not updating the libs and then sometimes I could reproduce the problem and sometimes not.

But cleaning the node_modules and checking master with the PR will show that the PATCH query w

[2021-09-21 09:42] taisph opened #4379 "Kiali hangs on loading graphs, flooding logs with "port 0 is out of range" errors"
**Describe the bug**

Kiali has been running for about 24 hours and suddenly started hanging on loading graphs. The log is now flooding messages like below.
[code]

Kiali has issued a lot of warnings about not being able to proxy Istiod pods so that's probably related, but Kiali kept operating normally until now.
[code]

**Versions used**

Kiali: 1.40.1
Istio: 1.9.8
Kubernetes flavour and version:

[2021-09-21 09:45] lucasponce commented on #4379
Hi @taisph that's expected as Kiali 1.40.1 works with Istio 1.11 and higher versions.

Checkout the version compatibility:
https://kiali.io/documentation/latest/installation-guide/#_version_compatibility

And let us know if you could upgrade Istio or downgrade Kiali to a compatible version.

Thanks

[2021-09-21 09:52] taisph commented on #4379
I understand the versions are not supported but it's been working fine for a day now until this issue. And it works again after kicking the Kiali pod. And opening the firewall also solved the "GetPodProxyStatus" issue.

We will eventually upgrade istio. The dust needs to settle after "migrating" from Istio 1.5 last weekend.

[2021-09-21 09:57] lucasponce commented on #4379
Yes, I see, in short, we moved the proxy-status internal query to use an uniform port-forward in a long discussion and working PR
https://github.com/kiali/kiali/pull/4108

So, in short, 1.40.1 have non-compatible changes with Istio 1.9.

I think that Kiali 1.36.x may work in your environment, or at least it could be easier to adjust in your scenario, but we needed to bring this compatibility matri

[2021-09-21 12:32] jshaughn commented on #4377
@nrfox Is this a required to support an existing feature or request, or a potential nice-to-have?   Not sure if this is appropriate for Backlog or Future labeling.

[2021-09-21 12:40] lucasponce opened #4382 "Refactor Kiali Validations to better use the Istio registry information"
The Kiali validations fetch workloads, services, pods and Istio resources to perform "semantic validations".
The term "semantic validation" refers to validate that a hostname or a resource referenced in a Istio object exists in the cluster, for example, an internal hostname should match a kubernetes service, a workload selector should have a workload in the namespace that is defined, etc.

Recentl

[2021-09-21 12:41] jotak commented on #3703
Hey @leandroberetta , @lucasponce , as discussed by email, it could be interesting to add a chart for showing pods count in the Envoy dashboard, or maybe repurposing the existing "uptime" chart into a pods count chart.
What I was saying in my email is that this "uptime" metric can provide the pods count information if we just derive it with `rate`, as shown here in prometheus:
![Capture d’écran de

[2021-09-21 13:11] jotak opened #4383 "Show mirroring info or badge on the graph"
There's already several information on virtual service configs displayed on the graph, such as request routing, fault inject, etc. but one that I've found missing is when mirroring is set up. I guess it could be made visible, if not with a new badge, as part of the "request routing" badge with additional information, next to the details of hosts?

Cf:
![Capture d’écran de 2021-09-21 10-42-03](http

[2021-09-21 13:27] jotak commented on #3703
Just to clarify a little bit about the pods uptime, and how to come to think that it's eventually related to pod count: when you look at this metrics, it's clearly a stupid linear function like "y = x" most of the time.
At least when there's just 1 replica. But when scaling up, the slope increases, like in this picture (first chart). So, the derivative gives the pod count. And IMO pod count is an

[2021-09-21 14:14] jmazzitelli commented on #4377
This would be potential nice-to-have so we can use it later. We just added the custom headers to the HttpGet function - so to remain consistent and support the same thing as HttpGet does, the idea is to add the capability to handle headers in the new HttpPost also.

[2021-09-21 14:18] jshaughn commented on #4377
@jmazzitelli, If you think it's best to do now then add it to the backlog (and possibly the sprint backlog to just get it done immediately, as part of the current work), otherwise just set it to Future.

[2021-09-21 14:37] jmazzitelli commented on #4377
adding to backlog. We can do this now. It is really easy to add and won't cause any changes to the way things work now.

[2021-09-21 15:37] #4363 closed

[2021-09-21 15:44] nrfox commented on #4377
+1 I think it'll just be updating functions and call sites

[2021-09-21 15:53] sathieu opened #4384 "Error loading Graph - Namespace [kube-state-metrics] is excluded for Kiali"
**Describe the bug**

Kiali CR has two parameters to configure namespace visibility.

The defaults (using kiali operator) are:

[code]

When viewing a graph of the prometheus-stack namespace, which access the kube-state-metrics namespace, the following error is raised:

The expected behavior is to not have kube-state-metrics in the dropdown menu (✔️ ), but to not raise an error when showing a grap

[2021-09-21 21:09] jshaughn commented on #4366
@ldemailly , First, thanks for supplying the complete recreation scenario.  I started by trying to recreate the issue in test code and I could not reproduce.  And so I moved to recreating your exact scenario and I was able to reproduce.

The result is interesting as I think Kiali is actually reporting correctly.  I do think there may be a problem, but if so, I think it's actually in the Istio tele

[2021-09-21 21:17] bianpengyuan commented on #4366
Yeah this is the same issue we ran into at kiali/kiali#4137. It will need https://github.com/istio/istio/issues/33940 to distinguish wanted service at server side.

[2021-09-22 00:45] jmazzitelli commented on #4366
I would then close this issue as "not a bug" and defer to https://github.com/istio/istio/issues/33940.

I say "not a bug" because Kiali is correctly graphing the telemetry; it is the underlying telemetry that is incorrect.

[2021-09-22 07:36] lucasponce commented on #1372
After some work on this, I guess we can continue progressing.

Kiali can generate the Jaeger gRPC client based on the .proto, but with some changes, modifying the custom marshalling classes and deal with some minor TraceID manipulation.

But that may remove the dependency with Jaeger codebase and it will allow to include istio.io dependencies as well (hopefully).

[2021-09-22 07:38] aljesusg opened #4385 "Improve errors message in the UI"
Hi, working in another PR I saw an annoying bug, after change the configuration, the error displayed in the kiali login is this one
![error_if_config](https://user-images.githubusercontent.com/3019213/134301830-0e903298-2a79-4b68-9379-3c261e8d4b3f.png)
but if you inspect the networking the error is this one
![error_trace](https://user-images.githubusercontent.com/3019213/134301827-43ce13e8-4ead-4c

[2021-09-22 12:33] leandroberetta commented on #3703
@jotak yes, I agree, it would be a nice addition.

Thanks for proposing this!.

[2021-09-22 12:57] jshaughn commented on #4366
@bianpengyuan , I wish I had a better memory  :-)  Thanks for quickly identifying the root cause, I need to be better at recognizing the symptoms.  I am going to add a comment to https://github.com/istio/istio/issues/33940 suggesting the priority be bumped up.

@ldemailly , I will close this issue in favor of the Istio issue.  If you have any further questions about this one, feel free to ask.

[2021-09-22 12:57] #4366 closed

[2021-09-22 14:28] jmazzitelli commented on #3660
@primeroz Once [PR 4367](https://github.com/kiali/kiali/pull/4367) is merged and released (should be released next week with v1.41) we'd like to make sure this helps you further. (in fact, I don't know if you have the dev environment to try - but perhaps you can try the PR build now? If you don't have a dev environment in which you can build Kiali from that PR, I could build you a test image and p

[2021-09-22 14:41] nrfox commented on #1525
This was fixed by kiali/kiali#2236

[2021-09-22 14:41] #1525 closed

[2021-09-22 14:51] #2947 closed

[2021-09-22 15:21] nrfox commented on #4385
@aljesusg that's frustrating, the error messages should've been made better by: https://github.com/kiali/kiali/issues/3927 and https://github.com/kiali/kiali-ui/pull/2215. Are you running off of an older branch perhaps? If not, then you may have a hit a bug where the improved error message is not displaying.

[2021-09-22 15:23] aljesusg commented on #4385
mmmm I don't remember the version that I used, let me try to reproduce this with the last one maybe is an old version

[2021-09-22 20:57] #4141 closed

[2021-09-24 20:22] Kaezon opened #4392 "Kiali Operator - Add ability to specify image SHA in Kiali CRs"
**Is your feature request related to a problem? Please describe.**
I am trying to deploy Kiali Operator and a Kiali CR into a cluster which uses the k-rail admission webhook.
By default, this requires all image references to be immutable references.
I tried adding the sha to the end of the image_version value, but it seems that value is used in the creation of one or more other resources, and gene

[2021-09-26 13:56] jmazzitelli commented on #4392
This is actually a good enhancement request. We call it running in a "disconnected" environment, others call it "air-gapped" - but whatever you call it, it would be nice to specify the image SHA (for both operator and kiali server images). This may affect the Kiali CR (adding potentially a new setting or we could just handle the image_version better to support SHAs) and will require a change to th

[2021-09-26 14:13] jmazzitelli commented on #4392
@Kaezon one workaround may be to set the version_label field yourself. I haven't tested, but based on the error message you posted that the operator was hitting, that's because the version label is invalid (doesn't follow k8s syntax for labels). But if you set the version_label yourself (overriding the one the operator was using by default) that might just solve the problem - and that could be the

[2021-09-27 09:54] shireenf-ibm commented on #4368
Hi,
Thanks for your comment, it was very helpful.
before starting with implementation, I would like to share my plan with you and get your review/confirmation:
* to add a new checker under business/checkers/authorization directory,  that gets both authorizationPolicies list and models.workloadsList
and for each workload it checks if it is covered by at least one authorizationPolicy.
if not, a warn

[2021-09-27 10:27] lucasponce commented on #4368
Thanks @shireenf-ibm,

I guess the main parent checker has all that you'd need:
![image](https://user-images.githubusercontent.com/1662329/134891435-ee51c451-9a76-4ec2-8ceb-e72e2084243a.png)

So, I think you could add a new checker under the business/checkers/authorization/ folder covering this new case.

I think in the PR we can get into more details, this area is also in active development and p

[2021-09-27 12:45] jshaughn opened #4395 "Migrate to Docsy for kiali.io theme"
Epic #4118

A downside of our current kiali.io custom theme is that we often spend a lot of time on the site itself as opposed to content for the site.   Look at Docsy as a pre-built theme to help us focus on content.

[2021-09-27 13:02] #3704 closed

[2021-09-27 13:05] jshaughn commented on #4395
I've spent some time playing with Docsy and overall I think it could be a viable theme for kiali.io, but it does have pros and cons.  I have a little more investigation to do, especially around versioning, but wanted to get some thoughts down.

**pros**

- it works, it's active and is being used for several popular sites
- it would likely let us focus on content over theme
- it has left and right

[2021-09-27 13:10] lucasponce commented on #4395
Note that there are converters to .adoc => .md, and Markdown is native in many templates so it would give us flexibility after all.

[2021-09-27 14:00] jmazzitelli commented on #4392
I will update the helm charts and the operator to support digest hashes for image containers. We will need something like a `image_digest` setting - if this is set, it will be assumed the image_version is really a hash digest with the digest value provided (usually the image_digest will be `sha256` but it presumably can be other digest types - so we will allow support for other digest types).

Fro

[2021-09-27 17:02] jmazzitelli commented on #4392
The PRs are ready for review. The test procedures are documented here: https://github.com/kiali/helm-charts/pull/108#issuecomment-928073573

[2021-09-27 17:03] jmazzitelli commented on #4392
If we can get this tested and verified in the next couple days, that will enable us to merge these so they get into our next release due to be published this Friday, October 1, 2021.

[2021-09-27 18:49] #4384 closed

[2021-09-27 19:13] jshaughn commented on #4395
A note on doc versioning, Docsy has a mechanism that adds a "Releases" dropdown in the main nav.  It drives off entries in the config.toml that tie a version label to a URL.

[2021-09-27 19:18] jmazzitelli commented on #4392
Users will probably want to explicitly override `version_label` in the Kiali CR when pinning the image to a specific SHA and using the operator to install the server. This isn't required, but I bring it up because by default the version_label will simply be the value of image_version which in turn becomes the value assigned to the version labels on the Kiali resources that get created. Because SHA

[2021-09-28 13:26] jmazzitelli opened #4396 "migrate to golang-jwt v3.2.1"
we use jwt-go. We should migrate to golang-jwt v3.2.1+

As of today:
[code]

Note, prometheus client 1.9 uses it too - we'll need to upgrade the prom client as well.

[code]

[2021-09-28 15:33] leandroberetta commented on #3703
In terms of overhead, according to [Istio documentation](https://istio.io/latest/docs/ops/deployment/performance-and-scalability/#latency), there are several areas where we can take actions and show information about it.

Regarding the **control plane**, it's all about istiod overhead, specifically the amount of memory and cpu it uses and it all depends on:

- Amount of proxies
- Rate of configura

[2021-09-28 15:48] #4295 closed

[2021-09-29 01:36] #4392 closed

[2021-09-29 06:46] hhovsepy commented on #4326
This epic requires two subtasks to be implemented:

- [ ] Add Gateways in Istio Config list of Service details
- [ ] Add Gateways in Details column of Service List. Add it's support in Filters.

[2021-09-29 17:38] #2911 closed

[2021-09-29 23:25] israel-hdez commented on #2997
I'm playing with this a little. I'm trying first regression.

Doing simple linear regression, generated charts look like this on a 3-hour period (the green line is the data of the regression algorithm):

![image](https://user-images.githubusercontent.com/23639005/135361114-fb53cae5-8997-424e-88aa-f9b3060611bc.png)

Doing polynomial regression, generated charts look like this on a 3-hour period (th

[2021-09-30 07:15] lucasponce commented on #2997
This makes sense in the travels app, as it has a constant rate, perhaps if from the the UI you change the parameters of the senders, you could see more results.

The polynomial are harder to extract information in a first sight as it looks more like an "accumulated average" but not really a "trend".

So, I'd prefer the linear regression at least in a first try, this is an experimental feature and

[2021-09-30 10:56] leegin opened #4399 "Kiali console: Loads Empty Graph"
Kiali console isn't loading any graph even though there is a ton of traffic flowing in the istio mesh.

![image](https://user-images.githubusercontent.com/18220135/135441540-1589e233-0b24-4284-8362-ddc9ab8a470b.png)

On checking the logs of the kiali pod, I can see the below error.

---
2021-09-30T09:01:43Z ERR configmaps "istio" not found
---

There is no configmap in the istio-system namespace w

[2021-09-30 11:36] lucasponce commented on #4399
Note that it seems you are installing Kiali 1.40 with Istio 1.8 which is not a compatible combination:
![image](https://user-images.githubusercontent.com/1662329/135448106-a30e0c90-7aea-4be8-8980-06dc033fc968.png)

[1] https://kiali.io/documentation/latest/installation-guide/#_version_compatibility

[2021-09-30 16:08] emas80 commented on #3949
I am having the same issue when upgrading from kiali 1.32 to 1.37, using kiali operator.
Nothing has changed into the permissions or the namespaces, I did not change or removed any namespace, I just upgraded Kiali Operator from 1.32 to 1.37.

I have tried to delete the old kiali custom resource, I have waited for the operator to reconcile and delete everything to start from scratch, and I then cre

[2021-09-30 17:20] jmazzitelli commented on #3949
@emas80 you didn't give much details, but it sounds like this isn't the same issue. Please open [a new discussion here](https://github.com/kiali/kiali/discussions/new) so we don't pollute this issue - in your new discussion, provide all the details related to your kiali environment and how you installed and we can discuss.

[2021-09-30 18:23] emas80 commented on #3949
ok @jmazzitelli, thanks!

[2021-09-30 18:59] lucasponce commented on #4382
Well, I see your point and probably there will be some optimization available but today Kiali covers the workloads that are part of the mesh and those that not, as hybrid scenarios are very common during migrations to the mesh.

No. Those are apis that are available from the debug enpoint of envoy and istiod, it's not a strong api, so we need to keep this during releases. Well, not a big deal, it'

[2021-09-30 21:30] jmazzitelli commented on #4383
I'm not sure this is relevant, but I will bring this up just in case. We need Istio telemetry to add some additional data in order to know what traffic is mirrored and what is not. See https://github.com/istio/istio/issues/11475 and https://github.com/istio/istio/issues/11093. This may not be relevant because this issue appears to want to badge a node and I don't think telemetry missing this mirro

[2021-10-01 00:05] #4219 closed

[2021-10-01 06:48] lucasponce commented on #4383
I don't have the details of the VS/DR appender in mind, but perhaps is just a special badge for that case, not the edge.

[2021-10-01 07:54] ethernoy opened #4403 "Add hostAliases field to kiali deployment manifests"
**Is your feature request related to a problem? Please describe.**

I encountered a problem that DNS server in my working environment are not customizable but I still need to connect to dex server from Kiali with a hostname. I therefore seek to customize the hostalies entries in Kiali deployment to achieve this goal. But I however find that this field is not included in kiali-server helm chart and

[2021-10-01 08:06] lucasponce commented on #4403
If it's an optional customization it sounds reasonable.
Perhaps a PR would help to get into the details and check if there could be any issue, so, thanks @ethernoy, feel free to send a PR and we can review it and comment on it.

[2021-10-01 09:32] ethernoy commented on #4403
Hi, created a PR wrt this issue: https://github.com/kiali/helm-charts/pull/109

[2021-10-01 12:28] #4133 closed

[2021-10-01 14:38] #3733 closed

[2021-10-01 16:36] nrfox commented on #4382
Is the istiod pod always reachable by Kiali? If so, will Kiali always have permissions to proxy into the istiod pod? It sounds like yes to both. It is a requirement for deploying and running Kiali to be able to proxy into the controlplane istiod pod.

[2021-10-01 18:16] leegin commented on #4399
@lucasponce The other cluster I was talking about is running 1.37.0. I tried to install the same here and it worked. Thanks for directing me to the solution. I appreciate your help.

[2021-10-01 18:16] #4399 closed

[2021-10-02 00:11] jobcespedes commented on #3469
Trying to solve a similar issue in another ansible based operator. Have anyone tried free strategy and raising ansible forks?

[2021-10-02 00:58] jmazzitelli commented on #3469
I have not. The free strategy seems to only matter for multiple hosts, but for operator execution (at least for the Kiali operator) there is only one host so I don't think it will do anything. Unless I misunderstand the docs: https://docs.ansible.com/ansible/latest/collections/ansible/builtin/free_strategy.html#free-strategy

I have not tried anything with forks. Just briefly looking at the forks

[2021-10-02 02:48] jobcespedes commented on #3469
I think you are right. Thanks. What I am seeing in the output of this operator is a long pause after each task that increases with the number of CRs (max concurrent CR were increased too). I was thinking about this behavior; it runs a task for all CRs (that output is fast) and then pause ( a pause that increases with concurrent CR). Then, it continues with the following task. I don't know why the

[2021-10-04 07:09] aljesusg commented on #4288
Hi @vasartori
Do you still want to do this change?

[2021-10-04 08:13] lucasponce commented on #3703
Thanks @leandroberetta for the summary.

The proposal for the control plane are interesting and synced with some of the discussions we had:

Those comments fit in the discussion's comments https://github.com/kiali/kiali/discussions/4081#discussioncomment-866773 in particular:

I think that we need to keep iterating on this, as it may have more implications (today control plane is assumed to be uni

[2021-10-04 13:08] jshaughn commented on #4396
This was in reponse [a CVE](https://github.com/kiali/kiali/security/dependabot/go.sum/github.com%2Fdgrijalva%2Fjwt-go/closed) which has been determined to not affect Kiali.  It may still be useful to migrate away from this unmaintained project, but I'm going to remove the Bug label and add it as a Future.

[2021-10-04 13:11] jshaughn commented on #4342
I'm removing the Bug label, as there is no consensus on that point.  I'll move this to an enhancement, probably for our docs.

[2021-10-04 14:08] jmazzitelli opened #4405 "publish 1.41.0 on OperatorHub.io"
- https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/292
- https://github.com/k8s-operatorhub/community-operators/pull/257

[2021-10-04 16:51] jmazzitelli commented on #4405
all merged: https://operatorhub.io/operator/kiali

[2021-10-04 16:51] #4405 closed

[2021-10-04 22:57] jshaughn commented on #4206
Istio fix has been merged.  This can be tested against Istio 1.12 when a build is available.

[2021-10-05 01:53] anup1384 opened #4406 "kiali is not loading the graph (the server could not find the requested resource (get workloadentries.networking.istio.io))"
I'm getting an issue while opening kiali dashboard, the graph is not loading and in logs it's showing some permission issue.
Error- E1002 16:05:03.869034 1 reflector.go:138] pkg/mod/k8s.io/client-go@v0.20.1/tools/cache/reflector.go:167: Failed to watch *kubernetes.GenericIstioObject: failed to list *kubernetes.GenericIstioObject: the server could not find the requested resource (get workloadentrie

[2021-10-05 05:27] #4303 closed

[2021-10-05 07:04] lucasponce commented on #4406
Hi @anup1384, thanks for opening the issue.
Which version of Kiali ?

Can you share how did you install & configure the addons (and Kiali CR/Config) ?

Thx

[2021-10-05 07:20] #3872 closed

[2021-10-05 13:55] prachiyadav opened #4407 ""missing span root" in graph side panel"
Steps to reproduce.
- Install Istio with latest Kiali master
- Deploy bookinfo
- Navigate to Bookinfo Graphs
- Click on one of the node "review-v1"
- Click on left side panel "Traces"
- It will show "missing span root"

Please refer screenshot for reference

![image (1)](https://user-images.githubusercontent.com/13483060/136035829-02b704a2-b8d5-446d-b956-361f16861cf6.png)

![spans](https://user-im

[2021-10-05 17:14] hhovsepy commented on #4407
The missing 'root' span comes from Jaeger itself, need more research on it.
![Screenshot from 2021-10-05 19-03-12](https://user-images.githubusercontent.com/604313/136071039-e7e6fa1d-c040-4248-8a7a-9a2d0f04b6c9.png)
![Screenshot from 2021-10-05 19-03-32](https://user-images.githubusercontent.com/604313/136071046-187ffc85-2c8c-4285-996e-b1fcc73248e1.png)

[2021-10-06 13:41] jmazzitelli commented on #4403
The two PRs were reviewed and tested by me - all pass (including the molecule test). I assigned the PRs to QE folks to give them a chance to do a review if they so choose. The PRs are:

* https://github.com/kiali/helm-charts/pull/109
* https://github.com/kiali/kiali-operator/pull/432

Test procedures are documented here: https://github.com/kiali/helm-charts/pull/109#issuecomment-934400281

cc @mat

[2021-10-06 13:58] jshaughn commented on #4395
@israel-hdez I think for versioning we can leverage the support in Netlify.  If I understand it correctly, it looks like what we can do is to publish all branches.  I think we could do something like this:

1. create an `archive` branch off of master.  It will serve up all of the old versions because they are all available in the branch.
2. temporarily set Netlify to the `archive` branch
3. merge

[2021-10-06 14:22] nrfox commented on #2888
Said another way, these are the nodes with the most inbound edges?

From the discussion above, it seems like a scoring system that takes into account multiple customizable filters would be really nice to have e.g. "rank all nodes by number of inbound edges AND number of requests per second". A user might also want to rank by something like "number of failed requests". Being able to mix and match d

[2021-10-06 14:36] lucasponce opened #4410 "Reseach to build use the Istio registry to improve scalability scenarios"
This issue is to formalize and collect some research related to scalability issues and how using Istio registry can be an option to improve the scalability (or not) to Kiali.

Kiali design builds workload information from kubernetes API, with the limitation to not operate with cluster resources, that introduces a design of caching per namespace.

This is not a problem in small/mid clusters, but we

[2021-10-06 14:49] hhovsepy commented on #4407
Istio version is 1.11.3, installed via Kiali hack script install-istio-via-istioctl.sh
Jaeger version is 1.13.0
Kiali version is: v1.42.0-SNAPSHOT nightly build from QE

[2021-10-06 20:03] jmazzitelli commented on #4403
PRs merged.

[2021-10-06 20:03] #4403 closed

[2021-10-06 23:01] liangsqrt commented on #3606
there is no error or other info in console

[2021-10-07 12:29] #4377 closed

[2021-10-07 12:58] #3394 closed

[2021-10-07 13:35] hhovsepy opened #4413 "Add section in FAQ about "Missing root span""
Happens in Trace Details tab of Kiali, for bookinfo namespace.
For some spans ot shows message "Missing root span" instead of root span name.
Missing root span also is Jaeger traces itself and is not a bug in Kiali.
Reference original issue which was closed is: https://github.com/kiali/kiali/issues/4407

![Screenshot from 2021-10-05 19-03-12](https://user-images.githubusercontent.com/604313/136394

[2021-10-07 20:27] jshaughn commented on #2888
Good point :-)  Everything is relative.

Sort of, a lot of things do happen between fetch and render time.  See GraphDataSource.ts for where we actually fetch the data.  When it arrives we do manipulate it in GraphData.ts#decorateGraphData, and then may optionally do more work to fetch and assign node health.   Edge health isn't actually calculated (iirc) until we are rendering the edge in graphSt

[2021-10-08 11:15] hhovsepy opened #4416 "Include Mesh Gateway in Create Traffic Routing - causes failure"
Happens on Kiali master with Istio 1.11.3

Try to create any traffic routing on Service with following Gateway options:
Select "Add Gateway".
Check "Include mesh gateway".
Select "Create Gateway".
Leave all other params with default values.
![Screenshot from 2021-10-08 13-07-04](https://user-images.githubusercontent.com/604313/136547005-e61473ee-38b1-4651-bd84-e53a10faacc6.png)

Creating traffic f

[2021-10-08 14:49] jmazzitelli opened #4417 "[molecule] investigate recent test flakiness"
Recently, I've been noticing flakiness in running molecule tests, even on minikube where the tests used to be very stable.

Need to investigate and figure out if it truly is a problem.

[2021-10-11 09:14] #4326 closed

[2021-10-11 15:33] #4417 closed, assigned to jmazzitelli

[2021-10-11 18:45] israel-hdez opened #4420 "URL parameters not persisted in inbound/outbound metric tabs"
As found when testing this PR: https://github.com/kiali/kiali-ui/pull/2253, metric tabs allow setting some options. The URL is changed to reflect the selected options.

However, when switching from the inbound metric tab to the outbound metric tab (or vice-versa), the settings are lost from the URL. Although the UI still works as expected, page bookmarking is inconsistent.

[2021-10-12 13:27] abonas opened #4422 "Kiali website the section title "latest videos" is misleading"
Epic https://github.com/kiali/kiali/issues/4118

The website homepage has a section "latest videos", but the videos listed there are mixed with older ones so it's not really representing "latest".
For example - Sept2021, then April 2020, then April 2021, then August 2020
I suggest either the videos should be sorted or the title should be renamed.

[2021-10-13 11:48] lucasponce commented on #4382
Yes, the istiod pod should be reachable by any pod in the dataplane, so I don't see a major concern here, also it's the same mechanism used by the `istioctl` command to extract the same info. And note that TODAY is a requeriment as this mechanism is being used from long time ago to extract the proxy status info, the approach here is to fetch more information that can be useful for validations, and

[2021-10-14 07:11] shireenf-ibm opened #4424 "validation: authorization policy validation, principals not found"
Add validation to AuthPolicy object. check the existence of peers listed into  **principals** field for each [Rule.From.Source](https://istio.io/latest/docs/reference/config/security/authorization-policy/#Sourcehttps://istio.io/latest/docs/reference/config/security/authorization-policy/#Source)

[2021-10-14 12:19] hhovsepy commented on #2447
These newly adding references are not validations, but a reference like we have in DestinationRule overview page linking to Service.
Question: So do we need to add reference in UI only or coming from modified backend which should support returning references without validations?

[2021-10-14 17:40] #4383 closed, assigned to leandroberetta

[2021-10-15 10:06] hhovsepy opened #4425 "Broken scale in Overview page Y axis"
Happens on Kiali master on Istio 1.11.3.

The scale of Y axis on Overview page.

![Screenshot from 2021-10-15 11-56-19](https://user-images.githubusercontent.com/604313/137470877-656a17fe-cf08-4545-b2d4-4b83bb92ad87.png)

[2021-10-15 10:28] lucasponce commented on #4410
Kiali introduced the use of the Istio registry in validations some time ago [1] for some scenarios: to validate hosts when these are not found from Kubernete Services and/or ServiceEntries.

But, the Istio Registry could be also to build the Service lists and also to be used in more validations scenarios as discussed in https://github.com/kiali/kiali/issues/4382

This will have several benefits fo

[2021-10-15 10:29] #4410 closed

[2021-10-15 10:39] lucasponce opened #4426 "Refactor business/services.go to be the API to fetch services information"
This is a preliminary task in the context of the discussions in:
https://github.com/kiali/kiali/pull/4389
https://github.com/kiali/kiali/issues/4410

and also needed for
https://github.com/kiali/kiali/issues/4382

The goal of this task is to introduce a minor refactoring in the business package: today validation, health, workloads logic call directly to the kubernetes api to fetch the service info

[2021-10-15 21:23] jmazzitelli opened #4427 "[docs] documentation issue link is wrong"
In the new docsy website, the right menu has an item "Create documentation issue" that takes you to https://github.com/kiali/kiali.io/issues/new?title=Quick%20Start which is a 404 - we do not support issues in that kiali.io project.

We need to either have it refer to the kiali repo issues page or hide that link.

[2021-10-15 21:25] jshaughn commented on #4395
New Site is Up!

[2021-10-15 21:25] #4395 closed

[2021-10-15 21:26] jshaughn commented on #4422
This seems fixed in the new site.

[2021-10-15 21:26] #4422 closed

[2021-10-17 10:23] abonas opened #4428 "[website] Contribution guidelines link leads to 404"
https://kiali.io/docs/contribution-guidelines/

[2021-10-17 11:05] ps-19 commented on #4276
how can i resolve this issue? I wish to work on it.

[2021-10-18 07:03] aljesusg opened #4429 "[website] Header links"
In docs or other please we can see the links correctly but is hard to see them in the main page.

Can we add here a header too?
![Screenshot from 2021-10-18 09-02-01](https://user-images.githubusercontent.com/3019213/137683740-0e71e8a9-24a5-48e6-8777-1c2c4405bcfb.png)

[2021-10-18 07:06] aljesusg opened #4430 "[Website] Align FAQ link inside docs"
![Screenshot from 2021-10-18 09-06-05](https://user-images.githubusercontent.com/3019213/137684210-bb038846-589c-4a0d-a726-d110b5d08b48.png)

[2021-10-18 07:11] aljesusg commented on #4428
I don't know if we should keep the link that we have before this version (https://github.com/kiali/kiali.io/blob/pre-v1-41/content/contribute/index.adoc) or the github contribution guide (https://github.com/kiali/kiali/blob/master/CONTRIBUTING.md)

[2021-10-18 07:37] aljesusg opened #4431 "[Website] https://kiali.io/docs/features/health/ error image"
![Screenshot from 2021-10-18 09-36-54](https://user-images.githubusercontent.com/3019213/137688167-cb0cda18-8ccf-418b-a93b-0008cfa99fb2.png)

[2021-10-18 08:29] hhovsepy commented on #4317
Add support of exported Services in "virtualservices/NoHostChecker".

[2021-10-18 09:13] aljesusg opened #4433 "Add preview mode in overview page"
Introduce a new flow step into the Kiali actions called "preview" in namespace actions under "Overview" page

The "Create" action should be moved to a "Preview" view, where the user could see the yaml of the resource(s) that Kiali would like to create for a particular scenario.
The "Preview" view should work for all users (read-only and read-write rights), and in this view, Kiali should check if u

[2021-10-18 12:37] lucasponce opened #4435 "Make "Control Plane" explicit in Kiali"
Default configuration in Kiali treat control plane namespace as any other namespace in the mesh [1].
In the other side, Kiali has a Mesh page to describe the cluster configuration in the multi-cluster active-active scenario.

Also, the "control plane" state is implicit and Kiali shows this information in the masthead.

There are an increasing number of scenarios that would benefit to have a page l

[2021-10-18 15:54] #4431 closed, assigned to aljesusg

[2021-10-18 16:00] #4430 closed, assigned to aljesusg

[2021-10-18 23:57] jshaughn commented on #4425
I'm not sure I understand but it's quite possible for an existing time-series to have 0 requests for the time period and reflect a request count rate of 0, but still have many previous requests.

[2021-10-19 02:25] xeviknal commented on #4224
I did some research regarding to this slow down. The pain point here is that destination rules are the ones prevalent when setting up mTLS. Even if you are using autoMtls, DRs have the last word about how to establish the communication.
Therefore, Kiali needs to visit all the DRs in the cluster (scope of DRs are cluster-wide) in order to determine the mTLS status.
The magnitud of this deployment (

[2021-10-19 08:34] lucasponce commented on #4406
Thanks @anup1384

are there other error for others istio objects ?

[code]

That error may indicate that there is an error in the Kube API for the workloadentries, if you haev workloadentries installed as an istio api (which is the usual) typically those errors mean some connectivity issue.

But just I guess I'd need more data to confirm this.

Is this something that you get always, or just with s

[2021-10-19 09:22] hhovsepy opened #4437 "More Sidecars on Configuration"
Happens on master.
Listing Applications shows more that one the same Sidecar in Configuration column.
![Screenshot from 2021-10-19 11-16-15](https://user-images.githubusercontent.com/604313/137881662-2a84c12e-71b3-4f93-ac99-b7eed3e78d2f.png)

[2021-10-19 12:32] leandroberetta commented on #4425
@jshaughn thanks, yes, I guess I had some confussion around that, now it's clear.

The fix I'm proposing is to say "No incoming traffic" when requests_count = 0 for the entire query, with that, we avoid the strange ticks values very close to 0, and also don't show a graph with just 0 dots.

[2021-10-19 14:25] xeviknal commented on #4426
I like @nrfox idea and I think I commented that before. It hides how the cache implementation is for the developer. Pretty elegant and reducing casuistics (if/elses) in many places in the business logic.

@lucasponce you are right that the business logic is the one in charge of chosing which backend should build the response with (cache, no-cache). However, wouldn't it work to defaulty use the `Ca

[2021-10-19 15:12] jshaughn commented on #4427
OK, so we've decided to open kiali/kiali.io/issues, but we'd actually have preferred to keep all of our issues consolidated.  As such, I've created a docsy issue asking for the configuration option we need:

https://github.com/google/docsy/issues/731

But, for now the 404 issue is resolved.  If the issue above is resolved, and we update, then we could make a change back to consolidated issues.

[2021-10-19 15:12] #4427 closed, assigned to jshaughn

[2021-10-19 15:29] #4437 closed, assigned to lucasponce, prachiyadav

[2021-10-19 16:18] xeviknal opened #4442 "GH workflow build - CI gives a green light even when the gofmt says in not well formated"
Is it only me that have this bunch of modification after running the make format command (gofmt) in master?

I see this problem for example:

Pipeline:
https://github.com/kiali/kiali/runs/3938401801?check_suite_focus=true#step:6:1

PR with unsorted imports:
https://github.com/kiali/kiali/pull/4439/files#diff-3b471dbe35509f564d7f4429405e67504bc12fdd1d69b374077f7090519f1550R9

[2021-10-20 09:38] lucasponce opened #4445 "Crash in onCopy button in Envoy tab editors"
On the Envoy tab editor:
![image](https://user-images.githubusercontent.com/1662329/138068547-e0576a21-dd1e-41a1-883c-c165e9abc78a.png)

When click on the "copy" icon:
![image](https://user-images.githubusercontent.com/1662329/138068668-ee0517b0-ad29-4863-bb5f-520894e94dc8.png)

[2021-10-20 11:41] lucasponce commented on #4420
I think this is the existing behaviour between the tabs.

When the user is located into the tab and set some parameters:
![image](https://user-images.githubusercontent.com/1662329/138085611-de9ce5b0-bc5f-4cec-8cbb-e3473c16d2a3.png)

The URL is correctly updated, so, using the url from other browser:

[code]

will show the user to the same parameters selection:
![image](https://user-images.githubus

[2021-10-20 13:06] #4416 closed, assigned to lucasponce

[2021-10-20 13:34] jshaughn commented on #4420
@lucasponce I think there is a misunderstanding here.  Let me give specific reproduction steps to what I think is a problem.

1. Go to a workload detail
2. Click on Outbound Metrics
3. Enable `Trendlines` checkbox

Checkbox is set and URL params are correct:  `?tab=out_metrics&rangeDuration=300&refresh=15000&trendlines=true`

4. Click on Inbound Metrics

Checkbox is still set and URL params are in

[2021-10-20 13:43] lucasponce commented on #4420
Ah, thanks for giving the example, let me see if this is something worth to file like a bug or better to wait if it's better to be done with a major refactor (the metrics component have some technical debt related to how the state is being managed).

[2021-10-20 15:46] #4425 closed, assigned to leandroberetta

[2021-10-20 18:36] leandroberetta opened #4448 "Support getting the root namespace from Istio configuration"
According to #3062, the root namespace is required to do validations.

The root namespace is configured in Istio configuration (configmap) according to the [documentation](https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/).

This issue is about creating a new mechanism to get the root namespace for further use in validations.

Note: if the root namespace is not configured, it defa

[2021-10-20 18:39] leandroberetta opened #4449 "Support rootNamespace in Sidecar validations"
According to #3062 the Sidecar validations need to support the root namespace if configured.

Today the root namespace is defaulted to "istio-system" but it needs to be changed to the root namespace.

https://istio.io/latest/docs/reference/config/networking/sidecar/

[2021-10-20 18:40] leandroberetta opened #4450 "Support rootNamespace in Peer Authentication validations"
According to #3062 the Peer Authentication validations need to support the root namespace if configured.

Today the root namespace is defaulted to "istio-system" but it needs to be changed to the root namespace.

https://istio.io/latest/docs/reference/config/security/peer_authentication/

[2021-10-21 08:42] #4420 closed

[2021-10-23 15:11] MugenTwo opened #4453 "Internal traffic to pods shown as Passthrough Cluster in Graph view"
Traffic/Edges that goes directly to K8s pods are seemingly being classified as Passthrough cluster.

I was able to reproduce this by using Spring Boot Admin Server, which sends requests (e.g.health checks) to pods (and vice-versa).

1. One of the edges goes from K8s Deployment to the K8s Service of Spring Boot Admin Server. -> This one is correct.
![a](https://user-images.githubusercontent.com/175

[2021-10-23 18:24] #4453 closed, assigned to nobody

[2021-10-25 15:42] Christoph-Raab opened #4455 "Add spec.ingressClassName to kiali-server/templates/ingress.yaml"
The [ingress.yaml](https://github.com/kiali/helm-charts/blob/master/kiali-server/templates/ingress.yaml) of the kiali-server helm chart provides the possibility to pass the `kubernetes.io/ingress.class` annotation via `.Values.deployment.override_ingress_yaml.metadata.annotations`. Many ingress controller rely on that annotation.

Kubernetes now [deprecated](https://kubernetes.io/docs/concepts/ser

[2021-10-26 09:51] #4455 closed, assigned to nobody

[2021-10-27 16:15] xeviknal opened #4457 "Show propagation status for each istio config (when pilot status is enabled)"
When istio is installed with the status info enabled, istio pilot injects to each istio config the following info related to the number of proxies where that config is synced with. I think this information is pretty close to the istio sync health we have for sidecars but from the other perspective, from config perspective.

This bit response to the question: "is this piece of config synced with al

[2021-10-27 16:37] xeviknal opened #4458 "KIA1105: Virtual service routes may not point to any subset"
In Virtual services the subset destination is not mandatory. You might be sending traffic to different services without specifiying any subset (labeling).

Therefore, `KIA1105` is not accurate enough and throws a warning. The validation it should include the pair of host+subset instead of only considering the subset.

See one example:
![Screenshot of Kiali Console (29)](https://user-images.githubu

[2021-10-27 21:06] brendarearden opened #4459 "Kiali deployed behind proxy does not work as expected"
## Description

Starting in Kiali 1.35, Kiali's pod was changed to a read-only file system https://github.com/kiali/kiali/pull/4022/files. This is now causing issues for deployments of Kiali that are behind a proxy as there is no way to specify the proxy path as well as a server.web_root.

Prior to this change, I was utilizing the `env.js file` to [manually override](https://github.com/rancher/cha

[2021-10-29 09:04] sedflix opened #4462 "[Feature Request] Make istiod ports configurable in kiali"
Feature Request:
At present, it seems like kiali has hardcoded all of the istiod ports(8080,15014). But due to various reasons(as described one below), istiod installation could be using a non-standard port. Kiali should be able to support such installation of istio.

---
Orignal Issue:

I'm using kali version v1.42.0 and my isito version is 1.11.3.

I'm getting the following error while:

[code]

[2021-10-29 18:38] brendarearden commented on #4459
The actual use case looks more like the former example, I created the latter as a very basic proxy example for the sake of opening this issue to make it easier to visualize what was going on.  I can definitely see how that example implementation could be exploited for sure.

https://github.com/rancher/charts/blob/e52195cb0810175f42630a1f1f31e617381d3a43/charts/rancher-kiali-server/rancher-kiali-se

[2021-10-29 19:52] israel-hdez commented on #4459
Honestly, I don't think we need to add more configs to Kiali. As I mentioned in the Slack thread, you simply need to set the `server.web_root` configuration to the public path where Kiali is being accessed.

However, I think the main problem is that the proxy implementation is somewhat different to most k8s ingress proxies that we have heard of.

In the "example-kiali-redirect" that you provided I

[2021-10-29 22:03] brendarearden commented on #4459
@israel-hdez I still feel like we are not on the same page with the issue so let me try a different example: If you deploy kiali server, and you run `kubectl port-forward svc/kiali 20001:20001 -n istio-system` which allows you to access the service at port 20001, and when you access that service, you are re-directed to `http://localhost:20001/kiali` because `/kiali` is the default value for `serve

[2021-10-29 22:18] jmazzitelli commented on #4459
@brendarearden How does this proxy work with OTHER apps (not Kiali). For example, suppose I have Prometheus. It is on `http://localhost:9090/graph` -- how do you put your proxy in front of that? Is Kiali somehow different than other apps that it can't be placed behind a proxy? (I do know we have other users that use a proxy in front of Kiali - I do not know why your proxy is different).

Also - wh

[2021-10-29 22:28] brendarearden commented on #4459
"_The only thing I can think of is the use of window.WEB_ROOT is the crux of the problem. But I don't understand why other proxy users haven't run into this issue._"

Yes, for our particular proxy implementation this is the root of the problem because it re-writes the entire browser path - I don't want to include my proxy path in the `service.web_root` setting because I still want the kiali UI to

[2021-10-30 03:43] israel-hdez commented on #4459
Well not exactly... If `http://localhost:20001/kiali` is what you are going to type in the browser, then this is the _full URL_ and the path is, simply `/kiali` and this is what you should use for the `server.web_root` config.

This is why in your "example-kiali-redirect", in step 5 you say:

if that's the full URL, you remove the first component, and you set `/http://localhost:20001` as value for

[2021-11-01 07:58] shireenf-ibm commented on #4424
Hi,
The idea is to find Matching services (listing services accounts)

[2021-11-01 14:52] jmazzitelli commented on #4342
This is going to include a change in the way the ingress is configured. Rather than have independent settings, we will roll them (including the new one) under a new `deployment.ingress` setting.

We are going to go from this:

[code]

to this:

[code]

By default, the enabled flag will be true on OpenShift and false on Kubernetes (i.e. no Ingress will be installed when on a non-OpenShift cluster).

[2021-11-02 01:21] jmazzitelli commented on #4455
for those interested in this issue, see: https://github.com/kiali/kiali/issues/4342#issuecomment-956300708

[2021-11-02 09:23] sedflix commented on #4462
404 response says that there is no connectivity. Kiali <-> KubeAPI  <->   Istiod Pod connectivity is okay. In other words, kiali pods can port forward to istiod pods and receive a 404 response from that.

But, there are two tricky things in our installation:
1. We are not using 15014 as the default monitoring port. We are using 15027 and we have mapped 15027 to 15014 in the istiod service.
2. We a

[2021-11-02 10:52] lake-of-dreams opened #4464 "kiali header strategy not working as expected"
Hi, we integrated kiali with keycloak and reverse proxy that we have using the [header strategy implementation guide](https://kiali.io/docs/configuration/authentication/header/). We made the ingress pointing to kiali UI to go through our reverse proxy where we validate the `Authorization` header and then redirect the request to `kiali-server` after adding proper `impersonation` headers as mentione

[2021-11-02 11:29] lucasponce commented on #4464
Hi @lake-of-dreams, thanks for open this issue.

These integrations tend to vary from user to user.
We are happy if you'd like to propose some PR that we can review, our @israel-hdez colleague is familiar with the code but if users would like to add changes, happy to discuss with you on it and you may participate as well in the code.

[2021-11-02 18:49] lgenasi opened #4466 ""More than one Gateway for the same host port combination" even with different ports"
We have a Gateway which has two Servers with the same hosts but different ports, like so.

[code]

This config is displaying a warning for **KIA0301 - More than one Gateway for the same host port combination** even though the ports are different.

I believe the issue is here in [multi_match_checker.go](https://github.com/kiali/kiali/blob/master/business/checkers/gateways/multi_match_checker.go#L10

[2021-11-03 02:33] ethernoy opened #4468 "[Feature Request] Support mounting existing secret into Kiali Pod"
From time to time we may need to mount existing K8S secret into Kiali pod for various reasons. For example, I need to mount a secret that contains a .crt file, which Kiali will use as the ca_file of external tracing service endpoint. Is it possible to add a field like `.deployment.secrets` to allow Kiali to mount existing secret into deployment?

[2021-11-03 07:43] hhovsepy commented on #4466
Thank you @lgenasi for the valid issue and the PR.

[2021-11-03 07:56] lucasponce commented on #4466
Thanks @lgenasi for the contribution.

[2021-11-03 12:15] jmazzitelli opened #4469 "create 1.43 OLM metadata and update doc links"
We need to create v1.43 versions of the OLM metadata. The doc links need to be fixed, they are pointing to the old docs.

[2021-11-03 12:18] jmazzitelli commented on #4469
This involves using the [new version script](https://github.com/kiali/kiali-operator/blob/master/manifests/create-new-version.sh) to create the new version and then updating these links:
* https://github.com/kiali/kiali-operator/blob/master/manifests/kiali-upstream/1.42.0/manifests/kiali.v1.42.0.clusterserviceversion.yaml#L108-L114
* https://github.com/kiali/kiali-operator/blob/master/manifests/ki

[2021-11-03 12:19] jmazzitelli commented on #4469
While we are at it, we should review all the docs in these CSVs - it has been a while since we did a review. We should update anything that needs updating.

[2021-11-03 12:54] jmazzitelli commented on #4468
@ethernoy Nothing exists today to be able to inject custom secrets into the deployment. Can you provide some details? How would you expect this custom secret to be used by Kiali?

[2021-11-03 13:28] #4466 closed

[2021-11-03 16:16] ethernoy commented on #4468
@jmazzitelli

A possible use case is we inject a `tls.crt` file into Kiali from an existing secret, then provide it in this [line](https://github.com/kiali/kiali-operator/blob/bf60c14154a60ad87c76a907ff1b389813ddf488/deploy/kiali/kiali_cr.yaml#L690) to enable Kiali to trust a tracing service endpoint.

[2021-11-03 16:51] ethernoy commented on #4468
@jmazzitelli yes this is definitely solving my issue! I will try your workaround ASAP, but I believe it can only serve one custom secret. In my ideal configuration, Kiali needs 3 secrets, namely
- a ca secret for connecting to remote tracing service
- a certificate with key for enabling HTTPS on Kiali. This secret is managed by cert-manager
- a ca secret for connecting to Dex (for enabling OpenID

[2021-11-03 18:33] jshaughn opened #4474 "Add website back to the Jenkins automation"
We manually released the new kiali.io with v1.42.  The scripting was successful so we should be able to re-enable the automation.

[2021-11-03 18:52] #4342 closed

[2021-11-03 18:55] jmazzitelli commented on #4455
this is now fixed - it will be released with 1.43 next week. Please see: https://github.com/kiali/kiali/issues/4342#issuecomment-956300708

[2021-11-03 19:39] #4469 closed

[2021-11-03 21:21] jshaughn commented on #4468
Adding to sprint backlog to help with this user need.

[2021-11-03 23:56] israel-hdez commented on #4464
The author of the `header` strategy added the call to `/api/authenticate` to set some cookies that Kiali expects. So, the request to `/api/authenticate` is required for Kiali to work properly.

The `header` strategy was donated by @mlbiam who is a community user. Thus, we expect that community gives maintenance. I think it is possible to remove the request to `/api/authenticate`, or minimally to p

[2021-11-04 00:10] mlbiam commented on #4464
From what I remember the call to `/kiali/authenticate` is what triggers the initiation of the session with a subject access review (since the token can be anything, not just oidc). I don't see what the issue is, as your reverse proxy needs to provide a token regardless of the page. What special logic are you using?

[2021-11-04 02:43] jmazzitelli commented on #4468
work being done in these PRs... rough manual testing shows it working, but I'm trying to get an automated test to pass. PRs are still in draft mode.
* https://github.com/kiali/helm-charts/pull/115
* https://github.com/kiali/kiali-operator/pull/444

[2021-11-04 03:44] willgo-cn opened #4476 "same name deploy"
i hava same name deploy, one is deployment, one is statefulset, but i just find the deployment in the kiali ui workloads tabs

Kiali UI: 1.24.3
Kiali Server:  v1.24.5.redhat1

[2021-11-04 08:01] lucasponce commented on #4476
Hi @willgo-cn thanks for opening an issue, but could you describe in detail the problem you are seeing ?

I guess you mean that you have a "Deployment" with "workload-A" name and also a "StatefulSet" with same "workload-A" name, isn't it ?

Is that a valid scenario ?

Take also into consideration that Istio telemetry is stored per "workload" so, even if that's a valid kubernetes deployment, teleme

[2021-11-04 09:15] pantianying commented on #3532
The same problems still exist when we use our own controller
![image](https://user-images.githubusercontent.com/20589945/140287799-65d65017-422d-44ea-8917-d7b44b676abc.png)
![image](https://user-images.githubusercontent.com/20589945/140287834-7a3977b1-a2b7-4dea-9a8f-2090e4552d70.png)

[2021-11-04 09:40] lucasponce commented on #3532
@pantianying could you test with master or Kiali 1.41 ?
There was a couple of related PR https://github.com/kiali/kiali/pull/4360 that addressed the problems with custom controllers that probably won't be available in Kiali 1.36.

[2021-11-04 09:47] pantianying opened #4477 "custom controllers still have problems"
I use kiali operator to install kiali。
version：1.36.5

when I use own custom controllers for replicaSet called DnaApp
that happened

show the one replicaSet's ownerReferences
![image](https://user-images.githubusercontent.com/20589945/140292517-942c7122-d25d-4922-ae28-335351aceb81.png)

I am sorry that I provided the wrong version information.  please seem the latest
https://github.com/kiali/kiali

[2021-11-04 11:19] lucasponce opened #4478 "Kiali Documentation link from Master Head seems broken"
![image](https://user-images.githubusercontent.com/1662329/140304888-268cdb0c-dfa6-4e06-b0ab-aca929534edb.png)

Redirects to:

![image](https://user-images.githubusercontent.com/1662329/140304858-37c38c0e-0b06-4337-ad32-6a5eaad15b31.png)

[2021-11-04 13:17] lucasponce commented on #4477
@pantianying could you add more information about the DnaApp framework/controllers ?

A easy/clear example (yaml,gist) to help to reproduce the issues without jumping into the "dian" framework could help us to work on the issue.

Thanks

[2021-11-04 13:46] jmazzitelli commented on #4478
that link should now just go to https://kiali.io

[2021-11-04 17:05] #4448 closed

[2021-11-05 05:15] sedflix commented on #4462
@xeviknal this seems like a good idea. not hard coding these ports in kiali seems good.

[2021-11-05 08:48] #4445 closed

[2021-11-05 09:45] zackzhangkai opened #4483 "Can not run on arm"
Same problem as this  https://github.com/kiali/kiali/issues/3561

Image operator v1.41.0  v1.34.1 same errors.

[2021-11-05 13:35] ethernoy commented on #4468
Great to hear! Will test it as soon as possible, thx so much

[2021-11-05 13:39] jmazzitelli commented on #4483
I thought we had ARM64 already working. At the moment, we don't have ARM64 hardware to test - community contributions welcome to address this.

[2021-11-05 15:46] #4474 closed

[2021-11-05 16:06] xeviknal commented on #4210
hi @Yorkerrr,

I have been able to reproduce this scenario. Thank you again for pointing out.
The problem is that validations only consider the Controllers, not the pods. In the case of Argo Rollouts, there is only one rollout (controller) for two different pods (with different labels). The validation (see the snippet bellow) only is able to receive the rollout that happens to have the labels of t

[2021-11-08 13:05] jmazzitelli commented on #4468
@ethernoy FYI: this Friday we will release the next version of Kiali. If you can test and verify the correctness of this stuff for your use-case before Friday, we will be able to merge this and get it in that next release (which will be 1.43.0).

[2021-11-08 13:17] prary commented on #4406
Hi @lucasponce, I am facing similiar error but on quite a few resources

[code]

[2021-11-08 15:08] nrfox commented on #2888
@jmazzitelli @lucasponce continuing the conversation around verbiage on score/rank etc. The way that https://github.com/kiali/kiali-ui/pull/2259 is currently implemented, score is the raw score assigned to a node based on the scoring criteria e.g. if you had a graph with 2 separate nodes each with one inbound edge and your scoring criteria was Inbound Edges, the score for each node would be `node_

[2021-11-08 15:12] lucasponce commented on #2888
I'm +1 with your proposal @nrfox, also this feature is open to provide your own criteria and meaning in what a term means in this context. As soon as the user can see it from the proper tool what is the context, no objection from my side.

Note, probably score terms may vary with the time and as soon more scenarios are identified these may change as well.

[2021-11-08 15:50] jmazzitelli opened #4485 "[operator] implement best practice guidelines to support multi-tenant installations"
I believe these are the tasks needed in order to complete this issue:

- [x] support custom labels on the kiali route
- [x] ship with resource requests on the operator Deployment
- [x] ship with resource request defaults on the kiali pod

_NOTE: We are going to want to backport these changes to the 1.36 playbook and branch._

Running operators in multi-tenant OpenShift clusters - there are best pr

[2021-11-08 16:32] frankconrad opened #4486 "k8s service appProtocol is no reflected in config checks"
k8s service appProtocol is no reflected in config checks (KIA0601)

For this nned to add the support of service appProtocol in config checks.
To match istio support there.

KIA0601 is related to IST0118.

[2021-11-08 17:20] szelenka commented on #4486
I'm also running into this issue. Where the services have appProtocol defined, according to Istio's documentation:
https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/#explicit-protocol-selection

But Kiali marks the config as invalid:
https://kiali.io/docs/features/validations/#kia0601---port-name-must-follow-protocol-suffix-form

The Istio services still work, it

[2021-11-09 02:12] ethernoy commented on #4468
Just test with the following setting
[code]
It works as expected:
![image](https://user-images.githubusercontent.com/15870761/140848971-d081293b-ed96-449e-b3fb-51ec7c133edd.png)

[2021-11-09 02:30] jmazzitelli commented on #4468
@ethernoy What does your Kiali CR look like when you tested? Specifically, the `deployment.custom_secrets` and `external_services.tracing.auth` settings? I want to make sure they are what I think they would be.

[2021-11-09 03:22] ethernoy commented on #4468
@jmazzitelli I tested with kiali-server. Just updated the comment above with my values.yaml.

[2021-11-09 05:07] jmazzitelli commented on #4468
OK, great. That's how I was hoping it would work for you. Things look good then to get this in for the upcoming release.

[2021-11-09 14:43] MugenTwo opened #4488 "Correct graph edge for Pod to Pod communication using destination_workload"
As suggested by @jmazzitelli in the following discussion: https://github.com/kiali/kiali/discussions/4454 I'm creating this feature request ticket.

### **Background**
I have a microservice architecture in which my Spring Boot Admin Server's pod to pod communication is being represented as PassthroughCluster Node even though **destination_workload** is actually a known entity/app inside the system

[2021-11-09 14:50] jmazzitelli commented on #4488
The edges still represent the same kind of data (http, or tcp, or gcp) so this would not warrant a different edge type. Edges are not different based on the endpoint node types.

Because the target node is a workload and not an app (represented with a square node) or service (represented with a triangle node), the graph should simply draw a circle node which represents "workload" as per the graph

[2021-11-09 15:12] MugenTwo commented on #4488
Agreed on the part that this should be pointing on the correct workload. This is definitely the most important part.

I suggested having a new type -> new color of edge to easily classify the pod to pod communication from the other types of communication... similar to how TCP is being classified with a blue color.

[2021-11-09 15:19] jmazzitelli commented on #4488
Yeah, that's the problem. From a UX perspective, you are mixing semantics. Today color/edge type denotes the different protocols (http vs. tcp) flowing over the edge. Suggesting changing color/edge type based on the destination node makes it confusing because now the semantics are a combination of protocol and node type. Think about it this way - what if you have 2 of these specific pod communicat

[2021-11-09 15:36] MugenTwo commented on #4488
Would this sort out the noise in both the App graph? I definitely see that the Workload graph will be sorted out with this.
But I think the App group uses another criter and the **noise information** will remain on the App graph.

[2021-11-09 16:02] jmazzitelli commented on #4488
I think when @jshaughn or @nrfox look at this (one of those will most likely be the ones working on this) they will know better. I'm pretty sure just introducing workload nodes for this use-case in the app and versioned-app graphs will solve the problem. But they would know better when they start looking at it.

[2021-11-09 17:36] nrfox commented on #4488
I agree with @jmazzitelli that having separate edges for workload --> workload communication could make the graph more convoluted given the way that edges/nodes currently represent mesh traffic.

It seems like Kiali is correctly representing what is happening from the perspective of your mesh. Traffic is still going through the sidecar even if that traffic is being sent to the pods directly. From

[2021-11-09 18:04] brendarearden commented on #4459
I am still looking into how our proxy is currently working, but I wanted to follow up so that you know this is still on my radar. I will be looking into the different options that are supported currently with Kiali as you suggested to verify if those will meet our needs.

One thing I wanted to circle back on and clarify:

Our setup is the service endpoint that gives you access to the kiali UI and

[2021-11-09 19:34] nrfox commented on #4477
If your custom controller manages pods directly, this also may have been addressed by https://github.com/kiali/kiali/pull/4398 if you can upgrade to Kiali verison v1.41 or greater to test.

[2021-11-09 19:36] jshaughn commented on #4488
How do things look if you disable the Show Service Nodes Display option?  Or alternatively, use a `svc=PassthroughCluster` Hide expression?

[2021-11-09 19:55] jmazzitelli commented on #4488
This isn't going to be solved by using the display options. Remember the case here - the workload name is known, the service name is not (because there IS no service - its directly going to a pod). The graph needs to show a "workload" node here - there is no service at all here AFAIU.

[2021-11-09 19:56] nrfox commented on #4486
Agreed I'll let @xeviknal weigh in but it looks like the service validation checks don't currently support the `appProtocol` field and just look at the suffix.

[2021-11-09 20:08] nrfox commented on #4488
I think there _is_ a "service", the service is just the PassthroughCluster since that's the default for requests that don't match anything.

This sounds very promising if it just shows workload --> workload traffic and filters out the PassthroughCluster service node. I was wrong about Kiali not having an option to display this on the graph :)

[2021-11-09 20:21] jshaughn commented on #4488
I agree with @nrfox , there is a service, basically the default service being `PassthroughCluster`.  As mentioned earlier, Istio confirmed that the telemetry is as-expected, with destination_service_name="PassthroughCluster".   Having said all of that, I do agree that we want to provide some sort of reasonable visualization if at all possible.  Let's see what @MugenTwo says in response to the abov

[2021-11-09 20:28] jshaughn commented on #4464
@lake-of-dreams , I think this is waiting on your response...

[2021-11-09 20:31] jshaughn commented on #4406
@prary Are you also seeing a graph failure, or other page failures?  Can you also post your Kiali version, Istio version, and install method?

[2021-11-09 20:36] nrfox commented on #4442
It looks like  `gofmt` will sort the imports within the existing groups but won't change the grouping. `goimports` will do everything that `gofmt` does in addition to grouping the imports. Something like `goimports -format-only -local github.com/kiali/kiali` might be more what we're looking for.

From `goimports --help`:
[code]

[2021-11-09 20:55] wmhopkins commented on #4464
The issue is that our reverse proxy is expecting to authenticate incoming requests. Using the header strategy with impersonation, we authenticate our user via OIDC, then expect to impersonate that user to Kiali (and Kubernetes). Using the header strategy, we send a service account token with impersonate permission, and the kubernetes impersonation headers for the user we authenticated.

When Kiali

[2021-11-09 21:02] wmhopkins commented on #4464
To put it a bit more succinctly, the problem isn't that Kiali is making a call to `/kiali/authenticate', it's that it's setting an invalid `Authorization` header first. Arguably, it shouldn't be setting the `Authorization` header at all if it's expecting a reverse proxy to provide credentials; i.e., if it's in header authentication mode.

[2021-11-09 22:19] #4478 closed

[2021-11-09 22:27] mlbiam commented on #4464
While it does look like kiali-ui is setting the `Authorization` header to an empty username and password (https://github.com/kiali/kiali-ui/blob/03e8b8cf276782b05233eedde43e9ac8d4b94f54/src/services/Api.ts#L93), your reverse proxy should be stripping out any `Authorization` header anyways for security reasons (as well as making sure there are no impersonation headers too) regardless of what comes

[2021-11-10 00:31] wmhopkins commented on #4464
Our proxy supports authentication with both bearer tokens and basic auth credentials, so we can't just strip out `Authorization` headers. If we see an `Authorization` header, we have to assume that the client intended to authenticate the request using those credentials.

Conversely, I can't think of a good reason to attach an invalid `Authorization` header to a request, nor does it seem reasonable

[2021-11-10 01:07] mlbiam commented on #4464
I'd say that's a design flaw and a security risk.  If you already support OIDC to the proxy and are also supporting basic and bearer tokens to the same URL?  Smells like you're leaving yourself open to some kind of session hijack.  You should be able to limit which URLs accept specific kinds of tokens.  Kiali is a web app so you should be using a session cookie for managing the session with the re

[2021-11-10 04:04] wmhopkins commented on #4464
With all due respect, since you don't know what problems we're trying to solve, you have no basis for evaluating our design. We have use cases for both types of authentication, and it's not clear to me that handling bearer tokens or basic auth is intrinsically a "security risk".

Because we also manage session cookies, if a request has both a cookie and an `Authorization` header, we discard the ex

[2021-11-10 10:03] dirkckau opened #4492 "Error fetching OpenID provider metadata "failed to create http client to fetch OpenId Metadata: supplied OpenId CA file cannot be parsed""
Hi all,

Similar to this [issue](https://github.com/kiali/kiali/issues/2978), I am stuck with the openID error and I could find any relevant samples in the Internet.

error":"Error fetching OpenID provider metadata.","detail":"failed to create http client to fetch OpenId Metadata: supplied OpenId CA file cannot be parsed"

From the official documentation, it states that the below configMap is requ

[2021-11-10 10:04] dirkckau commented on #4492
what is the public component of your CA root certificate encoded in base64

[2021-11-10 13:22] MugenTwo commented on #4488
I'm doing a couple more of tests before coming up with any conclusions. Will reply as soon when I reach a conclusion.

[2021-11-10 13:43] mlbiam commented on #4464
think it is resolved, so much as we've identified the issue and where it needs to be fixed.  i'm spread thin right now so i can't do it at the moment. If someone else isn't able to tackle it by the time things calm down for me i'll be happy to fix it.

[2021-11-10 14:48] wmhopkins commented on #4464
Agree, the issue is understood. We have workarounds for now, and we'll look at getting approval to contribute a fix if nobody beats us to it.

[2021-11-10 14:56] #4339 closed

[2021-11-10 17:01] israel-hdez commented on #4492
Yes. Probably, run a command like the following in your terminal and copy-paste the resulting string to the ConfigMap yaml, then apply it with `kubectl apply`.

[code]

[2021-11-10 18:21] jshaughn opened #4494 "Node rank should be displayed in side-panel"
The new node-rank feature is good but currently doesn't offer the user a way of seeing the node ranks.  It's probably unnecessary to display ranks on or around the nodes themselves, but it would be good to see it in the side-panel, when the node is selected.  It would make sense probably in the same place as the badging info.

[2021-11-10 18:25] jshaughn commented on #3532
@pantianying Any results?

[2021-11-10 21:32] nrfox commented on #4206
Confirmed that this is fixed when using istio `1.12-beta.2`. This issue can either be closed now or after 1.12 GA has been released.

[2021-11-10 22:25] jshaughn commented on #4206
This is fixed in Istio 1.12, it is not a Kiali issue.

[2021-11-10 22:25] #4206 closed

[2021-11-11 08:55] hhovsepy commented on #4477
Unable to reproduce the issue on Kiali version 1.35, 1.36 and latest releases.
From the attached screenshot of Kiali UI Workload lists page, it seems that the Kiali version is older than v1.36.

[2021-11-11 11:18] MugenTwo commented on #4488
### Using svc=PassthroughCluster:
My conclusion is that It hides all the PassthrougClusters and that might not be ideal because it could potentially hide the real PassthroughClusters.
### Disabling the "Service Nodes" Display option:
Similar to the above, it hides all the Service related information which is not good when debugging.

### Suggested options:
1. Users should be able to exclusively an

[2021-11-11 14:08] nrfox commented on #4442
@xeviknal @lucasponce have a look at the output of: https://github.com/kiali/kiali/runs/4178833212?check_suite_focus=true. It seems like this closer to the import grouping that we want?

[2021-11-11 14:56] jshaughn commented on #4488
It's true that this would also hide PassthroughCluster when it's used for requests to external hosts (i.e. when PassthroughCluster is a terminal node in the graph). So, I agree that's not ideal.   But, I would not call these the "real" uses of PassthroughCluster, the use case under discussion is no less real, it's just that PassthroughCluster is the default handler for unknown services, when no in

[2021-11-11 15:38] jmazzitelli commented on #4488
My main question is: "Is Kiali visualizing all the telemetry that Istio stored in Prometheus?" e.g. "Is there a bug here in the graph generation? Or is there just something that we want to show _Better_?". If it is the latter, then I'm less concerned how we solve this issue.

We also need to ask: "What does it mean to see PassthroughCluster in the telemetry?" If this means there is no traffic goin

[2021-11-11 16:50] jshaughn commented on #4488
Well, I'd say yes, we're showing the Istio telemetry, but for this use-case the visualization can be too verbose.  So, no, I don't think this is a bug but rather a request for a *better* visualization.

Well this is the issue, the request is intended to be handled out-of-mesh and that's why PassthroughCluster is the handler.  If a ServiceEntry were defined I think everything would be fine (note -

[2021-11-11 17:11] nrfox commented on #4488
+1 the visualization seems correct in that the traffic is going to the PassthroughCluster because there are no matching services in the registry for the request. But all of the traffic going into and out from a single PassthroughCluster service node on the graph creates a lot of noise.

As @MugenTwo mentioned, there's at least two different scenarios for this:
1. The destination_workload is unknow

[2021-11-11 17:17] nrfox commented on #4488
Maybe this can go behind a display options flag that's only enabled unless explicitly checked since it's still good to know that your traffic is going through the PassthroughCluster unless you explicitly ignore it like for this issue.

[2021-11-11 17:29] nrfox commented on #4488
+1 this is what mesh internal service entries are for. If you've got a lot of dynamic entries like you potentially do for client side load balancing, then you'll probably need a custom way to automatically sync with the istio service registry.

[2021-11-11 19:05] jshaughn commented on #4488
Well, I think this is an unusual case, this is the first time I've seen PassthroughCluster as an intermediate node.  I'd prefer not to add yet another option flag.  And this flag would probably need to make it to the server-side processing, which is where, I think, we'd want to prune these edges.  I'd prefer to just do it by default, at least until someone complains about it missing :-)

[2021-11-11 20:22] MugenTwo commented on #4488
For that use case that I have (which is a system composed of a couple of hundreds of services), I think starting with ALLOW_ANY is the pragmatic way to go because it allows me to do incremental changes needed to migrate my system to Istio. I think this is also the reason why ALLOW_ANY is the default option, because I think generally it is practical to work this way until reaching a point in which

[2021-11-11 20:23] #2888 closed

[2021-11-11 20:27] jshaughn commented on #4488
@MugenTwo I'm going to make the proposed change.  Would you have the ability to test a build if I were to push one to my repo, or do you need an official release to test?

[2021-11-11 20:36] MugenTwo commented on #4488
I will check this tomorrow. Will let you know as soon as possible. Thanks and have a good day!

[2021-11-11 21:21] #4468 closed

[2021-11-12 09:55] MugenTwo commented on #4488
We will try to test the build version. Best regards.

[2021-11-12 17:02] jshaughn commented on #4488
Hi @MugenTwo , you should be able to pull the kiali-4488 tag from https://quay.io/repository/jshaughn/kiali?tab=tags.  This build should eliminate intermediate PassthroughCluster service nodes, even when the Show Service Nodes Display option is enabled.  You should see only the direct edges from workload to workload.   Please let me know how it looks.  Also, you had mentioned seeing two edges in y

[2021-11-12 19:32] #3765 closed

[2021-11-12 20:05] nrfox commented on #4494
Preview:
![Screenshot from 2021-11-12 14-19-38](https://user-images.githubusercontent.com/6226732/141527926-1fbdf2d9-4ba0-4455-bacc-d26348db596f.png)
![Screenshot from 2021-11-12 14-19-45](https://user-images.githubusercontent.com/6226732/141527944-5adc7de7-8264-42af-a82c-34cf03df4863.png)
![Screenshot from 2021-11-12 15-02-09](https://user-images.githubusercontent.com/6226732/141527955-efb4b865-f

[2021-11-12 20:18] jshaughn commented on #4494
Hmm, all of the other badge entries have an obvious icon that ties to the graph.  Rank doesn't but it would look better if we used one here.   I'm not sure we actually need to have the dropdown if it is just reflecting the same thing that is displayed in the Display  menu.  If you were going to show the actual values for each criteria then I think it would be justified.  Last comment is that I'd p

[2021-11-12 20:33] jshaughn commented on #4476
@willgo-cn , without more information there isn't much we can do here and will be forced to close the issue.

[2021-11-12 20:41] jshaughn commented on #4406
This discussion may be relevant: https://github.com/kiali/kiali/discussions/4487

[2021-11-12 20:48] jshaughn commented on #4246
Assigning this to @jmazzitelli for a retest now that 2.1 is released.

[2021-11-12 21:03] jshaughn commented on #1416
@lucasponce At this point I don't see anything here for us, shall we close it?

[2021-11-12 21:04] jshaughn commented on #4385
@aljesusg Re-open if you like but I'm going to assume that you hit this using an older version.

[2021-11-12 21:04] #4385 closed

[2021-11-12 21:08] jshaughn commented on #3858
Update:  There has already been a lot of improvement here.  There is still some work being done.  It should be completed fairly soon.

[2021-11-12 21:47] nrfox opened #4502 "Create and sync namespace caches on startup"
Namespace caches are currently created and synced when they are first accessed. When there are many namespaces, the Kiali server can take awhile to respond to the first request while it creates and syncs each of the namespace caches. This can be tested by:

1. Creating 300-400 empty namespaces
2. Restarting the kiali pod ensuring no other traffic is going to it
3. As the first request since startu

[2021-11-13 00:40] brendarearden commented on #4459
Here is the exact scenario that is causing a bug to show up:

Install Kiali https://kiali.io/docs/installation/quick-start/#install-via-helm
[code]
run `kubectl proxy --port=8080` to expose the kubernetes api server

Navigate to the service via the kubernetes api server proxy endpoint:

`http://localhost:8080/api/v1/namespaces/istio-system/services/kiali:20001/proxy` (note: you might need to chang

[2021-11-14 00:30] jmazzitelli commented on #4459
I see that. And when I install with the helm setting `--set server.web_root=/api/v1/namespaces/istio-system/services/kiali:20001/proxy` I get the following error in the browser: `localhost redirected you too many times. ... ERR_TOO_MANY_REDIRECTS` Trying to curl confirms:

[code]

The only way that I can think of that would solve this problem is to provide a way to configure this env.js setting.

[2021-11-15 04:58] israel-hdez commented on #4459
Well... We haven't supported `kubectl proxy` for a while, because it breaks all authentication mechanisms but anonymous. It injects an `Authorization` HTTP header which enters in conflict with Kiali's one.

So, I'm not sure we want to add a new setting to allow `kubectl proxy` to work OK only for the anonymous auth. I don't see that much value add.

Our typical suggested workaround has been to use

[2021-11-15 08:28] lucasponce commented on #4502
Note that this request is somehow related to https://github.com/kiali/kiali/issues/4382 issue which is working out on https://github.com/kiali/kiali/pull/4479

Main issue here is that the validations logic for tls endpoint doesn't scale well, this issue is located and identified and the strategy we're following is to use Istio Registry in the validations logic, but there are a couple of preliminar

[2021-11-15 08:41] lucasponce commented on #1416
+1

[2021-11-15 08:41] #1416 closed

[2021-11-15 18:39] nrfox commented on #4502
Yes it moves the time spent creating/syncing the caches from "during the first request" to "before the first request". It will make the Kiali deployment slower to become ready initially but I'd argue that is less perceivable to the user than having the first request to Kiali be very slow. In other words, it is part of the setup process for the Kiali server and should be completed before the Kiali

[2021-11-15 19:15] whoever42 commented on #4483
a dependency - openshift/origin-ansible-operator seems to have only x86_64 builds
https://github.com/kiali/kiali-operator/blob/17076a7d038d8a84f8d6dd66fe6d8dda0af6f377/build/Dockerfile#L2

[2021-11-15 19:16] nrfox commented on #4494
Agreed, I'll take a look at the patternfly icons and perhaps @andrew-ronaldson could weigh in as well on what icon would best fit rank.

That's a good point. It does just duplicate what's on the display menu. I thought it'd be nice to see the selected criteria next to the rank on the node panel but I'm not sure the benefits outweigh the cost of screen real estate given that the same info is in the

[2021-11-15 19:27] nrfox commented on #4494
`fa-sort-amount-down-alt` seems like a good option

[2021-11-15 19:45] jmazzitelli commented on #4483
Looks like you need to request multi-arch support for this: https://quay.io/repository/openshift/origin-ansible-operator?tab=tags
The Kiali team doesn't have control over the production of that image.

[2021-11-15 20:01] jmazzitelli commented on #4485
See: https://github.com/kubernetes-sigs/kubebuilder/pull/2368/files

Based on that and the best practices suggestions, we should default the operator with:

[code]

[2021-11-15 20:19] jshaughn commented on #4494
I'm sure. They don't :-)  (unless the raw values are also presented, but until someone asks for it, it's not needed).

[2021-11-15 20:30] jshaughn commented on #4488
Hi @MugenTwo , any feedback on the test image?

[2021-11-15 20:34] MugenTwo commented on #4488
It will take a couple more of days before I can test it. Will let you know asap. Best regards.

[2021-11-16 07:45] lucasponce commented on #4502
Not objection to populate the caches on the init phase.

Logic should proabably be placed in this block:
![image](https://user-images.githubusercontent.com/1662329/141941733-dd76cc16-43eb-41b0-a051-5f2565f7b604.png)

And remember that Kiali caches the namespaces that the Kiali ServiceAccount has access (not per user token) but that info is fetched directly from the `business.NamespaceService.GetNa

[2021-11-16 07:52] pantianying commented on #4477
I am very sorry that I provided the wrong version information. The screenshot above is inconsistent with the version。
I have now upgraded to the real 1.36.5 version of Kiali and the UI style has changed, but it still looks abnormal

![image](https://user-images.githubusercontent.com/20589945/141943176-93a01d4e-ed56-4e0a-826e-903195bd9652.png)
It seemed workload could not perceive the pod at the bo

[2021-11-16 07:54] pantianying commented on #4477
Let me explain the logic of our custom controller：Dnaapp controls RS , Architecturally much like the multi-release of ArgoCD.

[2021-11-16 11:35] hhovsepy commented on #4477
Thank you for the screenshots @pantianying
Now I see that those pods are not started on the cluster side, can you please check what is in cluster side logs of those pods. They seems failing to start or are Idle.
The initial issue was in displaying Workload details page, does it work for you now?

[2021-11-16 12:31] whoever42 commented on #4483
Well, Kiala previously used quay.io/operator-framework/ansible-operator instead (Kiala v1.31 being the last properly running arm64 image).
Cloned the Kiala master.git, switched openshift to operator-framework:v1.4 in Dockerfile and it built Kiala image without errors.

[2021-11-16 14:41] jmazzitelli commented on #4483
Yes, but we want to use openshift/origin-ansible-operator.

You can fork and build with the operator-framework for now if you'd like. I'm trying to track down those responsible for the openshift/origin image to get them to fix it - I haven't found an answer yet why it is like that.

[2021-11-16 15:49] jmazzitelli commented on #4483
I'm putting this on the backlog and assigned it to me - I'm currently researching how to get that dependent image fixed, if possible.

[2021-11-16 17:12] jmazzitelli commented on #4459
Even though this is uniquely targeted to a specific use-case and not generally needed, we could support it. But to support this use-case it sounds like we need a new CR setting `server.redirect_path` (or whatever we think it should be called - I don't know a good name for it) and have the server use that for the in-memory replace within the env.js file. If it isn't specified, use web_root as the d

[2021-11-17 18:36] nrfox opened #4505 "Launch Kiali wizard scenarios from graph nodes"
Based on part of [this discussion](https://github.com/kiali/kiali/discussions/4084#discussioncomment-937881), users can launch the Kiali wizards directly from the graph nodes.

I propose that right clicking a graph node brings up the appropriate wizards in the context menu based on the node type e.g. right clicking on a service node would bring up the context menu with the "create request routing"

[2021-11-17 21:35] jshaughn commented on #4476
Please re-open as you see fit.

[2021-11-17 21:35] #4476 closed

[2021-11-18 02:30] pantianying commented on #4477
But in fact, every DnaApp has RS under it, and under RS there are pods that work properly. It seems that Kiali was unable to find a relationship between these pods and DnaApp. I wonder how Kiali found pod, was it through RS?

[2021-11-18 09:35] #4413 closed

[2021-11-18 13:04] jmazzitelli commented on #4485
I tested the federation demo with Kiali 1.36.6 on IBM Cloud OpenShift 4.8 and the operator does spike memory usage during reconciliation to 400MB. It drops down when not reconciling. The operator will reconcile one CR at a time (see https://github.com/kiali/kiali-operator/blob/v1.43.0/manifests/kiali-ossm/manifests/kiali.clusterserviceversion.yaml#L234-L239 where we do not define `max-worker` and

[2021-11-18 18:11] #3858 closed

[2021-11-18 18:19] jmazzitelli commented on #4485
After learning a few things, I'm going to not set the resources.memory.limits for the operator. The operator will, by default, have a max-workers equal to the number of CPUs. That means the number of concurrent CRs it can reconcile will be different depending on the cluster and how many CPUs there are. So the max memory usage will be different based on the number of CPUs.

If, in the future, we wi

[2021-11-18 18:30] jmazzitelli commented on #4485
I'm going to set the Kiali server pod with a max limit of 1Gi. If we go over that, the cluster will kill the server pod and restart it. I don't think we need close to 1Gi, but we can always lower it later.

[2021-11-18 20:49] jmazzitelli opened #4510 "access ingress_enabled for now to support older CRs"
We made a backward-incompatible change recently regarding the ingress settings. See https://github.com/kiali/kiali/issues/4342

The setting `spec.deployment.ingress_enabled` was removed and replaced with `spec.deployment.ingress.enabled`. Some older CRs may still be using that older setting (specifically, the Maistra operator will set that value when creating the Kiali CR). To avoid having to ask

[2021-11-18 21:07] jshaughn commented on #4510
Yes, we should have made it backward compatible given that 1.24 (OSSM 2.0) will be supported for quite a while, and past 2.2 when the original change will make it into the product operator.  There could also be some analogous upstream user.

[2021-11-19 10:19] lucasponce opened #4511 "Revisit DestinationRule no labels warning"
I wonder if the DR validation of no labels should be applied when there are more than one subset or to keep it as it is defined today.

Perhaps on this case it sounds redundant:
![image](https://user-images.githubusercontent.com/1662329/142606219-67ce96b0-df82-493e-88af-36a6199ece8d.png)

[2021-11-19 13:50] Polyipnus commented on #3606
in my case, I reinstalled istio, and the secret key was created before,  i just removed the secret key `kiali` in default namespace, and problem solved.  You can logged pod `kaili` for detail info, ` dial tcp 10.254.0.1:443: i/o timeout`

[code]
the secret was created by following [the tutorial](https://istio.io/latest/zh/docs/tasks/observability/kiali/)
[code]

[2021-11-19 21:34] jmazzitelli commented on #4483
https://issues.redhat.com/browse/DPTP-2630

[2021-11-21 10:50] Stono opened #4517 "missing expected TS labels on Graph"
Hey
It's been a long time since I have looked at Kiali, so thought i'd see how it's matured!

I'm having some problems getting the "Graph" page to render prometheus metrics, in the logs I see:

[code]

![Screenshot 2021-11-21 at 10 47 44](https://user-images.githubusercontent.com/1486729/142758800-5226d48d-39ca-4166-a18a-2461c652d529.png)

However on the individual workload page, it does seem to r

[2021-11-21 12:42] unckleg commented on #4039
@rwong2888

You are getting this error because you have typo in your config map. And for everyone else wondering:

[code]

**web_fdqn** part should be **web_fqdn**, also make sure to remove https part.

[2021-11-21 17:00] jshaughn commented on #4517
Hi Karl, yes, it's definitely a problem with the metric labels being removed, some are required for the graph to render.  That's why you're seeing [a lot] of those "Skipping" warnings, because expected TimeSeries labels are unset.  You would need to add back most of the labels, as specified here: https://kiali.io/docs/faq/general/#which-istio-metrics-and-attributes-are-required-by-kiali.

Without

[2021-11-21 17:03] Stono commented on #4517
Ahh thanks for the link to the doco on the required labels @jshaughn.
I will do a bit of a differential!  Thanks
Karl

[2021-11-21 17:03] #4517 closed

[2021-11-22 10:45] hhovsepy commented on #4511
If we change it, then IMHO it should be either:
a) Keep the message level as warning and show it in 2 cases:
1 There is only one subset and it is without labels, display warning on that subset.
2 There are more than one subsets, and all of them without labels, display warning per each subset.
This will make the validation logic over-complicated, also confusing users when some warning might appear

[2021-11-22 12:45] hhovsepy commented on #4477
Right, I should have been notice that earlier, as in your screenshot it says "Missing App" per workload.
Kiali recognizes pods for applications by the "app" label, so in your example the RS and Pods needs to have the same "app" labels set.

[2021-11-22 18:27] #4042 closed

[2021-11-22 18:33] israel-hdez opened #4519 "Update beta interfaces for CronJob workloads"
As noted in #4042, on Kubernetes clusters with versions 1.21+ clusters Kiali logs emit these warnings:

[code]

It wasn't possible to fix those warnings, because Kiali still needs to support Kubernetes clusters older than v1.21. This should be scheduled to be done on or before August 2022.

[2021-11-22 20:20] nrfox commented on #4036
I'd like to revisit this one since I believe it will greatly help in pinpointing some of the scalability/perf issues. It will most likely require plumbing the request context through various parts of the backend services/business logic that call external APIs.

[2021-11-22 20:26] jshaughn opened #4521 "Hide graph labels that are too small to read"
Related to Discussion https://github.com/kiali/kiali/discussions/4518.

It's been mentioned in a variety of places and basically, if the graph is zoomed to a degree that labels are unreadable, it would probably be better to hide the labels such that the graph may get an improved, cleaner layout.

[2021-11-22 20:43] jmazzitelli commented on #4483
The `quay.io/openshift/origin-ansible-operator` image does not support multiarch and will not support it any time soon. So we need to abandon its use for now and go back to using the other community image `quay.io/operator-framework/ansible-operator`.

To know the version of the operator-framework that is packaged in the origin-ansible-operator we were using (tag=`4.8`), you can just run the image

[2021-11-22 21:03] jmazzitelli commented on #4483
If we want to move to the SDK found in the 4.9 origin image, that would be v1.10.1:

[code]

[2021-11-23 07:09] dirkckau commented on #4492
Is there any sample file that can share to us?
We want to confirm the format.

From my side, i always go the error:"Error fetching OpenID provider metadata." and hence that i cannot proceed my development on Kiali.

Here attached with my ca-bundle configMap file FYI.
[kiali-cabundle.zip](https://github.com/kiali/kiali/files/7586246/kiali-cabundle.zip)

Or do we need any custom overwrite in the val

[2021-11-23 07:42] lucasponce commented on #4521
One aspect that I really like and I commented in several forums is that these kind of problems are very well known in other spaces (like GIS or vectorial maps).

No need to go deep, but using some automatic display of labelling if user is in the proper zoom sounds a good approach.

Cytoscape has an example that shows this feature:
https://js.cytoscape.org/demos/tokyo-railways/

But it's not straig

[2021-11-23 09:08] lucasponce commented on #4426
Closed by https://github.com/kiali/kiali/pull/4456

[2021-11-23 09:08] #4426 closed

[2021-11-23 10:36] jmazzitelli commented on #4492
Your yaml in the above comment is hard to read. To format yaml in these github comments, surround the yaml with triple-tick marks (```): Example:

\`\`\`yaml
... put your yaml here ...
\`\`\`

e.g.
[code]

[2021-11-23 14:50] jmazzitelli opened #4525 "use openshift/origin-ansible-operator base image when it supports multiarch"
We would like to use [openshift/origin-ansible-operator](https://quay.io/repository/openshift/origin-ansible-operator?tab=tags) as the base image for the kiali operator. Unfortunately, that image does not support multicarch today. When it does, we should start using it.

This means we need to wait for this issue to be fixed: https://issues.redhat.com/browse/DPTP-2630

See:
* https://github.com/kia

[2021-11-23 16:47] israel-hdez commented on #4492
@dirkckau I parsed your cert and it does parses correctly (I'm not getting the "supplied OpenId CA file cannot be parsed" error)

You may want to check that the crt file is mounted correctly to the Kiali pod. These commands may help:

[code]

If the output of the last command prints the original certificate file, all should be good. If it still fails, please provide the detailed error message. Sev

[2021-11-23 18:04] #4483 closed

[2021-11-23 18:04] jmazzitelli commented on #4483
Reverted back to the operator-framework image since it supports multiarch and the other image (as of today) does not.

[2021-11-23 19:19] #4485 closed

[2021-11-23 19:21] jmazzitelli commented on #4485
@jshaughn I put this down as "backport/1.36" but maybe we don't need to backport these changes. Thoughts?

[2021-11-23 20:13] jshaughn commented on #4485
@jmazzitelli , We don't need to backport new features and I'd say this is probably not a bug fix, at least not until someone files a complaint.  So, for now I'd say we just roll forward and let this show up in the next downstream operator.  If that sounds right to you then remove the label.  If anyone disagrees we can add it back.

[2021-11-23 22:15] #3786 closed

[2021-11-24 14:05] leandroberetta commented on #4457
Very nice idea, I guess it would be very useful to have a page for the control plane configuration, I'm thinking also in configurations like custom certs, root namespace and many more.

[2021-11-25 17:53] FilipB opened #4527 "Possible memory leak in /api/istio/status endpoint"
When hitting /api/istio/status endpoint kiali pod memory usage grows steadily until it reaches 1GB limit and the pod is OOMKiled.

### Version
Kiali UI
    1.44.0 (e3238fb2f2493b23540125d4e15d4665e608dc8c)
Kiali Server
    v1.44.0-SNAPSHOT (e9a4b6f469d9bb1a0eef3bfabe5b0a9e4a83ffcd)
Kiali Container
    v1.44.0-SNAPSHOT
Istio
    1.12.0
Prometheus
    2.26.0
Kubernetes
    v1.22.2+5e38c72

### Repro

[2021-11-26 07:23] FilipB commented on #4527
When removing the pod memory limit it grows to 6GB after 10 minutes. It's growing linearly.

[2021-11-26 07:39] lucasponce commented on #4527
Thanks @FilipB, I'll investigate this endpoint, it sounds a clear leak from your comments.

[2021-11-26 10:17] lucasponce commented on #4527
@FilipB these are the steps I did for the investigation.

I used latest "master" Kiali code but on a CRC Maistra 2.1/Istio 1.9 environment, I guess that if the problem is a leak, the version of Istio shouldn't affect here.

First step was to test the endpoint using an "anonymous" strategy, and with a similar rate of concurrent users, the backend was stable in ~150 Mb of RAM, also the garbage colle

[2021-11-26 11:08] lucasponce commented on #4527
Using the repro.sh have same results:

![image](https://user-images.githubusercontent.com/1662329/143571826-55fe68d8-de91-4cd6-8b69-6e8241dc1fe2.png)

![image](https://user-images.githubusercontent.com/1662329/143571860-9322ef2b-fff6-48a9-8126-1f5d6e7c9022.png)

[2021-11-26 12:24] lucasponce commented on #4527
Ok, as discussed, when using the `/api/istio/status` on upstream with Jaeger configured in grpc, the kiali backend has a problem with the jaeger client generated, probably due the bump of the protobuf dependencies.

That created a memory leak in those cases, and generally, the traces feature were broken using grpc after that bump.

I think then the issue is more clear and that explains that my fir

[2021-11-26 14:16] hhovsepy opened #4528 "Refactor Kiali Validations according to Istio Registry usage model for listing Configs and Services"

[2021-11-26 16:21] stevehipwell commented on #4278
I naively assumed that due to Tempo using the Zipkin protocol and Jaeger query engine that it would work correctly with Kiali; it works correctly with Istio.

Has anyone looked into this further, I can see the following two integration points potentially needing a small amount of work.

- Query traces from Tempo
  - OpenTelemetry maybe, otherwise I think it's almost identical to Jaeger
- Use Grafa

[2021-11-26 16:44] lucasponce commented on #4278
Hi @stevehipwell,

We haven't yet exploring this issue, if you'd like to collaborate (creating some example about how it would be to connect Tempo with Istio and how Tempo can be queried with some example) that would be a good start and Kiali could have some plugability on this side.

[2021-11-26 17:06] stevehipwell commented on #4278
@lucasponce could you point me at the current Jaeger integration points in the code for query and dashboard?

[2021-11-27 14:47] kvrhdn commented on #4278
Hi, Grafana Tempo maintainer here :wave: It would be awesome if you could use Tempo as tracing backend for Kiali. I can help out with getting to know Tempo and its API.

So first of all: Grafana Tempo is able to ingest a myriad of formats including OpenTelemetry, Jaeger and Zipkin. Internally we convert every format into the OpenTelemetry format and use that to store traces on s3/gcs. We have a qu

[2021-11-29 07:54] lucasponce commented on #4278
Hi @stevehipwell and @kvrhdn,

Thanks for jumping into this, I guess if it gets traction the best could create a foundation project (perhaps in the opentelemetry umbrella?) to have a "generic" client that offers an abstraction layer for basic tracing query capabilities.

In that case, we could remove the direct dependency in Kiali and use this library, and with that layer, more backends could be a

[2021-11-29 07:54] #4510 closed

[2021-11-29 11:51] stevehipwell commented on #4278
@lucasponce would it be worth Kiali reaching out to the OpenTelemetry project to get a steer on what they think the query API solution should look like? I think that alongside Grafana, Kiali would be one of the big winners of an OpenTelemetry query API allowing interchangeable backends.

In the meantime I don't think you'd go far wrong with crating a Tempo client for Kiali; I suspect the OpenTelem

[2021-11-29 12:07] kvrhdn commented on #4278
Oh, it seems I was mistaken about a OpenTelemetry query API: Jaeger added an OpenTelemetry-compatible endpoint a while back (https://github.com/jaegertracing/jaeger-idl/pull/76), this endpoint simply returns traces from Jaeger in the OpenTelemetry format. I must have misinterpreted this as something more generic than it actually is.
Even if there is no common API, I think it's still worth supporti

[2021-11-29 12:39] lucasponce commented on #4278
It was in the agenda, thanks to this thread we can add more references and potentially push for it.

I'll create a request in the OpenTelemetry group to see how this can move, also the way to query the jaeger backend is not yet perfect and a solid abstraction layer here would really help.

I'll put it in my todo list for next week, I'll update this thread as well.

[2021-11-29 19:28] #4494 closed

[2021-12-01 09:06] lucasponce commented on #4241
I've modified the title of this issue/epic as I think this effort can be used to re-design/refactor the current side panel used in the Istio config editor to add more value to the users.

Today, the side panel:
- Is used only on a limited set of resources.
- It has some outdated features (i.e. VS route visualization is not adding real value).

We could use this effort to:
- Add the side panel in a

[2021-12-01 09:11] #4527 closed

[2021-12-01 13:11] #4449 closed

[2021-12-01 13:12] #4450 closed

[2021-12-01 13:13] leandroberetta commented on #3062
Closing this epic as its sub tasks are completed and merged.

[2021-12-01 13:13] #3062 closed

[2021-12-01 18:27] #4462 closed

[2021-12-01 22:02] #4488 closed

[2021-12-01 22:16] jshaughn commented on #4488
@MugenTwo I would still like to hear if this is working well for you, but if you can't test an unofficial image, I have added the change to v1.44, to be released on Friday.

[2021-12-02 13:48] MugenTwo commented on #4488
I should be able to test this around 2nd/3rd week of December. Will let you know then. Thanks! Best regards.

[2021-12-02 15:46] bj-1795 opened #4538 "Not able to load graphs on kiali."

[2021-12-02 15:47] bj-1795 commented on #4538
I have installed kiali via operator .

KialiCR.yml

[2021-12-02 15:52] lucasponce commented on #4538
Can you add details of the Istio version, the platform/cluster and more details ?

The error in the log means that the workloadgroups api of Istio is not present and that could mean that you're trying to install Kiali in an old (non supported) Istio version.

[2021-12-02 16:26] bj-1795 commented on #4538
@jshaughn @lucasponce I am able to get metrics in prometheus.

istio version - 1.7.2 on AWS EKS

[2021-12-02 16:26] jmazzitelli commented on #4538
1.  Can you wrap the yaml in github triple-ticks so the yaml is formatted. Your description shows yaml but is not formatted so it is hard to read.
2. I'll convert this to a discussion - so far this does not warrant a bug report. If it is truly a bug, we can convert back to bug/issue.

[2021-12-02 16:26] #4538 closed

[2021-12-02 21:03] jmazzitelli opened #4540 "[operator] update operator to base image 1.10.1 (4.9)"
We want to upgrade the operator to use `quay.io/openshift/origin-ansible-operator:4.9` (corresponds to downstream `openshift/ose-ansible-operator:v4.9`). However, because that one in quay.io doesn't support multiarch today, we need to use the image `quay.io/operator-framework/ansible-operator:v1.10.1` (that is what the 4.9 image is based on).

So that's the first thing - we need the Dockerfile to

[2021-12-02 21:05] jmazzitelli commented on #4540
When we do this, we might be able to implement the fix for this issue, too: https://github.com/kiali/kiali/issues/3949 (we need to see if the latest collection has that needed patch - and it must be available in the downstream 4.9 image too before we try to fix it).

[2021-12-02 21:12] jmazzitelli commented on #3949
FYI: following the steps listed at https://github.com/kiali/kiali/issues/3949#issuecomment-896086201 I can see the 4.9 images are ready:

[code]

[2021-12-03 11:00] lucasponce commented on #4458
Closed by https://github.com/kiali/kiali/pull/4520

[2021-12-03 11:00] #4458 closed

[2021-12-03 17:23] israel-hdez opened #4541 "Graph: Correctly badge service nodes with the VS/Route icon"
The code that is badging service nodes in the graph is not badging some nodes being affected by VirtualServices.

Historically, the code that is adding VS badges works by matching the Service Name and the VS name to decide if a badge is added. If this still holds true, probably that code should be enhanced to do matching using the routes in the VS definition similarly to the way other appenders in

[2021-12-03 17:50] jmazzitelli commented on #4121
taking off the waiting-for-external label - i think this is ready to be done now. Will be done as part of https://github.com/kiali/kiali/issues/4540

[2021-12-03 17:50] jmazzitelli commented on #3949
When issue https://github.com/kiali/kiali/issues/4540 is done, this issue can then be worked on.

[2021-12-03 20:17] israel-hdez opened #4542 "Auth: Phase out usage of JWTs"
Most Kiali's authentication mechanisms are using own JWTs.

In the past, usage of JWTs was introduced as a mechanism to avoid credential forging. The UI stored the token and it was handy to have some data in plain text form because the UI could extract by its own means some data of the token (like the username) to display on the UI or for any purposes. Then, the signature of the JWT prevented cred

[2021-12-03 20:40] jshaughn commented on #4542
This has been a source of security concern, adding to the backlog.

[2021-12-05 21:24] jmazzitelli opened #4545 "publish 1.44 metadata to OperatorHub.io / RedHat Community"
- https://github.com/kiali/kiali-operator/tree/master/manifests/kiali-upstream/1.44.0
- https://github.com/kiali/kiali-operator/tree/master/manifests/kiali-community/1.44.0

[2021-12-06 12:02] hhovsepy opened #4546 "Redesign the "exportTo" and crossvalidations to use the registry which have extra information"

[2021-12-06 16:38] jmazzitelli commented on #4545
PRs:
* https://github.com/k8s-operatorhub/community-operators/pull/472
* https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/506

[2021-12-06 17:44] jmazzitelli commented on #4545
both PRs are merged

[2021-12-06 18:07] jshaughn opened #4547 "[graph] Enable namespace and cluster boxing by default"
Related to graph-scale usability discussion (https://github.com/kiali/kiali/discussions/4518) and also discussed on Slack.

Larger graphs are usually more consumable when namespaces and clusters are boxed.  As such, this request is to have those boxing options enabled by default.  But, at the same, boxing can be reduced in situations where it is unecessary.  In particular, it generates "visual fat

[2021-12-06 22:18] jmazzitelli commented on #3949
the fix described [here](https://github.com/kiali/kiali/issues/3949#issuecomment-844142922) is implemented in PR https://github.com/kiali/kiali-operator/pull/463

[2021-12-07 09:41] Nizar-opt opened #4551 "Read openid.client_id value from existing k8s secret in kiali-operator helm chart"
In kiali-operator helm chart, we have the option to set sensitive values as `"secret:<secretName>:<secretKey>"` only in the external_services auth section as mentioned [here](https://github.com/kiali/kiali-operator/blob/cd0259d84beb382a9532b7e444e7eff08a0715e6/deploy/kiali/kiali_cr.yaml#L493).
However, It would be helpful to be able to use the same format to set [auth.openid.client_id](https://git

[2021-12-07 14:16] leandroberetta opened #4552 "Allow dynamic markers on editor according to Istio config object"
For the epic #4241.

One of the new features of the side panel redesign will be dynamic help/insights depending on the Istio configuration object displayed on the side panel.

This issue prepares the editor allowing the creation of dynamic markers targetting the side panel.

[2021-12-07 14:19] leandroberetta opened #4553 "Base side panel redesign for Istio config objects"
For epic #4241.

Base redesign for then designing each side panel for each Istio config object.

[2021-12-07 14:25] leandroberetta opened #4554 "Add help messages for DestinationRules"
For epic #4241.

[2021-12-07 14:25] leandroberetta opened #4555 "Add help messages for EnvoyFilters"
For epic #4241.

[2021-12-07 14:26] leandroberetta opened #4556 "Add help messages for Gateways"
For epic #4241.

[2021-12-07 14:26] leandroberetta opened #4557 "Add help messages for ServiceEntries"
For epic #4241.

[2021-12-07 14:27] leandroberetta opened #4558 "Add help messages for Sidecars"
For epic #4241.

[2021-12-07 14:27] leandroberetta opened #4559 "Add help messages for VirtualServices"
For epic #4241.

Backend PR: [#4740](https://github.com/kiali/kiali/pull/4740)

[2021-12-07 14:28] leandroberetta opened #4560 "Add help messages for WorkloadEntries"
For epic #4241.

[2021-12-07 14:29] leandroberetta opened #4561 "Add help messages for WorkloadGroups"
For epic #4241.

[2021-12-07 14:29] leandroberetta opened #4562 "Add help messages for AuthorizationPolicies"
For epic #4241.

[2021-12-07 14:29] leandroberetta opened #4563 "Add help messages for PeerAuthentications"
For epic #4241.

[2021-12-07 14:30] leandroberetta opened #4564 "Redesign of the side panel for RequestAuthentications"
For epic #4241.

[2021-12-07 14:31] leandroberetta commented on #4241
Tasks for this epic:

- https://github.com/kiali/kiali/issues/4552
- https://github.com/kiali/kiali/issues/4553
- https://github.com/kiali/kiali/issues/4554
- https://github.com/kiali/kiali/issues/4555
- https://github.com/kiali/kiali/issues/4556
- https://github.com/kiali/kiali/issues/4557
- https://github.com/kiali/kiali/issues/4558
- https://github.com/kiali/kiali/issues/4559
- https://github.c

[2021-12-07 15:36] israel-hdez commented on #4551
Duplicate of #3563

[2021-12-07 21:59] jshaughn opened #4566 "[graph perf] use graph traffic rates for health of graph nodes"
Related to discussion https://github.com/kiali/kiali/discussions/4507

There is a fair amount of ineffeciency/technical debt in the way the graph incorporates health.  In the last year or so we did a lot of work to improve the rate calculations in the graph, better incorporating source and destination reporting.  This helped align graph rates with the health rates.   But the two are still calculat

[2021-12-09 09:15] lucasponce commented on #4278
@kvrhdn @stevehipwell FYI https://github.com/open-telemetry/oteps/issues/193

[2021-12-09 09:18] maxbischoff opened #4570 ""Could not fetch services list" Error in Service view when selecting some namespaces"
After upgrading our Kiali to v1.44 the Service view does not show any Services anymore, when some namespaces are selected. For other namespaces (e.g. only `istio-system`) the Service list is rendered correctly.

![Screenshot 2021-12-08 at 09 58 01](https://user-images.githubusercontent.com/12122170/145367768-8e4d8db0-3d04-4e3c-929c-665ed8451f14.png)

![Screenshot 2021-12-08 at 09 58 10](https://us

[2021-12-09 09:32] lucasponce commented on #4570
Would you see any other endpoint failing in the browser ?
Anything in the Kiali log ?

[2021-12-09 09:43] lucasponce commented on #4566
I think this deseves a proper discussion before to start a PoC, better defining the design and goal, a lot of aspects to discuss and there were several engineers working on the health services.

[2021-12-09 11:33] maxbischoff commented on #4570
The logs show only some port-forward failures, which I wanted to report separately, as I think they are unrelated:

[code]

These occur from time to time. When opening the Services Windows I see following log:

[code]

The networking tab in my browser dev-tools shows no failed requests at all (all have status `200`)

[2021-12-09 11:47] lucasponce commented on #4570
@maxbischoff it looks like the kiali pod can't query the istiod pod to fetch the status information.
do you have a way to reproduce this error ? or do you have some extra security between kiali pod, istiod pod and data plane pod ?

[2021-12-09 11:49] lucasponce commented on #4570
Does this FAQ https://kiali.io/docs/faq/general/#what-do-i-need-to-run-kiali-in-a-private-cluster help ?

[2021-12-09 12:16] lucasponce commented on #4570
Minikube with Istio 1.12 and Kiali 1.44 (updated used the Kiali operator):
![image](https://user-images.githubusercontent.com/1662329/145394427-3a97aeec-a000-4463-9bfa-ad2faf1e4d02.png)
![image](https://user-images.githubusercontent.com/1662329/145394466-b034cde0-d2e0-4974-803b-fa1772253be7.png)
![image](https://user-images.githubusercontent.com/1662329/145394502-7215a976-0ca5-4477-addc-554877dc5d

[2021-12-09 12:28] maxbischoff commented on #4570
I have not changed the default istiod port, and security relevant settings (especially RBAC and the Service Account) are unchanged from my working `v1.38.0` installation of Kiali.

I installed Kiali using helm with following values into the namespace `kiali`:

[code]

When starting a pod with an image containing `kubectl` in the `kiali` namespace using the `kiali` ServiceAccount, port-forwarding w

[2021-12-09 12:32] maxbischoff commented on #4570
There are no firewalls blocking traffic to the mentioned ports. Otherwise I don't see anything helpful for my particular problem there :/

[2021-12-09 13:26] jshaughn commented on #4566
I can call a meeting, for anyone interested there is a decent amount of gh discussion if you recursively follow back the discussion link :-)

[2021-12-09 13:33] maxbischoff commented on #4570
I tried a quick installation using the operator and found the same problem in the UI. I have not yet encountered port-forward problems, so maybe that was fixed by the operator install. Is the operator install the only officially supported installation method?
Since the problem only appears for a few of my namespaces, I just checked what might make these namespaces special. Turns out the namespaces

[2021-12-09 13:48] maxbischoff commented on #4570
It just occured to me, that the port-forward issues are probably due to this bug currently appearing in our istiod: https://github.com/istio/istio/issues/36448
After this bug appears istiod doesn't seem immediately crash, so there might be a time period, where the ports are actually closed. That would also explain why the UI mostly works, except for this Service issue.

[2021-12-09 14:00] lucasponce commented on #4566
I'm surprised that this is an issue setup in the backlog.

Something is missing to me.

[2021-12-09 16:44] jshaughn commented on #4566
@lucasponce, all, I hope this more detailed description of what the POC was meant to try, will be helpful.  Comments welcome.

This is roughly the algorithm for graph generation and health assignment (should probably be a UML-type diagram here but I'm terrible at diagrams, so I'll attempt a table approach):

|   | UI | Server |
|---|----|--------|
|1 | Request graph based on time period, graph typ

[2021-12-09 17:41] lucasponce commented on #4566
Thanks for the details.

What is described is a bottom-up approach of a large epic, which is valid, meaning to start moving the Health calculation to a composition from the backend.

Starting from the Graph but this should have a broader scenario, as this pattern is used not only on graph:

![image](https://user-images.githubusercontent.com/1662329/145446269-f14a2fd6-257a-436a-92f1-a64a888d81a1.pn

[2021-12-09 20:12] jshaughn commented on #4566
Thanks for more insight into what you mean when you talk about "top-down" and "model", and the direction from which you are thinking.  First of all, I don't disagree that it could be very good, in many cases, to have the backend be able to render a pre-calculated health result.  And I do know that there is caching for health queries to Prometheus, I helped to ensure the cache was hit by ensuring c

[2021-12-10 07:38] lucasponce commented on #4566
This is what "the model" discussion should be, as those queries may not be available (or partially available) in the near term, that's why I think this discussion is needed.

[2021-12-10 08:21] lucasponce commented on #4570
I have a basic fix to protect the registry call https://github.com/kiali/kiali/pull/4572 but what you comment in your last comment adds new information.

Ok, so, it seems that in multicluster scenarios, the "istiod" state is replicated. That may explain why we didn't face this problem, basically it's a new feature that hasn't been tested in multiclusters installations yet.

Some questions:

- To c

[2021-12-10 13:56] #4121 closed

[2021-12-10 13:56] #4540 closed

[2021-12-10 14:08] maxbischoff commented on #4570
Hi,

to address your questions:

- Yes, there are "good" namespaces that can be selected and generate the expected view. When I load the Services view while selecting at least one "bad" namespace (using URI params), the view is not generated anymore.
- All namespaces are replicated in our setup (we have two clusters in the current setup that provide cross-DC redundancy for the users of our plattfo

[2021-12-13 06:27] FilipB opened #4576 "Kiali installation fails with No module named 'kubernetes.dynamic'"
Installation of current Kiali master fails with:
[code]

Tested in OCP 4.8 and 4.9.

Kiali operator log attached:
[kiali-operator-7c55cd898d-q5q2b-operator.log](https://github.com/kiali/kiali/files/7701432/kiali-operator-7c55cd898d-q5q2b-operator.log)

This issue is not visible when using Kiali operator build '11575aa' so it's probably caused by https://github.com/kiali/kiali-operator/pull/460

[2021-12-13 10:09] lucasponce commented on #4570
Thanks @maxbischoff, I've setup a minikube multicluster primary-primary scenario and now I understand the issue :).
Yes, it's a good catch.

Also, there was some noise in the logs, the "proxy problem" is not directly related, I think that is due the demo environment, but in a clean minikube setup, I see a problem in the multi-cluster scenario as some services are replicated and not properly filter

[2021-12-13 11:43] hhovsepy commented on #4486
This issue is resolved in Kiali v1.44.

[2021-12-13 11:43] #4486 closed

[2021-12-13 11:50] hhovsepy commented on #4316
The support was added on following validations:
"KIA0202 This host has no matching entry in the service registry (service, workload or service entries)",
"KIA0104 This host has no matching entry in the service registry",
"KIA1004 This host has no matching entry in the service registry"

[2021-12-13 13:09] jmazzitelli commented on #4576
Did you rebuild the operator? This should be working - I suspect your internal processes are not building this correctly. You need to build with the new base image and you need to install the correct requirements now.

Where did you get your operator image?

(i.e. i don't think this is a bug)

[2021-12-13 13:12] jmazzitelli commented on #4576
[code]

[2021-12-13 13:13] jmazzitelli commented on #4576
this is the important part you are missing in your build:
[code]

[2021-12-13 13:34] jmazzitelli opened #4577 "[operator] go over the official operator framework docs on best practices"
We already should have updated everything for this as part of the work we did for https://github.com/kiali/kiali/issues/4485, but new official documentation has just been published by the Operator Framework folks so we should review these two pages and make sure we do everything they recommend. Again, I don't think there is anything new here for us to do, but because these are freshly published an

[2021-12-13 14:23] FilipB commented on #4576
Of course it's our internal process. We have OPERATOR_SDK_VERSION hardcoded in our job for some reason. Sorry, closing.

[2021-12-13 15:42] hhovsepy commented on #4382
@lucasponce about the idea of getting registry endpoints or directly getting any information from RegistryStatus in validation methods such as "no_dest_checker.go's method .hasMatchingService". Is it still actual? .Because in current structure we get all information from registry in "istio_validations" and then pass it to particular validations.

[2021-12-13 17:53] jshaughn commented on #4406
@prary Did you ever resolve your issue?

[2021-12-13 18:01] hhovsepy commented on #4477
Hi @pantianying is it working for you now?

[2021-12-14 01:43] jmazzitelli opened #4582 "tests should use latest minikube and dex to keep up to date"
We need our molecule tests to run against the latest minikube and Dex.

PRs:
* https://github.com/kiali/kiali/pull/4575
* https://github.com/kiali/kiali-operator/pull/466

[2021-12-14 04:03] penghuazhou opened #4583 "How to support jaeger in Multi-cluster environment?"
I have a test environment and a production environment, and both environments report data to the same Jaeger. How does Kiali in production only show jaeger data in production?

[2021-12-14 06:13] pantianying commented on #4477
Thank you for your reply
I checked that ，all Dnaapp /RS/ POD all have app labels

like that：
![image](https://user-images.githubusercontent.com/20589945/145942764-13ebca95-9ad7-4c9f-823b-d7d25d8b4e6e.png)
![image](https://user-images.githubusercontent.com/20589945/145942894-68bb3782-b2ad-4e97-8be0-1fad4ed04abf.png)
![image](https://user-images.githubusercontent.com/20589945/145942981-13528ec9-8176

[2021-12-14 08:11] lucasponce commented on #4382
In the initial assestment it looked a good idea but I thought that when the lead of the effort start to work on the topic he/she could decide which is the best approach.

So, @hhovsepy as you are working on the area, you may be in a better position which approach could be most interesting.

Registry endpoints are interesting because they have all labels from the workloads.

But in the other side,

[2021-12-14 08:47] lucasponce opened #4585 "Develop a mock backend server for local UI work in scalability scenarios"
During the scalability discussion, https://github.com/kiali/kiali/discussions/4518 or https://github.com/kiali/kiali/discussions/4080 one of the challenges identified is how to test a large deployment.

Developers use small clusters for feature works and there is the need to improve the mocks artifacts to have tools that allow focusing on large deployments without the need to get access to such la

[2021-12-14 09:04] maxbischoff opened #4586 "target Namespace is not considered when validating Gateway host duplicates"
The duplicate Gateway Host Validation only considers Ports and Selectors for separating the Comparison Spaces for Gateways. No special consideration was given for Hosts in the namespace/host Syntax (see [hosts in Gateway.spec.servers](https://istio.io/latest/docs/reference/config/networking/gateway/#Server) for a detailed description of this syntax).

This causes false Negatives when a host is giv

[2021-12-14 09:13] lucasponce commented on #4586
cc-ing @hhovsepy

[2021-12-14 09:43] lucasponce opened #4588 "Adjust font style in trace details comparison map"
When comparison map has 4 digits the text presents an overflow that makes break the style in some cases:
![image](https://user-images.githubusercontent.com/1662329/145973345-7874a506-f5ca-4a8d-88bd-6edbd0f41fd1.png)

[2021-12-14 09:55] lucasponce opened #4589 "Minigraph navigation broken"
Using master there are some broken events triggered by the minigraph navigation:
![image](https://user-images.githubusercontent.com/1662329/145975399-af140ecb-bda6-488e-80f2-9fdeb417cd00.png)

Probably it's related to the whole page, but it seems that when the navigation happens some data is not available.

[2021-12-14 10:37] maxbischoff opened #4590 "Unnecessary slow regex.Compile in kialiCacheImpl.isCached"
Since we had problems with Kiali using very much CPU while still being very slow, I analyzed performance in our cluster [using pprof](https://github.com/maxbischoff/kiali/commit/69865f05f7b5247e256b5dc82d145e6bbd708f1f).

I found that the `kubernetes_config.cache_namespaces` regexes are recompiled for each namespace, that is checked for existence in the Kiali Cache (see red box in image):

![profi

[2021-12-14 11:04] maxbischoff opened #4592 "Number of regex.Compile() calls in multi_match_checker scales quadratically with hosts checked"
Since we had problems with Kiali using very much CPU while still being very slow, I analyzed performance in our cluster using pprof.

I found that when checking for host conflicts in istio Gateways, every comparison of two hosts incorporates two regex.Compile() calls (one for each host name) that are quite slow. You can see the impact in my pprof graph (the regex Compiles make up 109 seconds of CP

[2021-12-14 13:37] #3949 closed

[2021-12-14 15:52] nrfox commented on #4585
Thanks for opening this. I briefly looked into using kiali's openapi spec to create a mock server implementation. An advantage of using the openapi spec is that it will get updated automatically as the api changes.

There seemed to be some circular dependencies in the openapi spec perhaps caused by the generation tool we're using. [AuthorizationPolicy](https://github.com/kiali/kiali/blob/master/sw

[2021-12-14 16:06] lucasponce commented on #4585
In my mind I was thinking in something pretty simple, that would give flexibility to capture a .json from a response in a live server and put it in a folder, ready to be served. Perhaps some regex when using an endpoint with parameters but something that would need a lot of maintenance.

But +1 for ideas, I'm not familiar and probably there should be some framework that fits here.
If the mocking s

[2021-12-14 19:18] nrfox commented on #4585
That's pretty much what I was thinking as well. I was hoping to avoid needing to manually stub out the various api endpoints by using the openapi spec to generate them but I think we'll need to fix the openapi spec first.

I briefly looked at [prism](https://meta.stoplight.io/docs/prism/ZG9jOjkz-concepts#mocking) but didn't see a way to easily serve up predefined responses using that tool.

[2021-12-14 20:32] eumel8 opened #4594 "Wrong API Url in Rancher Multi-Cluster setup"
Kiali: 1.44
Kubernetes: 1.20.12
Istio: 1.12.0

I have installed Kiali in Istio Downstream cluster managed by Rancher. When I klick on Mesh menu in the Kiali UI the remote cluster is named but the endpoint is not reachable. The following error occured in log:

[code]

I discovered Rancher API and observed the following request:

[code]

My remote secret looks like this:

[code]

Compared kubectl wi

[2021-12-14 21:08] jmazzitelli commented on #4594
I'm confused why this isn't being reported to the Rancher folks? This doesn't appear to be a bug in Kiali and in fact it doesn't sound like Kiali was even deployed using a Kiali installation mechanism.

I don't think there is anything we (Kiali community) can do for you. You should ask the Rancher folks. I'm going to convert this to a GitHub Discussion - right now it does not appear to be appropri

[2021-12-15 08:12] lucasponce commented on #4585
May be we need a simple file server like in the good Apache days.
For example, this would be my flow:
1.- Update the UI proxy with the local server `"proxy": "http://localhost:8100",`
2.- A target in the package.json may start this i.e. `yarn start:local-server`
3.- Then a query like this:
[code]
can be translated into server a .json file
[code]
4.- For queries with web parameters, those can be ma

[2021-12-15 13:54] nrfox opened #4597 "Add pprof endpoints for debugging perf issues"
Taking inspiration from https://github.com/maxbischoff/kiali/commit/69865f05f7b5247e256b5dc82d145e6bbd708f1f, having pprof endpoints will help in diagnosing perf issues.

The debug handlers can be optionally added at runtime when a config option is enabled, something like `config.Server.Debug = true`, but disabled by default.

[2021-12-15 15:51] #4586 closed

[2021-12-15 17:41] #4590 closed

[2021-12-15 18:41] nrfox opened #4598 "Embed static files directly in go binary"
Rather than including the kiali-ui assets in the dockerfile, [embed](https://pkg.go.dev/embed#hdr-Directives) the static assets in go the binary.

[2021-12-15 18:48] nrfox commented on #4585
This sounds good to start with.

This sounds pretty tedious to deal with and another reason we can hopefully autogenerate this kind of thing in the future. In the short term, instead of capturing _all_ the possible parameters, perhaps we can just start with one or two variations.

Does it have to be :D?

[2021-12-15 18:52] jmazzitelli commented on #4577
I just reviewed the documentation and as expected we incorporate all the best practices that are mentioned. For completeness, I will give the details below of all the places where we implement these:

* https://master.sdk.operatorframework.io/docs/best-practices/managing-resources/
(1) `Operators should always include reasonable memory and CPU resource requests for their own deployment as well as

[2021-12-15 18:52] #4577 closed

[2021-12-15 19:07] #4547 closed

[2021-12-15 19:19] nrfox commented on #4477
@pantianying in the example you posted, can you try changing the name of your custom resource `stable-abas-container` to just `abas`? I wonder if Kiali is making some assumptions about naming of workloads when there's a replicaset in between the top level workload and the pods.

[2021-12-15 20:57] ScriptingShrimp commented on #4585
Lets go with Cypress.
https://docs.cypress.io/guides/guides/network-requests#Stubbing
https://docs.cypress.io/guides/guides/network-requests#Fixtures

I can do demo for that if you want.

[2021-12-16 03:08] pantianying commented on #4477
<img width="1215" alt="截屏2021-12-16 上午11 05 07" src="https://user-images.githubusercontent.com/20589945/146300967-e6620e44-0224-48a9-8692-2e169fda165e.png">

I tried to do this and it seems to find pod but pod is wrong, I have both 'app=thresh' and 'app=thresh-front' pod but Thresh's dnaapp seems to find Pod for thresh-front on Kiali. There seems to be some kind of bug, but in general, other pods

[2021-12-16 08:30] lucasponce commented on #4585
+1 @ScriptingShrimp, if it helps, the ideal Developers flow should be something as described in https://github.com/kiali/kiali/issues/4585#issuecomment-994477157

I mean as one of the risk to avoid is to introduce a comprenhensive/complex framework that make developers to spend time updating.

But I'm sure some of the frameworks there should be useful :), please, feel free to prepare anything and

[2021-12-16 10:28] #4224 closed

[2021-12-16 11:02] matty111 opened #4600 "Integration Open Policy Agent (OPA)"
I've seen this open source project (OPA) and Istio is beginning to support these policies.
I believe to be most interesting to think kiali (and its ui) manage these policies in the future.

[2021-12-16 12:07] lucasponce opened #4601 "Research a new Graph layout to support large topologies"
The goal of this epic is to progress in the usability of the Graph on large scenarios.

A lot of ideas and brainstorming have already been captured in the discussions:

https://github.com/kiali/kiali/discussions/4080
https://github.com/kiali/kiali/discussions/4518

Large scenarios can be grouped into two dimensions:
- Clusters with few namespaces but highly populated.
- Clusters with a high number

[2021-12-16 12:46] js-timbirkett opened #4603 "v1.44.0 panic when caches are enabled"
When caching is enabled (default is `true`):
[code]

Kiali throws a lovely big error / panic and proceeds to crashloop:

[code]

Istio version: 1.6.14
K8S  version: 1.20.x (AWS EKS)

[2021-12-16 13:14] lucasponce commented on #4603
Note that Kiali 1.44 is expected to work with Istio +1.12, so that error is somehow expected.

Take a look to the compatibility matrix:
https://kiali.io/docs/installation/installation-guide/prerequisites/

[2021-12-16 13:19] lucasponce opened #4604 "Kiali should check the Istio version and throws a warning about compatibility"
I wonder if it's worth to develop a self message in Kiali checking the Istio version used.

That would help users to be aware if they are trying to deploy Kiali in a non compatible Istio version and save some time while troobleshooting.

[2021-12-16 13:57] lucasponce opened #4605 "Research workload/service label filters on Graph"
Kiali offers visualization for different pre-defined types of Graphs: applications, workload, services, and versioned applications.

During the scalability discussions, https://github.com/kiali/kiali/discussions/4080 one area to improve is to let the user define the list of elements to represent in a Graph using filtering expressions.

It's a common practice in Kubernetes to use labels to filter w

[2021-12-16 14:06] bj-1795 opened #4606 "Kilai throws error when value of accesible_namespace is changed in CR."
I have multi-env cluster, where i want to install kiali in per namespace of application. I have tried to use lablel and accesible_namespaces in CR for this purpose but getting below error:

Failed to create object: b'{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"namespaces is forbidden: User \\"system:serviceaccount:kiali-operator:kiali-operator\\" cannot create re

[2021-12-16 14:40] jmazzitelli commented on #4606
This is not a bug - moving this to github discussions and removing the bug label

[2021-12-16 15:53] jmazzitelli commented on #4603
Yes, Kiali 1.44 is not compatible with Istio 1.6 - in fact, Istio 1.6 is EOL/out of support even upstream AFAIK.

[2021-12-16 15:55] jmazzitelli commented on #4603
Yeah, as of Nov 2020 - Istio 1.6 is EOL -- https://istio.io/latest/news/support/announcing-1.6-eol-final/

[2021-12-16 18:39] jshaughn commented on #4521
A technical note.  Cytoscape supports something called "min-zoomed-font-size", which is a way to configure the minimum font for node or edge labels, before cytoscape hides the label automatically.  On the surface this seems like the perfect thing to address this issue, but unfortunately we can't easily use this approach.  Our nodes use use html labels (via the cytoscape-node-html-label extension),