[2019-11-19 19:05] xeviknal commented on #1930
I have just tried to change the Gateways to point to other host than *. The result is that the validations are shown as well for empty namespaces.
I am thinking of remove the validations in case there aren't gateways.
On the other side, it might be useful to have a global indicator of the gateways enabled in the cluster. Perhaps it doesn't make sense to show gateways per namespace if they can be u

[2019-11-19 19:22] israel-hdez commented on #1194
I have re-tested the scenario and I see the graph correctly.
Tested using a clean minikube cluster and installing Istio 1.4 using the demo profile, then doing the steps available at https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/

Additionally, istio/istio#15188 was closed. I'm closing because this should be good.

[2019-11-19 19:22] #1194 closed

[2019-11-19 19:31] mtho11 commented on #1935
I'm looking for tasks and don't see any team/saturn UI stuff so taking this one.

[2019-11-19 20:17] #1857 closed

[2019-11-19 21:15] #1942 closed

[2019-11-19 21:19] josejulio commented on #1938
Right, that's the "shadow" and is part of the design.

Cytoscape no longer supports shadows for some performance or browser compatibility reason (can't remember which), instead they have this "ghost" effect.

To remove it, only remove the "ghost-*" attributes in the GraphStyle.

[2019-11-19 21:22] jshaughn commented on #1938
@mtho11 Can we close or did you want to propose removing the ghosting?  That would be a UX discussion.

[2019-11-19 21:45] jshaughn commented on #1566
According to @jmazzitelli this has already been done.

[2019-11-19 21:45] #1566 closed

[2019-11-19 21:51] mtho11 commented on #1938
@jshaughn if it is intentional we can close yes

[2019-11-19 21:51] #1938 closed

[2019-11-20 08:51] FilipB commented on #1953
Tried both FF and chrome (also incognito mode) with the same result:
{"error":"Error trying to get OAuth metadata","detail":"Get https://172.30.0.1:443/version?timeout=32s: http2: no cached connection was available"}

[2019-11-20 09:33] FilipB commented on #1953
It works fine again after kiali pod restart

[2019-11-20 10:16] jotak commented on #1857
THAT should be celebrated :-)

[2019-11-20 12:24] lucasponce commented on #1955
Not a blocker but it's an important regression and usability is impacted.
I'll work on it.

[2019-11-20 12:57] lucasponce opened #1960 "Detail pages: move traffic tab into a graph as a card in the overview page"
I think the "traffic" tab may have a better impact if we move the same information as a graph inside a card a showed in the "overview" tab for Application/Workload/Service details.

This graph could be a simplified representation of the app/workload/services with limited features (no need to sidebar, animation or other feature in main graph) just a representation of the same info used today in the

[2019-11-20 13:26] lucasponce opened #1961 "Review filters in list pages"
Patternfly 4 has now a standard filter component with multi-dimension/multi-value capabilities.

https://github.com/patternfly/patternfly-next/issues/2077

Kiali resolved this with a custom component but it could be reviewed if we can migrate in the future.

Note, this is low priority for now, as we have feature solved, but worth for a maintenance cycle when we have addressed other priorities firs

[2019-11-20 13:49] jshaughn commented on #1955
@lucasponce I think I saw same in workload logs page.  Perhaps our window height calculation is off given greedy PF4.

[2019-11-20 14:34] mattmahoneyrh commented on #1953
Same result as @filipb:   {"error":"Error trying to get OAuth metadata","detail":"Get https://172.30.0.1:443/version?timeout=32s: http2: no cached connection was available"}

[2019-11-20 14:35] burmanm commented on #1930
In case ``*`` the validation is kinda right, if this is a Istio controlled namespace. Even if there are no gateways, you could get wrong results from your VirtualServices for example.

[2019-11-20 14:38] jshaughn commented on #1953
OK, thanks for the update, at least we have a little bit of detail now and can see the underlying error.  I don't know what to do about it :)  But maybe our connection has expired and we need to refresh it, or something like that.

[2019-11-20 16:31] jmazzitelli commented on #1584
I think this [SDK issue](https://github.com/operator-framework/operator-sdk/issues/1305) is fixed now - see https://github.com/operator-framework/operator-sdk/pull/2210

[2019-11-20 16:36] xeviknal opened #1963 "Validations - Destination Rule traffic policy override error"
There are two Destination Rules living in `istio-system` showing a warning. For instance, the following one:
![Screenshot of Kiali  istio-system  (10)](https://user-images.githubusercontent.com/613814/69257554-8700fc00-0bbb-11ea-930a-dc2db5cf0c4c.jpg)

The offending object is the following:
![Screenshot of Kiali  istio-system  (11)](https://user-images.githubusercontent.com/613814/69257536-823c480

[2019-11-20 16:52] jmazzitelli commented on #1489
Working on a couple upstream PRs for this:

* https://github.com/istio/installer/pull/556
* https://github.com/istio/operator/pull/622

[2019-11-20 17:46] mtho11 commented on #1935
This is a strange one. It is not reproducible in the dev (yarn start) environment. But I do see it in an OCP4 maistra build.

And stranger yet,  it doesn't apply to all health icons but only the first two rows for me.

[2019-11-21 07:49] jotak commented on #1935
Ah, that would explain why I didn't see it while quickly checking from a dev environment. Strange indeed; as sorting by health involves some async work, promises and the like, probably there's some racy thing

[2019-11-21 12:42] xeviknal commented on #1892
This error is related to: https://github.com/kiali/kiali/issues/1884

I am having problems to reproduce the scenario where Istio generated a Destination Rule using the format "grafana.istio-system".

I have installed Istio-1.4 following the getting started (without mTLS by default) + the bookinfo scenario. I only see there the issue with: https://github.com/kiali/kiali/issues/1891

IMO, we shouldn

[2019-11-21 14:18] #1956 closed

[2019-11-21 16:07] jshaughn commented on #1952
@FilipB The issue is that the variable --pf-global--success-color--100 is set to light-green-400 in patternfly.  This is not the color that UX wants us to use for success, both for graph edges and alert messages.  We have a custom color to use instead ('#3e8635').  I was under the impression that Patternfly was going to be updated to make this the new success color, but I just checked master and i

[2019-11-21 16:26] #1941 closed

[2019-11-21 20:52] israel-hdez commented on #1953
@mattmahoneyrh @FilipB can I know where are you pulling the Kiali image from?
are you building locally and, then, deploying? or perhaps fetching the latest tag from quay/dockerhub?

[2019-11-21 21:19] mtho11 commented on #1935
This video shows exactly what is going on since you can't see it in the dev environment:

![tooltip](https://user-images.githubusercontent.com/1312165/69377635-8b7ff000-0c61-11ea-932a-2137c451000e.gif)

[2019-11-21 21:20] mtho11 commented on #1935
At this point, I think it's an interaction thing between the virtual scrolls and the tooltip.

[2019-11-21 21:50] mtho11 commented on #1935
Another interesting behaviour is that there doesn't seem to be any reasoning for which direction the tooltip will be -- sometimes it's on the top sometimes to the side.

![tooltip2](https://user-images.githubusercontent.com/1312165/69379625-a5233680-0c65-11ea-91ba-346e69aa7f04.gif)

[2019-11-21 21:56] jshaughn commented on #1395
Taking this as I think this could be relevant to https://github.com/kiali/kiali/issues/1421.  That PR has to do with graph replay, but it may make sense to use a common "TimeRange" component, used both by Overview and Graph.  Even if that doesn't happen this is an overdue refactor as we have multiple components doing nearly the same thing in different ways.

[2019-11-22 07:52] #1939 closed

[2019-11-22 09:51] FilipB commented on #1953
@israel-hdez We are building the latest master locally, pushing it to https://quay.io/organization/kiali-qe and pulling from there.

I need to double check but it seems the issue is gone. I did not see it this morning with the latest master.

[2019-11-22 09:55] FilipB commented on #1952
@jshaughn Thanks for update. Is it possible to define our own variable instead of using "color: rgb(62, 134, 53);" directly? From UI automation point of view it's better to use variables instead of "color: rgb(62, 134, 53);" as a locator. Any change to "color: rgb(62, 134, 53);" and test will be broken...

[2019-11-22 10:49] lucasponce commented on #1757
I'd removed from Sprint 32 as it's waiting external.
It can be reviewed and added in Sprint 32 if it gets unblocked and it can progress.

[2019-11-22 10:57] lucasponce commented on #1561
I don't remember if there was some pending action on this.
I've just added to @jmazzitelli just to evaluate if this one has any action to perform or it can be updated/closed.

[2019-11-22 11:09] lucasponce commented on #1873
I didn't see your comment @jmazzitelli let me know if you want to work on this, in any case I can take it for next sprint as well.

[2019-11-22 11:12] lucasponce commented on #1900
Minor comment.
Just a formality, the OSSM (product JIRA) should have the links to the upstream issue (this one).
Upstream -> downstream is not necessary.
If you can, please, update those OSSM, then Product and Program Manager can get details of the work here as well.

Also, any topic related to the downstream and not part of upstream should be tracked only in JIRA OSSM.

[2019-11-22 11:14] lucasponce commented on #1928
Ok, I will take a look in any case, just as exercice to get familiar and see if it's something we can do in kiali side without depending of Victory library.

[2019-11-22 11:16] lucasponce commented on #1930
I agree with @burmanm here, there are scenarios that a wildcard can affect to a third party namespace with empty results, and I think is worth to maintain that info.

[2019-11-22 11:16] lucasponce commented on #1930
Please, lets confirm we are not missing these scenarios as well.

[2019-11-22 11:26] lucasponce commented on #1957
Minor comment.
Please, add a link from downstream -> upstream issue in the OSSM-4.
Then Program/Product Managet can browse to this one.

[2019-11-22 12:00] jmazzitelli commented on #1561
Actually, when I talked to the OLM folks, metrics are part of model phase 4. We should actually do this because we claim we are phase 4 - this just adds more capabilities. I will work on this. Should not take long.

[2019-11-22 12:41] #1955 closed

[2019-11-22 12:50] xeviknal commented on #1891
There are two scenarios here:

1. The port naming validation should only be applied for services in the service mesh (aka has pods with sidecar).
2. The mismatch port validation (deployment/service) it goes beyond istio. Plus, it is trickier to give a precise validation bc there are many different ways to enable communications in a specific port. See the example below:

Deployment `istio-citadel`

[2019-11-22 12:50] lucasponce commented on #1368
This is a minor one, just to adjust the matching routing wizard for simply headers check.

[2019-11-22 13:00] jshaughn commented on #1952
@FilipB I'm not actually sure, but I can look into adding maybe a "kiali-success" variable that later could be reset to the updated PF variable, when it isupdated.

[2019-11-22 13:00] jmazzitelli commented on #1561
Looks like all we need is to add those annotations to the operator deployment template. The istio prometheus is configured to scrape metrics endpoints from any namespace in its purview.

And here is what the metrics look like in today's kiali operator - I just went into the Terminal of the operator container via OS console and ran "curl localhost:8383/metrics" and see this:

[code]

[2019-11-22 13:22] jmazzitelli commented on #1561
i'm moving this to the current sprint 31 since this is easy, and its done, and i would like to get this into 1.10 release so the upstream istio integration with the operator can pick this up as soon as possible.

[2019-11-22 14:39] israel-hdez commented on #1953
@FilipB What's the go version you are using for building?
That error message is associated with a bug in go, which had a regression and was recently fixed (again). But I don't know which versions are affected, so I want to try your version.

[2019-11-22 15:12] israel-hdez opened #1969 "(workflow) Some automation of issue/pr labeling"
**Is your feature request related to a problem? Please describe.**
I keep *partially* forgetting to apply labels (it's partially because I usually realize that labels aren't right).

**Describe the solution you'd like**
Some labeling could be automatic:
* New issues should have `triage` by default (this can be done using the github template)
* New bugs should have `bug` and `backlog` by default (t

[2019-11-22 15:52] lucasponce commented on #1969
Please, let's discuss workflow issues in the document we created:
https://docs.google.com/document/d/1ztlgTlUVtSbXioqO9bOFMeZdDInMPtu8iWEkjjitO8E/edit#heading=h.7qq70lsd7kyz

[2019-11-22 16:57] israel-hdez opened #1970 "Move to, at minimum, Go1.12.13"
This issue is mainly for seeking consistency:

* In the README file (https://github.com/kiali/kiali#building) go 1.8.3 is being asked.
* In the Makefile (https://github.com/kiali/kiali/blob/master/Makefile#L26), also, go 1.8.3 is being required.

But:

* If the Jenkins box hasn't changed, the builds are using go 1.12.1.
* Travis is using go 1.12.1 (see https://github.com/kiali/kiali/blob/master/.t

[2019-11-22 17:00] israel-hdez opened #1971 "Ability to invoke wizards from graph"
Since the graph context menu has been around for a while, we could use it to invoke the wizards, which would be available only for Service nodes.

[2019-11-22 18:10] #1561 closed

[2019-11-22 18:18] #1395 closed

[2019-11-22 22:01] mtho11 commented on #1935
@jotak looks like you are correct, looks more like a race condition. My initial thoughts were incorrect about the virtual scrolls and tooltips.

[2019-11-22 22:46] jshaughn opened #1974 "regression: refresh component not updating lastRefreshAt"
This affects mTLS querying in 1.10.0.  Regression due to https://github.com/kiali/kiali-ui/pull/1564.

[2019-11-23 00:51] mtho11 opened #1976 "Remove React Error message from Test env"
**Is your feature request related to a problem? Please describe.**
When you run `yarn test` you get a testing error message:

![yarn__Users_mithomps_projects_kiali-ui](https://user-images.githubusercontent.com/1312165/69469890-34087f80-0d48-11ea-9933-254b0a7d49f0.png)

**Describe the solution you'd like**
This fixes the above situation. It is trivial but needs to be fixed.
The issue is that the `S

[2019-11-23 02:41] #1974 closed

[2019-11-23 03:31] #1976 closed

[2019-11-24 20:11] abonas commented on #1957
@cfcosta  this part is probably redundant in upstream issue?

[2019-11-24 20:34] abonas commented on #1935
@lucasponce I'd like to make sure I understand the process right here - if this was in progress in sprint 31, now it moved to backlog? shouldn't it be in progress in sprint 32 as well? or the work on it is paused?

[2019-11-25 09:09] FilipB commented on #1953
go version go1.13.4 linux/amd64
+ yarn -version
1.19.1
+ node --version
v10.17.0

[2019-11-25 09:28] FilipB commented on #1952
@jshaughn Adding our own variable or waiting for fix on PF are both fine. Waiting is maybe better as it's not adding extra work.

[2019-11-25 10:05] hhovsepy opened #1977 "Details pages - Bottom is cut"
Happens on Master.
The bottom side of Details pages (Service, Config, Workloads) seems to be cut and not shown, it feels like scrolling is not finishing there.
![Screenshot from 2019-11-25 10-58-32](https://user-images.githubusercontent.com/604313/69530923-4286af00-0f73-11ea-85d9-64d595fd5ae1.png)
![Screenshot from 2019-11-25 11-01-19](https://user-images.githubusercontent.com/604313/69530925-4286

[2019-11-25 10:46] FilipB opened #1978 "[UI] Add id for spinner"
UI tests are using xpath (//*[contains(@d, "M304")]) to locate spinner which is working fine everywhere except Graph pages. It would be very helpful to have unique id for the spinner so we can easily test if it's visible.

[2019-11-25 12:46] mattmahoneyrh commented on #1953
@israel-hdez v1.10.0 did not show the OAUTH error after being left idle over a weekend time-period.

[2019-11-25 12:58] hhovsepy commented on #1977
on FF only

[2019-11-25 13:39] hhovsepy commented on #1452
Currently it shows only Error status, Warning statuses are not shown in Overview page.

[2019-11-25 14:20] jshaughn commented on #1969
I agree with Lucas, let's discuss in the doc and reserve the github issue for anything actionable.  I have copied the proposal to the doc and added my comments.

[2019-11-25 14:27] jshaughn commented on #1935
@abonas When migrating to the new sprint, I think we just move things over and then adjust during the  sprint planning done with the subteams,

[2019-11-25 15:08] jotak opened #1981 "Traces & metrics correlation: metrics analysis"
An idea for more correlation (could be something like correlation v2): a user could right-click on a chart (e.g. on a span, or actually anywhere in a chart), which opens a menu with the option: "More correlation" (or a better name) which, based on the related timestamp, would start some analysis of *all* metrics in prometheus for the related service (or even other services in the same namespace) t

[2019-11-25 15:22] mtho11 commented on #1865
@jshaughn can we close this now that you did: https://github.com/kiali/kiali-ui/pull/1559

[2019-11-25 15:43] cfcosta commented on #1865
This is merged already: https://github.com/kiali/kiali-ui/pull/1518

[2019-11-25 16:24] jshaughn commented on #1865
@cfcosta When you put "Fixes #1865" it doesn't get picked up.  You need to put in the full link.  That is why this did not get closed.

[2019-11-25 16:24] #1865 closed

[2019-11-25 17:18] mtho11 commented on #1530
I think this can be closed with the work that @jmazzitelli did on the documentation for Istio 1.4?

[2019-11-25 17:21] mtho11 commented on #1519
@jshaughn @abonas is this still relevant?

[2019-11-25 17:26] mtho11 commented on #1505
Not sure how this is affected by the recent purchase of Katacoda by O'Reilly: https://www.oreilly.com/ideas/oreilly-acquires-katacoda-and-a-new-way-for-2-5m-customers-to-learn

[2019-11-25 17:47] mtho11 commented on #1458
@jmazzitelli @jshaughn is this supported yet? Should it get added to the sprint?

[2019-11-25 17:50] mtho11 commented on #1441
This one seems fine to me as well.

[2019-11-25 18:02] jmazzitelli commented on #1458
We can support one set of app/version labels - and they can be whatever you want them to be. That is supported.

What is NOT supported is supporting MULTIPLE label pairs. So today Kiali cannot support app labels  of EITHER "app" OR "app.kubernetes.io/name" OR "app.kubernetes.io/instance". It has to be just one - take your pick and whatever you want you set it in the Kiali CR (default is "app"). Sa

[2019-11-25 18:03] jmazzitelli commented on #1530
this is done: https://istio.io/docs/tasks/telemetry/kiali/

[2019-11-25 18:03] #1530 closed

[2019-11-25 18:45] israel-hdez commented on #1953
I can replicate using go 1.13.4.

[2019-11-25 18:48] israel-hdez commented on #1953
Applying this patch helps to replicate the issue very quickly (in a few minutes):

[code]

[2019-11-25 18:56] jshaughn commented on #1829
Waiting on how we are actually going to support disconnected. This is still being figured out by folks outside of our group.

[2019-11-25 19:30] mtho11 commented on #1417
@jshaughn looks like the design issue was updated today.

[2019-11-25 19:46] jshaughn commented on #1953
Interesting.

[2019-11-25 20:39] israel-hdez commented on #1953
Looks like this issue is a compatibility issue of go1.13 and k8s client.

[2019-11-25 20:48] israel-hdez commented on #1953
Related golang issue: https://github.com/golang/go/issues/34498

[2019-11-25 22:37] mtho11 commented on #1928
@lucasponce perhaps this should be labeled `Waiting External` if you don't find a solution?

[2019-11-25 22:55] mtho11 opened #1985 "Kiali Client Plugin for VS Code"
**Is your feature request related to a problem? Please describe.**
It would be cool for developers to see graphs or istio config validations inside VS Code via a plugin. One driving use for this is to get the context of the whole application while working on a particular service. Possibly shift ctrl clicking on a service would take you out to service graph showing you how it is related, it's healt

[2019-11-26 10:58] abonas commented on #1985
- Can you elaborate more? What Istio validations/topology do you expect to see in local IDE? it sounds like there is a need to configure remote env and authentication to connect to it?
- topics like would be good to discuss with Che /dev tools teams that are writing plugins.

[2019-11-26 11:59] FilipB opened #1987 "Latest kiali master fails to start (Create resource [role] on [openshift])"
**Describe the bug**
The latest kiali master (7bf520d2249566c607a8f7acadc97f588754b72d) fails to start on OpenShift 4.
Kiali pod is not created and there is following error in kiali operator log:
FAILED - RETRYING: Create resource [role] on [openshift] .....
"roles.rbac.authorization.k8s.io \\\\\\\"kiali\\\\\\\" is forbidden: user \\\\\\\"system:serviceaccount:kiali-operator:kiali-operator\\\\\\\"

[2019-11-26 12:00] FilipB commented on #1987
Not that it's caused by some recent change, it was working fine yesterday.

[2019-11-26 12:02] FilipB commented on #1987
Also note that we are using 1.0.z which might be the cause as kiali master is targeting maistra 1.1.z (which is not yet available)

[2019-11-26 13:13] jshaughn commented on #1441
Closing as Not a Problem.

[2019-11-26 13:13] #1441 closed

[2019-11-26 13:58] jshaughn commented on #1970
@israel-hdez This seems fine, I guess this may also be impacted with that issue regarding the Go/Kube versioning.  If we make version updates it should be as early in the sprint as possible.

[2019-11-26 14:02] abonas commented on #1559
can you give an example of what de-duplication means here? is it like grouping similar messages?

[2019-11-26 14:06] abonas commented on #1535
![indentation](https://user-images.githubusercontent.com/6277245/69640231-b05fd300-1066-11ea-961f-44e50c0bb970.png)

[2019-11-26 14:10] jshaughn commented on #1559
@mtho11 I think that as a pre-requisite to this work we'd need an issue for breaking the log string we get from k8s interface into individual log entries.  That in itself could be a gateway to doing some more interesting things, like search, severity filtering, etc.

[2019-11-26 14:11] jshaughn commented on #1503
See relevant comment: https://github.com/kiali/kiali/issues/1559#issuecomment-558646012

[2019-11-26 14:42] jmazzitelli commented on #1987
@FilipB How did you install the kiali operator?

We collapsed the resource list in the role now (we use "*" rather than individually specifying them) - this should have increased the number of permissions given. but this was changed yesterday.

[2019-11-26 14:48] jmazzitelli commented on #1987
NOTE: If you are using the Kiali Operator that is published with Service Mesh (i.e. Kiali Operator 1.0.7) and trying to install a master build of Kiali server, then I'm pretty sure it won't work and will fail with the error you are seeing.

[2019-11-26 15:25] FilipB commented on #1987
@jmazzitelli I checked our provisioning script and it's building kiali operator from master and using it in following template:
https://gitlab.cee.redhat.com/istio/kiali-qe/kiali-qe-jenkins-dsl/blob/master/src/jenkinsfiles/templates/kiali-operator/kiali-operator.yaml

I guess that's the problem right? We need to use template which is up to date.

[2019-11-26 15:26] jmazzitelli commented on #1987
@FilipB Yeah, you guys get bit with this all the time :) I'm not sure how, but you should automate this somehow - get your stuff to sync up with the master yaml.

[2019-11-26 15:53] jmazzitelli commented on #1987
This is due to user-defined operator yaml that was invalid. Nothing to be fixed.

[2019-11-26 15:53] #1987 closed

[2019-11-26 16:25] mtho11 commented on #1559
@abonas Once you see that a pod is having an issue the first place you go is the logs. If the issue isn't at the very end of the logs then we need to scroll through them hunting for the issue.  At this point, the first thing I would want to do is reduce the noise (de-dup) to make it easier to find the source of the issue.

Here is a screen from Loki show what de-dup features they have:

![Loki_-_P

[2019-11-26 16:29] jshaughn commented on #1559
Is there any way to leverage Loki?  Otherwise we'll be re-inventing the wheel, which is OK if it's what we have to do.  But I'm curious whether we can leverage anything, even if it's OS only.

[2019-11-26 17:54] mtho11 commented on #1559
@jshaughn I have no idea what the long term plans are for logging. Maybe, @abonas or @maltron knows. Seems to me that Loki is a pretty heavyweight solution (that requires the ELK stack) that not everyone will want to install. My proposal is that Kiali provides a lightweight solution that is good enough (and I don't think we are there yet).

Logging is one of the pillars of observability and Kiali

[2019-11-26 19:13] abonas commented on #1559
I still want to refine the understanding between deduplication and grouping.
Above is written "eliminating" identical service entries. I read "eliminating" as removing all, and keeping one similar entry. If indeed so, then user loses valuable information on - first/last time the error started, how many times was the error thrown, etc.
If you take grouping approach instead, that information will st

[2019-11-26 20:22] pbajjuri20 commented on #1977
I have also faced same issue on Master.

[2019-11-26 22:50] mtho11 commented on #1582
@jshaughn and talked about a 'Kiali by Example' page on kiali.io that would contain short 1-3 minute videos (not to exceed 5 minutes) following the above examples and the [Istio.io Tasks](https://istio.io/docs/tasks/).

BTW: I liked the way http://istiobyexample.dev did it.

[2019-11-26 23:33] mtho11 commented on #1559
Yes, I probably used the wrong word 'eliminating'. What we want to eliminate is the clutter in the logs, but keep the context.  I would assume that we would use the same approach that we do in the Message Center. No need for any new methods of doing things, everything should operate the same.

[2019-11-26 23:54] #1946 closed

[2019-11-27 11:52] hhovsepy opened #1989 "Workload Details - Pods, Services table layout"
Happens on master.
Pods and Services table columns layout is broken.
Pods status is not shown.
![Screenshot from 2019-11-27 12-42-14](https://user-images.githubusercontent.com/604313/69721237-b7451f00-1114-11ea-9f01-74fd2042d3fd.png)
![Screenshot from 2019-11-27 12-42-33](https://user-images.githubusercontent.com/604313/69721238-b7451f00-1114-11ea-90f8-b9c68820e6fd.png)

[2019-11-27 14:34] xeviknal opened #1990 "Add ServiceAssociation Analyzer"
This is an issue to do the follow up of this task in istio upstream: https://github.com/istio/istio/issues/17503

[2019-11-27 15:05] israel-hdez commented on #1969
Closing as not worthwhile.

[2019-11-27 15:05] #1969 closed

[2019-11-27 20:19] #1953 closed

[2019-11-27 23:49] MarkDeckert commented on #1139
Would be nice to have native RBAC support on an equal level with the openshift login method.

We have soft-multitenant non-openshift clusters using OIDC tokens for RBAC allowing access to team-based namespaces.

Using a token for login similar to the k8s dashboard would suit our purposes.

[2019-11-28 08:36] hhovsepy opened #1993 "Suspend Traffic - Gateway is selected by default"
Happens on master and in a case when there was deleted Routing with Gateway right before.
1. Create Weighted routing with selected Gateway.
2. Delete Weighted routing.
3. Create Suspend Traffic. Do not select Gateway.
4. Edit Suspend Traffic. The Gateway is shows selected. And Gateway is in VS as well.

[2019-11-28 14:29] lucasponce commented on #1989
I'm having some difficulties to reproduce this one.
How it happens ? Which browser and which resolution ?
It's at 100% or any other zoom ?

[2019-11-28 14:34] lucasponce commented on #1989
Some screenshoots from my tests:
![image](https://user-images.githubusercontent.com/1662329/69814163-eb434180-11f3-11ea-9775-cc4de68ad184.png)

![image](https://user-images.githubusercontent.com/1662329/69814212-ff873e80-11f3-11ea-8365-c59cb970f7de.png)

In FF:

![image](https://user-images.githubusercontent.com/1662329/69814301-31000a00-11f4-11ea-863d-5e3512192e5b.png)

![image](https://user-imag

[2019-11-28 14:36] lucasponce commented on #1971
To me this is related to https://github.com/kiali/kiali/issues/1960 as well.

I think we need a global strategy here.

[2019-11-28 15:43] lucasponce commented on #1977
Yes, there are some styles mixed that introduce this bug.

[2019-11-29 08:07] hhovsepy commented on #1989
This happens constantly on FF and chrome, in 100% and full window, without resizing.
So there are two problems:
1. "Running" Phase.
2. Missing Status icon.

[2019-11-29 09:18] #1368 closed

[2019-11-29 12:23] #1993 closed

[2019-11-29 12:36] lucasponce commented on #1989
Ah, ok, thanks for clarification, I guess I misinterpreted the issue.

[2019-11-29 14:42] lucasponce commented on #1603
@gbaufake any update about this ?

Thanks

[2019-11-29 16:59] #1977 closed

[2019-11-29 16:59] #1989 closed

[2019-12-02 08:16] #1891 closed

[2019-12-02 11:11] #1963 closed

[2019-12-02 12:32] hhovsepy opened #1997 "FF - Filter dropdown does not open"
Happens on master and FF only.
Click on any dropdown, for instance "Workload Name" filter in Workloads page.
It does not open.

[2019-12-02 13:04] lucasponce commented on #1997
@hhovsepy not sure if I understand, "Workload Name" is not a dropdown, but an inputtext.
Others filter seem to work here.

[2019-12-02 13:10] hhovsepy commented on #1997
@lucasponce thanks, it seems some cache problem on my browser. Reinstalling kiali helped.

[2019-12-02 13:10] #1997 closed

[2019-12-02 14:26] cfcosta commented on #1957
@abonas that has been updated since the issue has been created, OCP 4.3 is developing an extension point for this.

[2019-12-02 16:41] jshaughn commented on #1519
@mtho11 I don't really know much about SuperGloo. The original Jira was created by you, if you think this is still relevant maybe add some more detail about what might be done in this space.  Otherwise, I reckon we can close this issue.

[2019-12-02 16:46] hhovsepy opened #1999 "Search Traces button fixed"
Happens on master.
Open Traces tab, search for some traces.
Scroll the page.
"Search Traces" button has a fixed position.
![Screenshot from 2019-12-02 17-43-29](https://user-images.githubusercontent.com/604313/69977739-a1c46080-152b-11ea-819c-853257195fb1.png)

[2019-12-02 16:52] lucasponce commented on #1999
@hhovsepy I think this one will be gone in the work @aljesusg is doing for this Sprint in #1855

[2019-12-02 16:58] jshaughn commented on #1952
@FilipB This has been elevated to UX, who in turn is creating a PF issue to get the color variables updated.  I think we can wait and when updated in PF we'll move to the PF variable.

[2019-12-02 17:00] jshaughn commented on #1894
The Istio 1.4 offers TCP metrics as an experimental feature, HTTP has been upgraded to alpha.  We need to test the experimental TCP impl.

[2019-12-02 17:13] FilipB commented on #1952
@jshaughn Sounds good, thanks.

[2019-12-02 17:55] jmazzitelli commented on #1873
I can work on this @lucasponce ... I will assign this to me.

[2019-12-02 19:52] mtho11 opened #2001 "Make the cytoscape bottom toolbar more readable"
**Is your feature request related to a problem? Please describe.**
The graph toolbar is difficult to read and very difficult to tell what layout is currently selected.

![Make_the_cytoscape_bottom_toolbar_more_readable_·_Issue__160_·_kiali_kiali-design](https://user-images.githubusercontent.com/1312165/69990047-cbfd2a80-14f9-11ea-98a0-6efb29eea27a.jpg)

**Describe the solution you'd like**
We disc

[2019-12-02 22:13] jmazzitelli commented on #1873
review PR #2003 if you want to see how this is being implemented.

[2019-12-03 13:56] lucasponce commented on #1960
Agreement to not remove "traffic" tab, but consolidate "mini-graph" in the overview.

[2019-12-03 14:35] abonas commented on #1519
I didn't see any progress of this, IMO can be closed.

[2019-12-03 15:15] #1519 closed

[2019-12-03 15:25] jshaughn commented on #1559
@mtho11 I'm adding this to the backlog with the understanding that Step 1 is to work on the sub-task of adding to the server-side API the ability to fetch the log as a series of log entries, as opposed to just a text blob.  Given log entries we should be able to do some other manipulations.

[2019-12-03 18:54] israel-hdez commented on #1139
@hdimitriou @MarkDeckert This is moving forward. See these pull requests: https://github.com/kiali/kiali/pull/1996 and https://github.com/kiali/kiali-ui/pull/1572.

Hopefully, that will cover this issue. If you can try the PRs and provide feedback, it will great. Otherwise, you could provide feedback after changes are released.

[2019-12-04 03:54] mtho11 commented on #2001
I think the drop shadow enhancement may not be relevant here because there is no spacing between these buttons. They are essentially a Button Group (and that is the future PF4 enhancement).

[2019-12-04 08:42] hdimitriou commented on #1139
The token and RBAC logic looks very good to me, thank you

[2019-12-04 15:26] cfcosta commented on #1928
@lucasponce I can report the issue to Victory (or try to find an solution from our side), or did you manage to get progress on this?

[2019-12-04 15:48] jotak commented on #1928
To be more accurate, this faulty Proptype is defined in patternfly `ChartTooltip`, not in Victory. I don't know how it can *not* have a `x` value, this is probably something happening within `VictoryVoronoiContainer` (which comes from Victory, this time).
We could try to upgrade pf4, maybe they've already fixed it.

[2019-12-04 16:00] cfcosta commented on #1928
@jotak ok, I'll take a look at that and report back.

[2019-12-04 16:34] lucasponce commented on #1928
@cfcosta go ahead, I put this one in my todo list but it's fine if you want to work on it.
Next time, please, ask me in the IRC before to take it to coordinate.
Thanks.

[2019-12-04 16:40] cfcosta commented on #1928
No problem, I took it because it was not assigned to anyone and no update in a few days, but will coordinate with you next time :)

[2019-12-04 16:43] jshaughn commented on #1928
@cfcosta (and all) yes, definitely inquire before self-assigning, especially if it originated from, or is labeled for, the other sub-team.  There may be some relevant update, or just to make sure it's not in-progress but not updated.

[2019-12-04 20:40] #1970 closed

[2019-12-04 22:25] #1139 closed

[2019-12-04 22:39] israel-hdez commented on #1139
This is now merged and will be available in Kiali v1.11.0.

Right now, it's a new "secondary" login strategy. If you think this should be promoted as the default login strategy for Kubernetes, feel free to open a new issue.

Also, please report any issue you find.

[2019-12-05 08:20] lucasponce commented on #1999
@aljesusg I think this should be included in #1855 work for this Sprint.

[2019-12-05 08:51] jotak opened #2005 "Dev script podman+minikube"
As discussed on mailing, and as podman is the new way to go, I suggested either to better document the deployment steps for a dev environment with podman+minikube, or to have some script helpers. This task is about scripting.

@jmazzitelli has a better idea of the existing scripts we can re-use, but just for the record, here's my current notes / steps:

[code]

(Note, I also tried using cri-o (`mi

[2019-12-05 10:31] jotak commented on #2005
Also I had to change two little things in Makefiles:

- In the main one, in target `docker-build-kiali`, `s/docker/podman`
- In the operator's one, target `operator-build`, add argument to the operator sdk: ` --image-builder=podman`

[2019-12-05 10:43] jmazzitelli commented on #2005
lemme see what magic i can put together in our makefiles and other scripts. i'll try to get it to work for both podman/docker combination as well as minikube/openshift-on-aws

[2019-12-05 12:46] jotak commented on #2005
Thanks @jmazzitelli !!

[2019-12-05 16:11] #2001 closed

[2019-12-05 16:58] lucasponce opened #2007 "Research Iter8 integration with Kiali"
Iter8 project https://iter8.tools/ provide automatic canary deployment features and it shares some synergies with Kiali use cases like described in https://medium.com/kialiproject/kiali-observability-in-action-for-istio-service-mesh-69127f792103

This issue is defined as a research task about potential next steps about how Kiali could integrate some operations and reporting linked with Iter8 scena

[2019-12-05 18:48] aljesusg opened #2008 "hack/aws error in oc version"
[code]
But the version 4.2.4 says that version is **4.2.2** !!!

[code]

cc @jmazzitelli

[2019-12-05 19:05] jmazzitelli commented on #2008
known issue - this is why we ignore this warning by default. the way openshift installer is build and published, the versions are all different than what an end user will expect.

[2019-12-05 19:05] #2008 closed

[2019-12-05 19:07] jmazzitelli commented on #2008
see: https://github.com/kiali/kiali/pull/1972 and https://github.com/kiali/kiali/pull/1964
there is a thread on slack with the openshift installer folks about this too - from a couple weeks ago. The version that oc reports is different than what you think you downloaded. It's weird, but that is the way it is.

[2019-12-06 16:40] cfcosta commented on #1928
Update:

This error is an one line fix:

![error1](https://user-images.githubusercontent.com/14752/70336303-ab99dc80-1827-11ea-8a74-9a23fae59900.png)

[code]

What happens is that if you set the width to 0 then things break :)

The other takes more time, what happens is that, when you move the mouse on top of the sparkline graph (that does not happen on metric graphs because they are bigger), the

[2019-12-06 16:46] jotak commented on #1928
waw good catch @cfcosta

[2019-12-06 18:07] serenamarie125 opened #2012 "Application labeling should be based on app.kubernetes.io/part-of rather than "app""
Application labeling should be based on app.kubernetes.io/part-of rather than "app".  This will help with alignment with the Kubernetes application labeling recommendation (app.kubernetes.io/part-of), OpenShift console and odo (and other tools are starting to use it like VMware's Octant web ui)

[2019-12-06 18:07] serenamarie125 commented on #2012
FYI @sspeiche

[2019-12-06 19:06] jmazzitelli commented on #2012
is there documentation about this "part-of"? I've seen `app.kubernetes.io/name` and we were eventually going to move to that, but "part-of" is new to me. Is that an additional label (additional to `app.kubernetes.io/name`) or does it take its place?

[2019-12-06 19:09] sspeiche commented on #2012
There is the main kubernetes documentation at https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#applications-and-instances-of-applications and some supplemental docs at https://github.com/gorkem/app-labels/blob/master/labels-annotation-for-openshift.adoc

[2019-12-06 19:47] jshaughn commented on #2012
I think the istio "app" label, and the way it is used, is more equivalent to app.kubernetes.io/name.  Having said that, Kiali allows you to configure your app label name to be  anything you like, including app.kubernetes.io/part-of.  The only gotcha is that we require consistent labeling across the definitions.

Maybe more important is [this current Istio proposal](https://docs.google.com/document

[2019-12-07 00:35] jmazzitelli commented on #2005
I'll add more info in PR #2013, but in short, here's what I got:

1. The `hack/k8s-minikube.sh` is now up to date - you can use this to start, stop, delete minikube, create your port-forward, etc. It will also prepare the necessary minikube addons for you. Pass in cmdline options to set how much mem, CPU, disk to give minikube, and what driver you want to use.

2. To install upstream Istio, you ca

[2019-12-07 01:16] #1873 closed

[2019-12-09 07:50] jotak commented on #2005
Thanks @jmazzitelli I'm going to test two scenarios:

- With the hack scripts and a couple of env vars (e.g. I use kvm2 not virtualbox)
- Without hack script but still building with podman & pushing to minikube

[2019-12-09 08:48] jotak opened #2014 "Enhance navigation in Istio Config / Validations"
Maybe we can enhance the overall navigation experience with the istio config statuses.

When first we see a config issue from the Overview page, we need to change to another menu (Istio Config, or Services) to navigate to the issue. That could be more straightforward by clicking on the "Istio Config status" label and/or warning/error icon, jumping directly to something like `/console/istio?namespa

[2019-12-09 08:48] jotak commented on #2014
ping @xeviknal @lucasponce

[2019-12-09 11:08] abonas commented on #2012
@serenamarie125 @sspeiche I am not sure what is the exact ask here, as it can be interpreted in various ways. Let me try to elaborate how Kiali works with labels, maybe it will clarify this:

As noted above, Kiali is already displaying all labels of the objects.
Regarding the app label, the label name is set on Istio side. Shall it change, Kiali has the flexibility to adapt to it and consume the n

[2019-12-09 21:56] #2005 closed

[2019-12-09 22:12] mtho11 opened #2015 "Support 1.4 mirror_percent in graph"
**Is your feature request related to a problem? Please describe.**
New with Release 1.4 is the ability to change the **mirror_percent**, so now instead of mirroring 100% we can now specify the mirror_percent to say 20% or whatever.

**Describe the solution you'd like**
I would like to see the **mirror_percent** show up on the mirrored traffic edge.
![mirror_percent](https://user-images.githubuserc

[2019-12-10 08:19] jotak opened #2016 "Bump to released k-charted"
... following work from Alberto and myself on traces integration

[2019-12-10 08:26] jotak commented on #2016
Currently k-charted is 0.4.2-rcX, so targeting 0.4.2

[2019-12-10 09:40] xeviknal commented on #2014
It sounds very natural/organic. I can take this one on. Good catch!

[2019-12-10 13:29] lucasponce commented on #1971
There are several issues related to actions that probably are involved for this.
As an action for this, I'm going to collect all issues that may affect to put it together for a UX discussion as well.
I will maintain the "discussion needed" and I will assign this to me to collect all info related to the actions.

[2019-12-10 13:41] lucasponce commented on #2014
You mean to click here the list and position in the details yaml page with the error line ?

First part of the issue is +1.

[2019-12-10 13:45] lucasponce commented on #2012
I guess that we need to follow first what Istio recommends, as discussed not sure what we can do from Kiali.

I suggest to close this one and re-open when Istio upstream moves in some direction.

[2019-12-10 13:45] #2012 closed

[2019-12-10 13:48] lucasponce commented on #1985
And how different would this plugin vs just to have Kiali open with a browser plugin within the IDE ?
Is there any action/signal propagated from IDE to Kiali ?

[2019-12-10 16:07] mtho11 commented on #1985
@lucasponce it is purely a convenience function as are 90% of the VS Code plugins. All of these CLI tools migrate to the IDE as plugins where it is more convenient for the developer.
For new users or people that only use Kiali every once in a while the plugin could save them from having to know what the kiali url is.

[2019-12-10 16:27] cfcosta opened #2018 "Console error on Istio Config page"
![console-error-istio-config-page](https://user-images.githubusercontent.com/14752/70547878-6d1a5f80-1b50-11ea-98f6-c7b85f9b9b21.png)

Steps to replicate the error:
1 - Use default bookinfo deploy (I'm using the one on `hack/k8s-minishift.sh`, but it shouldn't make a difference which one).
2 - On Kiali, click "Istio Config" and select the "bookinfo" Virtual Service.
3 - Press F12, check console ou

[2019-12-10 16:39] cfcosta opened #2019 "Console error on small charts"
This error happens when hovering the mouse over one of the points on the sparkline graphs in the Overview Page:

![error2](https://user-images.githubusercontent.com/14752/70548766-e36b9180-1b51-11ea-8fae-f6685648bb71.png)

It does not affect functionality, and the fixes mean to center manually the tooltip origin every time which is error-prone and not very reliable.

The setup is consistent on our

[2019-12-10 16:41] israel-hdez commented on #1535
A more complete screenshot:

![](https://user-images.githubusercontent.com/23639005/66007979-1e7a8600-e47a-11e9-8620-d2a2f8926d10.png)

[2019-12-10 16:58] jshaughn commented on #1584
The fix is in but not in any release.  We are waiting for a release, probably 0.13, and then we will need to move to that version.

https://github.com/operator-framework/operator-sdk/releases

[2019-12-10 16:59] jmazzitelli commented on #1698
I think what @jshaughn and @lucasponce said is the way to go - accessible namespaces = "**" is effectively the flag that we can look at. If that value is "**" then the operator gives kiali cluster roles - if it is not ** then kiali is not given cluster roles.

[2019-12-10 17:06] jmazzitelli commented on #1584
To be clear.. the fix is in but not in any release **of operator SDK**. We are waiting for a release, probably 0.13, **of operator SDK**, and then we will need to move to that as the operator's base image.

I asked the operator SDK team when this fix will be available in a release - see:

https://github.com/operator-framework/operator-sdk/pull/2210#issuecomment-564108920

[2019-12-10 20:23] jmazzitelli opened #2021 "[operator] create a simple script to automate creation of new operator manifest files"
right now we have to do some basic steps to create new versions of OLM manifest files. These can be automated, at least for the simple things we need.

[2019-12-10 21:06] israel-hdez commented on #1379
There have been improvements on the error messages (the detailed errors from the back-end, no more "have your session expired?" messages, etc). Also, not all error messages can be handled in a friendly way, sometimes it's better to just show the stack trace.

I'm wondering if we should close this. IMO, it's too general and I'd prefer to fix the specific cases as feedback comes in.

[2019-12-10 21:09] israel-hdez commented on #1378
This has been around for a little mor than a year.
I have the idea that we are happy the way we are handling the url and redux. Can we close this?

[2019-12-10 22:49] israel-hdez commented on #1432
I will close this one as stale.

This has been around for a little more than a year.

The blocker is to find a place to host the public instance. Since this was initially proposed, I've tried several times a search on the web and I couldn't find a free place to host this. If it will cost, it's probably not worth it.

Also, I haven't heard people asking for this after it was initially proposed. Ple

[2019-12-10 22:49] #1432 closed

[2019-12-10 23:36] israel-hdez commented on #1451
I'll close this one and unify in #1394.

[2019-12-10 23:36] #1451 closed

[2019-12-10 23:43] israel-hdez commented on #1475
@mtho11 are the hack scripts still having issues?

[2019-12-10 23:45] israel-hdez commented on #1474
@jshaughn this sounds simple. I'll self assign. If OK for you, please include in this or next sprint.

[2019-12-10 23:54] israel-hdez commented on #1469
This has been around since February. It was marked as low priority in Jira. I agree this is very, very, very low priority, because it does not affect functionality.

I think it's better to fix instances of this as we see them while doing other tasks.  So, I'll close as stale.

[2019-12-10 23:54] #1469 closed

[2019-12-11 00:05] israel-hdez commented on #1502
@jshaughn @mtho11 I'm wondering if this is in-scope of Kiali.
To me it sounds a little out of scope and I'm tempted to close this :)

[2019-12-11 00:20] israel-hdez commented on #1532
@jmazzitelli Isn't this something that is already solved when using OLM?

I understand updating OperatorHub is manual, and we have been pushing updates randomly. Perhaps we should continuously push new versions to OperatorHub??, but I'm not sure if it is worth the effort. So, not sure if there is something actionable on this issue.

[2019-12-11 00:32] jmazzitelli commented on #1532
We now support auto-upgrades via OLM. That is our upgrade mechanism. We can close this.

[2019-12-11 00:32] #1532 closed

[2019-12-11 00:37] israel-hdez commented on #1571
The custom NPM mirror was more related to the build in Jenkins, rather than a Dev process. So, for devs there is nothing to implement. Thus, I don't see anything actionable here.

I'll close. If I misunderstood, please re-open.

[2019-12-11 00:37] #1571 closed

[2019-12-11 00:58] mtho11 commented on #1502
@israel-hdez I would say to not close this yet. It needs more discussion.

[2019-12-11 02:18] lwx294821 opened #2023 "why not show workloads for one app "statefulset"?"
Deploy kafka cluster  in k8s with StatefulSet resource, but  Kiali shows "No workloads found for this app",who can tell me the reason?

Kiali version: 1.9.1

[2019-12-11 03:26] mtho11 opened #2024 "Update React scripts for vulnerabilities"
**General remarks**
From Snyk: https://github.com/kiali/kiali-ui/pull/1576

This involves only build issues but it is a major **react-scripts** update

Needs to wait for the next sprint release.

[2019-12-11 03:46] liyork opened #2025 "Build error on MacOS"
**Is your feature request related to a problem? Please describe.**
when i use  build kiali,i occur the error ,finally to find the build may not support maxos?

**Describe the solution you'd like**
maybe consider judge the os system ,and then support in
``
.download-operator-sdk-if-needed
``
using the flow
``
curl -L https://github.com/operator-framework/operator-sdk/releases/download/v0.12.0/opera

[2019-12-11 08:54] lucasponce commented on #2023
Yes, it's a pure configuration for performance that you can change at:
https://github.com/kiali/kiali/blob/master/operator/deploy/kiali/kiali_cr.yaml#L478

To reduce the # of queries to the Kubernetes API, Kiali can configure the list of controllers to fetch (if we know that a namespace don't use stateful controllers).

It's configurable, just modify Kiali config and that should be done.

[2019-12-11 08:56] lwx294821 commented on #2023
Thank you very much.

[2019-12-11 08:56] #2023 closed

[2019-12-11 09:26] liyork commented on #2025
i finally use setup an minikube in macos.thanks.

[2019-12-11 10:27] lucasponce commented on #2025
Thank you for the isssue.
Can you describe when you experiment the problem ?

If you could workaround the problem would you mind to post the steps here or also happy if you can help us with some PR to adjust / tweak some parameter for MacOS, we can comment on the code if necessary.

[2019-12-11 10:33] #1879 closed

[2019-12-11 10:45] lucasponce commented on #1537
This issue is a good example of https://github.com/kiali/kiali/issues/1380 where a type of Istio resource is defined at namespace level (so, it can be invoked from a single service).

So I would use this specific example for the "research/protype" a small PoC related #1380 .

[2019-12-11 11:02] lucasponce commented on #1497
Related to #1380

[2019-12-11 11:45] #1526 closed

[2019-12-11 13:17] jshaughn commented on #1379
+1

[2019-12-11 13:17] #1379 closed

[2019-12-11 13:22] jshaughn commented on #1985
I am marking this is a Future/Help wanted as I think it's outside of our scope.  @mtho11 this sounds like a Hack&Hustle thing for you :)

[2019-12-11 13:33] jshaughn commented on #1475
Note that this would currently mean for both AWS and Minikube.  Also, there is this vague MacOS build issue that could be related: https://github.com/kiali/kiali/issues/2025

[2019-12-11 13:41] jshaughn commented on #2015
I believe this is actually blocked by having a proper mirrored edge, see issue: https://github.com/kiali/kiali/issues/1459.

If/when we have proper mirrored edges we may need to do additional work to make them obvious (like badging).

[2019-12-11 13:51] jshaughn commented on #1378
+1

[2019-12-11 13:51] #1378 closed

[2019-12-11 16:03] xeviknal commented on #1892
What do you think of adding this FAQ for covering the odd of this format?
https://github.com/kiali/kiali.io/pull/187

If we want to be really precise and not give false positives, it is much better not to fully support the `sevice.namespace` format. IMO, opening the box of resolving names to guess if hosts are internal or external is not worth it.

[2019-12-11 16:16] #2021 closed

[2019-12-11 16:44] pbajjuri20 commented on #2018
According to this PR, I am unable to replicate.

[2019-12-11 16:51] mtho11 commented on #1475
@jshaughn the scripts still don't work on OS/X the last time I looked. I use Fedora for building the backend and OS/X for kiali-ui.

[2019-12-11 17:40] burmanm commented on #1892
Shouldn't external hosts be ServiceEntries in any case? Thus, if it's a two part (dot split) hostname, we know it must target a SE or otherwise it's a service.namespace format.

[2019-12-11 18:24] israel-hdez commented on #1475
@mtho11  The logs on the Jira are for the old `oc cluster up`. It will be great if we can have more recent logs to see where do we stand.

[2019-12-11 19:14] lucasponce commented on #1502
I have a half-experiment in the context of #1380 that probably may cover something related.
In #1380 the scope is to create resources that are not bound to a service but to a namespace(s).
So, it's a more generic form approach and today I was researching/poc that for some scenarios (i.e. I have a bookinfo.yaml ready) a drag-n-drop could fit.

The PoC is in an early stage https://github.com/lucaspo

[2019-12-11 19:18] lucasponce commented on #1960
This issue is brought to the Kiali UX meetings and to me it would be nice if we could have time to prototype something thinking first on @israel-hdez / @mtho11 cc @jshaughn.

One thing I'd like to improve, thinking on Istio 1.5 is to enhance the overview pages, I know it would require UX feedback and probably more discussion, but I think issue is clear enough to start thinking/experimenting about

[2019-12-12 02:11] liyork commented on #2025
hi，this is my manual build.

######前置条件
go/git/docker/make
k8s+istio
参见mac安装docker+k8s
istio1.4简易安装.md

######build
1. kiali工程下载安装
export GOPATH=/Users/lichao30/goland_workspace/kiali
mkdir -p $GOPATH
cd GOPATH
mkdir -p src/github.com/kiali
git clone git@github.com:kiali/kiali
export PATH=$PATH:$GOPATH/bin

2. Install Glide - the Go dependency management tool that Kiali uses to build itself
cd ${G

[2019-12-12 02:18] jmazzitelli commented on #2025
That error is most likely due to the fact you do not have your Minikube image registry endpoint (192.168.64.7:5000) listed as an "insecure registry" in your docker daemon configuration. You need to tell docker that the minikube registry is an insecure registry for this to work.

[2019-12-12 02:19] liyork commented on #2025
when i install kiali from the official manual without a hitch,only a little in macos error,
through the other searching fix it.
i wish kiali can support the mac better better,thanks .

[2019-12-12 02:21] liyork commented on #2025
hi,thanks you to reply.
i may not explain the appropriate the section.
the `error` section is for the describing the error and fix processing.

[2019-12-12 02:27] liyork commented on #2025
may be effective/help for your team.

[2019-12-12 08:11] lwx294821 opened #2027 "Is there a go client API that can call kilai API to get json response?"
I  hope  a go client for calling kiali API,is there a ready-made client?

[2019-12-12 08:56] lucasponce commented on #2027
Hello,

If you mean a go client to wrap the REST Kiali API, not, there is not a client for that.
Kiali API is intended to be used with Kiali UI, it's not a "formal public API" in the sense that provides strong versioning on backward compatibility.

So, Kiali API endpoints may change between versions due Kiali UI changes.

I think we would need a kiali-client separated go package if we want to have

[2019-12-12 09:18] lwx294821 commented on #2027
I am a newer to know Kiali and I have the opportunity to cooperate in the future.Thank you very much.
Now I'm writing a little code to call Kiali API to see  Kiali internal data structure.

[2019-12-12 11:10] cfcosta commented on #2027
There was/is a python client that @gbaufake used for testing: https://github.com/kiali/kiali-client-python
But I'm not sure if it is up to date, the last commit was in June.

[2019-12-12 12:01] jotak commented on #2027
just thinking out loud, isn't it possible to auto-generate a go client from swagger? Looking at that: https://swagger.io/tools/swagger-codegen/

[2019-12-12 14:28] jshaughn commented on #1960
One question that needs to be answered up front is, "what exactly is a mini-graph?".   A more detailed description of the intent, or a mock, is important to figuring out how beneficial a mini-graph may be.

[2019-12-12 14:29] #1928 closed

[2019-12-12 15:11] lucasponce commented on #1960
We already discussed this in the grooming session.
A minigraph is a static graph focus on App/Workload/Service, similar as provided by Graph when zoom-in in an element.

The idea is to provide a consistent "context" to the user when he/she navigates from the Graph to the detail.

[2019-12-12 15:12] lucasponce commented on #1960
Or in other words: "same information as today is provided by the traffic tab but in a graph representation instead of a table one".

[2019-12-12 16:02] jmazzitelli opened #2031 "[operator] track changes to operator manifest bundle format"
This issue is just to remind us to track future changes coming to the operator manifest bundle format and to change the kiali operator manifests to match that new format.

For details, see: https://github.com/openshift/enhancements/blob/master/enhancements/olm/operator-bundle.md

[2019-12-12 17:03] #1474 closed

[2019-12-12 17:15] lucasponce opened #2323 "Detail pages: add a graph card into overview tab of app/workload/service details"
As discussed in https://github.com/kiali/kiali/issues/1960 the overview tab can hold a card with a graphical representation of the information provided in the traffic tab. Meanwhile in the traffic tab, all elements that interact with an app/workload/service are shown in a table format, the overview could handle a "graph" that can provide a better context to the user when he/she browses from graph

[2019-12-13 00:24] lwx294821 commented on #2027
@cfcosta I know that python client,but I more likely need a go client .Thank you all the same.

[2019-12-13 01:25] mtho11 commented on #1475
@israel-hdez TBH the team has never decided to support OS/X. So I dropped interest a while back. Just labeling as **help wanted** at this point

[2019-12-13 06:32] #2027 closed

[2019-12-13 09:20] lucasponce commented on #1582
@mtho11 I'm actively working on Wizards so probably your feedback from this task can help us to identify if there is something missing in our current implementation and next work.

Let me know and happy to help here, as well.

[2019-12-13 10:03] lucasponce commented on #1900
Please @cfcosta @israel-hdez, the OSSM issues related to this are part of the product and would need an update in case that we need to raise something into the Program Call.
Thanks.

[2019-12-13 10:21] lucasponce commented on #1923
I'm not sure if this one is valid.
In PF4 and OpenShift Console virtual scrolling doesn't show number of items due potential dynamic of the data (not the case in Kiali as we know the # of items).

In any case, this would require some check with Kiali UX about it.

[2019-12-13 10:24] lucasponce commented on #1923
Oh, correction, in the "Projects" views there are not that number, but I can see that in the top of Workloads:
https://console-openshift-console.apps.lponce-dev.devcluster.openshift.com/k8s/ns/istio-system/pods?orderBy=asc&sortBy=Readiness

[2019-12-13 14:53] lucasponce opened #2032 "3scale extension can be detected at startup only"
Kiali implemented 3scale extension thinking that an adapter can be enabled dynamically at anytime.
It's reasonable to add a config flag that can be checked in a one time operation.

This would save some calls to the backend from the service details page.

So, if a 3scale adapter is deployed, Kiali config should be updated and pod restarted.

[2019-12-13 16:55] FilipB opened #2033 "Changes in kiali CR are not propagated (external_services url)"
When I update kiali CR external_services section from:
[code]
to:
[code]
and restart kiali pod the changes are not propagated to kiali configmap and are not visible in kiali UI in about dialog.

**Versions used**
Kiali-ui
    1.11.0 (cec5023977c1f247ab860092abb0a3a8f160a31b)
Kiali
    v1.11.0-SNAPSHOT (e5afc4d607f02697a25187626e52001c8e0eaaf6)

Components

Istio
    1.4.2
Prometheus
    2.12.0
Kub

[2019-12-13 17:05] FilipB commented on #2033
Note that the changes are propagated after next reconciliation

[2019-12-13 17:10] FilipB commented on #2033
This looks like kiali operator issue. The reconciliation was not happening for some reason. After I restarted kiali operator pod the reconciliation is working fine and changes are propagated. I guess this issue can be closed and I need to find out why the reconciliation was not happening earlier.

[2019-12-13 18:55] israel-hdez commented on #1960
One of my thought is if the mini-graph should provide the same visual features than the main graph, or if it is going to be a minimalistic graph. I mean, do we need to show badges? do we need to show app group boxes? do the nodes need to be that big? do we need the edge labels (rps, percentages, response times, etc)?

For me it's clear that we want to give context which is very good. But I'm wonde

[2019-12-13 19:08] jmazzitelli commented on #2033
You are not to restart the pod. The operator should take care of everything. You starting the kiali pod might screw up the operator (I don't know).

But the way operators work - you ONLY modify the CR - the operator takes care of managing everything else.

[2019-12-15 14:10] abonas commented on #2032
Is the case that 3scale is enabled when Kiali starts, but then disabled afterwards, taken into considered?

[2019-12-16 08:53] #1698 closed

[2019-12-16 10:50] lucasponce commented on #2032
@abonas if the 3scale configuration is enabled/disabled from Maistra as recommended from the doc, yes, it should.

Kiali would save for querying dynamically on every service details page if this extension is enabled.

[2019-12-16 15:13] mtho11 commented on #1535
We discussed this in the last UX meeting.  What were the final steps to resolve @israel-hdez?

[2019-12-16 16:10] lucasponce commented on #1960
@israel-hdez think in the same info that today is presented in the traffic tab, and put in a card (even we can skip the % or the response time in a first iterate).
No need to over-think on this, just a minimal graph set in the overview to give context to the user.

And when clicking on it we move to the graph.

That's what this issue is about.

[2019-12-16 19:40] jshaughn commented on #1960
@israel-hdez There as an associated idea for this (from @lucasponce) that could be another issue; on double-click of an already selected main graph node, navigate to its detail page.

[2019-12-16 19:44] israel-hdez commented on #1535
@mtho11 UXD was going to provide a proposal. I think that proposal is not ready yet.

[2019-12-17 01:53] sniperking1234 opened #2038 "What does this +Inf mean"
**Describe the bug**
When I looked at the metrics interface, I found `+Inf` in the average values. What does this +Inf mean?
![image](https://user-images.githubusercontent.com/7834655/70957917-96883d80-20b2-11ea-958b-163f5488ae79.png)

**Versions used**
Kiali: v1.10.0
Istio: 1.1.2

[2019-12-17 02:14] jmazzitelli commented on #2038
What is the API endpoint you requested to get that JSON? I assume it was not a graph API, but probably something akin to what the Kiali metric detail pages request.

[2019-12-17 02:21] sniperking1234 commented on #2038
@jmazzitelli This appears when I click on the line on the graph.
`Request URL: http://10.110.25.71:28192/kiali/api/namespaces/iop/services/cir-api/metrics?queryTime=1576546588&duration=21600&step=720&rateInterval=720s&filters[]=request_count&filters[]=request_duration&filters[]=request_duration_millis&filters[]=request_error_count&quantiles[]=0.5&quantiles[]=0.95&quantiles[]=0.99&byLabels[]=source

[2019-12-17 02:49] jmazzitelli commented on #2038
Are you saying when you click a line on the graph, you go to a page with that raw JSON that you show in your original description? That's weird. I didn't think our graph edges direct you to a raw JSON page - I thought it updates the right-side summary panel.

Just so I'm clear - when you say "click on a line on a graph" - you mean clicking on one of the green edges on the graph - one of these line

[2019-12-17 02:58] sniperking1234 commented on #2038
@jmazzitelli It's not that complicated. I just clicked one of the edges on the graph and saw data through development tools.
![image](https://user-images.githubusercontent.com/7834655/70961161-f505e980-20bb-11ea-8fe5-04646218dad4.png)

[2019-12-17 07:54] jotak commented on #2038
`+Inf` means +infinite. It's the first time I see that in our context.
What happens under the hood here for this "avg" metric, is that we run this promql expression:

`sum(rate(istio_request_duration_seconds_sum{XXX}[720s])) by (source_workload) / sum(rate(istio_request_duration_seconds_count{XXX}[720s])) by (source_workload)`

with `XXX` being some labels to filter on your namespace and services.

[2019-12-17 08:02] jotak commented on #2014
@lucasponce @xeviknal  sorry I'm seeing the replies only now.
I only mean having a link to the YAML page but not necessarily scrolled down to the error (that could be a bonus, but would raise the question of electing an error to scroll to among multiple ones, honestly I'm not sure it's worth it). So, just the exact same link as the name field would be nice IMO.

[2019-12-17 08:19] jotak opened #2039 "[K-charted] onClick hook sometimes reports the wrong datapoint"
Problem is discussed here: https://github.com/kiali/kiali-ui/pull/1577
There is no clear reproducible scenario, sometimes it works as intended, sometimes not.

My guesses are, when there's multiple series so multiple svg elements, the `onClick` event might be triggered on an svg element that is different from the svg that holds the closest datapoint and can be a matter of cursor being a few pixels

[2019-12-17 08:29] simonpasquier commented on #2038
`+Inf` means that the result is greater than the maximum float64 value (e.g. `very big value / very small value`).

[2019-12-17 08:32] jotak commented on #2038
It makes sense

@sniperking1234 I'm not sure to understand if this is a problem that somehow breaks the UI, or you just asked out of curiosity?

[2019-12-17 08:56] sniperking1234 commented on #2038
@jmazzitelli I just wonder why there is such a large response time when my service is normal.

[2019-12-17 08:57] sniperking1234 commented on #2038
UI is normal.

[2019-12-17 10:58] abonas commented on #1535
is there a corresponding kiali-design issue?

[2019-12-17 11:11] lucasponce opened #2040 "Contributing guide is outdated"
Kiali contributing guide is not updated and it is preventing other folks to jump into the project:

https://github.com/kiali/kiali/blob/master/CONTRIBUTING.md

[2019-12-17 11:18] lucasponce commented on #2040
<nttb> Hey, quick question. I want to build my own Kiali UI, so I cloned both the Kiali and the Kiali UI repo. I made some changes to the UI, and then went through the steps described on the github page regarding building kiali with the local UI (calling make docker-build with CONSOLE_VERSION=local). However, when I go through the rest of the steps to
<nttb> deploy kiali (deploy operator, create k

[2019-12-17 11:26] jotak commented on #2040
Personally I do something like this now, to deploy to minikube:

`IS_MINIKUBE=true DORP=podman CONSOLE_LOCAL_DIR=/path/to/ui CONSOLE_VERSION=local make clean build cluster-push operator-create kiali-create`

(remove DORP=podman if you use docker)

[2019-12-17 12:18] abonas commented on #2040
@jotak can you provide a few specific points that need to be updated?

[2019-12-17 12:28] jotak commented on #2040
Actually I think it's more this section which is outdated: https://github.com/kiali/kiali#running-a-locally-built-ui-inside-the-core

(make docker-build doesn't exist anymore)

[2019-12-17 12:35] jshaughn commented on #2040
I assigned it to @jmazzitelli , he should be able to clear things up.

[2019-12-17 13:53] matty111 opened #2041 "User Interface to apply authorization policy of Istio"
Is it possible to deploy authorization policy of Istio by kiali?

[2019-12-17 13:56] lucasponce commented on #2041
Not yet, it's limited but we are working to extend the actions on configuration scenarios that are beyond Services, like the authorization policy.

The main issue related to this is https://github.com/kiali/kiali/issues/1380 in case you want to track this.

When we resolve how to manage resources that don't belong to a service but a namespace we can open new scenarios like this.

[2019-12-17 15:07] cfcosta commented on #1923
I did some investigation on it few sprints ago, the main takeaways are:
- There's no simple way to add it to the end of the list viewport, mostly because of the height calculation for the virtual lists.
- The current virtual list implementation does not respect the provided height (we do set it but it doesn't make any difference).
- The item count was part of PF3, but it is not anymore on PF4. If

[2019-12-17 15:14] lucasponce commented on #1513
@xeviknal do you remember if this one was already implemented ?

[2019-12-17 15:20] xeviknal commented on #2041
@matty111 We are also working in https://github.com/kiali/kiali-ui/pull/1582. You will be able to browse, edit and delete AuthorizationPolicies once it is merged.

[2019-12-17 16:59] jmazzitelli commented on #2040
see PR #2042 for the changes to the README.

[2019-12-17 17:31] mtho11 opened #2043 "Workload Details Pod: Label column not aligned with row"
**General remarks**
Workload Details Pod: Label column not aligned with the rest of the row -- it sits quite a bit above the top of the other columns.

![Kiali_Console_and_Kiali_UX_Design_Weekly_-_Google_Docs](https://user-images.githubusercontent.com/1312165/71019666-9cc8ea80-20af-11ea-8e37-9977597baf38.png)

Closeup:
![Kiali_Console](https://user-images.githubusercontent.com/1312165/71019882-047

[2019-12-17 17:47] mtho11 opened #2045 "Add OCP style badging to Graph"
**Is your feature request related to a problem? Please describe.**
To be more consistent with OCP we should use the OCP style badging for the Graph as well.

**Describe the solution you'd like**
Here is the design issue: https://github.com/kiali/kiali-design/issues/154
We may still need some clarity from UxD on exactly what should be done.

For reference:
![Add_OCP_style_badging_to_Graph_·_Issue__

[2019-12-17 19:15] jshaughn opened #2046 "Double-click focus-node to navigate to detail"
This is an idea from @lucasponce that offers one more way to drill into node detail.

Today in the graph, a single click selects a node and a double-click drills down into the node focus graph (aka node graph, node detail graph).  On the node focus graph a double-click on the focus node has no effect because we are already drilled down.  A natural progression would be to have that double-click nav

[2019-12-17 19:21] jshaughn commented on #1750
It won't actually be easy to show an expanded right-click as part of the tour.  Just getting the tour to land on the graph itself is a bit of guesswork.  But we can enhance the text of the graph tour stop, it currently does not even mention the context menu.

[2019-12-17 19:26] jshaughn opened #2047 "Overview sort field "status" selection should be "health""
On overview sort selection dropdown the "Status" option should be "Health" to match the other filter and not to be confused with validation status.

[2019-12-17 19:31] jshaughn commented on #1858
@DhruvM1994 It seems this issue can be closed.  Please let us know if you'd like it re-opened. Thanks!

[2019-12-17 19:31] #1858 closed

[2019-12-17 19:45] mtho11 commented on #1579
We should clean this up as it is a Typescript anti-pattern. It is meant for non-typescript React apps only.

Here is an example of proptypes:
[code]

Plus this will allow us to remove entirely the package:     "prop-types": "15.7.2",

[2019-12-17 20:16] jshaughn commented on #1570
Duplicate of https://github.com/kiali/kiali/issues/1941

[2019-12-17 20:16] #1570 closed

[2019-12-17 20:18] jshaughn commented on #1568
Done a while back.

[2019-12-17 20:18] #1568 closed

[2019-12-17 20:19] mtho11 commented on #2046
Is there a ux design issue for this? (before we go down a certain path)

[2019-12-17 20:23] jshaughn commented on #1494
@lucasponce this is done, right?

[2019-12-17 20:45] jshaughn opened #2049 "Namespaces overview should differentiate idle from failure apps"
As an active Kiali user, it looks a bit confusing to me when I see some of my apps which are just scaled down to zero marked/added in the list of failures.

I would like to see some differentiation between those apps that are really in some kind of failure state from those which are just idled (or scaled down to zero).

I have attached two images of how it looks like today (current-overview.png) a

[2019-12-17 21:06] mtho11 commented on #1750
@jshaughn I couldn't figure out how to easily add the right-click context menu to the tour either. And maybe some explicit documentation wrt context menu would also help.

[2019-12-17 22:31] jshaughn commented on #2046
There is no design issue, it's just our idea.  It just adds a nav shortcut where currently we do nothing.

[2019-12-18 08:21] lucasponce commented on #2049
Interesting, but yes, I guess we have the information to draw this. If the desired replica of the controller is set to 0, I agree that doesn't sound an error if the user wanted to perform that action.

I wonder if there is some cornercase, but I think with the info we collect from workload:

[code]

We could compute this.

[2019-12-18 08:27] lucasponce commented on #1957
Please, let's progress on this issue.
It's part of our next release and today it's in the radar with a potential delay.

Let's use this work as base:
https://github.com/openshift/console/pull/3176

And let's prepare a draft with the Maistra/Kiali part, according with the info that is merged in openshift there will be needed a CR for this.

From Maistra/Kiali side we can start prototyping how when

[2019-12-18 08:40] jotak commented on #2049
+1 I think there's already some jira/ticket about that but we haven't done it so far. Let's keep this one as it's on our radar

[2019-12-18 10:16] lucasponce commented on #1494
Correct, it can be configured using the CR
https://github.com/kiali/kiali/blob/master/operator/deploy/kiali/kiali_cr.yaml#L476

[2019-12-18 10:16] #1494 closed

[2019-12-18 10:28] lucasponce opened #2050 "Fix incorrect description on Kiali CR"
https://github.com/kiali/kiali/blob/master/operator/deploy/kiali/kiali_cr.yaml#L455

"# Caution: Kubernetes cache is not compatible with reduced permissions scenearios."

@jmazzitelli you mean cluster vs non cluster permissions or you mean here if you remove a WATCH verb for example ?

I guess the sentence in the yaml could be misleading and perhaps it needs more clarification.

Cache is designed

[2019-12-18 10:47] matty111 commented on #2041
@xeviknal it will wonderful if from ui (link service-to-service), I can apply the policy. For example with policy deny-all applied, I can apply permissive policy with the mouse.
I suggest this feature and thank you  for the replay

[2019-12-18 10:50] lucasponce commented on #2041
@matty111 can you mock up your suggestion ? where you envision could be suitable to apply this feature ?

Service level or namespace level ?

Perhaps we can use your inputs in the current work we are doing.

Thanks !

Lucas

[2019-12-18 11:49] jmazzitelli commented on #2050
@lucasponce I don't know what that means. I don't think I originally authored that. I didn't work on the cache so I wouldn't know where it does or does not work :)

Should we take this out?

[2019-12-18 11:54] jmazzitelli commented on #2050
Looks like it originated in the old PoC PR for the cache implementation that we just copied over: https://github.com/kiali/kiali/pull/1263/files#diff-f8f6c9abc6c5969045b61451c949e922R137

I think we should remove it. It probably is outdated.

[2019-12-18 11:56] jmazzitelli commented on #2050
Yeah, and look here - some code was removed that had this comment in it, too:

https://github.com/kiali/kiali/pull/1749/files#diff-9c432430308ba075a6525635dd9a4ed9L137

https://github.com/kiali/kiali/pull/1749/files#diff-9c432430308ba075a6525635dd9a4ed9L204

So that comment in the Kiali CR probalby should have been removed as well.

I take it out and submit a PR.

[2019-12-18 11:57] matty111 commented on #2041
I don't know your code in the deep, but an authorization policy of istio work with the label and the policy allow at the serviceAccount (and i think all the service of this) in the namespace to access to workload  of services with that label.

I think kiali to act as middleware and with the user interface create the yaml file of policy and apply it. The level I thought was a problem of istio and n

[2019-12-18 12:02] lucasponce commented on #2041
So we are prototyping with namespace level of Istio objects.
Do you see something like this useful ?
![image](https://user-images.githubusercontent.com/1662329/71084875-8184da80-2196-11ea-8135-9a885d2e3808.png)
I mean, the Authorization Policy can be selected from there and we can define a high level driven use case with the common / more used scenarios.

Then yaml config would be created and also

[2019-12-18 12:13] matty111 commented on #2041
Yes, this is useful and i think that the policy can to be applied also in the graph with a click on the arrow between the services

[2019-12-18 12:29] lucasponce commented on #2041
Thanks for the feedback.
We are re-organizing the Wizards.
At the moment, you need to go to Service Details to fetch context of the service (Service + Workloads + Istio Config attached + Validations).
Also, we have objects that don't belong/link to a service but are namespace oriented, that's current work.

When all of these use cases are addressed we plan to interact from the graph but that will

[2019-12-18 12:31] #2050 closed

[2019-12-18 12:34] abonas commented on #2045
please elaborate what badges should be changed in Kiali and to which other badges.
Keep in mind that Kiali's graph has in general many more nodes, and they are much smaller than the ones in openshift topology.

[2019-12-18 12:47] #2040 closed

[2019-12-18 12:58] jshaughn commented on #2045
I don't think I'm a fan of this idea as it will increase label sizes and therefore overlap. Our node shapes already indicate the node type. Not sure about this one.

[2019-12-18 13:04] jshaughn commented on #2049
@jotak I did look for an existing issue and couldn't identify one, but it may be hiding ;)  +1 to just using this one and we'll clean up duplicate if we find it.

[2019-12-18 14:47] xeviknal opened #2052 "Innaccurate validation References for DR multimatch validation"
References aren't accurate when you have the following DRs:

[code]

References for reviewsa, should be reviewsb and reviewsc. For reviewsb, should be reviewsa, reviewsc. For reviewsc, should be reviewsa, reviewsc.
That is not happening now.

[2019-12-18 14:56] xeviknal commented on #2052
Previous behavior: Only reviews-cp1 has the

[code]

[code]

[code]

[2019-12-18 16:04] xeviknal commented on #1513
I think this one is not implemented yet.
Question here. This means that we should warn those scenarios where two VS points to the same host and gateway?
Warning:
reviews:istiogateway
reviews:istiogateway

Warning:
reviews: EMPTY
reviews: EMPTY

Not a warning:
reviews:istiogateway
reviews:bookinfogateway

Not a warning:
reviews:EMPTY
reviews:bookinfogateway

Perhaps I am misunderstanding this.

[2019-12-18 16:27] mattmahoneyrh opened #2054 "Pass Container Version To Kiali Server"
Currently there Kiali does not display container version in Help About, which would be helpful when the container version changes, but the Kiali server version does not

Kiali-ui   1.0.4
Kiali        v1.0.8.redhat1

Add something like:
Kiali Container 1.0.9

[2019-12-18 16:28] jmazzitelli commented on #2054
We'd want to rename the label "Kiali" so it identifies it as the "Kiali Server" version... so we should have labels like this:

[code]

[2019-12-18 16:32] jmazzitelli commented on #2054
I'm gonna take a quick stab at this.

[2019-12-18 17:05] #2024 closed

[2019-12-18 19:03] mtho11 commented on #2045
@jshaughn TBH I'm not a big fan of it either this is more UxD driven from some of the conversations we have had in our meetings.

[2019-12-18 19:04] mtho11 commented on #2045
@abonas I'm not totally sure exactly what needs to be changed. This should be driven by UxD.

[2019-12-19 01:26] jmazzitelli commented on #2054
See the two PRs that will result in something like this:

![image](https://user-images.githubusercontent.com/2029470/71136996-ac8e1f00-21d4-11ea-814c-0acfc4bd88ab.png)

[2019-12-19 02:41] harpratap opened #2056 "Support OAuth login (OpenID connect)"
**Is your feature request related to a problem? Please describe.**
We use Keycloak for user authentication for all of our components, would like to have in built support in Kiali (like Grafana). Right now we have a sidecar proxy that does this for us, but it's very inefficient as every single request (including prometheus queries) require to go through the authentication first which makes everythi

[2019-12-19 07:42] jotak opened #2058 "Blog about traces & metrics correlation in Kiali"
For openshift.com

cc @xeviknal @israel-hdez

[2019-12-19 09:02] jotak commented on #1854
done (all merged)

[2019-12-19 09:02] #1854 closed

[2019-12-19 09:23] lucasponce commented on #2058
Please, don't add these tasks to the project.
Blogs, conferences, or similar are NOT part of the Project issues.

[2019-12-19 09:23] #2058 closed

[2019-12-19 09:25] jotak commented on #2058
@lucasponce I'd need to track this somehow. What do you suggest?

[2019-12-19 09:59] jotak commented on #2058
@lucasponce I don't want to have my personal backlog split in different places, we have to come up with a solution for that.

[2019-12-19 10:09] lucasponce commented on #2058
@jotak definetely not.
Kiali Issues is not people tracking tool is project tracking.
Tasks as blogs/conferences shoudln't be track here, but in your Weekly reports.

That's decision we took for Kiali.

[2019-12-19 11:05] lucasponce commented on #2056
Thanks for the issue @harpratap.
For the specific OpenShift platform there is a native integration, what platform are you using ?

Also, in OpenShift, Kiali deletages in the user's RBAC rights, I guess with the feature request you propose here, you mean only authentication, right ? But do you envision also to touch the authorization part managed by Keycloack ?

[2019-12-19 12:03] FilipB commented on #2033
I was not able to reproduce the original problem with operator being stuck and not doing reconciliation. Changes in kiali CR are correctly propagated. The original problem happened after providing incorrect CR for which reconciliation failed. But the reconciliation was not happening even after correcting the CR. But as I said I'm not able to reproduce. Closing

[2019-12-19 12:03] #2033 closed

[2019-12-19 13:44] FilipB opened #2059 "Reconciliation fails even for valid kiali CR after saving incorrect CR several times"
When I save incorrect kiali CR several times and then save correct CR the reconciliation is still failing complaining about the same error which was fixed in the new CR.

**Versions used**
Kiali-ui
    1.12.0 (229a3f4d2c86d28e8bd00a8ddca971e523b733e1)
Kiali
    v1.12.0-SNAPSHOT (d4696cdaaa0b8c4c598f7220ed937b6f69c3f1a3)
Components
Istio
    1.4.2
Prometheus
    2.12.0
Kubernetes
    v1.16.2

**To

[2019-12-19 13:45] FilipB commented on #2033
So I managed to reproduce it eventually, opened new issue - https://github.com/kiali/kiali/issues/2059

[2019-12-19 14:08] jshaughn commented on #2059
cc @jmazzitelli

[2019-12-19 16:15] jmazzitelli commented on #2059
i will attempt to replicate and see what the problem is

[2019-12-19 17:13] jmazzitelli commented on #2059
The first time here (step 4 and 5) I did not see it fail. Not sure why the behavior is different with an empty password. But since it doesn't seem related to the grafana settings per se, I'll just do something to get this to fail and see what happens. But on the latest 1.11, this doesn't fail with an empty password.

[2019-12-19 17:48] jmazzitelli commented on #2059
BTW: in order to REMOVE a piece of yaml, you have to set it to `null` - this is a kubernetes quirk of kubernetes yaml "apply" (the merge functionality). So if you want to remove everything, you can't just delete it entirely from the yaml (because then it will merge your yaml with what already exists and thus keep your old settings).

So if you already have a full "grafana" group of settings, this

[2019-12-19 17:49] jmazzitelli commented on #2059
(and FWIW: this "null" thing is causing the bug that results in the "template error" you are seeing - I'm trying to figure out how to solve it - there is a problem here with the conditional statement in the ansible when a field is being removed via this "null")

[2019-12-19 18:31] #2039 closed

[2019-12-19 18:37] jmazzitelli commented on #2059
OK, this appears to be a problem everywhere. To remove items, you use the "null" value. This results in the ansible variable to be of type `NoneType`. This means the variable IS defined, its just defined as a NoneType variable - thus our default values do not take effect. But all of the ansible playbook assumes all (well, virtually all) variables are at least their default value (the playbook does

[2019-12-19 18:44] #2014 closed

[2019-12-19 18:55] FilipB commented on #2059
It makes kind of sense when merging new config via cli. I was using UI Console to edit the yaml which is doing it via wysiwyg editor.

[2019-12-19 19:01] jmazzitelli commented on #2059
which, under the covers, I'm sure is going through the same merge-patch API as the CLI.

But this did flush out a problem that is throughout the playbook. I bet if you do the same kind of test (setting some fields to "null" to remove them) you'll hit other problems like this.

[2019-12-19 19:10] jmazzitelli commented on #2059
Let me document a workaround since I don't see a quick code fix on the horizon:

WORKAROUND:

If you need to remove a setting from the CR and you hit problems like this, you must DELETE the entire Kiali CR first, let the operator run the reconcile loop (thus uninstalling Kiali) and then CREATE an entirely new Kiali CR with the fields that you want. This will install Kiali with just the settings yo

[2019-12-19 19:17] jmazzitelli commented on #2054
I'm going to explain how this works.

By default, the Kiali Container version will be the same major.minor.patch version of the Kiali Server.

If, however, the Kiali container image's Dockerfile gets an "ENV" added to it, and defines a KIALI_CONTAINER_VERSION environment variable, the value of the env var will be the value you see in the Kiali Container in the About box.

So, if you build a Kiali

[2019-12-19 19:38] #2054 closed

[2019-12-20 00:31] mtho11 opened #2060 "Smooth out Kiali Charts"
**Is your feature request related to a problem? Please describe.**
All of the line graphs in Kiali have a sawtooth structure to them (because there are not many points in the graph). This is displeasing to the eye.

![Kiali_Console](https://user-images.githubusercontent.com/1312165/71220045-0695ef80-227c-11ea-8ad1-308e3350a3d9.png)

**Describe the solution you'd like**
Can we smooth out the line g

[2019-12-20 00:50] mtho11 opened #2324 "Graph Edge labels sometimes hard to read with line below showing through"
Sometimes the graph edge labels can get difficult to read because the underlying edge line shows through the edge label font. Like this:

![Kiali_Console](https://user-images.githubusercontent.com/1312165/71220951-64780680-227f-11ea-8d25-4e16275eab37.png)

Should we put a background on the edge label to make it more readable? It could even have transparency so as to not make it too much.

[2019-12-20 01:02] mtho11 opened #2325 "Remove Kiali Application, Workload, Service Icons now that we have OCP badges for them"
IMO: the Kiali UI is starting to feel a bit inconsistent with some places having Kiali icons for services, applications, workloads and other places using the OCP badges for these. Perhaps now is the time to remove those icons for good?

[2019-12-20 01:45] harpratap commented on #2056
It's an on-prem cluster we built on bare metal. Not using any provider

Yes, the RBAC controls what Kiali can/cannot do in the kubernetes cluster. But anyone who has access to the UI of Kiali is able to make use of whatever permissions Kiali has access to. So we want to provide access to only the authenticated users (which we manage via groups made in Keycloak). We personally don't need authorizat

[2019-12-20 08:14] lucasponce commented on #2056
Yes, also, that is the mechanism used by Kiali in one of the providers (OpenShift) where the user's token is used internally to perform the queries to the k8s API allowing to RBAC to act per user granularity.

In others environments, the Kiali ServiceAccount is used instead (which permissions can be controlled at that level).

I guess the issue scope is clear, the how is what it needs more thinkin

[2019-12-20 08:18] lucasponce commented on #2060
Perhaps it's a minimal change:
https://formidable.com/open-source/victory/gallery/interpolation -> select natural and I think it's what it refers here.

[2019-12-20 09:33] jotak commented on #1859
@jshaughn , I see that I didn't answer you. I don't have a mockup, but basically the idea is to select something like "custom" within the duration selector, which will trigger two new fields being displayed (from and to), then use a date-time picker from those. As always, nothing is definitive and we can iterate to improve when needed.

I see that PF has no implementation ready and the discussions

[2019-12-20 09:37] #1892 closed

[2019-12-20 09:44] lucasponce commented on #1859
+1 from my side.
If we don't have a component in PF4 but we have an alternative https://reactdatepicker.com/ it's ok to progress.

We have same situation with the slider where we have imported the component itself.

PF shouldn't block / prevent this feature to progress, we can switch later or adjust it.

To me most important goal is to deliver a feature in upstream that is ready to get feedback fr

[2019-12-20 09:48] jotak commented on #1859
I think #1860 and this one complement each other ; Sometimes navigating in the chart is handy, but not sufficient. Basically, as user user, I think I prefer in-chart navigation to zoom-in something special, but I prefer datapickers when I am searching for a particular date / time.

[2019-12-20 09:48] lucasponce commented on #1859
+1

[2019-12-20 10:19] lucasponce commented on #1380
Description updated to focus on "namespace" level first.
Also, added subtasks as it is necessary to extend the permission query but at namespace level.

[2019-12-20 12:48] jshaughn commented on #1859
I have been avoiding the datetimepicker situation with graph replay but it's very hard because there isn't really a great substitute.  It's a huge hole in Patternfly.   In my current POC I actually use a slider to set a start time and then an interval (i.e. start here and play for 5 minutes).    I'm +1 for wrapping a datetimepicker into our code base as an interim solution.  Hopefully it works wel

[2019-12-20 12:52] lucasponce commented on #1859
Mmm. Same custom range may be not needed to be applied in all scenarios.
Today metrics is different than the graph.

All of these open thoughts are ok but taking assumptions perhaps may introduce some feature in a way that we don't want.

But yes, let's try to find an opportunity to discuss this with better context, time and localization for more productive discussions.

[2019-12-20 13:12] jshaughn commented on #1859
@lucasponce Of course I don't actually apply it to any existing pages.  It's only exposed for potential use.  Also remember that Metric charts use a different *duration*, that's different than a custom time window, which is a completely new concept.

[2019-12-20 13:26] jotak commented on #1859
Yeah we should talk about this after the break. I can already see a button "Replay in Graph" from the metrics pages :-)

[2019-12-20 13:30] jshaughn commented on #1859
Exactly :)   Or maybe a stacked view for correlation!

[2019-12-20 13:43] jshaughn commented on #1957
@cfcosta I'm removing the Waiting on External label.  I think progress can be made.  As far as I know the support has been merged into 4.3 and is available in a nightly build.  Also, on our side we should be able to work on the needed support.  You may want to talk with @jmazzitelli (before the break) regarding any operator work.

[2019-12-20 14:00] lucasponce commented on #1415
Duplicated in https://github.com/kiali/kiali/issues/2056

[2019-12-20 14:00] #1415 closed

[2019-12-20 14:08] lucasponce commented on #1848
related to https://github.com/kiali/kiali/issues/2056

[2019-12-20 14:11] jshaughn commented on #1417
This is an incremental task for side panel improvements and dev console l+f synchronicity,  The following work has currently been green-lighted :

- [ ] remove the "label" badging in the side panels, it's visually distracting and does not add much information.
- [ ] add a right-adjusted Actions dropdown that mimics the context-menu for the node
- [ ] Work on consistent font use (see Dev Console)
-

[2019-12-20 14:50] #2052 closed

[2019-12-20 15:47] jmazzitelli commented on #2059
Just going to leave some notes here for me as I debug this and see how Ansible behaves.

If you have an item that is NOT a dict (e.g. the `installation_tag` config setting - that's just a string in our variables), and you set it to "null" in the YAML, that variable does NOT become a NoneType in the context of our Ansible playbook. However, if the variable IS a dict (such as `external_services.graf

[2019-12-20 15:52] jmazzitelli commented on #2059
i believe the "problem" is in our use of `combine()` when someone wants to remove an item from the yaml using null. Lines like this in our vars/main.yml file:

[code]

I think combine() is storing the items as NoneType when we just want them to be removed and replaced with our default values. Not sure how to do that yet.

[2019-12-20 20:29] jmazzitelli commented on #2059
I have a fix ready to go in PR #2063

[2019-12-23 11:37] xeviknal commented on #1344
Closing per https://github.com/kiali/kiali/pull/2028
@yangminzhu let us know if the outcome of that PR is aligned with your expectations. Thanks.

[2019-12-23 11:37] #1344 closed

[2019-12-23 13:45] abonas commented on #1380
is this issue about the ability to do an operation on a resource without the need to navigate to it, or about the ability for bulk operations? (an operation on multiple resources at the same time, e.g. delete 3 destination rules of namespace B)

[2019-12-24 10:32] #2047 closed

[2019-12-24 11:05] jmazzitelli commented on #1071
This is a dup of https://github.com/kiali/kiali/issues/2056

[2019-12-24 11:05] #1071 closed

[2019-12-24 11:18] jmazzitelli commented on #2056
If anyone in the community wants to assist with implementing this (e.g. with Keycloak), here's some info of how Kubernetes works:

https://kubernetes.io/docs/reference/access-authn-authz/authentication/#openid-connect-tokens
https://github.com/kubernetes/dashboard/issues/2630
https://github.com/kubernetes/dashboard/issues/2353
https://github.com/kubernetes/dashboard/issues/3148

[2019-12-26 12:12] #1750 closed

[2019-12-29 11:56] abonas commented on #1464
is having a history of previously typed text is not an integral part of the relevant components? like pf4 component that supports that? (could be not, I thought that it's worth to check before implement from scratch)
cc @aljesusg

[2019-12-29 12:11] aljesusg commented on #1464
Unfortunately there is not a PF4 component for this :(

[2019-12-30 21:28] abonas commented on #1464
@aljesusg ok thanks!

[2019-12-31 09:53] eosantigen opened #2064 "https cannot be disabled?"
**Describe the bug**
"When cert_file and private_key_file are set to an empty string, https will be disabled." This doesn't seem to work. I use Kubernetes Ingress and attach the ingress to the Kiali service works normally but when hitting http it redirects automatically to https.

**Versions used**
Kiali: kiali-operator.v1.11.0
Istio: 1.4.2
Kubernetes flavour and version: 1.14.9

**To Reproduce**

[2020-01-03 08:43] lurenjia528 opened #2065 "kiali sometimes connect kube-apiserver failed"
E0103 14:36:34.516874       1 workloads.go:605] Workload istio-security-post-install-1.4.2 is not found as Job
E0103 14:36:34.517395       1 workloads.go:570] Workload prometheus-k8s is not found as StatefulSet
E0103 14:36:48.412904       1 graph.go:87] Get https://10.10.0.1:443/api/v1/namespaces: unexpected EOF: goroutine 1780 [running]:
runtime/debug.Stack(0x4000e38780, 0x3b, 0x40006ac920)
	/opt

[2020-01-03 12:48] jmazzitelli commented on #2064
I'm looking into this .. but can you tell me the results of the following (note: I am assuming you changed the name of the istio controlplane namespace -- you aren't using "istio-system" but rather "istio" - this is why the commands below use `-n istio`)

[code]

and

[code]

and

[code]

[2020-01-03 12:55] eosantigen commented on #2064
Thanks for the reply.

Output 1:

`[map[name:http port:20001 protocol:TCP targetPort:20001]]`

Output 2:

[code]
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    field.cattle.io/ingressState: '{"a2lhbGkvaXN0aW8va2lhbGkubWV0aXMuc2l0ZS8va2lhbGkvMjAwMDE=":""}'
    field.cattle.io/publicEndpoints: '[{"addresses":["172.20.0.94"],"port":80,"protocol":"HTTP","serviceName":"istio:

[2020-01-03 12:55] #2064 closed

[2020-01-03 13:27] jmazzitelli commented on #2064
@eosantigen I'm not ready to stop looking at this yet :) because something looks weird to me. I noticed when the kiali operator installs the Ingress, it applies these two pieces of metadata annotations to it:

[code]

This comes from here: https://github.com/kiali/kiali/blob/v1.11/operator/roles/kiali-deploy/templates/kubernetes/ingress.yaml#L9-L14

I thought this was a bug - that we need to flip

[2020-01-03 13:43] eosantigen commented on #2064
Nice thought, but this is not an ingress generated by the Operator ! It has been applied by me separately because we use ingress-nginx controller on our k8s env . On which I haven't enabled these two annotations... Don't worrry, I think it's been solved, so not worthy to waste your time :) Cheers.

[2020-01-03 14:02] jmazzitelli commented on #2064
@eosantigen you are smarter than you think :) You did come across (perhaps unknowingly) a bug in the operator, even if you aren't specifically hitting it. I'm going to open a new github issue (since the bug is with the ingress created by the operator when it is told to create one; you have your own ingress that actually works around the bug).

[2020-01-03 14:07] jmazzitelli opened #2066 "[operator] Kubernetes Ingress always assumes HTTPS when it should not"
In the Kiali CR there is a "spec.deployment.ingress_enabled" setting that when true (the default) tells the operator to create a Kubernetes Ingress when installing on Kubernetes (non-OpenShift) environment.

When testing on minikube for example, you will see an Ingress created with the nginx annotations set to indicate HTTPS. But if you do not have Kiali configured for HTTPS (that is, the `identit

[2020-01-03 14:08] jmazzitelli commented on #2064
issue that came out of this investigation: https://github.com/kiali/kiali/issues/2066

[2020-01-03 15:29] binayakbehera999 commented on #1375
Hi @lucasponce. I want to fix this issue. Could you suggest how to get started?

[2020-01-03 15:40] #2059 closed

[2020-01-06 10:55] jotak commented on #1757
@israel-hdez @jmazzitelli is this task only for Kiali CR or also for monitoring dashboards CR? (put differently, should I create a separate task?)

[2020-01-06 13:20] jmazzitelli commented on #1757
@jotak I think we should do it all together. After all, the point of this whole thing is because "The old v1beta1 is deprecated" so both of our CRDs need to be done.

[2020-01-06 14:07] jotak commented on #1757
@jmazzitelli it's more about organizational stuff: is @israel-hdez working on dashboards CRD too? Else I can create a task and do that myself in the same sprint

[2020-01-06 14:13] jmazzitelli commented on #1757
No. He has only been working on the Kiali CRD here: https://github.com/kiali/kiali/pull/1920/files#diff-cc2a416f94f07d10da981df43a05710a

[2020-01-06 15:28] israel-hdez commented on #1757
@jotak I confirm that I haven't worked on the dashboards CRDs. I was going to do it incrementally on two or three PRs and link the PRs to this same task. But if you want and since you have better knowledge of that part, you can go ahead an do the dashboard CRDs.

[2020-01-06 15:40] mtho11 commented on #2060
@lucasponce I think **cardinal** looks slightly better. But yes, that should work!

[2020-01-06 16:46] jmazzitelli commented on #1489
Attended the Istio Environments WG on Jan 6, 2020. The Istio team is merging the istio/installer and istio/operator repos into istio/istio repo and hopefully that work will be done within a week (no guarantees). This work is required before we can go ahead and complete the work for this kiali issue.

[2020-01-06 18:26] mattmahoneyrh opened #2068 "Hover-Over Info On Traffic/Flags/Hosts Side-Graphs Not Correct"
Hover-over Traffic/Flags/Hosts side-graphs is not showing correct information .

In the Hosts "HTTP Request Traffic min / max:" graph screen-shot, it can be seen that when hovering over the graphed line does not fully display the information, as well as it appears the color is incorrect (Expected color is red, Actual color is blue):

![Selection_114](https://user-images.githubusercontent.com/72629

[2020-01-07 00:17] mtho11 opened #2326 "Graph sidepanel colors for 4xx and 5xx too close, hard to distinguish"
On the graph side panel the 4xx and 5xx colors are very difficult to distinguish from each other. I would think the 5xx would be red and the 4xx be orange or yellow.

Here is the image:
![Kiali_Console](https://user-images.githubusercontent.com/1312165/71858390-e352a900-309f-11ea-8772-a59504551b8f.png)

For tired eyes, this looks almost the same.

[2020-01-07 00:29] mtho11 opened #2327 "Consolidate Graph and Namespace selector to single line"
Seems like we are wasting a lot of vertical screen real estate with the namespace selector on a separate line than the graph heading. Can we consolidate these two lines into one?

![Kiali_Console](https://user-images.githubusercontent.com/1312165/71858848-91ab1e00-30a1-11ea-926d-6c18e5b221d6.png)

[2020-01-07 01:16] mtho11 opened #2328 "Expanded Overview cards use too much space"
![Kiali_Console](https://user-images.githubusercontent.com/1312165/71860321-4431af80-30a7-11ea-863e-008a56d50a61.png)
Considering there could be many namespaces here, the traffic portion of the expanded overview card uses too much space. The traffic sparkline is intended to only show magnitude and trend (the magnitude can not really be inferred unless you hover over a point since there is no scale

[2020-01-07 16:10] jshaughn commented on #1584
@jmazzitelli , please proceed with the update to 0.13, which has the fix.

[2020-01-07 18:17] jshaughn commented on #2068
@mattmahoneyrh , @cfcosta No need to jump the usual process of getting on backlog, etc.   I'll add to the backlog and asking @jotak to comment as he's most familiar with the new Victory sparklines and the associated tooltip handling.

[2020-01-07 21:22] mtho11 opened #2069 "Kiali Graphs show thin line(1px) when horizontal 2px otherwise"
**Describe the bug**

The victory graphs show as thin (1px) lines when perfectly parallel with the x-axis (horizontal) everywhere else the lines show as thicker (2px) lines.

![Kiali_Console](https://user-images.githubusercontent.com/1312165/71930749-228d0280-3151-11ea-9732-08736612813b.png)

![Kiali_Console](https://user-images.githubusercontent.com/1312165/71940089-f5008300-3169-11ea-85a7-a240e3

[2020-01-08 01:51] mtho11 opened #2070 "In Kiali Service Graph view switching App Graph to Service graph loses Response Time Options"
**General remarks**
When in the App graph or versioned app graph mode in the Kiali service graph, the `Edge label` selections are lost when switching the `App Graph` to `Service Graph`.
There is no warning that I will lose those edge labels, and they are still selected in the dropdown even though they are not visible now.

This video illustrates this behavior:
![response-time](https://user-images.

[2020-01-08 08:19] jotak commented on #2068
@mattmahoneyrh when you see this issue, isn't it because the datapoints of two series are coincident?
It's hard to read on your first screenshot, but I think this is the case on the second one: p95 and p99 are coincident. So, the actual bug is that we should display the 2 colors on the tooltip (but at the moment I've not been able to do this, due to victory not provide enough information ... might

[2020-01-08 08:34] jotak commented on #2068
About tooltip being truncated, the issue is that it's all within a svg canvas so the tooltip cannot be displayed overlapping outside of that canvas. Among the possibilities we have, I see:

- Increasing chart height (but I remember that you prefer keeping it as small as possible to avoid side-panel scrolling)
- Increase chart height but reduce margin between charts
- Reduce tooltip padding
- Reduc

[2020-01-08 08:57] jotak commented on #2069
Yes ... looks like `VictoryVoronoiContainer` uses a clipPath boxing that is 1 pixel too small. Need to investigate.
https://formidable.com/open-source/victory/docs/victory-primitives/#clippath

[2020-01-08 09:36] jotak commented on #2069
Oh, there's a very easy workaround, adding `domainPadding: {y: 1}`, will do that by default in k-charted

[2020-01-08 10:21] suraj77foru opened #2072 "Increase retention period in kiali to 12 hrs"
Hi,

i wanted to increase the retention time in kiali ( currently 6 hrs) to 12 hrs. i changed in prometheus.retention  but still its not getting reflected in kiali. please help

[2020-01-08 10:42] jotak commented on #2072
Hi @suraj77foru
In theory, you should only have to refresh your browser to see the retention period updated in Kiali UI.
You can open the dev console of your browser and check for network calls on page refresh. There should be a call to `config` endpoint, which provides in the response something called `storageTsdbRetention` . As per my screenshot:

![Capture d’écran de 2020-01-08 11-36-46](https:

[2020-01-08 10:48] jotak commented on #2072
Also, maybe I'm misunderstanding the problem. You said you changed `prometheus.retention`, but what is that exactly? Did you go through prometheus configuration as explained there: https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects ?

[2020-01-08 11:04] jotak commented on #2068
Could you split this in two different issues please? I've a fix for the clipped tooltip issue, but not yet for the missing color issue.

[2020-01-08 11:06] suraj77foru commented on #2072
Hi jotak,

Thanks for the response. i checked in browser and the value matches with the value that was provided in storage.tsdb.retention.time, but the same is not seen in kiali ui. it is still showing 6 hrs. below is the image.

<img width="359" alt="kiali" src="https://user-images.githubusercontent.com/56642310/71973382-da471080-3234-11ea-9300-4c1087003972.PNG">

[2020-01-08 11:19] lucasponce commented on #1380
Originally the idea was to cover: a) create a resource under a namespace that might not be related to a specific service, b) be able to run bulk operations, specially on delete, as probably update operation is tricky here.

At the moment I'm working in the first a) context as we have more clear use cases for it, b) is less priority I think and also it implies more changes (multiple selection, etc)

[2020-01-08 11:36] #1579 closed

[2020-01-08 12:29] cfcosta commented on #2068
+1 to that, the inconsistent text size loses us a lot of space.

[2020-01-08 13:04] #2066 closed

[2020-01-08 13:12] jmazzitelli opened #2073 "[operator] replace k8s_facts with k8s_info"
[code]

This was something I found here: https://github.com/operator-framework/operator-sdk/issues/2168

Looks like Ansible 2.9 deprecated that k8s_facts test. We use it in our playbooks, so we need to fix this too.

[2020-01-08 13:13] jmazzitelli commented on #2073
From that operator SDK issue, it sounds like a trivial search-n-replace:

`This is pretty easy to fix; we just need to change from using k8s_facts to k8s_info. I verified with a default test setup that this works identically and drops the deprecation warnings.`

[2020-01-08 13:15] jshaughn commented on #2070
@mtho11 Good observation.  The root cause is not  the switch of graph types but rather that response time is not a valid option for Service graphs.  You'll get no label even if you are working with a Service graph directly and select Response Time edge label.  This is because a Service graph is a "logical" of requests.  We can show request rates for services, but because services themselves don't

[2020-01-08 13:19] jmazzitelli opened #2074 "[operator] jmepath is included now, kiali operator doesn't need to add it"
See: https://github.com/operator-framework/operator-sdk/pull/2252

The jmespath library seems to be now included in the ansible base image. The kiali operator adds this because it did not exist in the base image before. See: https://github.com/operator-framework/operator-sdk/pull/2252

So we need to remove that once we bump up the next base image version - which is happening soon via issue https:/

[2020-01-08 13:22] jmazzitelli commented on #2072
IIRC that drop down menu is limited to how much data you actually have. For example, if you do not have over 6 hours worth of telemetry data, you won't see anything higher than "6H" even if you retention setting is higher.

Let the system collect telemetry over a period of 24 hours and see what happens.

@jshaughn knows more about that drop down and why it might not show all the things you expect

[2020-01-08 13:34] jshaughn commented on #2072
@jmazzitelli No, I believe it's based on the Prometheus config.  But I don't think Kiali will update it dynamically, only at startup.   Have you restarted the Kiali pod?

[2020-01-08 13:54] suraj77foru commented on #2072
Hi jmazzitelli/jshaughn,

yes, i did restart the Kiali pod but no luck, its still showing max 6hrs of data.

[2020-01-08 14:07] jshaughn commented on #2072
@suraj77foru Can you look in the "View Debug Info" (click the ? icon on the Kiali masthead, left of the username) and check the Prometheus config being reported,

[2020-01-08 14:13] jotak commented on #2072
@jshaughn I can reproduce and confirm there's a bug. The server config is fetched but something must be wrong with how it's propagated with redux.

[2020-01-08 14:25] suraj77foru commented on #2072
Hi Jshaughn,

I looked into the view debug info. below is what i saw:

      "prometheus": {
        "globalScrapeInterval": 15,
        "storageTsdbRetention": 43200
      },
      "durations": {
        "60": "Last 1m",
        "300": "Last 5m",
        "600": "Last 10m",
        "1800": "Last 30m",
        "3600": "Last 1h",
        "10800": "Last 3h",
        "21600": "Last 6h"

can i add a li

[2020-01-08 14:32] jshaughn commented on #2072
@suraj77foru with a config of 43200 you should see the 12h option in the dropdown.  @jotak says above that he reproduced an issue and is investigating, so it seems maybe you have hit a regression.  I'm sure he will update when he has more information, a fix and/or a workaround.  Thanks for reporting the issue.

[2020-01-08 14:36] jshaughn commented on #1375
@mtho11 any comment on this?

[2020-01-08 14:55] #2069 closed

[2020-01-08 15:17] mtho11 commented on #2045
We had a meeting with UxD yesterday and have decided to ignore this for now: https://github.com/kiali/kiali-design/issues/154

[2020-01-08 15:17] #2045 closed

[2020-01-08 15:25] mtho11 opened #2075 "Differentiate Kiali graph sidebar traffic colors more"
**Is your feature request related to a problem? Please describe.**
On the graph side panel the 4xx and 5xx colors are very difficult to distinguish from each other.

We had a meeting with UxD yesterday and indeed the 4xx color should be orange.

![Graph_sidepanel_colors_for_4xx_and_5xx_too_close__hard_to_distinguish_·_Issue__165_·_kiali_kiali-design](https://user-images.githubusercontent.com/13121

[2020-01-08 16:04] jmazzitelli commented on #1584
fixed here: https://github.com/kiali/kiali/pull/2076

[2020-01-08 16:04] jmazzitelli commented on #2073
fixed here: https://github.com/kiali/kiali/pull/2076

[2020-01-08 17:08] GregHanson opened #2077 "Increase Kiali default retention time to >1m"
**General remarks**
Running through a security example and noticed that the padlock did not display on the service graph when mTLS was enabled with default retention and refresh intervals.  At the 1m interval, I got the service graph data, but in that 1m interval the corresponding security telemetry did not show up in time so no padlock displayed

**Versions used**
Kiali:
Istio: version 1.4.2
Kube

[2020-01-08 20:21] jshaughn commented on #2077
Clipped from a replay I made on the Slack thread...

- The protocol should still be HTTP.
- The connection security badging for mTLS is separate from the protocol.
- We show the lock badge only when global mTLS is not configured but at least some of the traffic on the edge, for the time period has mTLS.
- We show the unlock badge when  global mTLS is configured and not all of the traffic for the t

[2020-01-09 07:50] #2072 closed

[2020-01-09 10:05] xeviknal opened #2081 "Add validations for AuthorizationPolicy objects"
Add an analyzer for the AuthenticationPolicy objects.
What to analyze?
- [x] [WorkloadSelector](https://istio.io/docs/reference/config/security/authorization-policy/#Source): check if there are deployments (creating pods) with the specific labels.
- [x] [Rule.From.Source.Namespace](https://istio.io/docs/reference/config/security/authorization-policy/#Source): check if that list of namespaces are p

[2020-01-09 11:52] #1990 closed

[2020-01-09 16:50] serenamarie125 commented on #1720
This looks great! we have a few suggestions:
- change "Health" to "Overall Health"
- change "Pods Status" to "Pod Status"
- remove the colon after "Pods Status" & "Error Rate over last 5m"
- remove the icons from "Pods Status" & "Error Rate over last 5m".  Having an additional aggregation here causes alignment issues as well as is a bit overwhelming with so much visual information

[2020-01-09 16:56] jmazzitelli commented on #2074
The work to remove this out of the dockerfile is done in PR #2079.
The other mentions of jmespath is still required because those uses are for when running locally and in that case the developer will need jmespath. So I'm going to close this since no additional work is needed.

[2020-01-09 16:56] #2074 closed

[2020-01-09 17:13] #1584 closed

[2020-01-10 11:29] jotak opened #2083 "Metrics overlay axis display when it shouldn't"
Looks like a regression: the overlay axis is displayed even though the overlay is hidden:

![Capture d’écran de 2020-01-10 12-27-33](https://user-images.githubusercontent.com/2153442/72150005-cb7f6b80-33a4-11ea-88da-7323f67753da.png)

[2020-01-10 11:32] jotak opened #2084 "Have a correct default in-cluster URL for Jaeger without Maistra"
It should be `http://tracing.istio-system/jaeger` instead of `http://tracing.istio-system:16686`

[2020-01-10 12:36] lucasponce commented on #2065
@lurenjia528 sorry for my delay, still catching up from the past break.
Reading the log, two comments:
- Stateful and Job are not by default queried by Kiali for performance reasons (In K8S API we can't query all controllers types in a single run, so, unusual types are disabled by default). These controllers can be enabled via Kiali CR:  https://github.com/kiali/kiali/blob/master/operator/deploy/k

[2020-01-10 13:03] xeviknal commented on #1951
First issue I see is that automatic mTLS might leave the overview page inconsistent:
1. Graph shows mTLS traffic
2. Overview page doesn't show any lock next to the namespace name.

![Screen recording (17)](https://user-images.githubusercontent.com/613814/72085805-3e85d500-3306-11ea-8b97-a68a7d8e953f.gif)

We should show a the partially enabled lock next to the namespace name, in case we have:
1. M

[2020-01-10 13:19] xeviknal opened #2086 "Add validations for PeerAuthentication Istio Object"
Right now, Kiali only have authentication-related validations for DestinationRules.
IMO, we should consider the following:

- [x] DestinationRule enabling mTLS missing for specific namespace (https://github.com/kiali/kiali/pull/2747)
- [x] DestinationRule enabling mTLS missing for the whole cluster (https://github.com/kiali/kiali/pull/2747)
- [x] DestinationRule disabling mTLS missing for specific

[2020-01-10 15:46] #2016 closed

[2020-01-10 16:20] #2084 closed

[2020-01-10 16:22] #2068 closed

[2020-01-13 00:50] mtho11 opened #2088 "Inbound Metrics tab in details pages shows console warnings"
**General remarks**
When going to the details page and selecting inbound metrics tab there are console warnings.
This is not a really bad error since it is only seen on the browser console,  just something that should be fixed.

![Kiali_Console](https://user-images.githubusercontent.com/1312165/72228428-4d18fa00-355b-11ea-9323-2d51e8a665e8.png)

Here are the details of the warning message:

Warnin

[2020-01-13 09:34] jotak commented on #2088
I've opened a ticket on victory issues: https://github.com/FormidableLabs/victory/issues/1470

[2020-01-13 12:03] hhovsepy opened #2089 "Any applied filter hides scroll bottom part"
Happens on master.
List Workloads or any other objects.
Filter by name or by any type.
The scrolling bottom part is broken and the end is hidden.
![Screenshot from 2020-01-13 13-01-45](https://user-images.githubusercontent.com/604313/72254671-113a6f00-3605-11ea-9373-cfec902e1c73.png)

[2020-01-13 12:13] FilipB commented on #2059
Just confirming that the fix is working for me. Thank you.

[2020-01-13 12:16] lucasponce commented on #2089
Right, it's a clear bug.
Going to take it to work on it as there are some CSS adjustments that were in place for the scrolling.

[2020-01-13 12:58] hhovsepy commented on #2089
Happens on both FF and Chrome.
With all window heights.

[2020-01-13 13:19] lucasponce commented on #2089
We are discussing with @aljesusg to check if we can change this VirtualList and render all list at once.
Probably it'd simplify this, as we fetch all backend info at once.

[2020-01-13 13:34] lucasponce commented on #2089
I understand that ideal solution would be something like this (i.e. gmail):
![image](https://user-images.githubusercontent.com/1662329/72259689-5cf31580-3611-11ea-9839-b7fb64157517.png)
Where scroll is similar as window-scroll and the header is fixed.
Currently to do that in Kiali we should refactoring the layout
![image](https://user-images.githubusercontent.com/1662329/72259741-7d22d480-3611-11e

[2020-01-13 16:30] mtho11 opened #2091 "Browser console warning on Service graph page"
**General remarks**
There is a React warning on the service graph page that can be seen in the browser console:
[code]

Related Issue:
https://github.com/kiali/kiali/issues/2088

[2020-01-13 16:39] mtho11 opened #2092 "Browser console warning on Service Graph Page"
**General remarks**
When you open up the service graph page and look at the browser console a Victory charts warning is displayed:

[code]

[2020-01-13 21:09] jmazzitelli commented on #1489
The istio monorepo is completed - I'm looking into getting this work moving forward again.

[2020-01-13 21:16] jmazzitelli commented on #1489
Might need to wait for this istio PR (https://github.com/istio/istio/pull/20128) before being able to continue.

[2020-01-14 01:51] mtho11 opened #2093 "Validation of app/service names in Graph find/hide"
**Is your feature request related to a problem? Please describe.**
For instance, when I type the name of an invalid node/service in Kiali find/hide it doesn't know that the name is invalid even though it knows the list of valid nodes/services
**Describe the solution you'd like**
Kiali should alert an invalid node/service name when doing find/hide validations. The information is there to provide th

[2020-01-14 09:06] aljesusg commented on #1999
This will be close by https://github.com/kiali/kiali-ui/pull/1577

[2020-01-14 09:57] Aisuko opened #2094 "[UI] Overview scroll axis was missed."
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.

After deploy Istio succeeds,  I saw the homepage of Kiali can not load all the namespaces to the page and there are have no scroll axis. So, other namespaces can not be shown on the homepage ever.

For UI issues please also add a screenshot that shows the issue.
![Jan-14-2020 17-50-43](https://user-image

[2020-01-14 10:14] lucasponce commented on #2094
Related to #2089

[2020-01-14 10:24] jotak opened #2095 "Purge sensitive data from logs"
See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kiali-users/OkRfZF2b9gA/u1l7zWFlDgAJ

[2020-01-14 11:01] lucasponce commented on #1603
@FilipB @hhovsepy I've updated this issue with the QE label mostly to sync on the test related to caching and performance.

[2020-01-14 14:06] jshaughn commented on #2093
@mtho11 Let's leave off assigments until it's on the backlog.  Maybe someone in the community wouldlike to do it before we could get to it.

[2020-01-14 15:44] mattmahoneyrh opened #2097 "Spark-Line HTTP Request Response Time Graph Not Showing Correct Color"
In the HTTP Request Response Time graph, clicking on the orange line results in displaying the wrong color (expected: orange, actual: green), when hover-over plotted line.

![Selection_120](https://user-images.githubusercontent.com/7262987/72358434-92a00900-36ba-11ea-88a8-e3d7aa1c4b53.jpg)

[2020-01-14 15:47] mattmahoneyrh opened #2098 "Spark-Line HTTP Request Traffic Graph Info Showing Twice"
The HTTP Request Traffic Graph is showing the info twice, when hover-over a plotted line.

![Selection_121](https://user-images.githubusercontent.com/7262987/72358753-0b9f6080-36bb-11ea-9ddb-743d38e7656a.jpg)

[2020-01-14 16:17] jotak commented on #2097
This was commented here: https://github.com/kiali/kiali/issues/2068#issuecomment-571939828

The issue is more that only one color is displayed whereas the data point is the same for several metrics (here p50, p95 and p99) hence there's three different colors that should be displayed.

[2020-01-14 16:20] jotak commented on #2098
The same info is displayed twice because there's two datapoint mixed up (one for error rate and one for total rate). When https://github.com/kiali/kiali/issues/2097 is fixed, this will be more explicit that it's two different metrics ; so I think we can say it's a duplicate of #2097

[2020-01-14 17:11] hhovsepy opened #2099 "Applied "Name" filter is kept between pages"
Happens on master after changing "[Workload] Name" filters to "Name".

Apply filter "Name" and other filters for Workloads list.
Open Services list page, the filter "Name" remains.
But the "Name" filter should be reset.

[2020-01-14 18:10] #2099 closed

[2020-01-15 07:49] #2095 closed

[2020-01-15 09:39] Exzelsios opened #2101 "Deploying a custom kiali image via Kubernetes, without OpenShift or Minikube, when following the Kiali readme building steps"
Hello,

**Is your feature request related to a problem? Please describe.**

I want to be able to deploy a Kiali image I locally built via Kubernetes.
This does not seem to be possible currently, as apparently only OpenShift and Minikube are supported when following the steps described by the readme on Github.
Building the container image via `make container-build` works fine, but I am unable to us

[2020-01-15 09:47] lucasponce commented on #2101
Thanks, adding @jmazzitelli if he can take a look and propose some ideas.

[2020-01-15 10:06] jmazzitelli commented on #2101
`cluster-push` is used to push the image to a remote cluster (in the current use-cases, a remote OpenShift or a minikube VM). What environment are you using? We may need to introduce a new environment variable to be able to tell the makefile about a different cluster environment that is to be used. Right now we have IS_MINIKUBE to help determine if you are using OpenShift or minikube - sounds like

[2020-01-15 11:31] Exzelsios commented on #2101
Sorry for the delayed response.

I currently am deploying on a Azure Kubernetes Service (AKS). Istio has been installed via Helm (Client and Server version 2.16). I'm using Kiali version 1.12 (current master) and a modified Kiali-UI version v1.11. For the containers I've been using Docker v19.03. Everything has been on a Linux VM (Linux Mint v19.3)

With previous versions of the Makefiles, buildin

[2020-01-15 16:25] hhovsepy opened #2102 "MeshPolicy YAML - error is not shown - Istio 1.4.3"
Happens on:

Kiali UI 1.13.0 (3318b1a9a053383333fb5e3c4b8f090497403f95)
Kiali Server v1.13.0-SNAPSHOT (31845b6f8dec9aedca85c8f3d085220bba7270fd)
Istio 1.4.3

Create the following objects

`apiVersion: "networking.istio.io/v1alpha3"
kind: "DestinationRule"
metadata:
  name: "default"
  namespace: "bookinfo"
spec:
  host: "*.bookinfo.svc.cluster.local"
  trafficPolicy:
    tls:
      mode: ISTIO_MUT

[2020-01-15 16:33] hhovsepy commented on #2102
Error is not shown in REST api call as well.

[2020-01-15 17:52] #2094 closed

[2020-01-15 19:46] jmazzitelli commented on #2101
OK, so based on those steps, you didn't push the image anywhere. Somehow either you manually pushed to a remote AKS cluster or it was able to pull from your local docker.

I'll try to get the make targets to not require minikube or OCP. This will be controlled via environment variables.

[2020-01-16 09:32] lwx294821 opened #2105 "Kiali can't call API to draw graph."
The  version of k8s cluster  is v1.11.1 and istio is v1.4.0. After I installed istio,I try to get graph and the result as follows:
![image](https://user-images.githubusercontent.com/28983979/72511200-b5324d80-3885-11ea-91ee-9ca29fa2c5f0.png)

the logs show
![image](https://user-images.githubusercontent.com/28983979/72511305-e9a60980-3885-11ea-8bc8-950fa2bc780c.png)

but when the k8s is v1.15.3,eve

[2020-01-16 09:38] #2101 closed

[2020-01-16 10:25] abonas opened #2106 "Hide/find on graph - when enabling display options the message is in error"
Related to https://github.com/kiali/kiali-ui/pull/1416

When auto enabling display options on graph as needed by the desired graph find/hide expression, there is a message generated to user explaining about auto enabling those options.
This seems to be the correct approach, except that the message is displayed in red and with "X", and it should be instead informational.

[2020-01-16 12:59] xeviknal commented on #1528
This validation is not valid anymore. Galley allow users to put routes with 0 weight.

![Screen recording (22)](https://user-images.githubusercontent.com/613814/72520645-26f4a200-385a-11ea-83fb-54cc0c171970.gif)

In the case there is only one route, Istio warns that the weight [will be assumed to be 100](https://istio.io/docs/reference/config/networking/virtual-service/#HTTPRouteDestination).

Ope

[2020-01-16 12:59] #1528 closed

[2020-01-16 13:16] jotak opened #2107 "[Metrics] Clicking on a span should lead to Traces view"
Spans in metrics page have a span id and (iirc) trace id associated with. So, when clicking on it, we could open the Traces page focused on that trace id.

What I'm unsure, is if it's ok to abruptly switch to trace view (might be too abrupt), or if we should display a contextual menu with a "View trace" option.

I think when Alberto's work is done, this is the next logical step in our Metrics & Tr

[2020-01-16 14:01] jshaughn commented on #2106
@abonas, It's actually in green.  That video was not the merged version of the PR.  I think this can be closed.

[2020-01-16 14:09] jshaughn commented on #2105
I may be a kubernetes version issue.  Istio 1.4 has only been tested with kubernetes v.13, 1.14, 1.15. See [this istio page](https://istio.io/docs/setup/platform-setup/).

Are you using the Kiali packaged with Istio 1.4, or did you install Kiali in a different way?

[2020-01-16 15:07] aljesusg opened #2109 "Separate errorTraces call from services"
In a case that we have problems getting information from a service

Use Case that we found
**/api/threescale/namespaces/bookinfo/services/productpage**

the information returned is
[code]

Problems found:

1. We can't see this error in Kiali-Ui messageCenter. So the user can't know what is happening.
2. Should this error block all the information about the service? Can we create somekind of "error

[2020-01-16 16:20] #1720 closed

[2020-01-16 20:29] tillig opened #2111 "Allow more control over ingress creation"
**Is your feature request related to a problem? Please describe.**

We have a Kubernetes cluster with both the Istio ingress and nginx ingress enabled. The nginx ingress has a specific IP address and routes traffic based on host header along with IP address.

The ingress configuration in the Kiali CR only allows me to enable or disable the ingress; I have no ability to add a `host` entry to the in

[2020-01-16 21:18] tillig opened #2112 "Disabling ingress in Kiali custom resource does not delete ingress resource"
**Describe the bug**
After a default deploy of the Kiali operator there's an ingress in the `istio-system` namespace.

If you update the Kiali custom resource to set `ingress_enabled: false` then the ingress is still there after reconciliation.

**Versions used**
Kiali: 1.12.0
Istio: 1.4.3
Kubernetes flavour and version: Azure Kubernetes 1.13.12

**To Reproduce**
Steps to reproduce the behavior:
1

[2020-01-17 08:28] lucasponce commented on #2109
It sounds there is a bug somewhere in that area, as 3scale api shouldn't block the rest of the service details call.
(Another scenario is if the main k8s API fails).
Let me review, as I suspect a bug a regression could be introduced with all refactoring done in this area.

[2020-01-17 08:33] aljesusg commented on #2109
ok, anyway I am thinking about to separate the traces call from services detail to avoid this in the future, jaeger integration in another piece totally independent from the rest of the call, so to avoid have an errorTraces: undefined in the call when tracing is enabled or errorCall for another thing when tracing is enabled, I would separate the call. What do you think? Maybe I can do the separati

[2020-01-17 08:47] lucasponce commented on #2109
That may have other implications as well, as ServiceDetails today fetches health.
With that logic we should split Service in more than one element and not only for this use case.

[2020-01-17 08:52] aljesusg commented on #2109
Understood but the information related with health and details provide for the same origin. Am I right?

[2020-01-17 08:53] lucasponce commented on #2109
No, as health comes from Prometheus too.

[2020-01-17 09:06] jotak opened #2113 "Do not show istio config status on non-istio-enabled namespaces?"
I think it is a bit weird to see the "Istio Config status" text and "success" icon on namespaces where istio isn't enabled (no sidecar on any of the pods) :

![Capture d’écran de 2020-01-17 10-02-40](https://user-images.githubusercontent.com/2153442/72598766-c2484e80-3910-11ea-8bbc-f88cee11112e.png)

Maybe we should either show a "not available" grey icon, or maybe just remove the whole text / ico

[2020-01-17 09:09] jotak commented on #2113
Note that there is more or less the same "issue" on Services list page, although in that case we have the missing sidecar information so there's less ambiguity:

![Capture d’écran de 2020-01-17 10-07-55](https://user-images.githubusercontent.com/2153442/72599170-7a75f700-3911-11ea-9569-9619509222c7.png)

[2020-01-17 09:15] aljesusg commented on #2109
ok anyway in this case that we have this error I think that we should show it in the Kiali UI  for the user

[2020-01-17 09:16] lucasponce commented on #2109
Yes, that's a bug for sure, I think errors should be clear translated to the UI.
I'll take a look at it.

[2020-01-17 09:31] lucasponce commented on #2113
Note than an empty namespace may have a global Istio rule mTLS/Gateway with some configuration warnings that affects to it.

[2020-01-17 12:38] jmazzitelli commented on #2105
v1.11.1 is too old - not even supported by Istio now: https://istio.io/docs/setup/getting-started/#platform

[2020-01-17 13:44] jotak commented on #2113
@lucasponce I also realize it can be challenging to determine if a namespace is "istio-enabled" or not, and what does mean "istio-enabled" in the first place. But intuitively I think there's something wrong when we say that an Istio config is correct while there's no istio config.

[2020-01-17 15:54] #2089 closed

[2020-01-17 16:49] jmazzitelli commented on #2112
I am not seeing this bug. When I first install on Kubernetes (I'm using minikube for this test), I see the ingress created in the operator logs. and I also confirmed the Ingress exists by looking at the k8s dashboard console. I also see the "delete ingress" task get skipped (this happens when deployment.ingress_enabled is set to true):

[code]

I then edit the Kiali CR and ensure I set the "spec.d

[2020-01-17 16:59] jmazzitelli commented on #2112
Here's my commands - I show I had the ingress, I then edit the CR to set the flag to false, then I look at the date/time and see when the ingress goes away. Takes about a minute for the reconciliation to complete and the ingress to be deleted.

[code]

[2020-01-17 17:16] jotak commented on #976
I'm reopening this ticket because I'm having this issue as well. Same situation: seeing no IP on kafka browser service. Which might impact in turn the produced telemetry.

@MathieuGi , did you sort out the graph issue in Kiali?

However I think we can do something in Kiali.
The TCP metrics are actually present, and they do actually link a source workload/app with a destination service (kafka-broke

[2020-01-17 17:29] jotak commented on #976
I can try to look at it & inject some logs in graph generation, but I also take any insight that you can give graph experts :-)

[2020-01-17 17:40] tillig commented on #2112
I may need to trash the whole install and start over. It appears there are two installations of Kiali running - one in the `istio-system` namespace, and one in the `kiali-operator` namespace, though it's unclear how that happened given there's only one custom resource and it specifies `istio-system` as the deployment namespace.

Let me try doing a clean uninstall and reinstall of everything and tr

[2020-01-17 18:19] tillig commented on #2112
Seems the problem was the YAML being off by a space. It appears the CRD for a Kiali custom resource doesn't do much in the way of validation, so if you specify... basically arbitrary YAML, it just gets stored. Unclear how we ended up with two separate deployments of Kiali this way, but... anyway, it appears fixed now. Thanks for your help and patience!

[2020-01-17 18:19] #2112 closed

[2020-01-17 18:37] jmazzitelli commented on #2112
This is going to be fixed when we introduce CRD schemas - see https://github.com/kiali/kiali/pull/1920

[2020-01-20 10:28] jotak opened #2117 "Traces tab should be visible just with InClusterURL configured"
As said here: https://github.com/kiali/kiali/pull/2017#discussion_r368467171
When jaeger external url is not configured, but in cluster url is configured, the traces tabs should still be visible (only links to jaeger console are disabled in this case).

Currently, traces tab is not displayed at all.

[2020-01-20 10:46] jotak commented on #2107
As a subtask, we must first make traceID being read from URL in the Traces component

(flow: click on a trace => set traceID in URL => show trace details panel)

[2020-01-20 11:16] #2117 closed

[2020-01-20 11:40] jotak opened #2120 "[Traces] Screen not refreshed as expected"
The Traces screen has a "refresh" component as in several other screens. However it doesn't seem to refresh anything.

There is no API call at all to get traces

cc @aljesusg

[2020-01-20 13:19] lucasponce commented on #2109
After investigated a bit I don't think this issue is a bug.
A 404 response error from this endpoint:
[code]

It's a valid response and it's documented in the UI as well:

[code]

But I see that there are some backlog traces like:

[code]

That create some false hints about a problem.
So, I'm going to fix these logs using this issue.

A side effect that I see is that when fetching service details t

[2020-01-20 13:20] #2120 closed

[2020-01-20 13:32] #2098 closed

[2020-01-20 15:55] #2109 closed

[2020-01-20 18:02] mtho11 opened #2329 "Graph Find/hide history"
Adds a history dropdown for the graph find/hide commands so that previous commands can be executed without typing them in.

![hidefind-history2](https://user-images.githubusercontent.com/1312165/72764541-778f3680-3b9d-11ea-86a2-e5fcef2b0447.gif)

Questions:

1. History is currently limited to 5 entries. Should this be more?
2. We could provide a spacer and put some common predefined commands in th

[2020-01-20 20:35] jshaughn commented on #976
@jotak Can you post the full time-series?  The screenshot above is clipped and I can't see the "reporter" or the source labels.  I'm assuming the reportr must be "source" but just to confirm as I don't immediately see why the service nodes would not show up.

[2020-01-21 08:14] #2097 closed

[2020-01-21 08:27] jotak commented on #976
I will post it asap, but yes it was certainly source reporting, 99% sure about that (there's no sidecar on brokers)

[2020-01-21 08:35] jotak opened #2125 "[k-charted] Show multiple colors on tooltips"
This is same as https://github.com/kiali/kiali/issues/2097, for k-charted.
Either implement the hack, or if not urgent we can wait for issue being fixed in victory

[2020-01-21 08:37] jotak commented on #2125
(I'm going to wait a little bit and see if I get answer on my issue opened on victory)

[2020-01-21 10:59] hhovsepy opened #2127 "kiali.io Validations - Several issues"
There are several inconsistencies in Validations, described below with sections and requested changes:
2.1. "More than one Destination Rule for the same host subset combination". But the message is: "More than one DestinationRules for the same host subset combination".
2.5. mTLS settings of a non-local Destination Rule are overridden. In a given example "version: v10" causes additional warning whi

[2020-01-21 10:59] hhovsepy commented on #2127
cc @skondkar

[2020-01-21 11:46] aljesusg opened #2128 "Menu Item is not clicked and lose focus"
The behaviour of the menu is different to https://patternfly-react.surge.sh/patternfly-4/documentation/react/components/nav#default-link2

The menuItem section should be "light" when is clicked or in hover action

![Screenshot from 2020-01-21 12-44-30](https://user-images.githubusercontent.com/3019213/72802349-e0cd8300-3c4b-11ea-899b-de9c8ef561ef.png)
![Screenshot from 2020-01-21 12-44-14](https:/

[2020-01-21 12:47] #1949 closed

[2020-01-21 14:54] #2102 closed

[2020-01-21 15:50] #2111 closed

[2020-01-21 15:54] jshaughn commented on #1894
Although the [1.4 release doc](https://istio.io/news/releases/1.4.x/announcing-1.4/) states,

In Slack I was told that mixer-less TCP support is actually coming in Istio 1.5.   I did validate that HTTP support (now Alpha) seems to still work fine in 1.4.  I think the intent is to make V2 Telemetry the default in 1.5, but considering the TCP support did not make 1.4, I'm not sure tyhe new V2 defaul

[2020-01-21 23:01] mtho11 commented on #2075
This was discussed in Ux design review meeting today. And we have a solution: https://github.com/kiali/kiali-design/issues/165

[2020-01-22 04:27] raginireddy96 opened #2129 "Kiali graph not showing beyound passthrough cluster"
I have installed istio 1.4.3 and configured kiali, grafana and jaeger. I have deployed few applications. In kiali graph i can see the graph only till it reaches cluster it is not showing beyond cluster.Please find the below attached screen shot and help m eto resolve this.
![Screenshot from 2020-01-22 09-53-31](https://user-images.githubuserc
![Screenshot from 2020-01-22 09-53-31](https://user-ima

[2020-01-22 11:12] jotak opened #2130 "[Doc / kiali.io] incorrect wording about "Istio CRD""
On kiali.io front pages, in feature cards, one states: "Configuration - See and edit Istio CRD yaml"

This is incorrect, we see and edit Istio custom resources - not custom resource *definitions*

Suggestion: "See and edit Istio custom resources" or just "See and edit Istio resources"

[2020-01-22 11:14] jotak commented on #2130
(any preference among suggestions, or other suggestion?)

[2020-01-22 12:01] raginireddy96 commented on #2129
![image](https://user-images.githubusercontent.com/33022246/72892609-f2db1e80-3d3c-11ea-95fd-b26bdbeb8d89.png)
Above pods are running

[2020-01-22 12:01] lucasponce commented on #2129
I wonder if you could review if your deployments are following:
https://istio.io/docs/ops/deployment/requirements/

[2020-01-22 12:04] #2127 closed

[2020-01-22 12:04] raginireddy96 commented on #2129
yes i have followed those docs

[2020-01-22 12:18] raginireddy96 commented on #2129
this is the sample virtual service
apiVersion: networking.istio.io/v1alpha3

kind: VirtualService

metadata:

  name: qa-stage1-external-vs

  namespace: stage1

spec:

  hosts:

  - "qaistio.lendingkart.com"

  gateways:

  - https-gateway

  http:

  - match:

    - uri:

        prefix: /auth/actuator

    route:

    - destination:

        host: stage1-auth-server

        port:

          nu

[2020-01-22 12:19] raginireddy96 commented on #2129
This is the gateway yaml
kind: Gateway
metadata:
  name: https-gateway
  namespace: stage1
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 443
      name: https-secure
      protocol: HTTPS
    tls:
      mode: SIMPLE
      credentialName: "NAME"
    hosts:
    - "host-dns-name"

[2020-01-22 12:22] jotak commented on #2129
I suspect it's an issue with envoy proxies being out of sync and not handling routes as expected. You may read this, hopefully you could get some clues: https://istio.io/docs/ops/diagnostic-tools/proxy-cmd/

Try to run `istioctl proxy-status` to see if there proxy sync issues.

I doubt the issue really is with Kiali. Maybe you can find more help with istio community: https://discuss.istio.io/

[2020-01-22 12:23] lucasponce commented on #2129
I wonder if installing bookinfo may help to debug and compare "bookinfo" namespace (deployments & services) with the "stage1" artifacts.

[2020-01-22 12:55] jshaughn commented on #2129
When requests are going to PassthroughCluster it means those requests did not get routed to any in-mesh service and did not match any defined service entry host,  and have been routed out of the mesh.  It can also happen if a service tries sending a request to ingress, it effectively leaves and re-enters the mesh.  In my experience it means there is misconfigured routing, missing istio proxies (si

[2020-01-22 14:00] #1421 closed

[2020-01-22 15:00] jshaughn commented on #2130
@jotak  I'm currently adding a FAQ entry, I'll fix this in there.

[2020-01-22 15:03] jotak commented on #2130
@jshaughn ah i already opened a pr, but feel free to take anyway (or jump in with discussion about the best wording :) )

[2020-01-22 15:17] jshaughn commented on #2130
@jotak sorry, I already put it in my PR and asked you top review.  I can revert that change if you like.  I went with  "custom resource YAML".  Just review https://github.com/kiali/kiali.io/pull/195 and tell me what to do with the change in there.

[2020-01-22 15:39] #2130 closed

[2020-01-22 17:03] israel-hdez commented on #1757
This will be on-hold until OS supports the k8s 1.16 API (or until we find a safe way to implement this without maintaining two versions of the CRDs).

[2020-01-22 17:09] jotak commented on #976
Here's the incriminated metric (and there's the same with tcp sent bytes)

`istio_tcp_received_bytes_total{connection_security_policy="unknown",destination_app="unknown",destination_principal="unknown",destination_service="my-cluster-kafka-brokers.kafka.svc.cluster.local",destination_service_name="my-cluster-kafka-brokers",destination_service_namespace="kafka",destination_version="unknown",destina

[2020-01-22 17:13] mtho11 commented on #1464
After UX meeting yesterday looks like this one will go on hold as OS is discussing similar needs.

[2020-01-22 17:18] FilipB commented on #1603
I'm preparing a simple gatling scenario to replicate this.

[2020-01-22 17:20] gbaufake commented on #1603
@FilipB.
I was preparing a final update to cover that on the kiali-performance-testing repo as it was diagnosed before.

[2020-01-22 17:52] cfcosta opened #2131 "When using Openshift for AUTH_STRATEGY, any path on the URL is lost after sign in"
Steps to replicate:

* Open Kiali with an URL defined (such as the graph page for an specific namespace) and without being signed in to kiali.
* When you enter Kiali, it redirects you to the oAuth page for the cluster.
* After signing in, you should be redirected to the Overview page instead of the one sent on the URL.

This does not happen if the user is already in, just before being authenticate

[2020-01-22 18:26] jmazzitelli opened #2132 "[operator] fix console link if server root is /"
The operator uses this when creating the href of ConsoleLinks for namespaces:

  href: {{ kiali_route_url }}/{{ kiali_vars.server.web_root }}/console/graph/namespaces?namespaces={{ namespace }}

The problem is if web_root is "/" then the URL will show up with `///` which is ugly, and not technically right.

Should be simple to fix this. And simple to add a molecule test for this

[2020-01-22 18:26] jshaughn commented on #976
@jotak So I think what is happening here is that we filter out terminal service nodes unless they are useful for showing failed requests.  In other words, we want to show requests for a service that "failed to launch", but successful requests should not actually terminate at a service node, as they are expected to be handled by a workload.  We remove these because historically they have reflected

[2020-01-22 18:30] jmazzitelli commented on #2132
possible solution:

[code]

[2020-01-22 18:58] #1957 closed

[2020-01-22 19:58] jmazzitelli commented on #2132
This is ready for review and merge. Working for me and molecule tests (including the new asserts added by this PR) are passing.

[2020-01-22 20:18] #2106 closed

[2020-01-22 20:20] jshaughn commented on #2105
@lwx294821 I am closing this issue based on the old kubernetes version being used with the newer istio version.  Feel free to re-open if you still have a problem after updating to a supported k8s version.

[2020-01-22 20:20] #2105 closed

[2020-01-22 20:27] jshaughn commented on #2091
@mtho11 I could not recreate.  Can you verify that this still exists in the latest master?

[2020-01-22 20:30] jshaughn commented on #2077
@GregHanson Thanks for using Kiali and creating the issue, I hope the explanation above was helpful.  I don't really see a change to be made here and will close the issue.  Feel free to re-open if you think we missed the point.

[2020-01-22 20:30] #2077 closed

[2020-01-22 20:33] jshaughn commented on #2092
@mtho11 I think this is probably a duplicate of https://github.com/kiali/kiali/issues/2088, both due to the underlying issue in Victory.  Can we close?

[2020-01-22 20:38] jshaughn commented on #2093
I'm not sure about this one and how it differs from other expressions that don't have any hits.  The fact that nothing highlights may be enough.  Perhaps you're looking for something to prove it's not there.

[2020-01-22 20:39] #2092 closed

[2020-01-22 20:39] #2132 closed

[2020-01-22 21:57] jmazzitelli opened #2136 "[operator] cannot create ConsoleLinks on OpenShift 4.2"
The ConsoleLinks that get created use location: NamespaceDashboard:

https://github.com/kiali/kiali/blob/d99f35fd45234d4a7167829196e05ea96a2e848b/operator/roles/kiali-deploy/templates/openshift/console-links.yaml#L25

However, those are not valid on OpenShift 4.2. That location is only available/supported on OpenShift 4.3+.

We need the operator to determine what version of OpenShift it is on and

[2020-01-22 22:07] mtho11 opened #2137 "Expanded Overview cards use too much space"
**Is your feature request related to a problem? Please describe.**
The expanded overview cards utilize a lot of real estate with the graph to the right.

![Expanded_Overview_cards_use_too_much_space_·_Issue__167_·_kiali_kiali-design](https://user-images.githubusercontent.com/1312165/72938705-4c812000-3d20-11ea-972a-c3d0d44446a3.png)

**Describe the solution you'd like**
We discussed this is in the

[2020-01-22 22:21] jmazzitelli commented on #2136
This is the information I need, but it probably requires special permissions to obtain this  ClusterOperator object (though I'm not sure of that yet).

[code]

[2020-01-22 22:46] jmazzitelli commented on #2136
This gets the version - but I'm not sure if this requires special permissions to get this ClusterOperator object. I also need to confirm this object instance will exist on 4.x clusters (it does on 4.2.4).

[code]

[2020-01-22 22:53] jmazzitelli commented on #2136
This gets the k8s version, too - in case we need it. I suspect in the future we might need to get the k8s version when not on openshift. but for now, since we don't need it, I don't look up k8s_version if not on openshift:

[code]

Again, still not sure this is the final code because I need to figure out if this is the right way to get the versions.

[2020-01-22 23:01] jshaughn commented on #2065
@lurenjia528 Any updates?

[2020-01-22 23:07] jshaughn commented on #2019
Another Victory issue, probably related to https://github.com/kiali/kiali/issues/2091.  Check after 2091 is reolved.

[2020-01-22 23:11] jmazzitelli commented on #2136
looks like we just need "get" permissions for the kube-apiserver resource. I will submit a PR and begin working in that branch for a fix.

[2020-01-22 23:40] mtho11 commented on #2137
Perhaps something like this:
![Kiali_Console_-_Firefox_Developer_Edition](https://user-images.githubusercontent.com/1312165/72944321-6e34d400-3d2d-11ea-94ec-041cf8eabcf6.png)

[2020-01-23 05:01] raginireddy96 commented on #2129
Below is the out put for istioctl proxy-status
![image](https://user-images.githubusercontent.com/33022246/72957960-878c5d80-3dcb-11ea-8a7a-dc461586d9b3.png)

[2020-01-23 08:39] lucasponce commented on #2129
@raginireddy96 It sounds like an Istio problem, but I have interest to dig into the root cause of this.

I have two questions:
a) If you install the bookinfo demo, do you see the graph correctly or also is showing all workloads talking with PassthroughCluster
b) How services are invoked within the namespace ? Is using Kube DNS or perhaps is hiding something ?
c) If you could reproduce this example

[2020-01-23 11:14] jotak commented on #976
@jshaughn there is actually a workload for that service, it's named "my-cluster-kafka" (strimzi defaults), it apparently works fine, emitting & receiving messages as I would expect. I should add that it's deployed outside the mesh (in cluster).

![Capture d’écran de 2020-01-23 11-15-45](https://user-images.githubusercontent.com/2153442/72976277-988c9d00-3dd2-11ea-8781-a0158eeea7b5.png)

I've tried

[2020-01-23 12:55] FilipB commented on #1603
Even though the cache significantly improves mean response time (118ms vs. 1094ms) the spikes are still visible.
![cacheEnabled](https://user-images.githubusercontent.com/328182/72986170-e4960c80-3de7-11ea-8b79-e0ce12229e14.png)

[2020-01-23 13:25] FilipB opened #2139 "api/namespaces/graph endpoint sometimes returns 500 and 504 response codes under "heavy" load"
**Describe the bug**
Simple gatling scenario which is hitting /api/namespaces/graph?namespaces=bookinfo,bookinfo2&graphType=service&duration=600s from 10 users is overloading kiali so some response codes are 500 and 504.
Error in kiali logs are:
`E0123 10:11:08.904738       1 graph.go:87] Get http://prometheus-istio-system.apps.fbr-perf-1.maistra.upshift.redhat.com/api/v1/query?query=round%28sum%2

[2020-01-23 13:26] lucasponce commented on #2139
Thanks Filip.
As commented, I have a suspect where it can be the issue related to caching.
I'll put on my todo list to take a look.

[2020-01-23 13:32] jshaughn commented on #2129
The proxy status looks good.  I think it is a configuration issue.  You are seeing all requests be treated as TCP and routed out of the mesh.  By the way, in Kiali you can click on one of those edges and in the graph side panel select the "Hosts" tab.  This will show you the actual request host and maybe that will help you understand why your intended routing is not working.  I would suggest follo

[2020-01-23 13:36] #2136 closed

[2020-01-23 14:21] jshaughn commented on #976
@jotak OK, so this must I guess have to do with headless service problems.  The headless service issues are a pretty big deal, I just spent 20 minutes going down that rat hole of issues.  I'm a little surprised the service entry approach didn't help but perhaps the SE definition wasn't quite right.  From reading about headless services it seems defining the SEs require to actually include the pod

[2020-01-23 16:19] jshaughn opened #2141 "eslint issues"
We are suffering some downstream build issues due to eslint.

The first change is to limit linting to dev builds.  We don't need to do it in the prod build as the code has already been checked prior to those builds.  This has been changed already in this PR:

https://github.com/kiali/kiali-ui/pull/1623

Furthermore, we should not have to run the linter, for basically the same reason, in the postin

[2020-01-23 16:54] kalantar commented on #2007
I’m going to document some initial thoughts (developed together with @fabolive @sriumcp @kimikowang and @sushmarchandran). There is lots about the extensibility of Kiali that we do not understand so many statements are a bit speculative. Please help give shape to the right path forward.

Looking at https://medium.com/kialiproject/kiali-observability-in-action-for-istio-service-mesh-69127f792103, a

[2020-01-23 16:55] kalantar commented on #2007
**(a) Manual**
The flow for a manual canary test is similar to the blog article. I’ve highlighted concepts we’ve added from iter8.

- User deploys a new version of a service
- Using Kiali, the user can inspect metrics [1] (on Service > Inbound Metrics)
- Using Kiali, the user can inspect/update/add success criterion [2] (new function)
- Using Kiali, the user can change the routing. If there are su

[2020-01-23 16:55] kalantar commented on #2007
**(b) Automated**
The flow for an automated canary test is similar but adds ability to start an automated rollout:
- User deploys a new version of a service
- Using Kiali, the user can inspect metrics (on Service > Inbound Metrics)
- Using Kiali, the user can inspect/update/add success criterion (new function)
- Using Kiali, the user can change the routing.
- User can start an automated rollout fr

[2020-01-23 16:55] kalantar commented on #2007
**(c) User-Assisted**
The idea of the user-assisted use case is that the user would start a “user assisted” rollout instead of an “automatic” rollout. In this case, when iter8 determines that it is time to change the routing, it sends a notification to the user (via Kiali) and pauses evaluation. The user would need to explicitly take an action like “proceed”, “retry iteration”, “rollback” or “roll

[2020-01-23 18:01] aljesusg opened #2142 "Remove tsconfig files"
We removed tsconfig by eslint but we have the tsconfig files in the project

[2020-01-23 18:55] jshaughn commented on #2007
We need to get together and talk about each option.  My personal preference is to see the Kiali UI extended with new, dedicated interface for running automated canary tests/deployments.  We can likely leverage and link to existing parts of the UI to assist, like the graph and detail views.  A strong offering for this important use case would be a powerful addition to Kiali's configuration abilitie

[2020-01-23 19:40] AceHack commented on #1695
I'm having a very similar issue when installing istio 1.4.3, can't seem to get this working.

[2020-01-23 21:32] mtho11 commented on #2141
@jshaughn can this be closed now?

[2020-01-23 22:25] mtho11 commented on #2142
We can remove the `tsconfig.json.prod` and `tsconfig.test.json` and even scale back some of the properties in `tsconfig.json`, but we still have to have a single `tsconfig.json` Do you know different @aljesusg ?

[2020-01-23 22:26] mtho11 commented on #2142
When I remove those files, it automatically creates a `tsconfig.json` for me then with default values:

[code]

[2020-01-23 22:30] mtho11 commented on #2142
Even a `npx create-react-app my-app --template typescript` creates a default `tsconfig.json`.

[2020-01-23 22:34] aljesusg commented on #2142
At least prod and Dev version I thought that @cfcosta forgot remove them in https://github.com/kiali/kiali-ui/commit/d45f92bc538c1027bf046de6d0d4ce957e95499c where the tasks Related with the lint used them

[2020-01-23 22:42] mtho11 commented on #2093
@jshaughn go ahead and close it if you feel it is not worth the effort.

[2020-01-23 23:24] cfcosta commented on #2142
Afaik they are different, what I removed was tslint, not tsconfig. Tslint is for typescript-linter, tsconfig is for `tsc` itself.

[2020-01-23 23:41] israel-hdez commented on #1960
The detail pages will acquire a 3-column layout.

I'm working on an initial formal implementation.
These are the screenshots of the initial PoC:

Apps page:
![image](https://user-images.githubusercontent.com/23639005/73033086-95130900-3e06-11ea-9165-27f7010815be.png)

Workloads page:
![image](https://user-images.githubusercontent.com/23639005/73033100-9e03da80-3e06-11ea-89a8-2aaece117d73.png)

Ser

[2020-01-24 00:20] mtho11 opened #2143 "Make Heading fonts more consistent (size-wise)"
**Is your feature request related to a problem? Please describe.**
Our Title/heading fonts are different sizes on the various pages.

This issue was discussed in UX meeting last week: https://github.com/kiali/kiali-design/issues/153

**Describe the solution you'd like**
From UX, sounds like heading/title should be 24pt (to match Openshift)

[2020-01-24 00:39] mtho11 commented on #1960
@israel-hdez I think this looks quite nice!!

[2020-01-24 01:17] jshaughn commented on #2141
Probably but @jmazzitelli should decide.

[2020-01-24 01:48] jmazzitelli commented on #2141
everything looks good to me

[2020-01-24 01:48] #2141 closed

[2020-01-24 02:16] jshaughn commented on #2142
The prod build is working so changes here don't have priority.  No need to make any change unless there is a good reason.

[2020-01-24 08:17] lucasponce commented on #1960
@israel-hdez +1
I think you nailed my exact idea I had when I wrote this issue one.
One thing that can be moved is the "show on graph" and let user click on graph instead (or perhaps better, to add this link in the Graph Overview card).

But looking forward to fetch the PR :-), test it locally and provide more feedback :-).

[2020-01-24 08:24] jotak commented on #2142
@cfcosta is right, tsconfig is still necessary afaik

[2020-01-24 08:26] jotak commented on #1960
I love this :)

[2020-01-24 08:39] jotak commented on #1695
@AceHack this issue was resolved I think, following this comment: https://github.com/kiali/kiali/issues/1695#issuecomment-553867897 . What config did you do for tracing urls?

With a default install (istio demo profile) I guess this should be something like:
[code]

[2020-01-24 08:50] lucasponce commented on #1855
Completed via https://github.com/kiali/kiali-ui/pull/1577 and others PRs in backend.

[2020-01-24 08:50] aljesusg commented on #2142
I didn't see where we are using the tsconfig.prod in the build this is why I opened the issue to remove the tsconfig related with prod build in first step. If you think that we need it I'll close this but where are we using it?

[2020-01-24 08:51] #1855 closed

[2020-01-24 08:51] #1999 closed

[2020-01-24 08:53] lucasponce commented on #1588
I will close this issue.
Migration to PF4 is done.
There are a couple of side tasks related to adjust old styles that are not part of the migration itself but those can be considered on-going UI tasks.

[2020-01-24 08:53] #1588 closed

[2020-01-24 11:11] lucasponce commented on #2007
Some comments inline:

Kiali allows to add custom tabs for metrics. This feature was originally used to provide additional metrics about the "Runtimes" inside a Pod (i.e. Java server, Go, Node), but I think that a new tab with specific metrics for "Iter8" domain can be a start point.

Where does this make sense to be linked ? For example, today, "Service" is the concept where we link the extension

[2020-01-24 13:13] jotak opened #2145 "Durations list wording"
We recently changed the wording in Durations list to remove the "Last" word that was previously there.

The old "Last 10m", for instance, is now "10m Traffic".
The reason is the new graph replay feature for which the "Last" word isn't correct.

However there's now some cases where "Traffic" is weird. I'm thinking about the Logs screen, and the runtimes metrics screen:

![Capture d’écran de 2020-01

[2020-01-24 13:24] lucasponce commented on #2113
Also, another thought is that beyond of istio-system, I guess if a sidecar is not present in a pod, Kiali will show that situation.
So, in anyway, I agree that having a "isIstioEnabled(namespace)" logic would help here, and then yes, that could be used.
I'll wait to @xeviknal as he has latest info about status of this.

[2020-01-24 13:29] #2070 closed

[2020-01-24 13:39] lucasponce opened #2146 "Refactor 3scale integration: introduce a better structure for Kiali extensions"
Kiali introduced a 3scale (API Management) integration in previous version.
This integration consisted in addition into the backend and frontend.
In Kiali backend, a specific handler linked with a threescale business logic was created; in the Kiali frontend a new Wizard was located under the Service details and activated when the 3scale adapter was detected in the cluster.

The end-to-end scenario

[2020-01-24 13:56] lucasponce commented on #2032
Closing in favor of #2146

[2020-01-24 13:56] #2032 closed

[2020-01-24 14:11] jotak opened #2147 "Custom time search in other screens"
Follow-up on https://github.com/kiali/kiali-ui/pull/1588
Goal is to align some other screens with Metrics pages for the custom time search feature

This should impact pages that leverage historical representation of data. I can see so far:

- Logs page
- Traces page

Others pages, such as graph, traffic, overview, entities lists/details (for health) don't really need this IMO as they represent agg

[2020-01-24 14:58] jshaughn commented on #2007
I'm not sure about this being an extension under some existing entity but maybe it fits under service.  I think we may want to consider a new menu item specifically for "Canary Deployments/Itr8").  A location to consolidate automated canary deployments/experiments.

[2020-01-24 15:21] mtho11 commented on #2142
@israel-hdez @cfcosta do you guys know of any productization scripts the use `tsconfig.prod`?

[2020-01-24 15:27] cfcosta commented on #2142
@mtho11 Not that I'm aware of, but take my words with a grain of salt.

[2020-01-24 15:31] lucasponce commented on #2007
I think I see two things here:
- Specific entities (on this iter8 extension) - like Experiments - deserves a new menu item ("Canary Deployments/Iter8" sounds correct). Under this menu list/CRUD/specific domain actions on those entities are located.
- Another thing is where to link these actions, then probably as we have today, some actions can be available under Service details.

Note that in the

[2020-01-24 15:41] israel-hdez commented on #2142
@mtho11 that `tsconfig.prod.json` seems to be part of the scaffolded files when creating the app with create-react-app. So, I'd leave it there. It's useless, but someday it's presence may remind us that we can use it and it may become useful :D

[2020-01-24 15:48] israel-hdez commented on #1960
Yes, this link will be moved to the card :)
I will check with UX people where to place it.

[2020-01-24 15:59] jshaughn commented on #1894
It looks like [this GRPC status PR](https://github.com/istio/istio/pull/20036) will be merged in 1.5.  We will need to make updates to make use of the change as the grpc status will be reported in a new field, not in the current response_code field.

[2020-01-24 16:24] kimikowang commented on #2007
Hi @lucasponce , thanks for your comments! Regarding some of your questions in the thread:

Yes "Success Criteria" is defined at "Service" level, or more precisely, at the level of an "Experiment" for one service. It determines whether an experiment(e.g. a canary rollout) should be considered as a success or not. A SuccessCriteria object can be linked by multiple Experiment instances.

Yes Experim

[2020-01-24 16:55] jshaughn commented on #2145
@jotak Argh, I looked around and it made sense to me everywhere I looked, but I failed to remember about the logs usage (and I wasn't smart enough to actually just search the code),  It doesn't work for logs at all (but to be honest, that is an overloaded/Incorrect use of MetricsDuration component).   I actually went around and around on this.  At one point I was close to your idea and had added "

[2020-01-24 16:59] #2093 closed

[2020-01-24 17:37] mtho11 commented on #2142
@israel-hdez I just did a create-react-app and there is no `tsconfig.prod.json` created. But, it isn't hurting anything, so given folks are nervous about the prod builds right now, it's probably best to leave it.

[2020-01-24 17:44] AceHack commented on #1695
This is not possible to set via the istio operator helm chart of kiali.  We are having to move to seperate kiali install.

[2020-01-24 19:59] israel-hdez opened #2150 "Decouple data of CytoscapeGraph component from redux"
This is a subtask of #1960.

In order for the `CytoscapeGraph` component to be re-usable, each instance of it needs to be data-independent. Currently, the elements of the graph are stored in redux.

The idea is that the `CytoscapeGraph` component should no longer use redux to get the graph data. This does not necessarily mean that redux will no longer store the graph data. The data of the main gra

[2020-01-24 20:08] israel-hdez opened #2151 "Decouple settings/props of CytoscapeGraph component from redux"
This is a subtask of #1960.

In order for the `CytoscapeGraph` component to be re-usable, each instance of it needs to have it's own settings. Currently, the settings of the graph are stored in redux. Because of this, when creating multiple instances of the `CytoscapeGraph`, changing the settings of one of the instances has impact on the other instances.

The idea is that the CytoscapeGraph compon

[2020-01-25 07:32] jotak commented on #2145
Yes it could work with suffix and prefix, or perhaps pass it a string format callback through props.

BTW you're correct about using MetricsDuration for logs, it's not just that the name doesn't make sense for logs but also because these durations used there are tailored for prometheus ttl which doesn't make sense for logs. Maybe we should tackle this as well.

[2020-01-25 08:46] aljesusg commented on #2145
I think that works for traces too, anyway we can add a prefix like Joel said and set it by default to traffic

[2020-01-27 08:17] aljesusg commented on #1978
@FilipB we can't add an id to the spinner but we can add a name prop. Is it works for you? If not we can check include the spinner inside to a div with the id.

[2020-01-27 08:18] aljesusg commented on #1978
forgot it we can add a id ^^

[2020-01-27 08:23] jotak opened #2153 "Remove temporary hack for sparklines"
When https://github.com/patternfly/patternfly-react/pull/3556 is merged, we can remove this temporary hack: https://github.com/kiali/kiali-ui/pull/1618 by bumping pf charts and using `activePoints` with custom `LabelComponent`

[2020-01-27 08:37] jotak opened #2154 "[Logs page] durations should not depend on prometheus retention"
While the durations list in most Kiali screens are related to prometheus TTL (retention), it should not be the case for Logs page (and probably not for Traces as well).

As a suggestion, we could add a new flag-prop in `TimeRangeComponent` to tell whether we want TTL-based durations or static durations.

Opening as "good first issue", there's no urgent deadline or too harsh implication.

[2020-01-27 08:38] jotak commented on #2145
=> for that, I've opened a "good first issue": https://github.com/kiali/kiali/issues/2154

[2020-01-27 08:56] aljesusg commented on #1376
Close after the new Jaeger Integration

[2020-01-27 08:56] #1376 closed

[2020-01-27 09:31] hhovsepy opened #2155 "Service Details load Error when Jaeger is configured wrongly"
Happens on master.
Jaeger configured to wrong URI, but the Service Details page load crashes:

![Screenshot from 2020-01-27 10-29-15](https://user-images.githubusercontent.com/604313/73163299-faf5de00-40ef-11ea-88af-bef13fee7c07.png)
![Screenshot from 2020-01-27 10-28-34](https://user-images.githubusercontent.com/604313/73163304-fe896500-40ef-11ea-9211-8156cfe80457.png)

[2020-01-27 09:41] #1978 closed

[2020-01-27 11:14] xeviknal commented on #2113
I would consider an IstioEnabledNamespace a ns that:
either has 1 or more pods with sidecar injected OR there are one or more
Istio Objects deployed.

In case you have

the objects living in that NS aren't under that effect. So we should not
show that validation.

wdyt?

On Fri, Jan 24, 2020 at 2:25 PM Lucas Ponce <notifications@github.com>
wrote:

--
Xavier Canal i Masjuan

[2020-01-27 11:51] lucasponce commented on #2113
either has 1 or more pods with sidecar injected OR there are one or more
Istio Objects deployed.

For this scenario it sounds reasonable.
But this "IstioEnabledNamespace" shouldn't hide if a pod has or not sidecars deployed, I think.

[2020-01-27 13:03] jshaughn commented on #2147
Although, when a user identifies a time range of interest I wonder if that time range should be able to be set globally, such that a user can move around and have a consistent historical view?  If not that then perhaps we should look more at a more horizontal page where users can consolidate a variety of selected views for correlation?

[2020-01-27 13:05] jshaughn commented on #2150
Is this necessary if only one graph is displayed at any time?

[2020-01-27 13:06] jshaughn commented on #2151
Is this necessary if only one graph is displayed at any time?  And how does this play with the url/bookmarking?

[2020-01-27 13:09] jshaughn commented on #2113
If we do try to make this determination it should be made server-side, right, and reported as a response to NS health?

[2020-01-27 13:45] jotak commented on #2147
I don't know... clearly this could be linked somehow to graph replay (maybe, when a custom time period is set, we could have a link displayed saying "Show graph replay for that period" ?)
But having it set globally for Kiali? I don't know, for instance how would it work with listing pages? That would only impact the health calculation but not the list items themselves (we don't know if an entity w

[2020-01-27 13:53] lucasponce commented on #2113
I'm not sure if it should be part of the "NS health", I think just for the overview.
Main problem here is there is not unique way to determine this info.

I.e.

[code]

But imagine that for some reason pods have not sidecar, and there are not additional Istio config under default NS.

So, probably for this we won't resolve the ambiguity, not showing the "Istio Config" validation perhaps is just fi

[2020-01-27 14:15] FilipB commented on #1978
Checked on master, updated our automation. It's working fine. Thank you!

[2020-01-27 14:16] xeviknal opened #2157 "Both grafana and jaeger urls in configmap are broken"
**General remarks**

grafana and jaeger urls are broken:

[code]
![Screenshot (1)](https://user-images.githubusercontent.com/613814/73181442-8171e600-4117-11ea-97bf-01e9b3b30b37.jpg)

About modal:
![Screenshot of Kiali  istio-system  (15)](https://user-images.githubusercontent.com/613814/73181617-da417e80-4117-11ea-87ba-dfaaa2c109d4.jpg)

Steps to reproduce it:

I have installed kiali using the fo

[2020-01-27 14:18] #2155 closed

[2020-01-27 14:21] jshaughn commented on #2113
@lucasponce Note that Namespace-level health is also shown on the graph.  Of course it's probably unlikely that the user will graph a namespace that is not istio-enabled.

[2020-01-27 14:59] lucasponce commented on #1603
Thanks @FilipB,

I think it could be interesting to run also some testing against the same endpoint that Kiali uses, just to check if spikes happen inside Kiali or are due the k8s API.

For example, when Kiali fetches workloads for a given namespace it executes endpoints of controllers and pods like:

http://localhost:8080/apis/apps/v1/namespaces/kube-system/deployments
(same for replica-sets and

[2020-01-27 15:01] xeviknal commented on #2157
@jmazzitelli I assigned to you because I think is connected with the operator. I am taking a look also here. un-assign it if its not, please.

[2020-01-27 15:46] kalantar commented on #2007
I see several times the expression that it would make sense to have a top level "iter8" entity to capture all the canary deployments for all the services in a cluster. I agree with this. Mostly because I think the notion of a canary deployment is sufficiently interesting to warrant it. Many of the concepts (experiment and success criteria) are service specific @kimikowang described. I wondered the

[2020-01-27 15:49] aljesusg commented on #2157
Verified, the same behaviour

[2020-01-27 16:28] xeviknal commented on #2113
For me, it would make sense to have it in two different places:
1. Namespace validation level.
2. Namespace List: list namespace name and istioEnabled attribute.
3. Health.

Second one, it less likely because it is a query that is heavily used and has to be really fast.
In health (3) would make sense, although we should to expand the concept of health not to only think of metric/pod status.
Theref

[2020-01-27 16:40] israel-hdez commented on #2151
I think it's so, so necessary. Currently, since we are storing the settings in redux, it is possible to navigate to other pages and, when going back to the graph, settings are preserved. The problem is that for the mini-graph, we would need a fixed set of settings. Since settings are in redux, those settings would need some manipulation programatically. So, the "benefit" of preserving settings wou

[2020-01-27 16:45] jotak commented on #2113
@xeviknal I think i like this approach. Basically get rid of the problem by refocusing displayed text on what we really do: we validate istio config objects.

[2020-01-27 17:11] jotak commented on #2157
@xeviknal @aljesusg the missing part seems to come from that ROUTER_HOSTNAME: https://github.com/kiali/kiali/blob/master/make/Makefile.operator.mk#L78

Can you run the related commands separately and see what it gives?
(Something like `oc get routes -n istio-system -o name 2>/dev/null || echo 'noroute' | head -n 1` and the whole one `oc get `oc get routes -n istio-system -o name 2>/dev/null || ech

[2020-01-27 17:30] jotak opened #2160 "Enable traces correlation with runtime metrics"
Enable for runtime metrics same feature that was implemented for istio metrics

(putting straight in sprint as i've actually already done that for blog post illustration....)

[2020-01-27 17:59] israel-hdez commented on #2150
Most of my comment on the other issue applies here: https://github.com/kiali/kiali/issues/2151#issuecomment-578836570

This may not be completely necessary. But since I am already pulling the settings, I think it makes sense to also do this effort.

[2020-01-28 02:40] jmazzitelli commented on #2157
It is definitely because ROUTER_HOSTNAME is empty. I see this, too. The makefile output that shows the problem is:

[code]

And in that [kiali_cr_dev_servicemesh.yaml](https://github.com/kiali/kiali/blob/v1.12/operator/deploy/kiali/kiali_cr_dev_servicemesh.yaml#L29) template file (used only for our dev environment/makefile):

[code]

So we need to find out why ROUTER_HOSTNAME is empty string in th

[2020-01-28 02:47] jmazzitelli commented on #2157
Something is just wrong with the syntax of that command in the makefile. If I run this, I get the results I want:

[code]

I'll figure out the correct syntax for embedding in the makefile

[2020-01-28 02:58] jmazzitelli commented on #2157
this is fixed in PR https://github.com/kiali/kiali/pull/2161

[2020-01-28 03:01] jmazzitelli commented on #2157
BTW: this is just a problem in the makefile - so it isn't really a blocker since it only affects the dev environment and only if you use the default behavior of `kiali-create` make target. You can always create your own Kiali CR and pass it to make via the env var "KIALI_CR_FILE" to work around the problem

[2020-01-28 04:22] mtho11 opened #2162 "Excessively long namespaces overflow title line and expand overview card height different"
**General remarks**
If you have a very long namespace name (max is 63 chars) it overflows the line length makes that card taller than others.

For UI issues please also add a screenshot that shows the issue.
<img width="1141" alt="Kiali_Console_-_Firefox_Developer_Edition" src="https://user-images.githubusercontent.com/1312165/73235274-94e67680-4142-11ea-999d-31f420a28e85.png">

[2020-01-28 04:33] mtho11 opened #2165 "Overview N/A Health status font size seems excessive"
**General remarks**
The Health status font in overview seems excessive in size compared to other fonts.

<img width="1133" alt="Kiali_Console_-_Firefox_Developer_Edition" src="https://user-images.githubusercontent.com/1312165/73235645-1f7ba580-4144-11ea-87aa-249098b66572.png">

Maybe this is fine, not sure. But when I look a the screen all I see is **N/A**

Perhaps one or two font sizes smaller?

[2020-01-28 09:33] #2083 closed

[2020-01-28 10:12] hhovsepy opened #2166 "Remove "external_services -> tracing -> url" and Tracing is gone"
Happens on master.
In Kiali CR, remove "external_services -> tracing -> url" and leave only the "in_cluster_url".

Tracing tab is not shown, Jaeger URL is NA in info, no any notification:
![Screenshot from 2020-01-28 11-10-32](https://user-images.githubusercontent.com/604313/73254511-d583d580-41be-11ea-8032-e08fef2905e4.png)
![Screenshot from 2020-01-28 11-11-47](https://user-images.githubusercont

[2020-01-28 10:21] aljesusg commented on #2166
Yep I fixed this in the other PR hayk let me merge it and we can check this again

[2020-01-28 10:23] #2157 closed

[2020-01-28 10:27] hhovsepy opened #2167 "Kiali does not recognise Jaeger under "/jaeger""
Happens on master.
Install upstream Istio via the hack script.
Jaeger is installed and routed correctly, but it contains "/jaeger" in URI, like: "http://jaeger-query-istio-system.apps.ocp.upshift.redhat.com/jaeger/search?service=details.bookinfo"

Kiali CR is configured to include that "/jeager":
![Screenshot from 2020-01-28 11-13-08](https://user-images.githubusercontent.com/604313/73255599-b423e

[2020-01-28 10:52] jotak commented on #2167
@hhovsepy is it a CR file that you provide yourself?
For me, with upstream istio the in_cluster_url is provided automatically in configmap so I don't have to set it up from Kiali CR. It is: `    in_cluster_url: http://tracing.istio-system/jaeger`

[2020-01-28 11:37] hhovsepy commented on #2167
Yes the CR and configurations are provided during the installation.

[2020-01-28 11:44] jotak commented on #2167
@hhovsepy so i guess you need to update it. Actually you should even be able to remove the in_cluster_url config, the operator should be able to guess it correctly both in maistra & non-maistra scenario

[2020-01-28 11:52] hhovsepy commented on #2167
still the same error happens when in_cluster_url config is removed and only the "url" is set

[2020-01-28 13:03] FilipB commented on #1603
Results for different endpoints - http://web.bc.jonqe.lab.eng.bos.redhat.com/gatling/reports/k8sapisim-20200128123015484/
See which endpoints are used here - https://gitlab.cee.redhat.com/istio/kiali-qe/kiali-qe-utils/blob/master/perf/gatling/K8sApiSim.scala

For each tested endpoints there are spikes with max response times around 2s. Kiali api calls spikes have max response times ~12s.

[2020-01-28 13:14] lucasponce commented on #2146
cc @PhilipGough @unleashed

FYI we are going to start refactoring this feature, we haven't followed up changes on the existing feature, but if we would like to add something for future Kiali versions (thinking on planning for SM 1.2).

[2020-01-28 13:30] #1380 closed

[2020-01-28 13:30] #1537 closed

[2020-01-28 13:39] jotak opened #2170 "Operator error while deploying to minikube"
I'm deploying to minikube with my usual command [1].
Command finishes successfully, but the operator fails to create Kiali.
Ansible logs:

[code]

[1] CLUSTER_TYPE=minikube DORP=podman CONSOLE_LOCAL_DIR=/work/swsui CONSOLE_VERSION=local make clean build cluster-push operator-create kiali-create

[2020-01-28 13:58] #2170 closed

[2020-01-28 14:07] jotak commented on #2167
Seen with Hayk: the `in_cluster_url` is actually correct and we can see in metrics pages that the span overlay can be displayed (which proves the url works).

However, there is this error message about unmarshalling error, which means that there's unexpected data returned by endpoint `api/services`.
I've created a PR to add more logs and try to understand what's wrong: https://github.com/kiali/kia

[2020-01-28 14:17] hhovsepy commented on #2167
![Screenshot from 2020-01-28 15-12-59](https://user-images.githubusercontent.com/604313/73271649-40460880-41e1-11ea-9624-5335bdcd11d3.png)

[2020-01-28 15:40] lucasponce commented on #1603
That's expected as kiali performs several calls, so yes, it seems that Spikes are in the k8s API itself, but not in Kiali (1 Kiali query may spawn several rounds to p8s and k8s, so it explains the differences).

@FilipB this tests are really valuable, it confirms several things:
- In general, caching improve the mean response, which is good.
- We can reproduce spikes querying directly to k8s API,

[2020-01-28 16:01] jmazzitelli opened #2173 "[hack] install-istio-via-istioctl needs to change CNI options"
The latest Istio slightly changed the CNI options. Our hack script needs to change to support this (this is required for the latest Istio, but I don't know how far back this change occurred - unsure if the 1.4 release requires this change).

See: https://github.com/istio/istio.io/pull/6371

[2020-01-29 00:23] mtho11 opened #2174 "deploy-kiali-operator.sh shows invalid error messages on k8s/minikube install"
**General remarks**
k8s installs show 2 error messages that are not relevant to the k8s install (only Openshift)

[code]

k8s/minikube doesn't have routes or oauthclients so these messages should not appear.

Anyway, nobody wants to see error messages when they are installing :)

**Describe the bug**
This bug is related to lines:
https://github.com/kiali/kiali/blob/v1.12/operator/deploy/deploy-kia

[2020-01-29 01:05] #2174 closed

[2020-01-29 02:40] MarkDeckert commented on #1139
@israel-hdez Sorry it's taken me so long to provide feedback on the token-based login.  I've finally had some time to do more testing after the holidays.  First of all, thank you for adding this feature so quickly!  Unfortunately I have discovered some issues that prevent me from using token-based auth.  In fact I believe current implementation will only work in a certain small subset of cases.  T

[2020-01-29 10:40] #2160 closed

[2020-01-29 12:16] lucasponce commented on #1552
I'm not sure what we can do here, as a source can be modified from different ways (CLI, Kiali UI, others UI) and we need to investigate which information is available.

[2020-01-29 12:23] lucasponce commented on #1547
Still valid and I think it may be interesting.
Also having a "shot this again" checkbox will help that user can ack.
This popup can be used to show "new in version x.y.z" style of main messages.

[2020-01-29 12:24] lucasponce commented on #1545
Outdated.
Jaeger integration has evolved and probably this one can be closed in favor or other updated issues around same topic.

[2020-01-29 12:24] #1545 closed

[2020-01-29 12:29] lucasponce commented on #1542
I see that probably a specific Sidecar could be created mapping existing communications.
But I have feeling tradeoff perhaps is too much complexity for this.
I mean, Kiali can detect that productpage talks with reviews and details services, and details service talks with ratings one.
That info comes from telemetry.

From that scenario, a Sidecar could be created to enforce that these relations and

[2020-01-29 12:30] lucasponce commented on #1541
Now that Kiali can generate Sidecars, it would be worth if validations logic is updated with these scenarios.

[2020-01-29 12:36] lucasponce commented on #1540
I'm not sure if we want to maintain this.
Today, Kiali development can be done pretty easily out of the cluster using proxies with Kubernetes cluster and services (prometheus, jaeger).

So, these mocks tend to be used only partially by one/two developers, but not use them by all team and maintained.

I think is better to normalize the use of a lightweight scenario (minikube + external kiali) for d

[2020-01-29 12:36] #1540 closed

[2020-01-29 12:38] lucasponce commented on #1525
I'm not sure if this feature can overlaps with a regular k8s console.
I agree it would be a good idea to have some control, but not sure with all those imply: Kiali start managing Pods for restart operations, config changes, etc.

[2020-01-29 12:45] lucasponce commented on #1522
I even think that this feature can be extended to all list pages too.
I think labels are already mapped and brought to the UI, and adding a similar a text filter option based on labels can be easy to implement.

[2020-01-29 13:00] lucasponce commented on #1521
This one is old and it's partially implemented in #1859. Once, this last one is propagated, perhaps we can add followup refinements/iterations around the feature.

[2020-01-29 13:00] #1521 closed

[2020-01-29 13:14] lucasponce commented on #1518
Around this issue I'd see two main tasks:
- Enable/Disable "extra" "self monitoring" options, that could be implemented adding connecting the sidecar to Kiali's pod.
- Also, to review the current "self monitoring" feature that looks not updated and a little bit abandoned:

![image](https://user-images.githubusercontent.com/1662329/73359620-8d89af00-42a1-11ea-98c4-cc0b039293cc.png)
![image](https:/

[2020-01-29 13:14] hhovsepy commented on #2167
Still happens on Kiali master after PR merges, and Maistra 1.0.5 where Jaeger is deployed for instance with search: "https://jaeger-istio-system.apps.ocp.maistra.redhat.com/search?"

[2020-01-29 13:19] lucasponce commented on #1511
Probably in App List could use an aggregation of labels of Workloads/Services but doable.
Information is stored in UI or being fetched, perhaps with some changes in the current model this feature could be added.

[2020-01-29 13:20] lucasponce commented on #1508
TypeAhead is implemented in IstioConfig list and is close to this feature.
So, we can iterate on that.

[2020-01-29 13:20] #1508 closed

[2020-01-29 13:38] lucasponce commented on #1507
I see interesting trying to enhance this, but also I have some doubts that if config are not hold in the same namespace, trying to find resources linked with a service in any namespace can be a performance penalty.

Anyway, put a label on it to discuss/investigate, as a feature is in the direction Kiali should go IMO.

[2020-01-29 13:42] lucasponce commented on #1506
Goal of this task could be to have a better picture what it can be done.
Probably it can be implemented partially validations within namespace and we can prepare the logic of cross-ns for future iterations as we have today with other similar validations.

[2020-01-29 13:43] lucasponce commented on #1493
I think this is pretty far from our short/mid terms.
I propose to close it and re-open with specific goals.

[2020-01-29 13:43] #1493 closed

[2020-01-29 13:51] lucasponce commented on #1416
I think we are in an agreement that Kiali may read additional signals (alerting) in the high level correlation context.

But it is also clear that alert management is out of the scope.

[2020-01-29 13:59] lucasponce commented on #2173
I think hack scripts issues like this can have the "backlog" label.
That means that issue is "ready", it doesn't mean that is added to a Sprint, which is a different step.
@jmazzitelli feel free to add "backlog" label to similar issues like this.
To be honest, I can't check if your description is not right, to me it looks good.

[2020-01-29 14:20] aljesusg commented on #2167
Fix https://github.com/kiali/kiali/pull/2179 & https://github.com/kiali/kiali/pull/2178

[2020-01-29 14:25] lucasponce commented on #2162
I don't think this is a bug.
The Card is showed and information is not lost.
If there is another UI recommendation about this (scrolling, to "cut" the name and put "..." or similar) that's another thing.

[2020-01-29 14:26] lucasponce commented on #2162
If there is any kiali-design about this, can we link them with the issues ?

Thanks

[2020-01-29 14:28] lucasponce commented on #2147
One clear area is the traces tab.
I think that deserves parity with metrics because also show now similar info.

[2020-01-29 14:35] lucasponce commented on #2142
Specially on broken build :-).

Closing.

[2020-01-29 14:35] #2142 closed

[2020-01-29 14:37] lucasponce commented on #2137
Was a consensus to put this on Sprint / Backlog ? @jshaughn
I guess I missed.

[2020-01-29 14:38] lucasponce commented on #2129
@raginireddy96 did our comments help you to spot the issue ?

[2020-01-29 14:50] aljesusg commented on #2166
We can close this one, Can you verify @hhovsepy ?

[2020-01-29 14:52] lucasponce commented on #2091
Is this confirmed ?

[2020-01-29 14:54] lucasponce commented on #2075
Please, when an issue is clear and there is an agreement to put in into the Sprint, don't forget to add the "backlog" label on it.

[2020-01-29 15:05] aljesusg commented on #2107
First step sent @jotak  https://github.com/kiali/kiali-ui/pull/1642 ;)

[2020-01-29 15:10] mtho11 opened #2330 "Excessively long namespaces overflow title line and expand overview card height different"
If you have a very long namespace name (max is 63 chars) it overflows the line length makes that card taller than others.

![Excessively_long_namespaces_overflow_title_line_and_expand_overview_card_height_different_·_Issue__2162_·_kiali_kiali](https://user-images.githubusercontent.com/1312165/73368794-71b4e780-4266-11ea-876c-685c2c75ac7f.jpg)

[2020-01-29 15:11] mtho11 commented on #2162
@lucasponce  Here is the design issue:
https://github.com/kiali/kiali-design/issues/169

[2020-01-29 15:20] FilipB commented on #1603
I tried to run the perf test in different env where the OCP cluster VMs root disks are attached to local ssd instead of shared Ceph storage. The big 12s spikes are no longer visible. Spikes are only 400ms. I will check with @gbaufake what was the original evn used for reporting this issue. I think we can close this issue as the spikes are very possibly caused by the env where the OCP cluster is ru

[2020-01-29 16:15] unleashed commented on #2146
@lucasponce there has been little progress on this since we are focused on a different task - hopefully this would not make it any harder to change the existing feature, but open up new options instead.

[2020-01-29 16:28] lucasponce commented on #1603
@FilipB Thanks for the update. In any case, the experience and the work preparing these performance tests is something we will continue working on and iterating.

Thanks !

[2020-01-29 16:28] #1603 closed

[2020-01-29 16:38] coolpalani opened #2180 "Unable to integrate Kiali dashboard with Active directory"
**Describe the bug**
We're trying to integrate Kiali with Active directory but it's throwing following error message.

 LDAP Result Code 49 "Invalid Credentials": 80090308: LdapErr: DSID-0C09042F, comment: AcceptSecurityContext error, data 52e, v2580

As per the documents, https://kiali.io/documentation/getting-started/#_ldap
How is it possible to integrate without feed user credentials to config.

[2020-01-29 17:02] jshaughn commented on #2137
@lucasponce @mtho11 , new issues can not be assigned to backlog and/or the sprint without grooming or at least a discussing it with a team lead.   There is a "discussion needed" label that can be applied to get attention in the next grooming session (for higher prio just ping us as well as adding the label).

UX suggestions don't necessarily imply backlog work.   Current sprint backlog takes prior

[2020-01-29 18:44] lucasponce commented on #2166
Please, link the PR that closes this one as a reference.

[2020-01-29 18:50] lucasponce commented on #2139
Moved from bug -> maintenance as this is related performance scenarios.
@FilipB has started to design and execute more tests around this and we will continue iterating on this.

[2020-01-29 19:05] lucasponce commented on #1923
Closing, it's minor, we are reviewing priorities for next sprints.

[2020-01-29 19:05] #1923 closed

[2020-01-29 19:07] lucasponce commented on #1900
Moved enhancement > maintenance as it's a pure development task (improve the build process) but not a new feature.

[2020-01-29 19:16] lucasponce commented on #1677
I guess that adding Jaeger to this issue makes sense for Spans.

[2020-01-29 19:20] lucasponce commented on #1653
Kiali provides now a better integration with Jaeger where external links are better located.

[2020-01-29 19:20] #1653 closed

[2020-01-29 19:29] lucasponce commented on #1556
Completed

[2020-01-29 19:29] #1556 closed

[2020-01-29 22:01] israel-hdez commented on #2180
Hi, @coolpalani. Thanks for reporting the issue.
Probably, the docs may not state it clearly, but you don't need to place any user credentials in the config. I'm assuming that you are talking about the `ldap_bind_dn` configuration. This is a template. You need to literally write the `{USERID}` string in some part of the `ldap_bind_dn` config. Kiali will replace the `{USERID}` string with the login

[2020-01-30 00:58] MarkDeckert commented on #2180
@israel-hdez @coolpalani

I've been testing this too.  The login name for the user would literally be the user's CN.  Look in the properties of the account in AD and you'll see that it may not be what you expect.  I've seen various cn's such as "FirstName LastName" and "LastName, FirstName".  This makes an awkward experience for the typical enterprise AD user - but it does work.  In case it helps

[2020-01-30 01:33] jmazzitelli commented on #2180
There is the "token" login strategy which may be a viable alternative - You are able to then login with any service account (its token / credentials). See: https://kiali.io/documentation/getting-started/#_login_options

[2020-01-30 02:24] jshaughn commented on #1510
@lucasponce We may want to revisit this with the Jaeger guys given the recent integration work.

[2020-01-30 04:12] MarkDeckert commented on #2180
What I meant was an LDAP/AD service account. The service account would bind to LDAP them do the user lookup. In many environments users will not know what their CN or DN is, which is currently required by kiali.

[2020-01-30 08:00] aljesusg commented on #2166
This PR set the URL to empty string https://github.com/kiali/kiali/pull/2177 . Anyway the operator set by default a empty string to this value in https://github.com/kiali/kiali/blob/master/operator/roles/kiali-deploy/defaults/main.yml#L123 like mazz told us.

I tested it, I removed the url with a configmap
[code]
and the result is

[code]

[2020-01-30 08:21] lucasponce commented on #1510
Yes, there are some situations that are well known and described in FAQ:
https://istio.io/faq/distributed-tracing/

But I think it's worth to see if some "detection logic" can be automated from Kiali, now that Kiali backend process tracing and has started some level of correlation.

I started to have some chat about this with @aljesusg but it makes sense to have it in an issue.

[2020-01-30 08:30] lucasponce commented on #1371
@xeviknal I'm not sure if we have another issue very similar to this (duplicated).

[2020-01-30 08:41] #2167 closed

[2020-01-30 08:42] hhovsepy commented on #2166
Verified on Maistra.
![Screenshot from 2020-01-30 09-24-42](https://user-images.githubusercontent.com/604313/73433303-d0509300-4344-11ea-8fb3-1987acfb4709.png)

[2020-01-30 08:42] #2166 closed

[2020-01-30 10:49] lucasponce commented on #2038
Not sure if this issues requires an action.

[2020-01-30 10:49] #2038 closed

[2020-01-30 10:52] lucasponce commented on #1517
I think this is already available under the Workload -> Logs tab.
Also, spefic self-monitoring Kiali metrics are hosted there.

[2020-01-30 10:52] #1517 closed

[2020-01-30 10:53] lucasponce commented on #1515
I think this is outdated for Istio 1.4 as Galley take care of it.
Please @xeviknal feel free to reopen if you think I missed something.

[2020-01-30 10:57] lucasponce commented on #1503
Removed "discussion needed"
I think we have commented with @jshaughn that logs is an area where we want to progress.
This issue can be reconverted in an "epic" adding subtasks or linking other related issues.

[2020-01-30 10:58] lucasponce commented on #1546
This issue is still valid as Kiali can provide more validation status based on current Istio control plane.

[2020-01-30 11:04] lucasponce commented on #1536
In the IstioConfig Details page we don't have a consistency Overview / YAML tabs.