[2020-10-06 07:35] lucasponce commented on #3293
This is good, but we are missing the tracking of this effort.
Please, @jotak would you mind to update the main epic https://github.com/orgs/kiali/projects/19 with this one as a subtask ?

[2020-10-06 08:28] a8j8i8t8 commented on #3224
@jmazzitelli @israel-hdez I think Kiali needs to have one elevated privilege of `readOnlyRootFilesystem: false` and then this needs to be documented somewhere. Except Kiali all our other applications are running fine with same PSP.
Please feel free to close this issue.

[2020-10-06 08:53] Tanbouz commented on #3262
I was missing the secret as you suggested.

Then ran into another issue while using `kube-oidc-proxy`, don't think it is related to the original issue.

`{"error":"Token is not valid or is expired","detail":"the server has asked for the client to provide credentials (get namespaces)"}`

[2020-10-06 09:13] jotak commented on #3247
Note: the issue about slow display was already gone after the re-designing task #3095
The PR fixes problem of bubbles overlapping with toolbar

[2020-10-06 10:02] jmazzitelli commented on #3224
We have not had any other user encounter this issue. We do not create our file systems as read only (indeed, we can't, because as you see we do write some things at startup). I am not sure why your system behaves differently.

[2020-10-06 10:35] #3247 closed

[2020-10-06 10:40] a8j8i8t8 commented on #3224
@jmazzitelli It's not an issue, but the deployment requirement for Kiali. If you don't have any PSPs then of course it'll run without any issue. But if your cluster has restrictive PSPs then this requirement needs to be documented.

[2020-10-06 10:40] #3224 closed

[2020-10-06 12:08] lucasponce commented on #3290
I guess we can re-open the discussion about this "Developer API" section.
I'll be clear, I don't like it.

Our Developer API is not public, it's only for consumption from the Kiali UI, I've been always against to publicity this.

In the other hand, if we want to keep documented the REST API perhaps we can change this a little bit, to put a note on Kiali.io that this API is "private" meaning that t

[2020-10-06 12:13] xFayre opened #3294 "[OpenId] AKS + AAD integration with Kiali's OpenId"
I have been trying to get Kiali's OpenID integration. The scenario we want is to have Kiali's dashboard exposed to the development teams in a Public URL and they can log in into Kiali with their Azure AD's credentials.

My setup is like this:
Kiali Operator: v.1.24
AKS: version 1.18.8
We have a AKS + AAD cluster integrated like so:
![image](https://user-images.githubusercontent.com/13035425/951989

[2020-10-06 12:52] SionArtingstall opened #3295 "Workload not being shown when using Openshift deployment config to deploy an app"
**Describe the bug**
When I deploy an application using a deployment config in OpenShift the application does not appear in the workloads section in Kiali.  A build type is showing as well from an old build which is no longer deployed.

**Versions used**
Kiali:Version: v1.12.10.redhat2
Istio: Openshift Service Mesh - servicemeshoperator.v1.1.9
Openshift 4.4.20_1518 on managed IBM cloud

**To Repro

[2020-10-06 13:03] lucasponce commented on #3295
@SionArtingstall I know that DeploymentConfig are not fetched as controller by default.
I'm going to add a link to the config to add them from the operator.

[2020-10-06 13:06] lucasponce commented on #3295
@SionArtingstall

There should be a Kiali CustomResource where you need to change the default values of "excluded_workloads" and remove "DeploymentConfig" and "ReplicationController".

https://github.com/kiali/kiali-operator/blob/master/deploy/kiali/kiali_cr.yaml#L727

[2020-10-06 13:35] jshaughn commented on #3252
@lucasponce @jotak @israel-hdez I think perhaps we should meet to discuss our options here, now and going forward.  Fundamentally we may need to reconcile what we're doing with health and how that plays with what we do with the graph.  To me there are two major issues that will affect our scale, first is that the traffic processing for graph and health is almost a duplication of effort.  They do t

[2020-10-06 13:54] jmazzitelli commented on #3224
So I guess that means `readOnlyRootFilesystem: true` is the default value if not explicitly specified in a PSP? We can put this in our FAQ. I'll create a new doc issue specifically for that.

[2020-10-06 13:58] jmazzitelli opened #3297 "FAQ: tell users if they use a PSP they need to set readOnlyRootFilesystem: false"
If a user specifies a PSP for Kiali pod, we need an FAQ to tell them they have to set "readOnlyRootFilesystem: false" because Kiali needs to write things at startup.

Without this setting (or if you set it to `true`) Kiali will have these errors in the logs - Kiali will fail to work when this happens:

[code]

(This came out of the discussion in https://github.com/kiali/kiali/issues/3224)

[2020-10-06 13:58] jmazzitelli commented on #3224
Doc issue here: https://github.com/kiali/kiali/issues/3297

[2020-10-06 14:40] SionArtingstall commented on #3295
Thanks @lucasponce will give that a try and let you know.

[2020-10-06 14:55] israel-hdez commented on #3262
@Tanbouz That sounds like `kube-oidc-proxy` can't communicate with the Kubernetes API.
Can you check the logs of `kube-oidc-proxy`? You may be missing some RoleBindings or ClusterRoleBindings. Or, perhaps, some certificates issue, or simply `kube-oidc-proxy` is unable to connect to Kubernetes.

[2020-10-06 16:27] jotak commented on #3252
good for me

Fundamentally we may need to reconcile what we're doing with health and how that plays with what we do with the graph. To me there are two major issues that will affect our scale, first is that the traffic processing for graph and health is almost a duplication of effort. They do things a bit differently but from the prometheus standpoint the load increases. The difficulty here is tha

[2020-10-06 17:17] israel-hdez commented on #3294
Using the same value in `issuer_uri` and `authorization_endpoint` is a misconfiguration. For your case, I think the right value for `issuer_uri` is `https://login.microsoftonline.com/your-id-here/v2.0`. If you go to the logs of the Kiali pod, I'm quite sure you will find a warning line reading `Error when fetching OpenID provider's metadata` when using the wrong `issuer_uri`. If you correctly conf

[2020-10-06 18:13] jmazzitelli commented on #3290
We should just get rid of this from kiali.io.

It is still useful to devs (I'm using it now) - so let's put this somewhere else.

[2020-10-06 18:47] xFayre commented on #3294
Okay I'm trying first to configure Auth code flow.

The Kiali CR is like so:
[code]
So we can avoid the first misconfiguration there.

I had already attempted to create a secret following the [docs](https://kiali.io/documentation/latest/configuration/authentication/openid/#_set_up)

By issuing the command

`kubectl create secret generic kiali --from-literal="oidc-secret=<my-secret-with-34-characte

[2020-10-06 18:49] xFayre commented on #3294
Attaching the Header information in the network pane
![image](https://user-images.githubusercontent.com/13035425/95246914-8ed58900-07eb-11eb-8408-df853eb09869.png)

[2020-10-06 19:06] lwrigh commented on #3279
Some comments for the screenshots above, I would add some space in between the 'Full duration' and 'Spans average duration' sections just to separate them a bit more. I would also use a smaller scale for the bar graphs since it's kind of hard to guess what the value is with such a large gap in between the numbers that are marked on it.

[2020-10-06 19:09] mtho11 commented on #3290
So two things:

1. It should be removed from kiali.io (and added some other place because it is still useful)
2. It should get fixed. Since it is useful, it would be helpful to have it working.

[2020-10-06 19:10] mtho11 commented on #3290
I assume since we are removing from kiali.io that we would only keep the latest version around?

[2020-10-06 19:13] israel-hdez commented on #3294
@xFayre I'm curious. Did you manually create a new App for Kiali in your AAD panel?

Maybe there is another app that could have been automatically created when you enabled AAD integration for your AKS cluster? If there is, probably you should be re-using that one and setup Kiali there, instead of creating a new client app from scratch.

[2020-10-06 19:21] xFayre commented on #3294
Yes

Also yes It is a dynamically created app with the cluster. Considering Terraform, GitOps and our infrastructure, we cannot depend on this app to set up the permissions. This would be the case with anyone using terraform.

[2020-10-06 20:53] israel-hdez commented on #3294
Well, that's unfortunate as my next suggestion is to forget about that Kiali app that you manually created and, instead, use that dynamically created app. So, in that dynamically created app add the Kiali URL as an allowed callback and, then, setup Kiali with the client-id, client secret, issuer uri, etc of that dynamically created app.

The thing is that openid tokens are targeted to specific "ap

[2020-10-06 21:11] xFayre commented on #3294
In the odd case we can make it work with our user-created app. Can you be more specific as to how to create the client secret? Is the kubectl command correct? how do I check if they are the correct 16, 24 or 32 bytes.
A couple of posts ago I posted the kiali logs with this entry:

`W1006 19:09:05.663418       1 openid_auth.go:338] Cannot use OpenId authorization code flow because signing key is no

[2020-10-06 22:04] israel-hdez commented on #3294
Well, that kubectl command that is in the kiali website, in the docs, should worked fine:

`kubectl create secret generic kiali --from-literal="oidc-secret=$CLIENT_SECRET" -n $NAMESPACE`

Just replace `$CLIENT_SECRET` with the plain-text client-secret that you get from the AAD app page.

Yes, the message `Cannot use OpenId authorization code flow because signing key is not 16, 24 nor 32 bytes long

[2020-10-07 03:34] lucasponce commented on #3252
Reading all comments I think we are mixing implementation details (how graph is rendered, how find/hide is implemented) with also design/architect topics (split requests for graph and health, client side calculation of health) and I'm sure in that way we can miss something relevant.

As commented I'll fetch both PRs to run some deep testing on my side.

About this I'm ok to put this feature as "do

[2020-10-07 08:03] lucasponce commented on #3290
I wonder if at same way travis update the swagger.json, if it can creates at same time some rest-api.adoc or rest-api.md with a nice format that can be easily render in github for the REST API.

That would meet a developer requeriment I think.

And we can use kiali.io to focus more on the user where there are some lacks (i.e. configuration to me is something with more priority, I don't think it's

[2020-10-07 08:22] aljesusg commented on #3290
I can confirm that we can do that and publish it in github pages under kiali/kiali with travis :)

[2020-10-07 08:33] swapnadeepmohapatra commented on #1375
Hi, @lucasponce Is this issue not yet resolved? If it is not done then can I work on this?

Thanks,
Swapnadeep

[2020-10-07 08:40] lucasponce commented on #1375
@swapnadeepmohapatra I don't think it's resolved, feel free to give a try !

Thanks !

[2020-10-07 09:30] lucasponce commented on #3252
Some backend considerations during PR review https://github.com/kiali/kiali-ui/pull/1957#issuecomment-704796442.

If you debug the Prom client, you'd see a pattern like this:

[code]

In some cases there are some repeated queries:

[code]

And in others it opens the discussion if in terms of business it makes sense to have two queries with due a short interval:

[code]

In this last one two querie

[2020-10-07 11:20] lucasponce opened #3298 "Align tooltip style"
Kiali uses tooltip in multiple locations, in some cases style difers even for the same concepts.

I noticed some changes on this https://github.com/kiali/kiali-ui/pull/1884 but it would require some global issue to review all tooltips and check that they look like similar (at least for the same concept).

[2020-10-07 12:32] hhovsepy opened #3299 "When no Traces - Empty Traces details tabs in bottom"
Happens on istio-system applications.
![Screenshot from 2020-10-07 14-30-49](https://user-images.githubusercontent.com/604313/95331214-f3efb400-08a9-11eb-80bf-7b2bad9ae997.png)

[2020-10-07 13:30] jmazzitelli opened #3301 "backport custome dashboard disable feature"
There are two reasons why I would like the custom dashboard disable feature to be backported to v1.24:

1. People complain about how the operator is "slow".. disabling these dashboards speeds it up (in some cases by a measurable amount). I doubt many people use all of these dashboards (many don't even know about them, I would predict)... this might give an "out" for people who complain about the s

[2020-10-07 14:05] jmazzitelli commented on #3301
two PRs are in:

https://github.com/kiali/kiali/pull/3302
https://github.com/kiali/kiali-operator/pull/157

I am going to run the molecule test that shows it working to confirm. Then I will move them out of "draft" state so we can merge them.

[2020-10-07 14:17] jmazzitelli commented on #3301
molecule test passes , confirmed ConfigMap has this in it:
[code]

[2020-10-07 14:22] jmazzitelli commented on #3301
To run the molecule test yourself, checkout the two PRs locally (the kiali and kiali-operator PRs), build and push the dev images to your cluster (via `make cluster-push`) and then run this:

[code]

[2020-10-07 15:01] #3301 closed, assigned to jmazzitelli

[2020-10-07 19:05] jshaughn opened #3303 "Support "duration" parameter for pod logs API"
Epic: https://github.com/kiali/kiali/issues/2232

Now that the server-side has logEntry support we can perform some more smart filtering to the backend and avoid pushing dead data over the wire.

The primary use case is to have log queries be able to support the same thing we have for metrics, and that's time-range support.  Logs already supports "&sinceTime", which is equivalent to "&queryTime" s

[2020-10-07 19:20] jshaughn commented on #3067
@mtho11 Given the dificulties of doing this filtering client-side I think we can defer the actual filtering to the pending server-side work in https://github.com/kiali/kiali/issues/3303.  The scope here can be reduced to just supplying the anticipated "duration" query parameter.  Using the "custom" support in TimeRangeComponent hopefully provides a lot of what is needed.

Let me know what you thin

[2020-10-07 19:26] #1375 closed

[2020-10-07 22:01] #3264 closed

[2020-10-08 02:04] Macrame commented on #3262
Sorry for my late, in fact I had a long holiday. Anyway, I created the secret and checked the content. As you said, it equals the openid client-secret exactly. The issue is still stuck. Could you help me to resolve it? Thanks very much.

[2020-10-08 07:06] jotak commented on #3299
@lucasponce I'll take this one if you don't mind, I was fixing it anyway via another PR, but will send a separate PR

(As I understand this is different from the bottom padding you're dealing with)

[2020-10-08 07:53] jotak opened #3304 "Inform user about jaeger URL not configured"
In-app, inform user via an icon/tooltip on tracing page that Kiali can offer more integration with jaeger when the external URL is configured.
Obviously this icon would not be displayed when the url is configured.

[2020-10-08 07:54] lucasponce commented on #3299
Yes, this is more about conditional rendering the tabs if there is no results.

The issue I'm working on is generic for all layout.

[2020-10-08 09:27] #3299 closed

[2020-10-08 10:21] #3219 closed

[2020-10-08 11:12] samene commented on #3251
Just a note here, I was facing the same issue again, even with only a single Kiali CR. The kiali pods kept restarting. I can confirm it is because of #3231 since when I checked the configmap between restarts the accessible namespaces kept reordering randomly.

before restart
      accessible_namespaces:
      - istio-system
      - cattle-prometheus
      - security-scan
      - metallb-system

[2020-10-08 11:48] kjetillilleby opened #3305 ""View in Grafana" link can be wrong"
**Describe the bug**
I use the kiali-operator for installation, and have specified (among other thing)
[code]

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/9693382/95454265-822c6e80-096c-11eb-9c7c-6260f2e67cc7.png)

**Versions used**
Kiali: 1.24
Istio: 1.7
Kubernetes flavour and version: v1.18.6-gke.4801

**To Reproduce**
Steps

[2020-10-08 13:00] lucasponce commented on #3304
There is already a couple of messages in the MessageCenter in this situation.
Just a note to review them as well in this context.

[2020-10-08 13:06] jotak commented on #3305
I will look into it, thanks for reporting.

[2020-10-08 13:24] jshaughn commented on #3251
@samene The fix is available with the v1.25 kiali operator, to be released tomorrow, Oct 9th.

[2020-10-08 13:42] hhovsepy opened #3306 "Wrong workload for kiali-traffic-generator in Traces Spans"
In Traces Spans tab, for 'kiali-traffic-generator' the workload is displayed as 'kiali-traffic', which causes wrong linking.

![Screenshot from 2020-10-08 15-37-32](https://user-images.githubusercontent.com/604313/95466591-c889c980-097c-11eb-85e5-b973f2fd8f9b.png)
![Screenshot from 2020-10-08 15-37-16](https://user-images.githubusercontent.com/604313/95466588-c6c00600-097c-11eb-8cac-3983ace24e99.p

[2020-10-08 14:03] lucasponce opened #3307 "Wrong z-level in the refresh controller in metrics tab"
Refresh controller would need to have a higher z-level on these tabs:

![image](https://user-images.githubusercontent.com/1662329/95469227-b3626a00-097f-11eb-9c04-94063f0528a1.png)

[2020-10-08 14:52] lucasponce commented on #3306
This is weird, is `kiali-traffic-generator` showed in the list of workloads ?

Which controller uses ?

[2020-10-08 15:23] jshaughn commented on #3306
I thought it was a replica-set, is it strange?

[2020-10-08 16:14] thearegee opened #3309 "Fullscreen mode for graphs"
**Problem**

I want to include in our documentation and our out of hours support application a quick architecture / topology diagram of our stack. There are various tools available but they go out of date quickly. Kiali graph generates a dynamic an realtime snapshot of our infrastructure, simple example shown below:

![image](https://user-images.githubusercontent.com/8751165/95484724-b9a91400-0988

[2020-10-08 16:25] jshaughn commented on #3252
@lucasponce I am OK with releasing this feature and getting any upstream feedback that  it may generate.  As you commented in the PR, despite ech graph refresh maybe taking longer, it may not be noticeable to the user and the extra time results in a smoother update and the ability to find/hide on health.  I think the remaining question is only which impl to go with, at least initially.  The approa

[2020-10-08 16:28] #3297 closed

[2020-10-08 16:32] jotak commented on #3305
I don't reproduce the issue. I've set `system/grafana` in CR, which ends up as expected as `url: /system/grafana/d/LJ_uJAvmk/istio-service-dashboard` in the json fetched from UI.

Could you check kiali configmap and see if it mismatches with what you defined in the CR? (Kiali configmap is in the istio-system by default)

[2020-10-08 16:33] israel-hdez commented on #3262
@Macrame Is the error message still the same? I see you posted this error

[code]

If it is, can you please [enable debug level messages in Kiali](https://github.com/kiali/kiali-operator/blob/7dafc469c95d4307ebd03c515a87c7f84eb64da7/deploy/kiali/kiali_cr.yaml#L355-L358) and provide the logs of the Kiali pod?

[2020-10-08 17:09] jotak commented on #3306
Ok, it seems to come from a regex that parses pod names to guess the workload name out of it. At the moment it won't work with replica sets.
To summarize the problem, we need a regex that is able to extract:

- `mydeployment` from string `mydeployment-123abc-456def.namespace`
- `my-deployment` from string `my-workload-123abc-456def.namespace`
- `my-replicaset` from string `my-replicaset-123abc.nam

[2020-10-08 17:18] #3278 closed

[2020-10-08 18:43] #2939 closed

[2020-10-08 19:16] israel-hdez commented on #3294
@xFayre I'm fixing the openid docs of the website, as this discussion made me realize that they are wrong: https://github.com/kiali/kiali.io/pull/315

Hopefully, this will make easier for people to get the right setup.

[2020-10-08 19:54] jshaughn commented on #3309
Hi @thearegee, we are looking at having fullscreen options for pages in the UI.  Also, we do already offer "kiosk mode" for embedding kiali into other places.  See [Embedding Kiali](https://github.com/kiali/kiali/blob/819c84fa73e29e7daabcd84d28c244df90c59c72/README.adoc#embedding-kiali), maybe this is what you are looking for.

[2020-10-08 20:38] mtho11 commented on #3309
@thearegee I'm currently working the fullscreen options (full monitor dimensions) right now: https://github.com/kiali/kiali/issues/3155

[2020-10-09 02:57] Macrame commented on #3262
I can sign in successfully after I re-created the pod. Now the error message is `{"error":"Cannot view any namespaces. Please read Kiali's RBAC documentation for more details."}` although I bound my user to the clusterrole `kiali` using `kubectl create clusterrolebinding ayden-admin-binding --clusterrole=kiali --user="ayden.franklin@xxxxxx.com"`.
By the way,  Kiali pod can print INFO log regardles

[2020-10-09 06:14] kjetillilleby commented on #3305
Nothing suspicious in the kiali configMap. My installation of grafana is still bundled to istio, Not sure if that is important.
My kiali configMap:
[code]

[2020-10-09 06:57] jotak commented on #3306
Ok perhaps I start to see a solution, as the sequence of generated alphanums is longer in the replica set identifier than in the pod identifier. Not sure how safe it is to rely on that, but it worth it to check

[2020-10-09 07:26] lucasponce commented on #3306
Perhaps you can add something to help on that logic, if you start this request from a known workload, the workload has info about the pods, that perhaps (if it's not a bad performance increase) could be used to calculated better what to filter (I think).

Just an idea, I know without extra info, it's not an easy problem as there will be always cornercases in naming.

[2020-10-09 07:30] jotak commented on #3305
This is weird, I can't see anything in code that explains this.
One more thing to check, can you see the JSON returned for this URL: `<kiali url>/api/grafana` ? That would tell us at least if the problem is in kiali backend or not.

[2020-10-09 07:35] #3273 closed

[2020-10-09 07:36] #3274 closed

[2020-10-09 07:38] jotak commented on #3306
it won't solve all the cases, as we're identified workloads all along the trace and not only the one we're focused on.
But I think using length of the generated parts will fix the issue.

[2020-10-09 07:40] lucasponce commented on #3306
Right, the previous trick only works for a single workload. Yes, having this info about the lenght may work, I guess that probably something different may be a corner case that can be applied later.

[2020-10-09 07:52] lucasponce commented on #3155
Then I understand that you are refering to the second style I commented in https://github.com/kiali/kiali/issues/3155#issuecomment-684824692

Just to be clear, the first style, like what github does, offers a button like this:

![image](https://user-images.githubusercontent.com/1662329/95557084-96c44180-0a14-11eb-85e3-7a314946852d.png)

But it's a complete re-layout inside the same browser:

![ima

[2020-10-09 08:21] kjetillilleby commented on #3305
Yeah that looks weird:
[code]

[2020-10-09 09:15] thearegee commented on #3309
@jshaughn thank you for sending me that, I never saw that in the documentation. It is pretty close to what I want and a great start for my project. It would be good if I could toggle the header off:

![image](https://user-images.githubusercontent.com/8751165/95565009-7c3f9780-0a17-11eb-8ec4-a1cd1d4d1fe4.png)

It would also be powerful if we could select display options:
![image](https://user-image

[2020-10-09 10:41] #1615 closed

[2020-10-09 10:42] MarianZoll commented on #2893
@israel-hdez Haha this took some time but I was covered by a lot of project work.

I had another look on the logging and how we could improve it with some advanced logging package. At the moment, a Kiali internal log class does abstract most of the logic (except formatting and co.): https://github.com/kiali/kiali/blob/master/log/log.go

I would suggest to have a look on some higher level logging p

[2020-10-09 11:29] lucasponce opened #3311 "Split/Join strategy on Tracing queries"
This is related to EPIC https://github.com/kiali/kiali/issues/2776

In short interval the correlation works well:
![image](https://user-images.githubusercontent.com/1662329/95577605-c71ad880-0a32-11eb-8042-757167f475fa.png)
![image](https://user-images.githubusercontent.com/1662329/95577640-d863e500-0a32-11eb-9f78-c232136324b7.png)

But when we open the interval we find always the following patter

[2020-10-09 11:30] lucasponce commented on #3311
cc @aljesusg @jotak

[2020-10-09 12:51] mtho11 commented on #3155
Yes @lucasponce to confirm this is the F11 option for full screen.

[2020-10-09 13:12] jshaughn commented on #3309
Thanks, @thearegee!   As for the header, I thought we fixed that in v1.21 *(see https://github.com/kiali/kiali/issues/2946).   Are you using an older version?

[2020-10-09 13:30] jotak commented on #3311
Good point, I often have the same frustration when looking back in past.

I didn't think about a split/join strategy but it is definitely interesting, yes.

A different possibility (or complementary) could be to load more data as a kind of background job: continuing to populate the chart after the initial load, with small batches. Perhaps with a couple of control buttons, to start and stop loading

[2020-10-09 14:43] jotak commented on #3305
And what if you put something random in the config? Does it keep that random thing, doubled?
Can't see what's wrong in code :/

[2020-10-09 15:42] #2633 closed

[2020-10-09 18:20] israel-hdez commented on #3252
I was seeing the code of the "concurrent" approach. Quite the same. If my eyes catched correctly, it's only the GraphDataSource that changed.

Well, I'm not sure there is a better approach. I would take [1], but I think I would have a little biased opinion. My reasons: I prefer to keep servers/network with the least load (which it's potentially increased in [2], even if it's just a little); and be

[2020-10-09 20:35] #3252 closed

[2020-10-09 20:45] israel-hdez commented on #3262
Just as sanity check, please make sure that the `kiali` clusterrole exists.

If it does exist, I would think that your kubernetes cluster is looking for another username. Check the API Server startup flags, specifically, the `--oidc-username-claim` flag. By default, it's `sub`, so you may need to use the userID rather than the e-mail to give privileges, or whatever token claim was configured.

Yes

[2020-10-09 21:14] kaz-33 commented on #2041
Hello, have you moved forward for this helpful feature?
I'm playing a bit with the authorization policy and the best way to define it is to select "from service account" and target "service".
The namespace is too highlevel, and it wouldn't make sense to create one namespace per Pod...

[2020-10-11 17:56] kaz-33 commented on #2041
I remove  my previous message, i saw the 'menu' for the authorizationPolicy.
 But the question, because kiali see the traffic between the POD, kiali could  activate the Authorization Policy with manual validation?
We can imagine:
kiali monitor the traffic,
Kiali display the traffic on a dedicate page,
Human click (or modify) the rigth policy between POD
kiali apply to the network...

[2020-10-12 02:07] Macrame commented on #3262
I tried again after I specified the `--oidc-username-claim` flag to `--oidc-username-claim=preferred_username` for API Server and `username_claim:preferred_username for Kiali. Certainly, I bound the `clusterrolebinding` to my **preferred_username**:
[code]
And, the `kiali` clusterrole exists absolutely.
[code]
---
Kiali pod can only print INFO log regardless of that I changed the verbose_mode to 4

[2020-10-12 11:12] thomasmRavn commented on #3294
Hope I'm not butting into this thread but I have the same problem, can see docs were updated saying reuse the App Registration for the cluster but for AKS when you enable AD integration Azure creates a Service Principal to handle authentication. I don't think it creates an app registration at all. Does this mean that AKS AD enabled cluster can't work with Kiali? @xFayre if I am hijacking your thre

[2020-10-12 13:00] kjetillilleby commented on #3305
I've done some testing.
Istio is deploying grafana with variables
[code]
this seems to affect the kiali routes for grafana.
Setting the grafana url in kiali to "/" fixed the "View in grafana" url.
However the link from the "about" is wrong then.

[2020-10-12 14:28] israel-hdez opened #3313 "Session not cleared correctly on log-out"
**General remarks**

The session is not cleared correctly after logging out.

In OpenShift, when a user logs out, Kiali asks to OpenShift to invalidate the token. Since the session is not cleared correctly in Kiali it becomes stale. If you try to access Kiali again (either trying to re-login, or by accessing the Kiali root URL), it "thinks" that there is still a session (because cookies are not cl

[2020-10-12 15:46] israel-hdez commented on #3262
@Macrame There was an error in the docs. Docs were telling users to register Kiali as a new App in the OpenId Server. This was an error, and you should share the same app both for Kubernetes and Kiali. So, please make sure that the same OpenId app is shared.

[2020-10-12 15:51] israel-hdez commented on #3294
@thomasmRavn Well, I'm now sure really how Azure works, because I don't use it. So, I can only reply based on what I read on the Internet and docs.

I see there is a "legacy" way to configure AzureAD integration in AKS which involves configuring an app in Azure AD. These are the docs I found: https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli. Not sure it it's really a suitable se

[2020-10-12 19:12] jmazzitelli commented on #2893
There is a huge amount of churn that would require changes like this (taken from https://github.com/MarianZoll/kiali/commit/fa3aa8669f9adefeb9363652ac2fefae9e35cb4e)

[code]

Is there anyway you can retrofit the Kiali log/log.go so it simply delegates?

[code]

So really all that would change is the log/log.go ?

[2020-10-12 19:41] jshaughn commented on #1507
@lucasponce We now display the principals in the graph side-panel for edges.  is that sufficient?  If not what would be next?  Perhaps a graph find/hide like we have for mTLS?  Something like "has principal"?

[2020-10-12 19:55] jshaughn opened #3314 "Investigate vendor-support of Kiali architecture"
For Kiali to support other mesh implementations it needs end-to-end support for additional vendors.  Today the implementation is Istio-specific.  If contributors were interested in adding support for other meshes/apis, what sort of work would be needed in Kiali to adapt to those vendors?  It would mean, perhaps, support throughout Kiali to "hide" unimplemented features.  Code-wise it would likely

[2020-10-12 22:25] xFayre commented on #3294
@thomasmRavn Not hijacking at all. Actually, it sounds like you are at the same step. We know _an app_ is created when using AKS + AD integration because we could find the id by using `az aks` commands and then we checked the app registrations and got a hit.
I am arriving at the same conclusion, if we are to use an AKS + AD integration we won't be able to use Kiali with OpenID.

@israel-hdez

Yea,

[2020-10-13 01:21] Macrame commented on #3262
Yes, I knew that. My `client_id` for Kiali equals the one for Kubernetes.  I want to see the DEBUG log to check the detail information actualy but it can only print INFO log no mater what the `verbose_mode`  is, though I had restarted the pod several times after change the ConfigMap.
Thanks for your help:)

[2020-10-13 06:13] MarianZoll commented on #2893
@jmazzitelli

Sure thing, I just did the changes with search and replace, but I do agree this probably causes less trouble than the changes I made. I will create a PR for changing the `log.go` and will think about some reasonable configuration options which I will state in another PR.

[2020-10-13 07:19] lucasponce commented on #2041
@kaz-33 Right now Kiali allows two modes to apply AuthorizationPolicy objects:
- From the namespace, where it detect the current traffic and create a set of AP objects for current workloads.
- Manually from the Istio Config, where user could define a full AP.

In any case those can be modifed later by the user to adjust them.

Perhaps you are suggesting to enable this feature i.e. per Service/Work

[2020-10-13 07:23] lucasponce commented on #1507
I think from graph perspective it's fine, a "has principal" perhaps may help in some queries but it's not a first operation I would do.

As described in #2201 now I miss that info in the WorkloadInfo details.

[2020-10-13 07:25] lucasponce commented on #2201
Adding this issue to the backlog.
Graph tasks are mostly completed but as this issue described, the WorkloadInfo doesn't provide information about ServiceAccounts.

That would be necessary, in the ServiceMesh config that input is required when applying an AuthorizationPolicy so Kiali should provide it at this level, too.

[2020-10-13 07:32] kaz-33 commented on #2041
Idea are
1) to have a full list of flow matrix
2) to export in text file or yaml file by connectivity (we can create manually the AP yaml file and apply by 'kubectl apply')
3) to apply the "Auhtorization Policy" from the full list with the UI

Pershap some features are implemented, but i didn't find it.

_>Perhaps you are suggesting to enable this feature i.e. per Service/Workload level as well ?_

[2020-10-13 07:45] lucasponce commented on #2041
Perhaps you may try this feature:

https://github.com/kiali/kiali-ui/pull/1924

I agree that if per namespace is so "high" granularity, this is something we could do at Application/Service/Workload level.

Also the generated AP is just a suggestion based on the current telemetry traffic, user can modify/delete if it doesn't apply, similar what I think you are describing.

[2020-10-13 07:49] lucasponce commented on #2041
Better documented in Kiali.io, I forgot to add the comment:
https://kiali.io/documentation/latest/features/#_security_traffic_policies

[2020-10-13 07:57] kaz-33 commented on #2041
On a kiali/kiali-ui#1924 i didn't see the wait to apply AP. (only the possibnility to modify/delete AP that exists)
if you have a list of flow matrix, we can imagine to offer the choice to admin guy to set Authorizatio Policy per flow.

[2020-10-13 07:58] lucasponce commented on #2041
Ok, so ideal flow perhaps would be to have a list of suggested AP to apply, where use can select/unselect some.

[2020-10-13 08:04] kaz-33 commented on #2041
apply for all with one 'click'  on a namespace.
Imagine, 200 Pods, i don"t want to apply one by one :)
but sometime Select and modifiy "one by one" could be necessary.

[2020-10-13 08:19] lucasponce commented on #2041
But that's the current feature, or perhaps I'm missing something.

So, if in the current feature we put a previous step with the list of AP suggested where user may modify, isn't that address what you are suggesting ?

On top of that, the same feature could be added per App/Workload/Service level, so, only workloads involved on those would apply the AP.

Also, in both cases user would be able to m

[2020-10-13 08:34] kaz-33 commented on #2041
it works!

[2020-10-13 09:28] lucasponce commented on #2041
@kaz-33 nice.

As commented, from the current feature (apply AP from namespace) one next step would be to allow to apply it per app/workload/service.

But feedback is very valuable so, if we are missing some use case, happy to chat about it.

[2020-10-13 09:57] lucasponce opened #3315 "Short term caching of Prometheus queries in Health Service"
During review and testing of https://github.com/kiali/kiali-ui/pull/1957#issuecomment-706261371

It was found some scenarios where same health queries were used in the context of a single high level request / operation.

More details in comment:
https://github.com/kiali/kiali/issues/3252#issuecomment-704813959

A possible inmediate strategy for this could be to allow to short-term cache results, s

[2020-10-13 14:01] #3309 closed

[2020-10-13 15:09] Crayeth opened #3317 "Kiali-operator installed view-only kiali has permissions issue on namespaces causing the graph to break"
**Describe the bug**
Kiali goes back and forth between showing the graph and breaking over a permissions issue:
A clear and concise description of what the bug is.
`namespaces is forbidden: User "system:serviceaccount:istio-system:kiali-service-account" cannot list resource "namespaces" in API group "" at the cluster scope`

![image](https://user-images.githubusercontent.com/13447761/95876262-28b0

[2020-10-13 15:40] israel-hdez commented on #3294
@xFayre @thomasmRavn At this point, the only workaround I can suggest, is to try [kube-oidc-proxy](https://github.com/jetstack/kube-oidc-proxy). The downside is that it's one more moving piece, and you will have to do mappings between oidc users and serviceaccounts. This will let you take advantage of the kubernetes RBAC. This is the only thing I can suggest right now, since I don't have access to

[2020-10-13 15:58] thomasmRavn commented on #3294
Hey @israel-hdez
Thanks for the help, will pass it on, I am might be mad here but once you have aks AD enabled doesn't that mean that azure has created the token for AD integration, ie you can't then also have the proxy using a different token to authenticate AD to the same cluster if I show up as thomasm with my token who authenticates me to the cluster? azure's AD token or kube-oidc or both/whic

[2020-10-13 16:08] jshaughn opened #3318 "Proxy-status reporting out of sync for all pods"
I'm not sure what the issue is but it seems that the proxy-status reporting is not working for me.
openshift 4.5
bookinfo
istio 1.7.3
kiali master (1.25+)

![image](https://user-images.githubusercontent.com/2104052/95886450-985f7380-0d4c-11eb-92dd-74f29d62eb55.png)

Every workload/app node reports "0 synced proxy", yet from the CLI:

[code]

[2020-10-13 16:14] israel-hdez commented on #3294
Hi, @thomasmRavn

Strictly, "authentication" is responsibility of Azure AD. The `kube-oidc-proxy` is only adding a layer between Kiali and AKS. Not directly related to AAD.

I think you can use `kube-oidc-proxy` even if AD integration is on. I don't think there is a conflict.

I'm not sure what you mean when you say "the token for AD integration". Can I ask for clarification? From the point of vie

[2020-10-13 16:14] lucasponce commented on #3318
Thanks @jshaughn.
I'll take a look as @xeviknal is out this week.

[2020-10-13 16:32] thomasmRavn commented on #3294
OK, I've only really just started looking into AD integration with AKS/kiali, so probably mangling terms here sorry.
From their github page linked in the kiali docs https://github.com/jetstack/kube-oidc-proxy this seems to be showing how you can run kubectl get nodes/kubectl commands. And I was worried that if there are 2 tools saying who can run kubectl cmds the 2 would block each other.

In term

[2020-10-13 17:04] israel-hdez commented on #3294
No worries. It's not that easy to figure out how openid works.

Yes, I don't think there will be a conflict. It's a matter of switching configurations.

OK, so I think we are in sync with that term :)
I also don't think there is a conflict here, as tokens are issued per app (meaning an App registry in AAD).

I want to note that if you are willing to try kube-oidc-proxy, then you DO need to create

[2020-10-13 19:27] #3271 closed

[2020-10-14 10:38] lucasponce commented on #3318
I'm testing with 1.7.2 and I can't get same result you got.
If you have available this error scenario, would you attach what info is showing the unhealthy pod, like this ?

![image](https://user-images.githubusercontent.com/1662329/95978137-0c1b8200-0e1a-11eb-9c5f-a6140fe64836.png)

Note, I'm going to re-provision my cluster with Istio 1.7.2 in the very edge case that the difference version may be

[2020-10-14 10:48] wutz opened #3320 "Kiali reported missing sidecar but did not"
**General remarks**

The app works fine with istio, but kiali shows the missing sidecar.

**Describe the bug**

![image](https://user-images.githubusercontent.com/9458625/95978721-228f0100-0e4d-11eb-97d6-c9c306fc144c.png)

**Versions used**
Kiali: 1.25.0
Istio: 1.7.3
Kubernetes flavour and version: v1.16.9

**To Reproduce**
I don’t log in often to check kiali. Today, I found that kiali shows the m

[2020-10-14 12:14] jshaughn commented on #3320
It is possible for the app to work correctly but not have a sidecar, it would mean those workloads are not in the mesh.  Of course there could be an issue with sidecar detection.  Can you click on those workloads an in the workload detail, in the pods tab at the bottom, you should be able to see whether ot not the istio containers are listed.  If they are not there then perhaps you reqally are mis

[2020-10-14 12:17] jshaughn commented on #3318
@lucasponce It is only showing unhealthy in the graph, which is odd.  Look at the minigraph in the detail:

![image](https://user-images.githubusercontent.com/2104052/95987602-a4ebd680-0df5-11eb-95a5-77db19e0ee70.png)

[2020-10-14 12:20] lucasponce commented on #3318
Ah, ok, that's a clue, perhaps if I can access to your environment I can get more info to reproduce this locally.

But I think I have a suspect.

[2020-10-14 12:23] jmazzitelli commented on #3317
I just saw a similar error.

Here are the replication steps.

Create a CR file as described in the OP:

`/tmp/kiali-helm-values.yaml`:
[code]

Install Kiali Operator via helm:

[code]

I then get the Kiali endpoint via a kubectl port-forward and point my browser to the Kiali URL. Click around. I went to an Application page and got this error:

[code]

But I only see it some times! I keep clicking

[2020-10-14 12:30] jmazzitelli commented on #3317
I also just saw this:

[code]

[2020-10-14 12:36] wutz commented on #3320
![image](https://user-images.githubusercontent.com/9458625/95989351-bcaa7580-0e5c-11eb-8ca8-e5b95220af18.png)
![image](https://user-images.githubusercontent.com/9458625/95989502-f11e3180-0e5c-11eb-9b05-b63c16807087.png)

[2020-10-14 12:38] wutz commented on #3320
![Uploading image.png…]()

[2020-10-14 12:47] jmazzitelli commented on #3317
Just saw this in the kiali logs - more missing permissions - this is very odd:

[code]

[2020-10-14 13:00] jmazzitelli commented on #3317
I turned off view_only_mode and I still see some of these errors. I thought it might have something to do with that, but it does not look related. I'll have to review the roles that are created by the helm chart compared to our OLM set up - my first thought is we just forgot to update the helm chart roles.

[2020-10-14 13:25] #3291 closed

[2020-10-14 13:35] jmazzitelli commented on #3317
I'm also seeing this when I install 1.24.0 (passing `--version="1.24.0"` to helm)

[2020-10-14 13:43] jmazzitelli commented on #3317
I just went back to installing v1.25 but this time, starting clean (completely uninstalling everything first), I installed with view_only_mode disabled (which is the default) and I am not seeing the errors. So I think this is related to that feature.

The workaround to avoid seeing the errors is (for now) to disable view_only_mode (`view_only_mode: false`).

I am looking to see what differences we

[2020-10-14 13:50] Crayeth commented on #3317
I'm giving Kiali to teams in a multi-tenant cluster for observability, so I'm banking on view-only mode to make sure they cannot mess with the mesh config. Would be nice to see it fixed.

The weird thing is that if it is a permission issue, I expect it to either work, or not work, and not work sometimes as seems the case right now :/

Are you getting the kiali-viewer clusterrole as described in th

[2020-10-14 13:55] jshaughn commented on #3320
@wutz Thanks, that's pretty strange.  cc @lucasponce

[2020-10-14 14:08] jmazzitelli commented on #3317
fwiw: if you want multi-tenancy, it might be better to use `--accessible-namespaces` with only the namespaces in the tenant. That way your multiple Kialis for the multiple tenants aren't given access greater than they need. But that's a completely separate issue. If on OpenShift, Maistra will provide even better multi-tenancy support.

[2020-10-14 14:21] jmazzitelli commented on #3317
[code]

[2020-10-14 14:25] Crayeth commented on #3317
[code]
interesting, but at least you're also getting the errors so this might not be the cause.

[2020-10-14 14:30] jmazzitelli commented on #3317
@Crayeth can you do this:

[code]

If you see "reason: Running" - run that command again after about 60 seconds and see if you still see "Running"... then try it again... if you continually see it Running, let me know.

[2020-10-14 14:46] jmazzitelli opened #3322 "turn off dependent resource watching until we get a better handle on its effects"
Periodically we have been hitting instances where the operator is re-running the reconciliation loop over and over due to dependent resources changing when we aren't expecting it. The problem is there is no easy way to debug even WHAT resource is changing, let alone who or what is changing it. So when we get the ansible operator changing dependent resources during a reconciliation loop, there is n

[2020-10-14 14:48] jmazzitelli commented on #3322
To fix, [these two watches.yaml settings](https://github.com/kiali/kiali-operator/blob/v1.25/watches.yaml#L7-L8
) should be set to False:

[code]

[2020-10-14 14:56] Crayeth commented on #3317
@jmazzitelli seems like it keeps Running:
[code]

[2020-10-14 15:09] jmazzitelli commented on #3317
@Crayeth this is something I do not see - looks like you are truly getting an error in the operator and that is why it keeps trying. You should look in the kiali-operator logs and find more error messages that can help diagnose your issue. I don't see that myself (which might be why I get the kiali-viewer role and you do not).

[2020-10-14 15:32] jmazzitelli commented on #3317
This is definitely caused by the view_only_mode flag. Didn't see a problem until I set that to `true`. Once true, my operator is continually running a reconciliation loop - changing resources which is causing it to run again due to the dependent resource watching. Until we figure this out, workaround is to not set view_only_mode.

[2020-10-14 17:00] #3318 closed

[2020-10-14 19:27] #3322 closed

[2020-10-14 19:34] lucasponce commented on #3320
@wutz mmm how did you inject the sidecar ?

[2020-10-14 19:43] jmazzitelli commented on #3317
I'm baffled. I only see it when I FIRST install with view_only_mode: true. But thereafter, I can delete the Kiali CR, re-create it without specifying view_only_mode, and I see the reconciliation infinitely loop. It is as if the first time you set view_only_mode to true, the operator goes bonkers. I don't know what is special about view_only_mode. I'm going to keep looking to see if it really is sp

[2020-10-14 19:56] jmazzitelli commented on #3317
I think I see it. I think I need to implement this asap: https://github.com/kiali/kiali/issues/3241
I believe this is all because of the hack we had to implement because of [this](https://github.com/ansible-collections/community.kubernetes/issues/234).

I'm not 100% sure, but all indications are this is it. Because when I look at the operator logs, I see 4 tasks ending with `"changed": true` and t

[2020-10-14 21:13] jmazzitelli commented on #3241
This should be the list of tasks to replace the current hack - though currently I can't get it to work with the latest 1.1.1 of the community.kubernetes library:

[code]

[2020-10-14 21:26] jmazzitelli commented on #3241
This requires the operator to be given "list" permission to "SelfSubjectAccessReview".
But even after we do this, it will require additional packaging to pick up the latest community.kubernetes since the ansible base image doesn't have it yet.
Going to wait more before attempting to implement this.

[2020-10-14 22:24] jmazzitelli commented on #3241
If we implement this, it means we removed the hack of creating the dummy roles - in that case we can turn back on dependent resource watching. We turned that off because the hack causes infinite reconciliation loops due to the hack.

[2020-10-14 22:25] jmazzitelli commented on #3317
I think this will fix it at least temporarily: https://github.com/kiali/kiali-operator/pull/164

[2020-10-14 22:27] jmazzitelli commented on #2546
There is a hack we implemented that creates dummy clusterroles - if that hack still exists, add those dummy resources to this blacklist. See: https://github.com/kiali/kiali/issues/3317 for why we disabled dependent resources due to those dummy resources being watched when we don't want them watched.

[2020-10-15 00:47] wutz commented on #3320
@lucasponce I set label `istio-injection=enabled` on the namespace

![image](https://user-images.githubusercontent.com/9458625/96060424-0a59c900-0ec3-11eb-8917-bd7952284c9e.png)

[2020-10-15 01:18] wutz commented on #3320
@lucasponce It's true when i edit pod with annotation `sidecar.istio.io/status`, kiali reported missing sidecar go away.

[2020-10-15 01:56] jmazzitelli commented on #2546
The productized operator is now at 0.16.0 since it is using v4.5 of ose-ansible-operator:
[code]

[2020-10-15 02:00] wutz commented on #3320
I manually add `sidecar.istio.io/status` to the pod, then kiali can detect sidecar.

![image](https://user-images.githubusercontent.com/9458625/96067803-1f3b5a00-0ecd-11eb-802f-e6679b051d8c.png)

[2020-10-15 03:30] jmazzitelli commented on #3317
Oh, BTW, this has nothing to do with view_only_mode (which is what I thought I was seeing earlier).

The true workaround would be to NOT use "deployment.accessible_namespaces" set to `[**]` but instead populate it with the list of namespaces within the mesh (you can use regular expressions in this list of namespaces).

[2020-10-15 03:59] jmazzitelli opened #3323 "[operator] operator infinite reconciliation loop when accessible_namespaces is **"
v1.25 of the operator is broke when accessible_namespaces is `['**']`. The operator will continually get its playbook invoked (i.e. reconciliation continually happens).

This is because when accessible_namespaces is `['**']`, the operator will check to make sure it has the permission to create cluster roles/rolebindings which it needs. There is a long history to explain the origin of the bug, but

[2020-10-15 04:01] jmazzitelli commented on #3317
I expect when issue https://github.com/kiali/kiali/issues/3323 is implemented, this problem will go away.

[2020-10-15 06:54] lucasponce commented on #3320
Thanks for confirming @wutz.

I'll take the issue to review that check in Kiali as you point, there are scenarios where workloads have not that annotation and should be detected as well.

[2020-10-15 07:14] Crayeth commented on #3317
Nice work investigating. In the mean time I'll just list out the namespaces and see if the problem goes away when I do. Thanks.

[2020-10-15 08:29] #3306 closed

[2020-10-15 11:17] jmazzitelli opened #3324 "[operator] provide a hidden setting in Kiali CR to turn off operator reconciliation"
At least [two](https://github.com/kiali/kiali/issues/3251) [times](https://github.com/kiali/kiali/issues/2921) in the past we have had some bugs with unintended consequences occur within the operator that cause infinite reconciliation loops to happen. This is due to having dependent resource watching turned on but the operator inadvertently continuing to touch resources every reconciliation loop.

[2020-10-15 12:41] lucasponce commented on #3320
I'm investigating, not having a "sidecar.istio.io/status" annotation in the Pod might be a symptom of a problem.
Looking into the specification [1] and code [2][3] it seems that annotation sould be added as part of the process to patch the Pod.

@wut would you mind to paste the full Deployment (controller) and Pod (runtime) description ?
Do you reproduce this always ? Or does it happen only on som

[2020-10-15 13:29] jmazzitelli commented on #3317
FYI: I see this in the operator logs - if this keeps happening, it explains things, too (ultimately the root cause is that dependent resource watching feature - so its all interrelated): (note: "changed": true is the giveaway - this is always getting changed every reconciliation loop)

[code]

If we re-enable dependent resource watching, I need to find out why this is happening.

[2020-10-15 13:43] jmazzitelli commented on #3317
For some reason, this is always running, I do not know why - this is causing the delete of resources I mentioned in the last commit (this is in the `tasks/main.yml`)
[code]

[2020-10-15 13:48] wutz commented on #3320
[pod.txt](https://github.com/kiali/kiali/files/5385251/pod.txt)
[deployment.txt](https://github.com/kiali/kiali/files/5385254/deployment.txt)

All deployment with istio injection have same issue in my cluster, and its always happen.

[2020-10-15 13:51] lucasponce commented on #3320
Ah @wutz is there some change in the standard admission webhook ?

[code]

Is it possible that there is webhook in the chain that is overwriting the Istio annotations ?

[2020-10-15 14:01] wutz commented on #3320
I disable `lxcfs-admission-webhook.aliyun.com/status` label on the namespace, and restart deployment, then get pod details which have annotations `sidecar.istio.io/status`

[code]

Thanks for you support, i wiil report a bug to lxcfs-admission-webhook project.

[2020-10-15 14:05] #3320 closed

[2020-10-15 14:09] jmazzitelli commented on #3317
@Crayeth I think I found one problem in your Kiali CR that I think will help (though you may need the other fixes coming - there was a couple problems here all conspiring against us).

[code]

That should be a boolean, not a string. So it should be:

[code]

Try that AND with accessible_namespaces not set to `[**]` and see what happens. You should delete your Kiali CR entirely first - wait for the

[2020-10-15 14:13] lucasponce commented on #3320
This issue was good, indeed it was a symptom of something strange in the flow.
Thanks for reporting @wutz !

[2020-10-15 14:13] Crayeth commented on #3317
Oh man I was wondering if that could be related. I'm going to try that out now.

[2020-10-15 14:42] jmazzitelli commented on #3317
@Crayeth and this is also why you were seeing "kiali" role not "kiali-viewer" role: https://github.com/kiali/kiali-operator/blob/master/roles/default/kiali-deploy/tasks/kubernetes/k8s-main.yml#L9

I'll have to make some truthy checks to avoid this kind of thing.

[2020-10-15 14:47] jmazzitelli opened #3325 "[operator] perform truthy checks on view_only_mode and other bool settings"
If a user accidentally specifies a string value rather than boolean for `deployment.view_only_mode`, the operator goes into infinite reconciliation loops due conditional checks that erroneously compare boolean to the string and that causes major problems due to removing / creating the wrong roles.

We should convert the value to a bool when testing.

helps fix: https://github.com/kiali/kiali/issue

[2020-10-15 15:02] jmazzitelli commented on #3325
There are other settings we should do this for too - ingress_enabled and metrics_enabled.

[2020-10-15 16:34] jmazzitelli commented on #3323
The associated PRs only do 1. - rip out the buggy hack.

[2020-10-15 17:15] lucasponce commented on #3295
@SionArtingstall did it work ?
I'm sure it's related the config I commented, but let me know to see if there is any additional investigation on this issue.
Thanks !

[2020-10-15 17:24] lucasponce commented on #3275
Mmm what about this
![image](https://user-images.githubusercontent.com/1662329/96164655-d19a0e00-0f1b-11eb-8958-8e6c264f3514.png)

Just nested the GraphFindContainer I haven't seen any side effects but you'd admit it's a better presentation.

[2020-10-15 17:53] israel-hdez commented on #3084
Implementation:
* Back-end PR: https://github.com/kiali/kiali/pull/3310
* Operator PR: https://github.com/kiali/kiali-operator/pull/165
* Documentation PR: https://github.com/kiali/kiali.io/pull/318

[2020-10-15 23:09] #3313 closed

[2020-10-16 00:17] #3323 closed

[2020-10-16 00:18] #3324 closed

[2020-10-16 00:19] #3325 closed

[2020-10-16 14:14] jmazzitelli commented on #3317
A few PRs have been merged that should address the issue reported here. The fixes will be in the next release.

Until that release is available, the workaround should be:

1. Make sure you use booleans (not strings) where appropriate
    (`view_only_mode: true` ...do NOT use `view_only_mode: "true"`).
2. Do not use `deployment.accessible_namespaces: ['**']`

[2020-10-18 12:38] MarianZoll commented on #2893
@jmazzitelli

Made the changes to `log.go` as you proposed and checked it to another branch in my fork: https://github.com/MarianZoll/kiali/tree/MarianZoll/logging

Logger config is based on some env variables `LOG_LEVEL` (info, warn, debug, error, fatal) and `LOG_FORMAT` (text, json). This should be better than providing it in yaml, as `kiali.go` uses the logger before finally reading the config.

[2020-10-18 16:59] jmazzitelli commented on #2893
This is going to require additional changes in the operator and helm charts (see below), so I will mark this issue with the appropriate labels.

When adding new config items, here's a [developer checklist](https://github.com/kiali/kiali-operator/blob/master/DEVELOPING.adoc#how-to-change-resources-or-configuration) you can follow to know what has to change where in both operator and helm chart. We'

[2020-10-19 07:41] lucasponce opened #3327 "Add support to TCP Shifting / Routing scenarios"
Subtask for epic https://github.com/kiali/kiali/issues/3174

Kiali Wizards are designed with HTTP traffic in mind.
They don't offer support for workloads based on purely TCP scenarios.

[2020-10-19 07:58] lucasponce opened #3328 "Remove Mixer dependencies"
With Istio 1.8 Mixer depdendencies should be completely deprecated.
So, it's reasonable to remove them from Kiali for the version planned to be paired with Istio 1.8 release.

It would also affect to extension that use Mixer, so probably all 3scale code should be removed (3scale wizards would be supported only in 1.24 branch).

- [x] Remove mixer config https://github.com/kiali/kiali/issues/3341
-

[2020-10-19 15:30] israel-hdez commented on #3313
Back-port to v1.24 is #3329 .

[2020-10-19 20:54] jmazzitelli opened #3330 "add "versions" list to MonitoringDashboard CRD"
The Kiali CRD has it, but MonitoringDashboard CRD does not. We need to add the "versions" list since it is the current way CRDs are versioned (we need this in the golden copies because some OLM validations require this now).

Need to change this in various places (note: the helm charts already have this):

ossm golden copy:
* https://github.com/kiali/kiali-operator/blob/master/manifests/kiali-ossm

[2020-10-19 21:14] jmazzitelli commented on #3330
PRs:
* https://github.com/kiali/kiali-operator/pull/172
* https://github.com/kiali/kiali-operator/pull/173

[2020-10-20 07:27] erSitzt opened #3332 "Allow custom health configuration to be deployed as resources/yaml or annotations"
**Is your feature request related to a problem? Please describe.**

Currently custom health configuration has to be done in the kiali operator CRD or via Helm `--set` or in the configmap, but custom error rates are much more dependent on the behavior of the services that get deployed and i think it would make more sense to be able to define them there

**Describe the solution you'd like**
I would

[2020-10-20 07:34] lucasponce commented on #3332
Thanks for the feedback @erSitzt

When we started the Health Config feature [1] [2] we know that probably the way config is defined may evolve.

I like the proposal to use annotations rather than custom CRDs for this.

Perhaps CRDs would be more canonical, but adding new CRDs to maintain increases complexity in other places, so having the possibility to use annotation (in Services and/or Workloads

[2020-10-20 07:55] jotak commented on #3332
+1 for both the feature request (decentralized health config), and @lucasponce 's comment that CRD adds complexity in the installation / update processes
Let's just try to not make it too complex, and make it easy to reason about (ideally I would expect regex in config only when it's necessary).

[2020-10-20 08:39] aljesusg commented on #2708
# UPDATE

## Cases to work

1. We can get the duration with the metrics in prometheus we need to filter by app and destination_app to be sure that the time is related with the app that we are requesting his health and no other "subservice"

2. Check if a app is generating traces. (Fetch jaeger, disable by default). Check if other apps in the NS are generating traces (cached) if there are others so

[2020-10-20 08:55] lucasponce commented on #2708
Why don't ellaborate the final proposal from top -> down ?
How would user see this ?

I know there was a lot of investigation but I don't follow all technical details in the previous comments, perhaps some draft about the changes/features would help.

[2020-10-20 08:58] aljesusg commented on #2708
The point here was fetch the jaeger (spans) to get the duration of each request to have a health check based in the duration, we discussed about get this information from prometheus metrics instead jaeger.

My point is that we can have this check with prometheus. So we can have a health check when we have request X% > than average duration time last hour.

On the other hand we talked about to have

[2020-10-20 09:58] lucasponce commented on #2708
Yes I think we have two topics here.

One is thinking in tracing, which info can complement the existing info to spot a problem. Your last comment sounds in that direction:

Perhaps it would be good to see in which scenarios and related with current traffic (no traffic and no tracing would mean something ok, but traffic but no tracing perhaps may spot some condition where user should be warned, I

[2020-10-20 10:46] jotak commented on #3293
FYI I'm doing a first iteration reusing our existing API for metrics.
But given the number of queries perhaps we'll have to introduce some new "batch" endpoint for metrics.

[2020-10-20 11:36] jotak commented on #3293
So, I'm hesitating with the approach to have, between something more generic or something more opinionated.
The existing API in any case isn't sufficient to deal with the needs here because it's designed to query datapoints in a range, and we want here a single value from a rate interval (like what is done in health & graph edges). Moreover as said above we will probably want to avoid to many fron

[2020-10-20 12:56] jmazzitelli commented on #3332
+1 on CRDs make things more complicated and +1 on trying annotations first.

My contribution to this thread would be to suggest we keep the current way we do it (with the config) but allow annotations to OVERRIDE the config (hopefully that would be possible).

Supporting that would allow people to still be able to provide a single-point of configuration if they want but allow them to spread the co

[2020-10-20 13:02] #3330 closed

[2020-10-20 13:18] jshaughn commented on #3328
Removing mixer/telem V1 support isn't really tied to upstream 1.8 but rather downstream needs.  I think we need to wait for OSSM to adopt 1.8+.

[2020-10-20 13:31] jshaughn commented on #3328
+1, I see the confirmation for downstream, let's get this stuff removed!

[2020-10-20 13:35] BoOgatti opened #3333 "Make "Create Traffic Policies" viewing configurable"
**Is your feature request related to a problem? Please describe.**
![изображение](https://user-images.githubusercontent.com/28646170/96593220-e991d900-12f1-11eb-87be-ae598cfa920d.png)

I use kiali (v1.25.0) in anonymous mode for read-only purposes. I already can to hide action for sidecar injection with option in my CR:
[code]
Because kiali's SA is read-only account this action unusable and make e

[2020-10-20 13:47] lucasponce commented on #3333
Thanks for reporting this @BoOgatti

Yes, it should add that feature flag, at least showed disabled.

[2020-10-20 13:48] jshaughn commented on #3333
+1 on disabled.

[2020-10-20 14:58] jshaughn opened #3334 "CSS issue in overview toolbar (minor)"
Note the separator spacing ...

![image](https://user-images.githubusercontent.com/2104052/96604412-167ac780-12c3-11eb-8cfe-dbb7ef21dac5.png)

[2020-10-20 15:43] israel-hdez commented on #2651
This had evolved a lot.
* There is no longer a script to install Kiali. Instead, helm is used.
* On Istio side, Kiali has been "pulled out". Now, you use addons and install via a regular `kubectl apply` command.
* Quick start docs had been improved.

I'm closing this issue as outdated.

[2020-10-20 15:43] #2651 closed

[2020-10-20 15:48] israel-hdez commented on #2913
Looks like this was a question and was solved. So, I'm closing.
Feel free to re-open if there is still an issue.

[2020-10-20 15:48] #2913 closed

[2020-10-20 15:56] israel-hdez commented on #2844
Does this still stands?
I'm wanting to close this as I haven't seen a new outage in all this time.

Services fail, and people can live with occasional outages...

[2020-10-20 15:58] jmazzitelli commented on #2844
If we don't want to do that, I'm find with closing.

[2020-10-20 16:01] israel-hdez commented on #2978
Closing as stale, because we didn't get a reply from the OP.

[2020-10-20 16:01] #2978 closed

[2020-10-20 16:02] israel-hdez commented on #2844
Well, I don't. But it's me :)
You opened this. If you are stepping back, I can close ;)

[2020-10-20 16:12] israel-hdez commented on #2886
The operator is now capable of doing continuous reconciliation.
So, I think this is done. Closing.

[2020-10-20 16:12] #2886 closed

[2020-10-20 16:18] israel-hdez commented on #3111
@cfcosta wanna help with this?

[2020-10-20 17:09] #3275 closed

[2020-10-20 17:47] jmazzitelli commented on #2844
We can close. I'll just blame you if people yell at us when quay.io blows up again ;-)

[2020-10-20 17:47] #2844 closed

[2020-10-21 01:27] Macrame commented on #3262
I reinstalled my Kubernetes cluster and Istio for the latest version, kiali version is 1.25.0. Now the error is same. Kiali prints some logs:
[code]
@israel-hdez Could you help me to check is there any wrong?

[2020-10-21 05:24] harpratap opened #3335 "Multi-cluster: replicated control-planes with single prometheus"
**Is your feature request related to a problem? Please describe.**
Based on the [multi-cluster description here](https://kiali.io/documentation/latest/features/#_multi_cluster_support) Kiali works with replicated control planes (different istio and k8s control plane per cluster) but this also implicitly assumes the metrics collected by prometheus are also isolated. So we would like to know if it's

[2020-10-21 07:00] jotak commented on #3334
Problem with `StatefulFilters` padding, I'm looking into it

[2020-10-21 09:11] hhovsepy opened #3336 "DR - No labels on subset - Error in list but not in overview"
Remove label in DR's subset.
In Istio config list of Service details it shows invalid config, but in DR Overview page no error is displayed.
It seems issue is in config list.

![Screenshot from 2020-10-21 11-03-48](https://user-images.githubusercontent.com/604313/96698599-9a00eb00-138d-11eb-8abe-ace159bd6c75.png)
![Screenshot from 2020-10-21 11-03-30](https://user-images.githubusercontent.com/6043

[2020-10-21 10:10] jotak commented on #3293
Note: the new endpoint to be created might eventually be reused by https://github.com/kiali/kiali/issues/2708

[2020-10-21 11:16] xeviknal commented on #2235
The issue can be closed now.

- Istio Subcomponents health has been put in place (#1377)
- Proxy-status has been introduced too (https://github.com/kiali/kiali/issues/1615)
- Managed certificate research has been documented (#1577)

[2020-10-21 11:16] #2235 closed

[2020-10-21 11:18] xeviknal commented on #400
Closing the issue per https://github.com/kiali/kiali/pull/3126
I guess that the issue evolved to be slightly incorporated to kiali feats (health so far).

[2020-10-21 11:18] #400 closed

[2020-10-21 13:35] mtho11 opened #3337 "Add the show/hide feature to expanded log screen"
**Is your feature request related to a problem? Please describe.**
As a Kiali user viewing the logs in expanded log mode I would like to be able filter the logs like I can do on workload log tab.
The screen where it is probably more important to have the show/hide feature is on the expanded logs screen where one is sifting through more of the logs in detail.

This feature was raised by @maltron at

[2020-10-21 13:56] xeviknal commented on #3203
After some research, the next good step should be to show the envoy config (and config diff) at workload level (taking advantage of the kiali actions in the workload details page).

The feature should provide a high level view where users could either see the full envoy config dump or the diff between the istiod version and the actual envoy config dump per each pod.

As next steps, users might hav

[2020-10-21 15:59] jshaughn opened #3338 "[mixer removal] remove use of istio_request_duration_seconds"
Epic https://github.com/kiali/kiali/issues/3328

[2020-10-21 15:59] israel-hdez commented on #3262
This log message is normal.

What's the message now that you re-created the cluster?
Is it `Cannot view any namespaces.`? or is it `failure when retrieving user identity`? or something else?

[2020-10-21 16:15] jshaughn commented on #3337
In general I think an expanded view that includes whole page view would be useful.  By "whole page view" I mean the area right of the left accordion menu and below the masthead, so including toolbars/filters, etc.

[2020-10-21 16:41] #3334 closed

[2020-10-21 16:54] mtho11 commented on #3337
@jshaughn right, I know it would useful for the graph for sure.

[2020-10-21 16:58] mtho11 commented on #3337
If what I'm doing with the fullscreen by element stuff works out then this expanded log dialog is mute (and will be deleted). So I will close this issue then.

[2020-10-21 19:06] jshaughn opened #3340 "Remove mixer/telemetry-v1 use of _app and _version metric attributes"
Epic #3328

[2020-10-21 23:00] Macrame commented on #3262
The error message is {"error":"Cannot view any namespaces. Please read Kiali's RBAC documentation for more details."}

[2020-10-22 08:54] #3315 closed

[2020-10-22 09:34] #3303 closed

[2020-10-22 09:37] lucasponce opened #3341 "Remove mixer config dependencies"
Part of the EPIC https://github.com/kiali/kiali/issues/3328 focused on the use of Mixer config inside Kiali for List/Details, CRUD and validation operations.

[2020-10-22 10:25] lucasponce commented on #3341
cc @xeviknal I'll also include rbac resources in the refactoring of mixer+rbac for Istio 1.8.
Let me know if you see some potential conflict on it.

Thanks !

[2020-10-22 10:26] xeviknal opened #3342 "istioctl proxy-status migration"
Kiali proxy status is based in the information provided by the `/debug/syncz` in the istiod pod.
I have recently realized that this endpoint (and others under the /debug prefix) are going to be deprecated soon (asking for specific dates).

The new implementation of the istio-status is using the experimental flag (`istioctl x proxy-status`) and it will output nearly the same information as the curr

[2020-10-22 11:10] FilipB opened #3343 "[Helm charts] Building with helm v3.3.4 fails with "templates/ingess.yaml: the kind "extensions/v1beta1 Ingress" is deprecated in favor of "networking.k8s.io/v1beta1""
**Describe the bug**
Building with helm v3.3.4 fails with:
templates/ingess.yaml: the kind "extensions/v1beta1 Ingress" is deprecated in favor of "networking.k8s.io/v1beta1

It's working fine with helm version downloaded by make step .download-helm-if-needed.

**Versions used**
helm version
version.BuildInfo{Version:"v3.3.4", GitCommit:"a61ce5633af99708171414353ed49547cf05013d", GitTreeState:"clea

[2020-10-22 13:48] xeviknal opened #3346 "Showing deep dive envoy config at workload level"
This is an epic for adding all the envoy-related information at workload level page.
Based on [1], there are a lot of envoy-related data that could show to user in order to ease the debugging task to users experiencing problems in their mesh.

- [x] Show Envoy config dump https://github.com/kiali/kiali/issues/3203
- [ ] Show Envoy config dump diff https://github.com/kiali/kiali/pull/3551
- [x] Sho

[2020-10-22 14:49] israel-hdez commented on #2905
Affecting users who are using OS 4.4.
Probably, OS 4.3 and prior versions are unaffected (I'm asking) as somebody started seeing this issue after upgrading to 4.4 from 4.3.

[2020-10-22 15:00] jmazzitelli commented on #3343
FYI: all tests and Makefile use helm v3.2.4.

[2020-10-22 18:37] #3338 closed

[2020-10-22 19:15] jmazzitelli commented on #3343
See: https://github.com/helm/helm/issues/8596 and specifically someone mentions this exact "error" with Ingress: https://github.com/helm/helm/issues/8596#issuecomment-675305111

[2020-10-22 19:54] jmazzitelli commented on #3343
the helm chart is fixed in PR https://github.com/kiali/helm-charts/pull/11 and the operator is fixed in this PR https://github.com/kiali/kiali-operator/pull/174

[2020-10-22 20:05] #3155 closed

[2020-10-22 20:43] israel-hdez commented on #3262
@Macrame do you have the ability to get a token from your OpenId Server and inspect its claims?
I think we are somewhat blind and trying to guess what's the username string.

The command you previously tried to assign privileges should had worked:

`kubectl create rolebinding ayden-openid-binding --clusterrole=kiali --user="ayden.franklin" --namespace=<MY NAMESPACE>`

If it does not work, I can on

[2020-10-22 20:56] israel-hdez commented on #3335
We are trying to figure out how to support multi-cluster in Kiali, there is still no clear path but we are working on it.

Focusing on your particular request, I understand you still have one Kiali per Istio control plane and the only _request_ is to be able to use one central prometheus where metrics are _logically partitioned_ using a label. Is this right?

[2020-10-23 04:15] Macrame commented on #3262
Yes, I had tried to create a `clusterrolebinding` but it still didn't work. I really has confirmed the username.

[code]

** preferred_username=ayden.franklin**, and the Kubernetes API server args: `--oidc-client-id=kubernetes-******* --oidc-username-claim=preferred_username`, and the kiali configuration:
[code]

[2020-10-23 09:42] #3341 closed

[2020-10-23 11:10] lucasponce opened #3348 "Overview Filter align has been modified"
In the overview page the filters should align with the content.

It seems in some refactoring, the style has been moved:

![image](https://user-images.githubusercontent.com/1662329/96996889-f51f1300-1530-11eb-9f1a-010c032eb7ca.png)

[2020-10-23 13:32] lucasponce opened #3349 "Graph usability: hidden edges labels on dense traffic"
![image](https://user-images.githubusercontent.com/1662329/97009794-d75ba900-1544-11eb-807c-418c96803298.png)

I wonder if perhaps it's worth to visit some of this scenarios, now we have more demos with different use cases that may help to spot minor usability issues like this one.

[2020-10-23 14:48] jshaughn commented on #3349
We've not really seen a better alternative than the inline edge label positions.  Perhaps in this situation we can play with z-axis or opacity of the animation, which probably would be better under the label.

[2020-10-23 14:59] jshaughn commented on #3067
I'm going to take this and use it to also update to the new LogEntries format provided by the recent backend work.

[2020-10-23 15:20] #3343 closed

[2020-10-23 15:36] israel-hdez commented on #2905
Issue has been seen on OS 4.3, 4.4 and 4.5.
Reopening, because it's happening on non-QE (end-user) envs.

[2020-10-23 15:51] israel-hdez commented on #3262
@Macrame Can you run the following command and post the result?

`kubectl cluster-info dump | grep authorization-mode`

[2020-10-23 17:57] jshaughn opened #3350 "Alignment issue with Custom TimeRange"
The time range component can overlap the tabs on the detail pages.  When using the Custom time range option the problem can hit pretty easily, see here:

![image](https://user-images.githubusercontent.com/2104052/97037747-b8a2e580-1537-11eb-983e-86e38c10e5f1.png)

[2020-10-23 18:08] #3340 closed

[2020-10-23 19:25] lucasponce commented on #3349
+1

Set positions on vectorial maps have a lot of corner cases, I was thinking the same, to put the legend on the front with some z-level or opacity in the animation as well.

[2020-10-23 19:48] jmazzitelli opened #3351 "remove explicit v1.0 support"
The operator has explicit v1.0 support in the form of the v1.0 Ansible playbook.

When 1.0 is EOL (very soon) we should remove that and all things related (such as the comment in the kiali_cr.yaml that mentions it and the line in the [default-supported-images.yml](https://github.com/kiali/kiali-operator/blob/master/playbooks/default-supported-images.yml#L2))

[2020-10-24 19:06] robertvanloenhout opened #3353 "Prometheus not found in Istio Components status"
Kiali shows Prometheus as not found in the Istio Components Status, even though I have a graph of my application.
I have been busy to set up Istio 1.7 and Kiali 1.25 to use Kube Prometheus (HEAD version).
For Kiali I modified the CR as follows:
[code]
Is there still more I need to configure for Prometheus? As I said, I can see the graph of my application now, so why does Kiali still state that it

[2020-10-24 20:24] jotak commented on #3353
If I'm correct (@xeviknal can confirm), the component status config has changed, see the documented CR file: https://github.com/kiali/kiali-operator/blob/9585ae8466240a4accd7dc2f0834edb298ad0bd2/deploy/kiali/kiali_cr.yaml#L546-L549

So you use something like:

[code]

By the way, I'll take the opportunity to suggest ( @xeviknal ) : do you think it should be possible to proceed differently for prom

[2020-10-25 11:44] robertvanloenhout commented on #3353
I have added the component_status for prometheus, but something unexpected happened.
The prometheus is still indicated as "not found", however grafana is no longer in the list of components that are not found.
I tried to do the same component_status configuration for grafana, but it never seems to have any effect on the grafana status in kiali.

Can I conclude that I can remove custom_metrics_url

[2020-10-25 19:49] GoelDeepak commented on #3207
+1 I was about to file a similar enhancement and found this thread. @mlbiam looking forward for your implementation

[2020-10-25 19:59] mlbiam commented on #3207
Life's gotten in the way but hoping to get started later this week. Open to help testing?

[2020-10-25 20:02] GoelDeepak commented on #3207
Definitely. Let me know once you have something ready.

[2020-10-26 00:39] harpratap commented on #3335
@israel-hdez Yes, correct.
In think in our case it would be enough if we could configure kiali to always append extra labels when making a prom query.

[2020-10-26 05:53] Macrame commented on #3262
The result of `kubectl cluster-info dump | grep authorization-mode` is nothing though kube-apiserver is running with Options `--authorization-mode=Node,RBAC`.

There is the output of `kubectl api-versions`:
[code]

[2020-10-26 08:00] Siddharthk opened #3354 "Kiali UI hanging on loading graph"
**Describe the bug**
Kiali UI is hanging when trying to load graph. It is never able to load graph.

![image](https://user-images.githubusercontent.com/718854/97146955-bc7c7500-178e-11eb-86ba-c234f0f4f9a1.png)

**Versions used**
Kiali: 1.18.3
Istio: 1.6.7
Kubernetes flavour and version: AWS EKS 1.16.8

**To Reproduce**
UI hangs when trying to load grap. I think the issue can be to load too many se

[2020-10-26 09:06] lucasponce commented on #3354
@Siddharthk thanks for the feedback.

There may be multiple things here, could you check if the Kiali pod has enough resources ?

For example, if you see suspicious re-starts on that pod that could be a symptom.

Also, I put some FAQ to help to debug these situations as well:

https://github.com/kiali/kiali/issues/3263#issuecomment-699839839

On top of that, in such of large deployments, (I guess

[2020-10-26 09:11] lucasponce commented on #3354
Side note, the screenshot looks that there is hang in the browser, so, definitely 3k services may be a high stress for the Graph component.

There was an old discussion around this that we may want to revisit:
https://github.com/kiali/kiali/issues/1826

[2020-10-26 09:52] Siddharthk commented on #3354
@lucasponce Thanks for the reply. I would like to know how kiali is determining number of services. We definitely don't have 3k kubernetes services endpoint. I can investigate more on this first.

[2020-10-26 10:02] xeviknal commented on #3353
hi @robertvanloenhout,

Regarding to grafana, if you don't have it in the list, it should mean that kiali has found the deployment and see it in healthy state. It means that you have at least a pod in the monitoring namespace with the tag `app=grafana`. Is that the case?
The health tooltip for the istio components shouldn't appear (be empty) when all the components are "healthy" (all pods are runn

[2020-10-26 10:10] #3307 closed

[2020-10-26 10:27] robertvanloenhout commented on #3353
Hi @xeviknal,

I understand that kiali should remove grafana from the list if it finds it in a healthy state. However what I'm surprised by is that the kiali component status settings for prometheus has an effect on grafana status instead of prometheus status.
And the kiali component status settings for grafana has no effect on either prometheus or grafana status.

I did not make modifications reg

[2020-10-26 10:31] lucasponce commented on #3336
Yes, there is a missing corner case here.
Basically in Service Details we see the problem due the validations happen in the context of all info fetched for a Service: Service details, Workloads, VirtualServices, Destination Rules.

But in the DestinationRule details a missing labels in the DR destination is not triggering at least a warning.

So I think we can add this warning/error there.

[2020-10-26 11:03] xeviknal commented on #3353
@robertvanloenhout when changing the prometheus component_status, you added the namespace. This namespace is shared between prometheus and grafana. Then, Kiali add this `monitoring` namespace to the list of namespaces where to look for the istio components. Kiali fetched the pods in that namespaced and found the grafana deployment afterwards. That is why. So from my side, it is an expected behavio

[2020-10-26 11:23] lucasponce commented on #3354
May you attach which service do you see in the Kiali's Service list for the given namespace ?

Graph fetches Istio telemetry to determine the "live" entities to show as the purpose of Kiali Graph is focus on "real time" traffic.

I have a gut feeling that telemetry may be corrupted.

It requires more investigation, perhaps checking with the Service List it can give you some hints about the root ca

[2020-10-26 11:30] xeviknal commented on #2444
Closing this per https://github.com/kiali/kiali/issues/3341

[2020-10-26 11:30] #2444 closed

[2020-10-26 12:43] robertvanloenhout commented on #3353
@xeviknal Okay I understand about the namespaces. Here are some commands.

[code]

[2020-10-26 15:32] xeviknal commented on #3353
Which is the method you used to install prometheus in this scenario?
Which is the deployment in charge of creating the prometheus pod? Is it the
prometheus-adapter deployment? (if yes, that deployment pod template label
should have the app=prometheus)
I don't get how your prometheus-k8s-0 pod got the label app=prometheus. Did
you add it manually? Is there any parent (deployment) setting the label?

[2020-10-26 16:13] robertvanloenhout commented on #3353
I checked out https://github.com/prometheus-operator/kube-prometheus.git
Then I run
kubectl create -f manifests/setup
kubectl create -f manifests/

No modification has been made after this.
In setup is the deployment for prometheus-operator and in manifest for deployment prometheus-adapter.
I tried to look in the files, but I couldn't find how that pod gets that label.

[2020-10-26 21:44] jshaughn commented on #2232
@mtho11 @lucasponce I'm closing this Epic as I think we've reached a nice point in our log tab view.  We still have some open log-related issues but I think we can now proceed feature-by-feature, with each feature being an issue or itself an epic.  Mike started a good thread on dev-list, let's keep that rolling and decide on what will give us the best value re: logging.

[2020-10-26 21:44] #2232 closed

[2020-10-27 05:29] Siddharthk commented on #3354
One issue I noticed is that prometheus is taking too much of memory on that node and thus causing slowness.
Pod level:
[code]
Node level:
[code]
Never seen prometheus taking that much of memory. Is it because all the istio related data is getting scraped and stored in RAM? Any ideas?

[2020-10-27 08:13] #3336 closed

[2020-10-27 08:14] lucasponce commented on #3336
It's closed but it requires an update in the Docs, so a PR is on the way.

[2020-10-27 08:59] lucasponce commented on #3354
I don't have any early idea around this, I guess it would need ad-hoc investigation.

How many Apps/Workloads/Services do you see from the others Kiali's pages ? To compare the ratio of "duplication" that happened on the Prometheus server ?

[2020-10-27 09:36] jotak commented on #3354
@Siddharthk this number of services might definitely be the problem if you don't expect that much. You can also try to figure out the issue by querying prometheus directly (if it can respond). In the prometheus console search for "sum(istio_requests_total) by (destination_service_name)" : it should give you the list of all services and you can perhaps understand why you have so many of them.

or c

[2020-10-27 10:17] xeviknal commented on #3353
@robertvanloenhout I see. I've never tried the installation of prometheus using either kube-prometheus or the prometheus-operator. Most likely the operator is creating the pods as needed and defined in the CRs. Good catch, the scenario is clear now.

This makes me think of first @jotak suggestion (:wave:) and implement direct calls for the addons just not to rely on how they are deployed.

[2020-10-27 10:21] jvanmalder opened #3356 "Support pod labels in Kiali CR"
**Is your feature request related to a problem? Please describe.**
For integrating our Kiali deployment (using the Kiali Operator) with Istio security, we need to be able to specify labels to the Kiali pod that the Operator deploys.
Labels are used to match Istio resources (i.e. [RequestAuthentication](https://istio.io/latest/docs/reference/config/security/request_authentication/)) and workloads (

[2020-10-27 10:31] jmazzitelli commented on #3356
This should be easy to implement. We'll want to do this in the operator as well as helm charts.

[2020-10-27 10:34] Siddharthk commented on #3354
@lucasponce @jotak seeing some strange destination service name in prometheus:
![image](https://user-images.githubusercontent.com/718854/97290027-00927700-186e-11eb-9af0-3d3d119bf943.png)

Only the yellow highlighted ones are the actual kubernetes service defined.

[2020-10-27 10:38] lucasponce commented on #3354
And the other entries are valid workload IPs ? Perhaps then it's a telemetry issue that at some point is flipping the service name vs IP.

To be honest, I haven't seen this before, perhaps worth to add an issue in Istio repo to involve the telemetry group.

[2020-10-27 10:51] Siddharthk commented on #3354
IP is from one of the pods and is valid but not the ports. I deleted the pod so that it takes a new ip. Now I can see that number of services have reduced drastically from 3k to 45. Could have been telemetry issue.

![image](https://user-images.githubusercontent.com/718854/97291569-1d2fae80-1870-11eb-8b5b-5a0720d9f2f4.png)

Graph is also loading now. I will monitor this behavior and will keep you

[2020-10-27 10:53] lucasponce commented on #3354
Ouch, glad you could workaround it.
Yes, it seems a telemetry issue and pretty scary, having a pod that can populate the prometheus server without control is probably something Istio team would like to have it documented.

Now it sounds more "normal" scenario and Kiali shouldn't have major issue to render and show it.

[2020-10-27 11:20] jmazzitelli commented on #3356
@jvanmalder feel free to test out the two PRs for this enhancement:
* Operator: https://github.com/kiali/kiali-operator/pull/180
* Helm chart: https://github.com/kiali/helm-charts/pull/14

[2020-10-27 12:10] xeviknal commented on #3353
@jotak @lucasponce @robertvanloenhout

What do you think if we add the extra check that @jotak mentioned for the add-ons? Kiali can curl the url of each addon (jaeger, prometheus and grafana) and build an status out of it.

What do you think of keeping the deployment status for the add-ons too? Does it make sense to have the desired replicas match with the available ones? If guess it is useful to

[2020-10-27 12:21] jvanmalder commented on #3356
@jmazzitelli thank you kindly for the quick feedback and implementation!
I tested your changes for the Operator and it works perfectly and as expected.

[2020-10-27 12:54] jvanmalder opened #3357 "Configurable web port (http_util.GuessKialiURL)"
**Is your feature request related to a problem? Please describe.**
Kiali is accessible through an external load balancer running on port 443, which forwards the requests to the Kiali pod on port 20001.
However, when using OpenID authentication with Kiali, the redirect URI that was guessed by Kiali contains the internal port (20001) instead of the external port (443) - see [here](https://github.com

[2020-10-27 12:56] #3067 closed

[2020-10-27 13:00] jshaughn commented on #3357
cc @israel-hdez

[2020-10-27 13:03] jotak commented on #3293
So, to track some progress here: I have a working draft with back & front:

![Capture d’écran de 2020-10-27 13-53-58](https://user-images.githubusercontent.com/2153442/97304644-4f371580-185c-11eb-87e3-d76ed4744904.png)

In terms of data I think this is good, but we can improve in terms of visualization.
I'm thinking of:
- using a comparison chart as it was suggested in https://github.com/kiali/kia

[2020-10-27 13:03] jshaughn commented on #3337
@mtho11 Perhaps we should ask UX to understand whether we want to fullscreen just the TextBox or allow fullscreen for the entire log page.

[2020-10-27 13:08] jotak commented on #3293
perhaps this is a place where a heatmap would make sense...

[2020-10-27 13:42] jshaughn commented on #3337
@mtho11 @lucasponce, I realize now that what I was talking about is very close to kiosk mode + F11.  If you add &kiosk to the URL, and then F11, you are getting fullscreen on the [content] page view.   This should be sufficient and given that we have not had an explicit request for this I don't think we need to pursue it further.   If in the future we see value to fullscreen a specific component w

[2020-10-27 13:42] #3337 closed

[2020-10-27 13:53] lucasponce commented on #3337
If we want to add a couple of minor links/buttom that doesn't affect to the current layout to enter/exit to this "non distraction mode" it's +1 from my side.

My comments about this issue were only to clarify my concerns about potential relayout when I tried to catch up with the whole discussion (i.e. expand a tab would require a much more work than expected).

[2020-10-27 13:56] jshaughn commented on #3354
@Siddharthk This should definitely be reported to Istio as a telemetry issue.  That sort of reporting will certainly kill Prometheus.

[2020-10-27 14:14] jmazzitelli commented on #3357
I think we already have this documented in another issue. I do remember @israel-hdez talking about adding this recently.

[2020-10-27 14:30] jvanmalder commented on #3357
Sorry, should have searched the existing issues.
It's indeed a duplicate of #3111.

[2020-10-27 14:41] jshaughn commented on #3357
Closing in favor of https://github.com/kiali/kiali/issues/3111.

[2020-10-27 14:41] #3357 closed

[2020-10-27 15:14] cfcosta commented on #3111
@israel-hdez sounds good, let me take a look.

[2020-10-27 16:08] jotak opened #3359 "Wrong timestamp used for traces query in graph"
When traces are fetched for the graph, the wrong timestamp is used, resulting in potentially fewer traces displayed than it could be

[2020-10-27 18:20] robertvanloenhout commented on #3353
@xeviknal
I am satisfied that I can ignore the prometheus status for now. So thanks for your help.
I have one question left. Can I remove the custom_metrics_url setting, since it's not in the documented CR?

I will give you my opinion regarding the status options. I think that Kali should work as much as possible out-of-the-box. Since Istio informs users to install prometheus separately, and not t

[2020-10-27 19:03] jotak commented on #3353
I can take this one :-)
tl;dr: you can remove it

This is for a feature of Kiali that allows to read other metrics, potentially [your own application metrics](https://kiali.io/documentation/latest/runtimes-monitoring/), in order to have more dashboards within Kiali. It can also be used, for instance, in the context of [this production-scale deployment of Prometheus](https://medium.com/kialiproject

[2020-10-28 08:21] #3359 closed

[2020-10-28 08:45] jotak opened #3361 "Improve trace navigation in graph"
In the graph trace overlay, when a node is selected, we can navigate through spans that originate from that node:
![Capture d’écran de 2020-10-28 09-39-22](https://user-images.githubusercontent.com/2153442/97412422-d7bbc180-1901-11eb-82ee-077110bfbf1a.png)

This might lead to some misunderstanding & non-obvious navigation, because the trace contains X spans but only a few of them are accessible fr

[2020-10-28 09:14] lucasponce commented on #3361
+1

It sounds good to me.

As a user I guess from here I'd like to have the minimal info to decide if I need to click and navigate into the trace details or as you say, navigate to other trace.

[2020-10-28 09:21] lucasponce commented on #3354
Thanks for reporting the case and giving us visibility of this problem @Siddharthk.
As I think that is not an action on Kiali but more understanding why Istio Telemetry reported that case I'm going to close this one.

But please, report it to Istio and link with this one for more details.

[2020-10-28 09:21] #3354 closed

[2020-10-28 09:23] lucasponce commented on #3348
It should be an easy fix, I'm going to send a PR.

[2020-10-28 10:49] #3333 closed

[2020-10-28 11:13] lucasponce opened #3363 "Enable/Disable Mutual TLS by Namespace granularity"
Related to Epic https://github.com/kiali/kiali/issues/3174

As commented in the Epic, Kiali may create a Multual TLS Enable/Disable action defined at Namespace as similar as offered for Traffic Policies.

[2020-10-28 12:14] jotak opened #3365 ""Show Traces" button text in graph is misleading"
In the graph side panel, there's a button allowing to navigate to the traces details page :
![Capture d’écran de 2020-10-28 13-05-26](https://user-images.githubusercontent.com/2153442/97433931-8c63dc00-191e-11eb-95bd-3b38ee70045e.png)

But it is a bit misleading, because we may think clicking on it would actually show traces *within the graph/side panel*, not navigating to another page. Which is q

[2020-10-28 12:22] jotak commented on #3365
@lucasponce @jshaughn I think I was on holydays during your discussion there :-) https://github.com/kiali/kiali-ui/pull/1892
wdyt? To me, the new wording fails to tell that the user is going to move to another page, which isn't obvious in this context

[2020-10-28 12:42] lucasponce commented on #3365
![image](https://user-images.githubusercontent.com/1662329/97436973-1ada5c80-1923-11eb-9f01-78e7473b28c9.png)

Main discussion is to use the same verb / expression for same action.

It's a no go to mix Show / Go / Move / View in the same context.

I'm fine if it's a better wording (i.e. Show Traces details) but we need to align all of these expression to make sure that all pages / tabs have a cons

[2020-10-28 12:52] lucasponce commented on #3365
Note that my comment is not only for this subtab, perhaps there are other links that have the same context.
If we want to use this opportunity to review the wording for these scenarios I'm +1 for that.

[2020-10-28 14:12] JuanSeBestia opened #3366 "[error Prometheus] Could not fetch Health."
**Describe the bug**

In all the workloads the same thing appears "Could not fetch Health."

![Screen Shot 2020-10-28 at 8 59 05 AM](https://user-images.githubusercontent.com/7362688/97446395-57df2880-18fc-11eb-8731-8cfd1b896b9d.png)

Recently migrated from istio 1.6 addons installation to istio 1.6 + KialiOperator + kube-prometheus-stack

I'm not sure if I have a configuration error or something

[2020-10-28 14:20] lucasponce commented on #3366
Would you mind to see / attach the Kiali logs ?

[2020-10-28 14:21] JuanSeBestia commented on #3366
Kiali and Prometheus
[code]

[2020-10-28 14:24] JuanSeBestia commented on #3366
@lucasponce sure!

Attaching logs of pod kiali
[kiali.log](https://github.com/kiali/kiali/files/5452455/kiali.log)

[2020-10-28 14:25] JuanSeBestia commented on #3366
Also attach debug info:
Health Config
[code]
Please include this information when opening a bug.
[code]

[2020-10-28 15:39] lucasponce commented on #3363
Reviewed with @xeviknal

https://github.com/kiali/kiali-ui/pull/1984#issuecomment-718017796

But as a summary, we cover this feature with Istio Config -> Create New Istio Config feature and this namespace action wouldn't add too much difference.

[2020-10-28 15:39] #3363 closed

[2020-10-28 16:53] #3348 closed

[2020-10-28 19:11] jmazzitelli opened #3369 "duration drop down is "behind" the horizontal bar separating the logs in the log tab"
Look at the "Last 1d" option - its "behind" the horizontal grab bar:

![image](https://user-images.githubusercontent.com/2029470/97484840-ad80f880-192f-11eb-8958-f90433225db9.png)

[2020-10-28 19:11] jshaughn commented on #3349
The edge label can not be assigned a different z-index than the edge itself.  And so there is no way I see to have the animation particles go under the text and stay above the edge.   And I don't think having the particles completely under the edge is a good option.

I think one easy thing we could do is to just stop the animation when the user hovers the mouse over the edge, thus allowing the use

[2020-10-28 19:13] jmazzitelli opened #3370 "custom duration components poorly laid out on screen"
![image](https://user-images.githubusercontent.com/2029470/97485075-051f6400-1930-11eb-8feb-e9385efc2cf6.png)

[2020-10-28 19:26] lucasponce commented on #3366
The kiali.log sounds familiar to this issue https://github.com/kiali/kiali/issues/3318
It seems you are using an old operator to install Kiali 1.25 and there are missing API in the roles.

[2020-10-28 19:32] jshaughn commented on #3370
Duplicate of https://github.com/kiali/kiali/issues/3350

[2020-10-28 19:32] #3370 closed

[2020-10-28 19:47] jmazzitelli opened #3371 "provide some UI defaults within the Kiali CR"
Consider adding a section to the Kiali CR to define UI-specific defaults. Something like this might be useful:

[code]

Perhaps we can put this under "kiali_feature_flags" (just a thought):

[code]
The server can provide an API endpoint similar to the `/config` endpoint (if not part of the json that /config itself returns). The UI can call this at startup to obtain defaults that it will then use.

[2020-10-28 19:59] jshaughn commented on #3369
we don't have much control over that splitter bar, so we may have to live with this minor issue, or increase the z-axis of the dropdown.

[2020-10-28 20:01] jshaughn commented on #3371
maybe even default namespaces to be selected

[2020-10-29 07:07] jotak commented on #2905
Did you setup a timeout on the http client connection? Perhaps it's totally unrelated but ... https://medium.com/@nate510/don-t-use-go-s-default-http-client-4804cb19f779

[2020-10-29 07:11] jotak commented on #2905
That might be the problem, I see in openshift_oauth.go there's no timeout configured, unlike in openid_auth.go.

[2020-10-29 07:45] jotak commented on #2905
PS: I see in versions.go / `istioVersion()` there's also a client connection that is done without timeout and can potentially lead to a leak. We should find a way to enforce using a timeout, if this is really the problem.

[2020-10-29 10:06] lucasponce commented on #3350
I don't think it has an easy workaround.
Main problem here is that component belongs to the tab content instead of the page and it's using floating style to place it there.
Floating style and z-level has some drawbacks when not using same position system, so when using together with other components with different z-level may produce this.

I think this may trigger a major refactor moving this com

[2020-10-29 12:13] aljesusg opened #3373 "health_config is not propagated from Kiali CR to configmap"
While adding health configuration as described here https://kiali.io/documentation/latest/configuration/health/#_configuration into Kiali CR, it is not replicated into kiali configmap.

[2020-10-29 12:57] jshaughn commented on #3350
I actually find it strange to be part of the tab content and not managed by the detail page itself, I think I'm +1 to moving it to the page and probably pushing the settings to the tabs as properties.  It makes sense to me that each tab in the detail page honors the same time range.

Also, Perhaps it should be considered to have this custom range look consistent with the graph replay approach, whi

[2020-10-29 13:02] jshaughn commented on #2905
@jotak Thanks, we will try the suggestion.  We finally recreated the issue but didn't have any ideas about resolution.

[2020-10-29 13:13] jotak commented on #3293
Following my previous comments, I'm doing some tries with a heatmap, and to be frank I like it :)
Heatmaps allow to show condensed 3-dim data probably better than any other chart. They might be less intuitive to read at first, but we quickly get used to it.

Here's an example I'm doing:
![Capture d’écran de 2020-10-29 14-05-36](https://user-images.githubusercontent.com/2153442/97578152-b2f24780-19

[2020-10-29 14:10] JuanSeBestia commented on #3366
Okay, I will try change kiali-operator to 1.25

[2020-10-29 14:12] lucasponce commented on #3366
Let me know if it works ! Gracias !

[2020-10-29 14:18] lucasponce commented on #3350
It doesn't make much sense if I'm querying a fixed interval 10:00 AM - 10:30 AM to constant refresh it, yeah, I agree that it can be help here.

This component belonged to the tab logic instead to the page because not all tabs share same parameters here.

I won't touch that (if possible) in this effort, I'll try to address the refactoring keeping the current logic.

[2020-10-29 14:26] mtho11 commented on #3350
Shouldn't the refresh be set to **pause** if one is using a custom timeframe? Sounds like possibly a separate issue.

[2020-10-29 15:13] jshaughn commented on #3350
@lucasponce @mtho11 , yes, a separate issue.  Either Pause or just omitted completely (which would help with overlap issues).

As for different time ranges on different tabs, even today the setting made on some tabs are  carried over to other tabs, which is great for correlation.  I thought maybe manging the time range(s) from the page may actually make impl easier, but I'm OK to solve this issue

[2020-10-29 16:12] jshaughn opened #3374 "Logout failed message"
Not high priority, this looks to have something to do with an expired session, I'm not sure.  I just came back to my computer to see message incrementing every second:

![image](https://user-images.githubusercontent.com/2104052/97518168-1d61a400-196d-11eb-9208-90e6035b20df.png)

Just a screen refresh to clear it.

[2020-10-29 20:11] JuanSeBestia commented on #3366
@lucasponce I already made the modification, but it doesn't work :(, thanks for propose it

[2020-10-29 22:03] jshaughn commented on #1399
I'm going to try and do something simple to see if we can make some progress on this.  At first it will just be for display and we'll go from there.

[2020-10-30 07:54] lucasponce commented on #3366
@JuanSeBestia ouch, thanks for testing, and sorry it didn't work.

Let me help to investigate if there is anything more, can you confirm that you are experimenting this problem:

https://github.com/kiali/kiali/issues/3318#issuecomment-708465857

I mean, to test from a pod that there is a missing api in the role.

[2020-10-30 09:43] aljesusg opened #3378 "Error in Render Kiali UI with threscale"
[code]

We should add to default threescale in https://github.com/kiali/kiali/blob/master/config/config.go#L379

[2020-10-30 09:59] #3378 closed

[2020-10-30 10:01] lucasponce commented on #3378
Not a bug, this extension was closed as part of https://github.com/kiali/kiali/issues/3341

[2020-10-30 10:03] aljesusg commented on #3378
Bad fetch repo. It's not a bug

[2020-10-30 11:19] jotak opened #3379 "Add more controls on span stats"
This is a follow-up on https://github.com/kiali/kiali/issues/3293
In that previous task, comparison stats are added to span list. It uses a default set of parameters that cannot be modified at the moment (durations, percentiles etc.)
These parameters should be actionable from the table toolbar.

[2020-10-30 12:07] lucasponce opened #3380 "Link Interval trace query with Telemetry percentiles"
Now that we are progressing on the Telemetry + Tracing correlation I'd like also to propose this issue.

One of the major problems with tracing info is the lack of histograms, and hence, to understand which info is interested for the user and in which context.

Also, tracing in real scenarios has a high density, so in other words, as a user is not easy to identify "which trace I should look ?"

In

[2020-10-30 12:08] lucasponce commented on #3380
Note, that I also see fit to put it together with this other proposal to extend how Kiali is querying tracing:
https://github.com/kiali/kiali/issues/3311

[2020-10-30 13:02] lucasponce commented on #1483
This is old.
I think that from a Service -> Details there are multiple links to the Istio Config linked with a Service.

[2020-10-30 13:02] #1483 closed

[2020-10-30 13:07] lucasponce commented on #1565
Already implemented in the way to show labels details + namespace action:

![image](https://user-images.githubusercontent.com/1662329/97708538-41320080-1ab9-11eb-8cce-da63d78a29fb.png)

[2020-10-30 13:07] #1565 closed

[2020-10-30 13:10] lucasponce commented on #2317
There has been some improvements related to this:
![image](https://user-images.githubusercontent.com/1662329/97708653-6d4d8180-1ab9-11eb-8959-5f32453cad1b.png)

Also introducing inner tabs inside cards to control the height and aspect of the main page:
![image](https://user-images.githubusercontent.com/1662329/97708744-90783100-1ab9-11eb-85b9-3ad095aac647.png)

As last comment is pretty old I'm go

[2020-10-30 13:10] #2317 closed

[2020-10-30 13:15] lucasponce commented on #2806
I don't think this one should be open.
The feature described is already implemented in two clear ways:

From the Workloads page using filtering:
![image](https://user-images.githubusercontent.com/1662329/97709158-2dd36500-1aba-11eb-86c2-09a787739556.png)

And conceptually we created the Application model for that:
![image](https://user-images.githubusercontent.com/1662329/97709234-480d4300-1aba-11

[2020-10-30 13:17] lucasponce commented on #3295
@SionArtingstall I'll close the issue, I guess with the change in the config the problem is addressed.
Let me know otherwise and I'll review it.

[2020-10-30 13:17] #3295 closed

[2020-10-30 13:18] lucasponce commented on #3143
Addressed in Istio.
Closing.

[2020-10-30 13:18] #3143 closed

[2020-10-30 13:24] lucasponce commented on #2493
I think this was addressed in a previous change from kiali.io
![image](https://user-images.githubusercontent.com/1662329/97710064-8b1be600-1abb-11eb-91e0-fe9da8f4e64c.png)

[2020-10-30 13:24] #2493 closed

[2020-10-30 13:26] lucasponce commented on #1937
Ok, this issue was lost in the sea of the Github notifications.
It seems there is a CSS bug:
![image](https://user-images.githubusercontent.com/1662329/97710301-e057f780-1abb-11eb-8df4-faa15f8a10ec.png)

That is cutting the icon on the left, or at least it's what I understand.

[2020-10-30 13:30] lucasponce commented on #3349
@jshaughn it looks ok to me, it solves the main issue: on high density animations user can't read the edge label, stopping the animation for this sounds a reasonable workaround.

+1

[2020-10-30 13:53] erSitzt commented on #2914
Would be nice to have this information in the graph if istio supplies the destination_port.
I can't currently test the custom metrics i guess, as i'll be stuck on istio 1.5.9 for a little while until i'm ready to upgrade rancher to 2.5.x

[2020-10-30 14:19] MarianZoll commented on #2893
Thanks for sharing the information. I incorporated the required changes to both the helm charts and the operator and checked for additional things. Some manual tests performed on minikube and Openshift worked fine. The automated make tests as well. For the hack script I am missing authorization to pull the required container images.
[code]

I also checked on the log levels for the current glog bas

[2020-10-30 14:29] jmazzitelli commented on #2893
See the [operator DEVELOPER page](https://github.com/kiali/kiali-operator/blob/master/DEVELOPING.adoc#run-molecule-tests), specifically the NOTE:
[code]

[2020-10-30 14:38] jmazzitelli commented on #2893
I would create the PRs now. I looked at the diffs for all your branches and they look good. I see some very trivial things but overall it looks good. Thanks for the work, and thanks for running the tests.

Once the PRs are in place, we can hold discussions in each as part of the reviews.

[2020-10-30 14:54] jotak commented on #3380
+1, sounds interesting
Just to make sure if I understand correctly the idea: we would change the "Interval" toolbar control to display something like traces in:
- 99th percentile
- 90th percentile
- etc

When the user selects something, it triggers first a telemetry query to know the response time at the demanded percentile, and then a second query to jaeger to pick traces above that percentile.
A

[2020-10-30 14:58] lucasponce commented on #3380
Yes, the telemetry query may give information about the current interesting intervals that can be used in that box to select a better label of "99th percentile" instead to choose an absolute value as we have today.

Also, linked with the split/join it can play better with limitation of results in large intervals.

To me the main context of this is "from all number of traces I have, which is the in

[2020-10-30 15:03] MarianZoll commented on #2893
I created the PRs in the different repos:

https://github.com/kiali/kiali/pull/3382
https://github.com/kiali/helm-charts/pull/15
https://github.com/kiali/kiali-operator/pull/187

Thanks for your input!

[2020-10-30 17:09] israel-hdez opened #3384 "Re-setup Travis CI - move from webhooks to the Travis GitHub App"
Travis is now offering limited resources for projects that are still on travis.org -- which is Kiali case because of still using webhooks to invoke Travis jobs.

This is causing jobs to be on the Travis Queue for extended periods of time and delaying PR merges.

We must stop using webhooks and move to the Travis GitHub App to prevent our CI jobs to stay on the queue for long time.

Both back-end a

[2020-10-30 18:40] #3349 closed

[2020-10-30 20:57] jshaughn commented on #1937
@lucasponce @mtho11 I think this is just the way the icon is.  We use the Blueprint icon (I have no idea why, I don't like this icon for missing sidecar) but this probably is just the way it looks at a certain resolution.   https://www.patternfly.org/v4/guidelines/icons/

In my opinion we should use this issue to change the icon or otherwise just close it.

[2020-10-30 21:45] israel-hdez commented on #3384
Back-end repo is now on travis-ci.com

[2020-10-30 21:59] israel-hdez commented on #3384
kiali-ui and kiali-operator are also moved

[2020-10-30 22:07] israel-hdez commented on #3384
helm-charts is moved...
I'll keep this open to later change some configs that are pending.

[2020-10-30 22:19] israel-hdez commented on #3335
I'll look at this as part of the Multi-cluster effort.
So, don't expect this to be solved quickly.

[2020-11-02 09:57] hhovsepy opened #3388 "Workload Logs tab crash for istio-system"
Go to some workload details from istio-system without proxy, for instance 'jaeger'.
Page crashes.
error in logs: "E1102 09:53:03.499886       1 errors.go:21] container istio-proxy is not valid for pod jaeger-5795c4cf99-ghk9k"

![Screenshot from 2020-11-02 10-54-18](https://user-images.githubusercontent.com/604313/97854571-f05d1a80-1cf9-11eb-8a1f-05462b105feb.png)

[2020-11-02 15:01] jmazzitelli commented on #3317
I believe this issues have been addressed in the latest release. I would suggest opening a new github issue if more problems arise - this github issue has a lot of noise to sift through (mainly due to my ramblings) :)

[2020-11-02 15:01] #3317 closed

[2020-11-02 15:10] jshaughn opened #3389 "Remove label filter by clicking on the label is not working"
On Services/Applications/Workloads list pages, clicking on a label adds the label filter to the list page.

Hovering on the label shows tootip 'Remove label from Filters'. When user clicks again on the label to remove the filter, nothing happens.

Tested on Firefox 70 and Chrome 75.

Steps:
1) Navigate to Services/Applications/Workloads list page.
2) Click on a label. Ex: Click on 'version:v1' lab

[2020-11-03 11:04] #1399 closed

[2020-11-03 16:11] lucasponce opened #3394 "Add Sidecars on "Create Traffic Policies" namespace action"
We have discussed with @howardjohn to have a feature in Kiali to add security based on current telemetry.

Kiali already implements this feature using AuthorizationPolicy objects:

https://github.com/kiali/kiali/issues/2924

And documented in

https://kiali.io/documentation/latest/features/#_security_traffic_policies

But also it seems that it makes sense to offer an action to perform a similar ta

[2020-11-03 17:08] israel-hdez commented on #3384
All done.
Closing...

[2020-11-03 17:08] #3384 closed

[2020-11-03 19:18] JuanSeBestia commented on #3366
Okay, I will test without Anonymus auth

[2020-11-04 16:24] israel-hdez commented on #3262
Hi, @Macrame

To be honest, I'm not sure what could be the problem.
From your messages, I see everything is good. So, I'm unsure why the rolebinding is not working.

If you *do not* need RBAC, I can only suggest to update to Kiali v1.26 and disable RBAC -- this is something new in version 1.26 (see https://kiali.io/documentation/latest/configuration/authentication/openid/#_set_up_with_no_rbac_supp

[2020-11-04 21:20] JuanSeBestia commented on #3366
Finally, I found my bug
In parallel, I update Istio to 1.7.4, but doesn't work, then installed the Prometheus with [addons/prometheus.yaml](https://github.com/istio/istio/blob/1.7.0/samples/addons/prometheus.yaml) and works!, so I realize that the error is in my Prometheus config in special te ServiceMonitor [addons/extras/prometheus-operator.yaml#L4](https://github.com/istio/istio/blob/1.7.0/samp

[2020-11-04 21:20] #3366 closed

[2020-11-04 23:17] #3388 closed

[2020-11-05 08:39] lucasponce commented on #3366
@JuanSeBestia Gracias for sharing this.
I'm sure that having the issue would help to get it documented in case we found a similar case in the future.

[2020-11-05 13:52] sandeep1699 commented on #1577
Hi @xeviknal

Sorry i'm new to istio, could you please let me know, can we use k8s CA as a signing authority for workload proxies using chiron?

[2020-11-05 13:56] aljesusg commented on #3373
merged in 1.24 pending to review https://github.com/kiali/kiali-operator/pull/183

[2020-11-05 14:43] #2018 closed

[2020-11-05 14:47] cfcosta commented on #1638
Closing as it seems there is no interest on this feature.

[2020-11-05 14:47] #1638 closed

[2020-11-05 14:47] lduparc commented on #2222
Hi,

Dealing with openid config linked with AzureAD too.
What do you mean @israel-hdez  by :
[code]

Thanks

[2020-11-05 14:54] cfcosta commented on #2215
I am closing this as we went with the simpler solution and didn't come back to revisit this one in a long time. I still think it can be a lot more elegant with a proper redesign, but I feel that when we do feel the pain, we are going to come back on this issue and find ways to improve.

[2020-11-05 14:54] #2215 closed

[2020-11-05 15:43] jotak opened #3399 "Traces chart: add option to show traces per spans average duration"
The traces chart is showing trace full duration: that's the time elapsed between the beginning of the first span, to the end of the last span.

It might sometimes be misleading when we're trying to find which traces behaved badly, because it's relative to the number of spans in a trace. Taking that example:

![Capture d’écran de 2020-11-05 16-31-13](https://user-images.githubusercontent.com/215344

[2020-11-05 15:48] #3373 closed

[2020-11-05 19:13] israel-hdez commented on #2222
@lduparc A simple way I can think of explaining it:

When you authenticate on the OpenId Server (in your case, it's AzureAD), it issues an `id_token` tied to the authenticated user and hands it off to the application. If you, somehow, manage to get this `id_token` that the OpenId Server is issuing and giving to Kiali, try running a command like this one:

[code]

If you can list the pods, then _yo

[2020-11-05 19:52] israel-hdez commented on #2905
I'm changing title to denote that the issue was that connections between Kiali and the OpenShift API are the ones being dangling.

[2020-11-05 19:59] israel-hdez commented on #3084
This was finished in Sprint #47 and Kiali v1.26 is covering this case.
Docs are here https://kiali.io/documentation/latest/configuration/authentication/openid/#_set_up_with_no_rbac_support

Closing as done.

[2020-11-05 19:59] #3084 closed

[2020-11-05 20:27] pslobo commented on #3201
Sorry to bump a closed issue, but I'm still seeing this behaviour in 1.24 and 1.26. How exactly are we supposed to configure Kiali when components such as Prometheus, Grafana and Jaeger are in other namespaces?

[2020-11-05 20:53] jmazzitelli commented on #3201
Prometheus: https://github.com/kiali/kiali-operator/blob/v1.26/deploy/kiali/kiali_cr.yaml#L481-L520
Grafana: https://github.com/kiali/kiali-operator/blob/v1.26/deploy/kiali/kiali_cr.yaml#L395-L449
Jaeger: https://github.com/kiali/kiali-operator/blob/v1.26/deploy/kiali/kiali_cr.yaml#L522-L567

[2020-11-05 21:19] pslobo commented on #3201
Thanks @jmazzitelli but I already have that and still see the issue:

Currently, I have:
- istiod, istio-[ingress|egress]gateway in istio-system NS
- Prometheus, kiali, grafana, jaeger in observability NS

This is what I have configured (relevant sections)
[code]

[2020-11-05 21:51] jmazzitelli commented on #3201
I can't say what is wrong - but I can say, briefly looking, at minimum the grafana setting looks wrong. Why is "url" a localhost URL? That can't possibly work, can it?. From the link I provided, the docs say:
[code]
My suggestion is to read the docs (the ones I linked to earlier) very carefully and review all your "url" and "in_cluster_url" settings (and look at the "component_status"  settings th

[2020-11-05 21:54] pslobo commented on #3201
Thanks @jmazzitelli. It was my understanding the the url in the grafana settings was just to add a link to access the grafana instance directly from the Kiali via, and Kiali uses in_cluster_url for the rest. I'll continue to tinker with this and review my settings a couple more times, but if I'm still stuck I'll reach ou on the group.

[2020-11-06 08:59] Ayden-Franklin commented on #3262
Thank you. I need RBAC in fact. So I can't use OIDC in this version. Maybe it can work well in the future:)

[2020-11-06 14:14] jshaughn commented on #3328
All subtasks completed.

[2020-11-06 14:14] #3328 closed

[2020-11-06 16:31] jshaughn commented on #1937
@lucasponce @mtho11 Closing as won't fix.  If we ever want to change the icon I'm +1, but more than likely we'll leave it as is for consistency.

[2020-11-06 16:31] #1937 closed

[2020-11-06 19:29] #2905 closed

[2020-11-06 19:55] #3389 closed

[2020-11-06 21:55] jshaughn commented on #3186
@lucasponce @jmazzitelli , this topic again came up in IRC today, with a similar issue regarding bad default performance when Kiali is presented with a lot of namespaces.  I think perhaps we should more consistently apply the approach used already by the graph page.  When no namespaces are selected then nothing is shown, other than a message indicating to make a namespace selection.  This would pr

[2020-11-09 07:18] morlay commented on #1091
@jmazzitelli could you check this PR https://github.com/kiali/kiali/pull/3405

I find a way to avoid change base image of amd64, but could add arm64 image support.

If no others concern, we could setup buildx in CI, and publish multi-arch images

[2020-11-09 08:44] jotak opened #3406 "Use client / server timeouts (potential leaks)"
This is a follow-up on https://github.com/kiali/kiali/issues/2905 : a missing connection timeout was added to fix a specific case.
But there's other missing connection timeouts in our codebase that could result in the same bugs.

I don't think we necessarily have to see the bug happen before fixing it; using client connections without timeout is a known risk [1] that we should tackle via code best

[2020-11-09 08:45] jotak commented on #3406
Personally I think it would be wise to backport these fixes asap.

[2020-11-09 09:58] lucasponce commented on #3406
Note that k8s API and Kiali uses a extensive use of watches [1]

I wonder if a generic timeout can solve some scenarios but it can add some problem on these calls.

These are connections that are kept open.

In other words, this issue looks good, but it will need more close review to avoid side effects.

[1] https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-change

[2020-11-09 10:18] xeviknal opened #3408 "Support Gateways workloads in user namespaces"
There has been a new RFC into Istio Upstream to introduce a `Gateway Injection`.

https://docs.google.com/document/d/1Rmp9B3DDypgMCau-YAqidx_r3qvKLZj6jUX-t22zj84/edit?ts=5fa4a68e#heading=h.muhie2k8j6yh

In Maistra side: https://issues.redhat.com/browse/MAISTRA-1874

Kiali probably will need to add new Istio Objects and/or validations.

[2020-11-09 10:40] xeviknal commented on #1577
Hi @sandeep1699, from Kiali perspective, I am not sure how to support you so far. We haven't supported any integration with regards to certificate management yet. Nevertheless, when researching for this issue I found the following task [1] in istio website.

For further information, I'd recommend you to address this question in discuss.istio.io, the istio community discussion forum.

[1] https://i

[2020-11-09 13:00] jotak commented on #3406
@lucasponce I was not thinking of a generic timeout (not sure if it's even possible), but per client connection, as we do in many of our client calls, there's just one that is missing.

[2020-11-09 13:19] jotak commented on #3379
Suggestion from @mtho11 : to use a slider, similar to the one in Graph Replay. As a substitute for the options of enabled intervals? Or as a way to "edit" an interval directly in the heatmap? ( https://github.com/kiali/kiali-ui/pull/1987#issuecomment-723321723 )

[2020-11-09 14:19] jshaughn commented on #3406
Probably a separate concern, but we may also want to look at our calls to prometheus.  I think we use only context.Background and that context does not have a timeout and isn't cancelable. We may want to take a look there...

[2020-11-09 18:18] israel-hdez opened #3409 "[multi-cluster] Find/resolve the clusters available to a certain control plane"
In order to have a better understanding about how is the structure of the mesh, one first step is to find/resolve which clusters are available/visible to one specific Istio control plane (CP).

Once we have the data about what clusters are available, we can query the other clusters to fetch for services, workloads, etc to have more complete data about what's available in the mesh.

The scope of th

[2020-11-09 18:51] sandmule opened #3410 "Unable to authenticate with OIDC and Google OpenID connect"
**General remarks**
We're trying to use google OIDC to authenticate into Kiali without RBAC. It is making the connection to google but is erroring in two places.

**Describe the bug**
Inspecting the logs shows two errors:

`[authentication.go:406] Token error: Unauthorized` - Where I believe the issue is coming from
`[authentication.go:688] Not handling OpenId code flow authentication: No nonce co

[2020-11-09 18:54] sandmule commented on #3410
@israel-hdez I hope you don't mind the tag, but I saw you did a lot of the OIDC work and might be able to share some light on the problem

[2020-11-09 19:12] israel-hdez commented on #3410
I'll check. I think you are right that line 399 is the problem.
This may have slipped, as I think I had a fully integrated OIDC setup when I was working on this.

If that's the problem, I'll fix ASAP and push for a patch release of 1.26.

[2020-11-09 19:14] jshaughn commented on #3186
Agan today someone mentioned that hitting a Kiali page hung due to the large number of namespaces.  I'm going to take a little time to throw together a POC of my thoughts above, for consideration.

[2020-11-09 19:28] sandmule commented on #3410
Thank you very much for your fast response. More than happy to help with testing if required.

[2020-11-09 20:43] jmazzitelli opened #3411 "add common labels such as "app.kubernetes.io/part-of" to kiali deployment"
In order to properly categorize the kiali resources in some consoles (e.g. OpenShift Console), the Kiali deployment should have a label "app.kubernetes.io/part-of" defined.

While we are at it, we should also add the labels "app.kubernetes.io/name" and "app.kubernetes.io/version" (with the same values as the "app" and "version" labels).

Need to do this for the operator and helm charts.

PRs:
* ht

[2020-11-09 20:46] jmazzitelli commented on #3411
Should consult this and see what other labels are appropriate: https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

[code]

[2020-11-09 21:35] jmazzitelli commented on #3411
Going to add `app.kubernetes.io/{name, version, part-of}` to all resources.

[2020-11-09 22:25] jmazzitelli commented on #3411
with the PRs, this is what it will look like in OpenShift Console:
![image](https://user-images.githubusercontent.com/2029470/98603607-57597100-22b0-11eb-82f9-46a40969cb9f.png)

You will now see these 3 new labels on all resources created by the operator:
[code]

[2020-11-09 23:41] israel-hdez commented on #3410
@sandmule I have a fix in #3414 .

If you want to try the fix, you can try the image I uploaded in my quay.io repository: `quay.io/edgarhz/kiali:fix-3410`.
If you can confirm it works, I think I will be able to move it faster to a formal release.

[2020-11-10 06:40] zackzhangkai opened #3417 "udpate prometheus client"
**Is your feature request related to a problem? Please describe.**

prometheus client is too old , update prometheus client to github.com/prometheus/client_golang v1.8.0

[2020-11-10 08:00] aljesusg opened #3419 "Error in Run kiali with config file"
After last changes the error message is wrong. The error is related that now we can't use the **-v flag**

[code]

So we need to update the Makefile too in the **run task** https://github.com/kiali/kiali/blob/master/make/Makefile.build.mk#L81

Do we want to remove the verbose option ?

[2020-11-10 08:07] aljesusg commented on #2906
Updated

[code]

[2020-11-10 08:09] jotak commented on #3417
Hi @zackzhangkai ,
I see that you've sent already some PRs about this issue, thank you for that. Upgrading the prometheus client is indeed something to be considered. As you see, there is some dependency relations with k-charted lib here. But, note that we are considering moving the k-charted code into the kiali repo directly (or at least, remove the dependency on prometheus client from k-charted)

[2020-11-10 08:25] jotak commented on #3186
Do you mean, avoid having all namespaces selected by default? It's understandable for every page, except perhaps for Overview since its goal is to show high level health (it doesn't make a lot of sense if just one namespace is displayed).
Perhaps this case must be handled differently. For instance, it could restrict by default the view to just 10 namespaces, and show links to view more and/or all

[2020-11-10 08:27] lucasponce commented on #2906
Note this will be incorporated as part of https://github.com/kiali/kiali-ui/pull/1992

[2020-11-10 08:36] lucasponce commented on #3186
I'm not sure if I agree on this. This is against the value of the feature itself.

Please, before that you progress in some coding I guess this design should be discussed.

The multi-namespace nature of Kiali as a key feature that I don't think we should disable by default.

We could have a feature flag to change this on certain situations but I don't want to see an empty list on other pages, so I

[2020-11-10 08:38] aljesusg commented on #2906
Ok so I'll close it...

[2020-11-10 08:38] #2906 closed

[2020-11-10 08:40] aljesusg commented on #1641
We can close this one

[2020-11-10 08:40] #1641 closed

[2020-11-10 08:42] lucasponce commented on #3186
I think this is more complicated, because all pages have filtering and sorting, and pagination in backend is not accessible.

So, I don't think this is duable without missing/breaking these features.

Performance scenarios are complex and I think it needs more thinking and a global strategy.

[2020-11-10 08:49] lucasponce commented on #3419
I can confirm this problem, well workaround is to not use the "v" but I'd need to review how the logging is configured now.

The PR that performs this change is this:

https://github.com/kiali/kiali/pull/3382

[2020-11-10 09:00] jotak commented on #3419
Yes, looks like you need to set environment "LOG_LEVEL" : https://github.com/kiali/kiali/pull/3382/files#diff-894630a7ed925c7768a861c4465bc9ad393f7937df7cac5c77ab123c03921aeeR123

[2020-11-10 09:08] sandmule commented on #3410
Yeah, just tested it and it working as intended 👍

[2020-11-10 10:01] jotak opened #3420 "Span rows: expandable mode"
This is a follow-up on https://github.com/kiali/kiali/issues/3293

Implement an expandable mode on span rows.
The goal is to show smaller rows hence more rows on screen. So, each table cell may have a "full" and "summary" display mode.

Suggestion:
- The "full" (expanded) mode looks the same as what it is currently:

![Capture d’écran de 2020-11-09 13-47-45 (copie)](https://user-images.githubuserc

[2020-11-10 10:20] jmazzitelli commented on #3419
People run "kiali" standalone on the command line like that??
Yeah, there is now a new logger in place ... no longer use -v.
See: https://github.com/kiali/kiali/issues/2893

[2020-11-10 10:34] jmazzitelli commented on #2893
We missed a spot - fixing: https://github.com/kiali/kiali/pull/3421

[2020-11-10 10:37] zackzhangkai commented on #3417
@jotak Thanks for your replying. The reason is exactly as what you said.

[2020-11-10 10:37] #3417 closed

[2020-11-10 10:47] #2893 closed

[2020-11-10 11:03] lucasponce commented on #3417
Note, I've sent an email to kiali-dev asking for feedback about the proposal to consolidate k-charted into kiali repo:

https://groups.google.com/g/kiali-dev/c/vI-Kg8gXBgs

If no objections we will open an issue about that.

[2020-11-10 13:33] aljesusg commented on #3419
Closed by https://github.com/kiali/kiali/pull/3421

[2020-11-10 13:33] #3419 closed

[2020-11-10 13:34] aljesusg commented on #3419
nope, I had configure this in the IDE and I didn't know why it was failing and I tried to do it manually, but I used the -v :)

[2020-11-10 15:01] lucasponce commented on #3420
cc @lwrigh

[2020-11-10 15:09] #3411 closed

[2020-11-10 15:52] jshaughn commented on #3186
@lucasponce @jotak  I agree that a key part of Kiali is to surface issues, and if we don't look at all of the namespaces we could fail to surface an issue.  But, we can't ignore the reality of performance and that some user's are already running into the problem of having a Kiali page never return.   That sort of user experience can completely drive a user away from a tool, and so I think we need

[2020-11-10 16:07] lucasponce commented on #3186
Again, I'm not sure if I agree here.
Because it's the purpose of the Overview page, which is similar in terms of performance.

I'd separate the discussion, one thing is if we want to make a "select all" for the namespace selector UI component, which is what I understand you are coding.

But a very different discussion is about limiting namespaces, why and how, and that requires a different strateg

[2020-11-10 16:09] jotak commented on #3186
Definitely +1, we have seen problems about that too often already

What is "runtime selection" exactly?

I think we could handle that differently according to the situation. We want to provide the best experience for two extreme use cases, the high-volume-500-namespaces use case, and the demo-bookinfo use case.
For instance, we can check the number of accessible namespaces and act accordingly, if

[2020-11-10 16:18] lucasponce commented on #3186
For instance, we can check the number of accessible namespaces and act accordingly, if it's above or below some threshold (let's say 5 namespaces).
So that, in the low-namespaces scenario, we continue to show everything in Overview.
And do something different when many namespaces are found.

I would be cautious to take any action here.

Again, we are not solving the problem, just hiding, because t

[2020-11-10 16:19] jshaughn commented on #3173
I think there are several improvements needed to namespace selection:
- select all
- clear all
- batch changes (as opposed to immediate reaction to each selection)
  - explicit cancel/submit

Here is a POC video (thoughths @lucasponce @jotak  @jmazzitelli ?):

![kiali#3173](https://user-images.githubusercontent.com/2104052/98700555-4ce9b680-2346-11eb-93e1-93527e7fa043.gif)

[2020-11-10 16:24] lucasponce commented on #3173
The "cancel" and "ok" buttons are a drawback in usability, you are adding more clicks.

I'd add a "select all" link similar as "clear all" and play with the focus or similar, but definitely not adding a new Ok/Cancel buttons there.
![image](https://user-images.githubusercontent.com/1662329/98701282-66582600-2379-11eb-9a2e-9070a089b45c.png)

[2020-11-10 16:36] jshaughn commented on #3173
I disagree.  It serves multiple purposes.  It allows for batch updates, which is a big win over today's immediate reaction to every click, which I find to be horrible usability.  Also, it gets rid of the dropdown, which today already requires a click and so you are actually not adding more clicks.

[2020-11-10 16:45] lucasponce commented on #3173
I disagree with your disagreement :).

I think you can implement same behaviour you are talking about playing a little bit with the existing components.

I'm -1 to put a ok/cancel button, it looks very bad.

But, if you want to implement a batch behaviour you can play with the focus or closing event of the dropdown.

[2020-11-10 16:47] jshaughn commented on #3186
Because it's the purpose of the Overview page, which is similar in terms of performance.

I had limited my proposal to graph and list pages, and left Overview for discussion,

I meant that like the graph, no namespaces are selected by default, the user selects them at runtime via the Namespace selection dropdown.  Note that of course the graph honors namepaces already explicitly selected in the UR

[2020-11-10 17:28] jshaughn commented on #3173
Time to call in UX :-)  cc @lwrigh , any guidance here?

[2020-11-10 18:34] lwrigh commented on #3173
The filter should be automatic so there's no need for the cancel/ok buttons on the filter dropdown. The dropdown should disappear once the user clicks on the filter again or outside of the filter dropdown.

For components to reference, I would take a look at the filter chips since you can easily clear those: https://www.patternfly.org/v4/guidelines/filters/design-guidelines/#filter-chips

Bulk sel

[2020-11-10 18:47] jshaughn commented on #3173
@lwrigh OK, so you are saying there is no need for a "Cancel" feature and that all selections should simply be applied when the user clicks outside (or hits Escape)?

[2020-11-10 19:12] lwrigh commented on #3173
Yeah there's no need for the cancel button on it. Yes whichever selections the user makes should be applied even after the user clicks outside of the dropdown or hit escape.

[2020-11-10 19:51] #3410 closed

[2020-11-10 21:58] israel-hdez commented on #3410
@sandmule The fix is released in 1.26.1.
If you use helm, charts are still pending. They should be ready soon.

But if you are using the operator (the recommended way) all is ready.

[2020-11-10 23:40] jshaughn commented on #3173
@lwrigh OK, thanks.  Goodbye buttons...

[2020-11-11 07:58] lucasponce commented on #3173
I don't get why to use the same checkbox to an action and value, the "select all" / "clear all" is confusing to me.
Also it pushes the find textinput to the left looking less balanced.

I think you could use the same pattern
![image](https://user-images.githubusercontent.com/1662329/98784836-fccd2b80-23fb-11eb-86ae-dc00598a15a8.png)

But with the considerations of batch update

[2020-11-11 09:42] lucasponce opened #3422 "Consolidate k-charted into kiali repo"
Proposal discussed here:
https://groups.google.com/g/kiali-dev/c/vI-Kg8gXBgs

[2020-11-11 14:19] lwrigh commented on #3173
![Kiali- Namespace selector](https://user-images.githubusercontent.com/20227374/98822435-db217380-23fe-11eb-96f9-d9bf3dae665d.png)

I would suggest just doing something like this. It should be obvious enough to the user that they can select the 'Select all' checkbox to select and deselect all the namespaces. It's a pretty common interaction.

[2020-11-11 14:54] jshaughn commented on #3173
@lwrigh OK, I'll make that change.   I had originally kept it up with the filter text box because I was following [the PF bulk selector pattern](https://www.patternfly.org/v3/pattern-library/forms-and-controls/bulk-selector/index.html).  @lucasponce the bulk selector checkbox is pretty common and seems to be the PF way, as well.  Laura's approach is a modification that seems well-suited to this us

[2020-11-11 16:00] JuanSeBestia commented on #3318
I have the same issue for me, also I'm using anonym user in gke, maybe I should try with token auth to see if change

Kiali UI 1.26.0 (35e2d8b075bd5c4bcc3f315aef9e6144aad0b608)
Kiali Server v1.26.1 (0cf243d730d45cd16e254e2c8d4d2a0ac0cf5222)
Kiali Container v1.26.1
Components
Istio 1.7.4
Prometheus 2.18.2
Kubernetes v1.17.12-gke.1504

[2020-11-11 16:17] xeviknal commented on #3318
Hello @JuanSeBestia!
Adding you a couple of questions for me better understand which point are you at.

- Could you tell me how did you install kiali? In case you recently updated it, which method did you follow?
- Do you mind pasting your kiali clusterrole? `kubectl get clusterrole -n istio-system kiali -o yaml`
- Could you please share with us the logs of kiali?

Let's try with this intuition: t

[2020-11-11 16:17] lucasponce commented on #3173
@lwrigh +1 :)

[2020-11-11 16:28] JuanSeBestia commented on #3318
@xeviknal thanks for your suggestion :)
Let me work on another task to move into this (maybe tomorrow).

[2020-11-11 19:29] jshaughn commented on #3173
Latest revision... note also a proposed simplification of the button label when there are multiple namespaces. Instead of:
"Namespace: 4 namespaces" it is just "[4] Namespaces".  Also, in the dropdown the namespace names are no longer emphasized, as in Laura's mocks.  I think it is cleaner and more consistent with other dropdowns.

![kiali#3173-3](https://user-images.githubusercontent.com/2104052/

[2020-11-11 19:40] lwrigh commented on #3173
The update is looking good @jshaughn! Instead of showing the [4] when multiple namespaces are selected, I would recommend using a badge to show the number. You can see an example of that type of filter here: https://www.patternfly.org/v4/components/toolbar/react/#with-filters

Here's the link to the individual badge component: https://www.patternfly.org/v4/components/badge/

[2020-11-11 19:54] jmazzitelli opened #3424 "kiali-ossm golden copy has wrong link in description"
The kiali-ossm CSV refers to the v1.12 kiali_cr.yaml example - it should refer to the v1.24.

So we just need to fix this link:

https://github.com/kiali/kiali-operator/blob/master/manifests/kiali-ossm/manifests/kiali.clusterserviceversion.yaml#L118

[2020-11-11 21:55] jshaughn commented on #3173
@lwrigh Yes, that's better:

![image](https://user-images.githubusercontent.com/2104052/98868813-b816b400-243e-11eb-8c25-380be071a304.png)

![image](https://user-images.githubusercontent.com/2104052/98868679-8271cb00-243e-11eb-9f86-2672c1e5abe9.png)

[2020-11-12 05:53] ediezh opened #3426 "Issue integrating with existing jaeger"
**General remarks**

**Describe the bug**
Kiali failed to fetch trace from external Jaeger.

<img width="484" alt="Screen Shot 2020-11-12 at 4 48 47 pm" src="https://user-images.githubusercontent.com/15918714/98901041-21fa9080-2507-11eb-81cf-31adb5649aa6.png">

**Versions used**
Kiali: 1.26
Istio: 1.70
Kubernetes flavour and version: EKS 1.16

**To Reproduce**
Steps to reproduce the behavior:
1. C

[2020-11-12 09:30] jotak commented on #3422
Hi @jadeyliu939 ,
So our k-charted lib will be moved, integrated into Kiali. Can you just confirm it will have no impact on iter8 (said differently, you are not consuming directly the k-charted lib) ? As far as I know there shouldn't be any impact.

[2020-11-12 12:20] #3293 closed

[2020-11-12 13:04] lwrigh commented on #3173
That's looking good to me @jshaughn !

[2020-11-12 16:46] JuanSeBestia commented on #3318
@xeviknal

1. Installation
[code]

[code]

2. Role

[code]
3. relevant log

[code]

[2020-11-12 16:57] JuanSeBestia commented on #3318
@xeviknal in this installation, I created a new cluster with these resources, so the issue with the update would not happen.

I will change to token auth and then updating the version of kiali

[2020-11-12 17:07] JuanSeBestia commented on #3318
I change to token accesss and not work

[2020-11-12 21:05] jmazzitelli commented on #3424
* PR: https://github.com/kiali/kiali-operator/pull/196
* backport PR: https://github.com/kiali/kiali-operator/pull/197

These not only change the link but also tweaks the description in the CSV.

[2020-11-12 21:09] jshaughn opened #3430 "[multi-cluster] Investigate graphical mesh view"
Epic: https://github.com/kiali/kiali/issues/1833

A mesh can involve multiple networks, clusters, namespaces, and services.  #3413 involves the discovery of the mesh components.  Kiali needs to expose that information in at least one, but possibly mutiple ways (list view, graphical view, embedded within other pages...).  This is to investigate the feasibility and usefulness of a graphical view.

T

[2020-11-12 22:08] JuanSeBestia commented on #3318
I update the kiali-operator from 1.24.0 -> 1.26.1 with auth:anonymous

Now it works  🎉

[2020-11-12 22:14] #3424 closed

[2020-11-12 22:15] #3111 closed

[2020-11-13 10:47] xeviknal commented on #3318
`I update the kiali-operator from 1.24.0 -> 1.26.1 with auth:anonymous`
Here's the point. Using a different operator version than the kiali version might lead to problems like this one.

Glad it is working for you! Don't hesitate to reach us whenever you have a problem!

[2020-11-13 19:42] pbajjuri20 opened #3431 "UI bug : Distributed Tracing Arrow is Overlapped by Right side panel"
UP-arrow inside the square box is overlapped by the Right side panel in the Kiali-UI.

It is the right side of "Distribution Tracing" (left panel)  in Kiali- UI

Bug screen-shot:

![ui bug](https://user-images.githubusercontent.com/55099523/99113821-dfe05600-25bd-11eb-8c88-c1cf8025c63b.png)

Expected:

![ui bug 2](https://user-images.githubusercontent.com/55099523/99113902-fc7c8e00-25bd-11eb-8b2c-

[2020-11-13 19:46] pbajjuri20 commented on #3431
Versions used:

Kiali UI - 1.27.0-edge (52b209295635272440fd0e32f7ff958a8315a2e1)

Istio - 1.7.4

[2020-11-14 01:48] jmazzitelli opened #3433 "need to create NetworkPolicy when deploying dev builds inside a Maistra environment"
When in a Maistra environment, Maistra creates a NetworkPolicy named `istio-mesh-full` that restricts access to pods within the control plane namespace. When our makefile or molecule tests create a Kiali deployment (which is done outside of Maistra/OLM), the Maistra NetworkPolicy forbids access to that Kiali deployment. So we need to create our own NetworkPolicy to enable access to our dev deploym

[2020-11-14 04:54] fai555 opened #3434 "ServiceEntry does not appear in Graph for Nginx proxy_pass"
I am not sure if this is some new feature request or it's already available.

I deployed an Nginx as a Deployment. This Nginx contains hundreds of proxy_pass rules for a variety of internal and external services. The kubernetes cluster also contains Istio 1.7.3 and it routes traffic to the Nginx deployment. In this case Nginx is just proxy_ passing.

Since the Nginx was proxy_passing to other serv

[2020-11-16 09:08] #3265 closed

[2020-11-16 10:28] #3173 closed

[2020-11-16 14:20] cfcosta commented on #3262
So, I've did some testing here, both with DeX and Google OIDC and could not replicate the problems here. I did get a `{"error":"Cannot view any namespaces. Please read Kiali's RBAC documentation for more details."}`, which I resolved just creating a role binding.

I'll keep this open in case you or someone else finds a small, reproducible test case that we can check again.

[2020-11-16 17:48] aljesusg opened #3435 "Improve health configuration by annotations in the UI"
Related with: https://github.com/kiali/kiali/issues/3332

- [ ] Show warning message when the configuration is incorrectly
- [ ] Let create/change/remove configuration in the UI like Istio Wizards

[2020-11-16 19:33] cfcosta opened #3436 "Add timeouts on Prometheus calls"
Related to #3406 and #2905.

Because it is a problem in other cases, we should also verify if there is a reliable and consistent way to add timeouts to Prometheus calls, and possibly check for leaks in the process.

With an structure for timeouts in place, we can then understand how to use it effectively.

[2020-11-17 00:37] jmazzitelli commented on #3433
PRs for this issue:
* https://github.com/kiali/kiali/pull/3432
* https://github.com/kiali/kiali-operator/pull/198

[2020-11-17 07:52] #3353 closed

[2020-11-17 09:34] lucasponce opened #3437 "Align List pages with Namespace selector logic on empty selection"
Graph and List pages differ in semantic of namespace selection.

When no namespace selected, graph shows an empty page meanwhile that list pages perform a "select all".

Now that "select all" is a explicit option due https://github.com/kiali/kiali/issues/3173 it makes sense to align that with list pages.

So, nothing will change, the user will be able to "select all" but behaviour will be the same

[2020-11-17 10:04] #3422 closed

[2020-11-17 11:30] aljesusg opened #3438 "Update Tracing kiali.io images with the latest changes"
Images in https://kiali.io/documentation/latest/distributed-tracing/ are not updated with the last improvements

[2020-11-17 14:36] jshaughn commented on #3437
I think this is a good behavioral change.  This will protect users from an unwanted query of all namespaces when arriving on a list page no namespaces selected.   And for when namespaces are selected the behavior will be unchanged from today.

[2020-11-17 14:47] jshaughn commented on #3434
There are a variety of things that could be an issue.  First, ensure the service entry is defined in a namespace accessible to the user.
 Second, ensure that istio is generating the telemetry you expect in prometheus.  And third, it's simply possible that you you've hit on a use-case not yet handled, as the host-based discovery of service entries is not always straighforward.

[2020-11-17 15:02] #3433 closed

[2020-11-17 16:44] jshaughn opened #3439 "[multi-cluster] incorporate *_cluster_name attributes into graph"
Epic: #1833

Istio has introduces source_cluster_name and destination_cluster_name to better identify cross-cluster request traffic.  These attributes are set when the cluster is explicitly identified in the mesh.   For example, when istalling istio, if you use istioctl, set these flags to the values that make sense:

--set values.global.meshID="mesh1"
--set values.global.multiCluster.clusterName=

[2020-11-17 16:50] jmazzitelli commented on #3439
As part of this, we should add those optional settings to our install-istio-via-istioctl hack script.

[2020-11-18 08:53] jotak opened #3441 "Represent spans relationships"
**Problem to solve**

Currently, spans are displayed as a flat list in the tracing view.

Since spans can have run in parallel and have multiple children, it is not obvious from that view to know which span results from which other one. In fact it is sometimes impossible.

In this example, I drew an arrow to show a relationship:
![Capture d’écran de 2020-11-18 09-36-24](https://user-images.githubu

[2020-11-18 09:44] jotak commented on #3279
Considering the work that has been done with the metrics-based comparison on spans and the heatmap, perhaps we can revisit this task.

In another discussion, @lucasponce suggested to have a comparison heatmap per trace, directly in the chart tooltip.
I guess it ties up with the comparison chart that we want here.

So my proposal is:
- To create a heatmap per trace that would replace or complement

[2020-11-18 09:48] jotak opened #3442 "Make heatmap available for custom dashboards"
cc @jadeyliu939 - https://github.com/iter8-tools/kiali/issues/23

[2020-11-18 11:48] jmazzitelli opened #3443 "recent change to metrics API broke a molecule test"
This [PR](https://github.com/kiali/kiali/pull/3427) broke a test: https://github.com/kiali/kiali/commit/5977f7cc09832f6311e8aee588363a2f9ba90326#diff-24a34c7511206d131df094cb72396e51be6d90838b65bdef29297b4c3afdce38L112-R130

Need to fix this: https://github.com/kiali/kiali-operator/blob/v1.26/molecule/api-test/metrics.test.yaml#L17-L22

Run this to see the failure (assumes you have a minikube clus

[2020-11-18 11:51] jmazzitelli commented on #3443
Here's an example of the test failure:

[code]

[2020-11-18 15:11] #3420 closed

[2020-11-18 15:12] #3443 closed

[2020-11-18 20:16] jmazzitelli opened #3445 "kiali.io build is broken - no updates can be built/deployed to kiali.io"
see: https://app.netlify.com/sites/kiali/deploys

[code]

I don't know who owns [this Google doc](https://docs.google.com/spreadsheets/d/e/2PACX-1vQEuJ1_zcsbU5f0wdsZ5ytwyV5h3Q9ufHdc4rqEGnqBvlBNANKqwYyV8YxXJ9qj2gxBzuSMc4zvao5R/pub?gid=0&single=true&output=csv&ts=2676216), but it appears it no longer contains a CSV that can be accessed.

[2020-11-18 20:19] jmazzitelli commented on #3445
This was added here: https://github.com/kiali/kiali.io/commit/ff2d6f8feb7030fd10e48a67f8ff3bdea929bb77

cc @xeviknal

[2020-11-18 20:51] harpratap opened #3446 "Unable to install any recent Kiali operator version using Helm"
**Describe the bug**
I am unable to install the latest versions of Kiali operator using Helm, it always installs v1.23.0 regardless of whatever version I pass in `--version` flag.

**Versions used**
Kiali: Latest
Istio: 1.7.4
Kubernetes flavour and version: Kind
Helm: version.BuildInfo{Version:"v3.4.1", GitCommit:"c4e74854886b2efe3321e185578e6db9be0a6e29", GitTreeState:"clean", GoVersion:"go1.14.1

[2020-11-18 21:46] jmazzitelli commented on #3446
If I dump the template using "helm3 template" I see 1.26.1 as expected:

[code]

[2020-11-18 21:48] jmazzitelli commented on #3446
@harpratap is your helm cache out of date? Try to run `helm3 repo update`

[2020-11-18 21:52] jmazzitelli commented on #3446
Also - 1.26.1 is published - so there must be something wrong on your client side. Everything looks good over here. If I look at: https://kiali.org/helm-charts/index.yaml it shows:

[code]

[2020-11-18 23:42] mtho11 commented on #3445
I just ran into this as well with my PR: https://github.com/kiali/kiali.io/pull/329

[2020-11-19 05:24] harpratap commented on #3446
@jmazzitelli  Sorry about that, helm was picking the chart from a similarly named folder in my local

[2020-11-19 05:24] #3446 closed

[2020-11-19 09:53] xeviknal commented on #3445
Google drive has changed the permissions of that document without notifying. I've re-opened to public.
However I don't like the solution, because in 4 month, google might move it to private.
I need to re-think how to implement that or if it is worth to have that section in the web.
I've created a test pr and I see it is working back. I've also shared with you guys the document, just in case.

[2020-11-19 09:55] jmazzitelli commented on #3445
Yeah, I agree to move off Google docs as the solution here. Can you put that file somewhere in kiali.io and just refer to it via a github.com URL instead? That way it is in kiali.io git source control and easily referenced via the github URL.

[2020-11-19 10:39] xeviknal commented on #3445
Moving it into the repo is quite the same as put it directly as html. The idea behind having it into google docs is because the csv is fed from a Google form. So this way we would fetch the latest events in each deploy automatically. That was the whole point.

I guess that the best way then, it is to move this to html and remove the dynamism. It is a bit of going backwards though.

[2020-11-19 14:29] lucasponce commented on #3437
Once that https://github.com/kiali/kiali-ui/pull/1992 is merged, I think this one is very minor and can be added easily within the current Sprint.

So, then it will consolidate the change in the same https://github.com/kiali/kiali/issues/3173 release.

[2020-11-19 18:34] israel-hdez commented on #3409
This is targeting `multi-cluster` feature branches on the repositories.

Front-end PR: https://github.com/kiali/kiali-ui/pull/2000
Back-end PR: https://github.com/kiali/kiali/pull/3413

Both have been merged. Closing this issue.

[2020-11-19 18:34] #3409 closed

[2020-11-19 18:35] mtho11 commented on #3445
Looks like we are fixed now right?
I re-pushed my changes and everything went well.

[2020-11-19 19:21] israel-hdez opened #3448 "[multi-cluster] Find/Resolve the networks in the mesh"
In order to have a some understanding about how is the structure of the mesh, it is _desirable_ to gather what are the networks involved in the mesh.

In kiali/kiali#3409, cluster discovery was introduced. This data is complemented with the list of networks. When clusters are in the same network, their pods can communicate directly. In contrast, when clusters are in different networks, theirs pods

[2020-11-20 08:20] hhovsepy opened #3449 "Traffic tab crash for service and workload for error-rates project"
Happens only when deploying error-rates project.
Go to alpha or beta namespace's any workload or service details.
Click on Traffic tab. Page crashes. No error in logs.

[2020-11-20 08:41] jotak commented on #3279
(starting to investigate on this...)

[2020-11-20 08:43] lucasponce commented on #3449
I can't see it on master right now, perhaps it's due some testing in other WIP branch ?

[2020-11-20 08:44] lucasponce commented on #3279
+1 to both

[2020-11-20 08:53] jotak commented on #2776
I've added a new task under this epic: #3279 (showing traces heatmap)
Once this is done I want to write a comprehensive blog post to recap all the tracing things done in Kiali since my previous post on that subject [1] which is almost one year old.

But then perhaps it is also time to close this epic? Because it's kind of a never-ending thing, we will keep improving traces anyway (with or without

[2020-11-20 09:09] lucasponce commented on #2776
Yes, I agree. The Epic makes sense when we want to start a big effort that require some subtasks (and some coordination).

I guess for this area we are in a stage that we can move to more individual/regular issues within an area as other.

Later today I'll prepare the Sprint 49 and I'll revisit this.

[2020-11-20 09:10] lucasponce commented on #2776
But before to closing, we can discuss on next Scrum with @aljesusg because we have other subtasks there.

[2020-11-20 09:12] lucasponce commented on #2776
subtasks will be necessary, because those helps to visualize the progress of an epic.
I don't see a real burden if those are necessary, if you compare with other systems JIRA, I'm sure you'd prefer to have a subtask in a github issue :)

[2020-11-20 10:18] jotak commented on #2776
You're right, sorry, I've got a couple of tasks that I would like to rule out from this epic, and there's also these two from @aljesusg :
- https://github.com/kiali/kiali/issues/2707
- https://github.com/kiali/kiali/issues/2708
About the second one, there's been a lot of discussions and I'm not sure exactly where we stand today, if this is still to be done here, as it crossed the "alerting" story

[2020-11-20 10:21] lucasponce commented on #2776
Let's discuss them on next Scrum meeting, I'm fine to refine them and probably move them for better clarity (perhaps we need to create an epic about health config and that can be the context).

[2020-11-20 11:28] #3437 closed

[2020-11-20 14:01] hhovsepy opened #3450 "Last selected trace is kept selected in Tracing view"
When there was a trace selected, and we move to another workload without traces, still the previous selected trace remains in spans:

![Screenshot from 2020-11-20 14-53-34](https://user-images.githubusercontent.com/604313/99808406-162f4f80-2b41-11eb-8c1d-9e937372d6aa.png)

[2020-11-20 14:33] hhovsepy commented on #3449
Cannot see this anymore after recent merges to master.

[2020-11-20 14:33] #3449 closed

[2020-11-20 15:30] eperdeme opened #3451 "Ability to set https_proxy on Kiali instances spawned by the operator"
**Describe the bug**
My Kiali instance has no direct internet access and so must send any request destined for the internet via proxy servers.
When enabling OIDC Kiali needs to fetch information from the OIDC provider such as .well-known/openid-configuration

I can not find a way to specify a proxy server to use for kiali. I can set ENVs for the operator pod via the helm chart, but I don't see a w

[2020-11-20 15:37] eperdeme commented on #3451
Oh it seems to be same as this persons issue;
https://groups.google.com/g/kiali-users/c/aqe0yaw6_1I

[2020-11-20 16:03] lucasponce commented on #3350
Fixed by https://github.com/kiali/kiali-ui/pull/1992

[2020-11-20 16:03] #3350 closed

[2020-11-20 16:18] jshaughn commented on #3451
@cfcosta talk to @israel-hdez for more info, if necessary.

[2020-11-20 19:02] jshaughn commented on #3290
Closing as the dev api doc is removed from the web site.  Will open a new issue for the dev doc for gh.

[2020-11-20 19:02] #3290 closed

[2020-11-23 09:15] xeviknal opened #3453 "data race - istio status scenarios"
Running `make test-race` it randomly gets the following data race:

[code]

[2020-11-23 09:23] jotak commented on #3453
BTW the logs show a stack trace that is unrelated to the test it claims has failed, I guess this is because the "test-race" job isn't accurate and reliable about the test that actually fails?
(Here test `TestCustomDashboardsMainPrometheus` does *not* call `addAddOnRoute`, if I'm correct)

[2020-11-23 11:17] #3453 closed

[2020-11-23 11:53] abonas opened #3455 "Kiali.io links to videos need some refactoring"
Epic: https://github.com/kiali/kiali/issues/4118

Kiali.io website currently has 3 sections with videos:
Getting started videos, latest videos, sprint demo videos.
Seeing those 3 sections requires a lot of scrolling and I doubt if users get to see all of the sections. (and there is a big white space between them as well).
also, Latest videos probably doesn't contain correctly the latest videos bec

[2020-11-23 13:02] #3450 closed

[2020-11-23 14:18] #2518 closed

[2020-11-23 14:45] bethmage commented on #2905
Kiali operator  version 1.26.1 istio v1.7.5 on K8s 1.18.10
and oidc is Set-up with no RBAC support.

After successfull login with oidc
Your session is will expire in 60 seconds popup is shown after 180 seconds.
It is possible to login again and same happens !

Is some way to configure the session-timeout in kiali ?
<img width="600" alt="Screenshot 2020-11-23 at 15 03 28" src="https://user-images.g

[2020-11-23 15:32] israel-hdez commented on #2905
The session timeout is given by the OpenId Server. You need to ask to your OIDC Server admin to extend the session timeout.

Out of curiosity, what OIDC server are you using?

[2020-11-23 16:33] #3406 closed

[2020-11-24 03:03] zackzhangkai opened #3459 "Install kiali failed"
**General remarks**

**Describe the bug**
1. Install kiali operator

[code]

2. apply kiali-cr

[code]

The kiali pod crashed, the logs is as follows:

[code]

[2020-11-24 03:42] suryaoruganti commented on #3419
I'm trying to run kiali using the operator install and NOT through a CLI. I get the same issue. Any thoughts on how to fix this?

The Operator is installed with `helm upgrade --install kiali-operator kiali/kiali-operator -n tools`
When I install Kiali using the CR, the pod dies with the same error.
`kubectl -n tools apply -f kiali_cr.yaml`
`kubectl -n tools logs kiali-d4fd4f749-hv5qs` gives

Here

[2020-11-24 05:46] suryaoruganti commented on #3419
Looks like it is an issue with the version of the helm release. Even after a helm repo update, the chart version shows 1.26.1.
A manual override of the image tag in the helm operator version to v1.27 followed by plugging in the kiali_cr spec as a part of the values file passed to the operator solved the problem for now.

[2020-11-24 06:41] shinynz commented on #3459
![image](https://user-images.githubusercontent.com/15795798/100057726-fced1280-2e62-11eb-9f7c-dbd09e5cd0e5.png)
I also encountered this bug

[2020-11-24 07:52] Crayeth commented on #3459
same for me

[2020-11-24 08:01] jotak commented on #3459
I'm not totally sure, but it seems like the latest release (1.27) did not land correctly on helm charts repo (ping @jmazzitelli @israel-hdez  ?)
I guess, as a workaround, you could ask explicitly to install 1.26.1 in the meantime (and we'll figure out what happened with 1.27).

In Kiali CR, add:

[code]

[2020-11-24 08:01] taisph commented on #3459
Adding `--set cr.spec.deployment.image_version=v1.26.1` to the helm install should keep it at that version.

[2020-11-24 08:02] Crayeth commented on #3459
im getting the problem with 1.26.1.

[2020-11-24 08:04] jotak commented on #3459
Same problem? I just tested locally, it was fine

[2020-11-24 08:10] Crayeth commented on #3459
ah right hadnt noticed the kiali image was different from that of the operator. explicitly setting it for the CR to 1.26.1 as suggested also fixed it for me.

[2020-11-24 08:40] jotak commented on #3419
@suryaoruganti Yes you're correct, the workaround is to use v1.26.1 for Kiali image version until this is solved. See also https://github.com/kiali/kiali/issues/3459

[2020-11-24 09:26] zackzhangkai commented on #3459
still get the problem

My cr:

[code]

[code]

[2020-11-24 09:53] lucasponce commented on #3459
Not sure if related, I guess the manifest for 1.26.1 may be missing
https://github.com/kiali/kiali-operator/tree/master/manifests

[2020-11-24 10:00] jmazzitelli commented on #3459
FYI: the latest Kiali release introduced a new logger in the server. There is no longer a valid "-v" option (we no longer use glog). If you are using an older operator, it will not install the latest Kiali server. You must upgrade to the latest 1.27 operator to install the latest 1.27 kiali server, or you must tell the older operator to install the older Kiali server via spec.deployment.image_vers

[2020-11-24 10:04] jmazzitelli commented on #3419
For some reason, our release jenkins job failed to merge this - I just did, and now 1.27 helm chart should be available. https://github.com/kiali/helm-charts/pull/19

[2020-11-24 10:07] jmazzitelli commented on #3459
right - for some reason our release jenkins job did not merge https://github.com/kiali/helm-charts/pull/19 - I just did and now 1.27 helm charts are published.

[2020-11-24 12:39] FilipB commented on #2905
I see this error in the latest production SM:
[code]
I'm able to reproduce it using multiple bookinfo apps. With 16 bookinfo apps I can see the memory consumption of kiali pod to grow steadily until it reaches ~3GB. I can also see that number of open files (`lsof | grep kiali | wc -l`) on OCP node which is running the kiali pod is growing for the kiali process and containing hundreds of thousands

[2020-11-24 12:48] FilipB commented on #2905
Also `netstat  -plant | grep ESTABLISHED | wc -l` on the OCP node running kiali is only showing: 33 so it seems it's not caused by leaking TCP connections.

[2020-11-24 13:33] bethmage commented on #2905
@israel-hdez, Thank you.
I use Keycloak v 11.0.2 as an IDP.

I assumed it was the keycloak **SSO session idle** value in REALM and it is set to 30 Minutes.
For Authorization Code Flow, the value in **Access Token Lifespan** is relevant and was only 5 minutes.
Increasing the Access Token Lifespan in keycloak client Advance setting solved the problem.

sorry, this blog may not be the right place for

[2020-11-24 14:14] jmazzitelli commented on #3459
I think we can close this - the helm chart is now published

[2020-11-24 14:38] jmazzitelli opened #3460 "multi-arch builds for the operator"
Similar to what was just [done for the server (PR 3405)](https://github.com/kiali/kiali/pull/3405), we would like the operator makefile infrastructure to produce a multi-arch build. We do not want to publish multi-arch images until we have all of Kiali (server and operator) available with multi-arch images.

We did some preliminary work in this area a few months ago when we got the makefile infras

[2020-11-24 14:38] jmazzitelli commented on #3460
_(Note: the Kiali team is currently not prepared to support users of these multi-arch images on anything other than amd64 hardware. Users will be able to look to the community for this support.)_

[2020-11-24 14:52] #3459 closed

[2020-11-24 14:57] lucasponce opened #3461 "Traces query failed from Graph"
![image](https://user-images.githubusercontent.com/1662329/100110572-670ab500-2e6d-11eb-9d97-5a3fc6cacb31.png)

How to reproduce, follow the istio.io task with minikube + Istio 1.8 on [1].

I guess it's related to ServiceEntry use here, so I suspect if perhaps traces should be disabled in that scenario or simply to not fail in a 404 not found on this case.

[1] https://istio.io/latest/docs/tasks/t

[2020-11-24 15:57] israel-hdez commented on #2905
@bethmage No problem. Happy to know it's fixed.

[2020-11-24 16:02] israel-hdez commented on #2905
@FilipB I'm checking the git history, and this fix landed upstream in v1.24.3.
I remember @jmazzitelli sending the notification of the builds, but AFAIK it's only unsigned. Perhaps, mazz can comment if 1.24.3 will be fully ready soon.

[2020-11-24 16:08] morlay commented on #3460
@jmazzitelli I create a PR to support this.

 really hope kiali official could publish multi arch images. just for release.

[2020-11-24 16:38] #3460 closed

[2020-11-24 16:47] jmazzitelli opened #3463 "publish multi-arch server and operator images to quay.io"
Two community contributions were made recently that provide the ability for the makefile infrastructure to build and push to quay.io multi-arch images of both the [server](https://github.com/kiali/kiali/pull/3405) and the [operator](https://github.com/kiali/kiali/pull/3462).

We need to confirm we can build these multi-arch images successfully via Jenkins and if so push them to quay.io during our

[2020-11-24 18:17] jmazzitelli commented on #3463
I briefly looked at the Jenkins build script, and I think these are places we need to touch.

1. https://github.com/kiali/kiali/blob/v1.27.0/deploy/jenkins-ci/Makefile#L139
Should call the two new targets to build and push the multi-arch image:
[code]
2. https://github.com/kiali/kiali/blob/v1.27.0/deploy/jenkins-ci/Makefile.operator.jenkins#L103
Should call the new target to push the multi-arch im

[2020-11-25 01:19] morlay commented on #3463
instead of `docker tag && push`, multi tags could be pass

https://github.com/kiali/kiali/blob/v1.27.0/deploy/jenkins-ci/Makefile#L143-L145
[code]

https://github.com/kiali/kiali/blob/v1.27.0/deploy/jenkins-ci/Makefile.operator.jenkins#L107-L109
[code]

[2020-11-25 06:59] jotak commented on #3461
I'll run this scenario, not sure why it would fail to query (instead of just showing 0 trace). That's the first issue.
And I don't know about showing the traces tab when a service entry is selected. Probably most of the time it won't show anything... unless the user happens to create traces with the same service name as this service entry.

[2020-11-25 09:17] lucasponce commented on #3461
Yes, my expectation would be to not fail on empty traces, I can reproduce with the electronic-shop demo as well:

![image](https://user-images.githubusercontent.com/1662329/100207008-5e66bd00-2f07-11eb-8137-088bce38b21a.png)

Perhaps here user would expect to deal with the 404 in a silent way, because it's not an error per se, just empty results, I think.

[2020-11-25 09:44] lucasponce opened #3465 "Graph crash when selecting new namespaces"
I got this one:
![image](https://user-images.githubusercontent.com/1662329/100210326-2a8d9680-2f0b-11eb-9dc7-4acb41cfd7d2.png)

In a pretty basic scenario:
- Install travels demo.
- Select travel-control namespace.
- Change and select travel-portal, wait a couple of minutes and I got this.

[2020-11-25 09:45] lucasponce commented on #3465
I'm going to investigate it but if this bug is in the radar of anyone, just let me know to transfer it.

[2020-11-25 09:48] lucasponce commented on #3465
A first thought is that it may be a race condition when auto-refresh is on and the namespace selector is still open.

[2020-11-25 12:26] FilipB commented on #2905
@israel-hdez Thank you Edgar. I tried current master and it's working fine. Memory is not growing. I will also try v1.24.3 and file downstream issue if it's still visible there.

[2020-11-25 12:51] khankth opened #3466 "Kiali OpenID unable to use signing_key from Kubernetes secret"
If the signing_key is defined as k8s secret, the kiali OpenID page does not proceed after clicking on "Login with OpenID", following is logged in kiali container:

[code]

Signing_key is defined as k8s secret:
`kubectl create secret generic kiali-oidc-signingkey --from-literal="oidc-secret=<20 chars>" -n ns `
The signing_key is defined according to defined format in docs, in the kiali configmap as

[2020-11-25 12:54] lucasponce opened #3467 "Fix bypassed queries to kubernetes Services"
There are some queries that bypass the kiali cache and it performs unnecessary calls to the k8s API when the same object is already cached and available.

[2020-11-25 12:56] FilipB opened #3468 "Kiali reconciliation is stuck"
**Describe the bug**
Kiali operator is stuck in endless loop after adding 30 bookinfo application namespaces to accessibleNamespaces.

**Versions used**
[code]
Kubernetes flavour and version: (e.g. OpenShift Origin 3.9)
OCP 4.6

**To Reproduce**
Steps to reproduce the behavior:
1. Install Istio 1.8 and the latest kiali operator (from master branch) with the latest kiali (from master branch).
2. In

[2020-11-25 13:00] FilipB commented on #3468
So the eventually it's finished:
conditions:
    - ansibleResult:
        changed: 0
        completion: '2020-11-25T12:53:32.478204'
        failures: 0
        ok: 507
        skipped: 101
      lastTransitionTime: '2020-11-25T10:22:46Z'
      message: Awaiting next reconciliation
      reason: Successful
      status: 'True'
      type: Running

It just runs very long time.
@jmazzitelli could y

[2020-11-25 14:13] jmazzitelli commented on #3468
For the record, it is `spec.deployment.accessible_namespaces` not `spec.deployment.accessibleNamespaces`

I'm not sure what to say - if it finishes completely and successfully, then it is working right?

If the problem is it took "a long time" - define "a long time". Remember that the Kiali Operator is implemented in Ansible, and Ansible playbooks are definitely going to take longer to do the work

[2020-11-25 14:22] jmazzitelli commented on #3468
Logs show the expected initial two runs for the reconciliation (it initially runs a second loop due to a quirk in the way the SDK reports dependent resource changes and how the operator needs to generate a random signing key - you will always get two reconciliation runs when you first create the Kiali CR).

The first took 533 seconds to complete, the second 614 seconds.  So it needed roughly 9 to

[2020-11-25 14:22] #3468 closed

[2020-11-25 14:26] jmazzitelli opened #3469 "[operator] analyze performance of the operator and see if we can speed it up"
The Kiali Operator is implemented in Ansible. Ansible operators are, by their very nature, slower than Go-based operators. However, we should examine the Ansible playbooks and see if there are ways in which we can refactor them in order to speed up the operator so its reconciliation loops are faster.

[2020-11-25 14:26] jmazzitelli commented on #3468
FYI: I created this: https://github.com/kiali/kiali/issues/3469

[2020-11-25 15:25] jotak commented on #3279
I'm in the middle of the process, I'd appreciate to get some feedback before going further.

So far I have the metrics-based comparison matrix similar to the one in the spans table.
And I've added a 2x2 matrix that replaces the current textual information that we have, comparing the selected trace with all traces displayed on screen, including a subset of similar traces (here's two examples) :

![

[2020-11-25 15:41] jotak opened #3470 "[a11y] Color-blind heatmaps"
Investigate a solution for colorblind-friendly heatmaps.
Could be a setting in pages where heatmaps are displayed, to turn-on colorblind mode (and store that in local storage); when the mode is active, heatmaps are in greyscale or other color sets

see also https://wistia.com/learn/culture/heatmaps-for-colorblindness

cc @lwrigh

[2020-11-25 16:24] jmazzitelli commented on #3466
You must install Kiali server via the Kiali operator in order to use the "secret:" notation for the signing key.  The [documentation for this "secret:" notation is located in the Kiali CR example file](https://github.com/kiali/kiali-operator/blob/v1.27.0/deploy/kiali/kiali_cr.yaml#L685-L693) - it is only applicable within the Kiali CR/operator installation mode. More specifically, if you installed

[2020-11-25 16:36] khankth commented on #3466
Thanks @jmazzitelli for quick feedback!

The installation is done through istioctl(not operator) e-g.
`    istioctl install -f profile/${CLUSTER}/custom-profile.yaml --kubeconfig=${K8S_CONFIG_FILE}`
This then mean we cannot use the k8s secret with our current installation mode.

We do not have the env var **LOGIN_TOKEN_SIGNING_KEY** defined. Perhaps, we can work it around by defining the env var i

[2020-11-25 17:23] jmazzitelli commented on #3466
Yes. If you manually inject that env var into your Kiali deployment (with the secret ref as I indicated in my previous comment), it should take effect.

[2020-11-25 17:23] #3466 closed

[2020-11-25 19:00] jmazzitelli commented on #3469
Presentation on performance evaluation between Ansible vs. Go operators: https://developers.redhat.com/ansiblefest/2020/operators-by-the-numbers

[2020-11-25 19:11] jmazzitelli commented on #3469
Note that some folks are looking into using a 'turbo' module that caches the k8s connection between tasks that is already proving to be at least 50-70% faster if you do a lot of tasks interacting with the API. See ongoing testing here: https://github.com/ansible-collections/community.kubernetes/pull/270

[2020-11-25 19:19] israel-hdez opened #3471 "Change kiali-bot to use merge commits for helm and operator repositories"
Because of merge policies on helm and operator repos, the bot errored when merging release PRs:

[code]

The bot should now use "squash and merge" strategy on those repositories.

[2020-11-25 19:53] jmazzitelli commented on #3469
Here's how you can turn on a profiler. In the Dockerfile, add this at the end:

[code]

Now just install a Kiali CR. Here's the first run I did (this is on minikube) - notice how horribly long it takes to create all the monitoring dashboards! We do already provide [a way to limit which ones are installed](https://github.com/kiali/kiali-operator/blob/v1.27.0/deploy/kiali/kiali_cr.yaml#L192-L203) or

[2020-11-25 20:05] GoelDeepak commented on #3207
@mlbiam Did you get a chance to spend sometime on this one?

[2020-11-25 20:13] jmazzitelli commented on #3469
This profiler could be very helpful. I think I'm going to add something to the operator such that an admin can tweek something to turn it on. We want this off by default I think, but it would be nice if we could relatively easily enable this.

[2020-11-25 21:29] jmazzitelli commented on #3469
I ran it a second time to see if I get the same results and I do. This second time, the entire playbook takes 65 seconds, with the "Create the Monitoring Dashboards" task itself taking 26s - that's 40% of the time solely to create monitoring dashboards that most people don't even use (they certainly don't use the vast majority of those dashboards).

I think as a quick fix, we should change the def

[2020-11-25 22:40] israel-hdez commented on #3471
PRs:
* https://github.com/kiali/kiali-operator/pull/204
* https://github.com/kiali/helm-charts/pull/21
* https://github.com/kiali/kiali-bot/pull/14

All merged.
Closing as done.

[2020-11-25 22:40] #3471 closed

[2020-11-25 22:59] israel-hdez opened #3472 "Medium blog post for releases 1.25 to 1.28"

[2020-11-26 04:06] lucasponce commented on #3279
+1

To me it looks good, as a user the steps to get here are:
- I review the timeline chart and one trace is bringing my attention for some reason (latency or a different pattern comapred with others).
- When selected, first tab is this "trace details" summary which shows a first comparson with other traces and also with metrics.

There are a couple of CSS issues in the screenshots (text alignment

[2020-11-26 10:46] #3465 closed

[2020-11-26 10:56] FilipB commented on #3468
@jmazzitelli thanks for looking into this. Just to add some numbers for "very long". I tried to remove one namespace from accessible_namespaces (so only 29 namespaces were remaining) and it took 26 minutes to finish reconciliation.

[2020-11-26 10:58] #3467 closed

[2020-11-26 14:14] jmazzitelli commented on #3468
@FilipB almost a half hour - ugh. Would you be able to do something to profile and find out where the bottleneck is on your cluster? You can do this (I assume you have a kiali dev environment - if not, you can ignore this message :) :

1. Check out this PR: https://github.com/kiali/kiali-operator/pull/205
2. Build the operator with that PR in place and push it into your cluster (`make cluster-push

[2020-11-26 15:44] FilipB commented on #3468
@jmazzitelli I'm not using kiali dev env but I can build and use the operator from PR 205 in my cluster. I will report results to https://github.com/kiali/kiali/issues/3469

[2020-11-27 09:26] lucasponce opened #3476 "Support Mirroring scenario in Wizards."
Part of the epic https://github.com/kiali/kiali/issues/3174.
Kiali Wizard can select one of the available routes as part of a mirroring configuration, instead of be part of the regular destination.

[2020-11-27 12:13] lucasponce opened #3477 "Weird percentage in Graph edges"
When selecting "request per second" option, there are a couple of "%" messages that are not very clear what they mean.

![image](https://user-images.githubusercontent.com/1662329/100448128-23ed5380-30b2-11eb-9cf5-5fff090744c5.png)

Not sure if it's a bug (it looks so) or if it may need some extra documentation in the legend or similar.

This issue has been spotted in the context of mirror traffic:

[2020-11-27 13:51] FilipB commented on #3469
I have following scenario:
1. 30 bookinfo applications all monitored by kiali (all listed in spec.deployment.accessible_namespaces)
2. remove one bookinfo app from spec.deployment.accessible_namespaces

It took ~14 minutes for the reconciliation to finish.
From operator logs it's visible that one cycle is not that bad (took 268 seconds) but this cycle is repeated 3 times for some reason.
So in tot

[2020-11-29 05:29] zackzhangkai opened #3478 "when the name of namespace is started with kube, the kiali cannot graph for it ."
**Describe the bug**

when my namespace is started with kube, then kiali cannot graph for it

For UI issues please also add a screenshot that shows the issue.

[code]

![image](https://user-images.githubusercontent.com/20178386/100534165-d3f3c580-3246-11eb-875b-86a28c5b2f84.png)

**Versions used**
Kiali:  v1.26.1
Istio: 1.6.10
Kubernetes flavour and version: (e.g. OpenShift Origin 3.9)

[2020-11-29 06:31] jmazzitelli commented on #3478
This is not a bug. This is working as expected. By default, Kiali will not show any namespaces that start with "kube" because typically those are internal-use only namespaces that are never part of the mesh.

If, for some reason, you want to create namespaces that start with "kube" and put them in your mesh, you can tell Kiali about it by modifying the Kiali CR setting `spec.api.namespaces.exclude

[2020-11-29 12:12] zackzhangkai commented on #3478
Thanks a lot, it's really helpful for me.

[2020-11-29 12:12] #3478 closed

[2020-11-29 12:42] jmazzitelli commented on #3469
OK, we will need to figure out if it's possible if we can get Ansible to perform some type of concurrent processing or bulk processing of adding the roles because as the number of namespaces increases, so will the reconciliation time (almost 2.5 seconds per namespace).

Also, "Determine all accessible namespaces, expanding regex expressions to matched namespaces" seems to increase with the size of

[2020-11-30 07:55] FilipB commented on #3469
Only change done to the kiali CR as a part of the test was to remove one namespace from accessible_namespaces. Which means that one single change in the kiali CR invoked 3 rounds of reconciliation. No reconciliation was running when the test started so the third loop is not a result of some older "pending change" which is not part of the test.
If the third loop is not expected, does it mean that y

[2020-11-30 09:24] lucasponce opened #3481 "Enable Github Actions on Kiali repos"
As it happens with other OSS projects, Kiali has reached some limit of free usage of Travis.

So, we are in a moment that perhaps we need to review what to do:

- Upgrade the Travis plan (if doable).
- Migrate Travis to Github Actions (which it's not clear where the limit for free OSS usage are).

- [x] Migrate Travis CI to Github Actions https://github.com/kiali/kiali/issues/3502
- [ ] Enable Kia

[2020-11-30 10:18] #3327 closed

[2020-11-30 11:55] jmazzitelli commented on #3469
I think this is all expected then:

Reconciliation loop 1: The initial creation of the Kial CR is detected and the operator installs Kiali - all Kiali resources are created now. The creation of the resources triggers k8s events.

Reconciliation loop 2: The k8s events that were triggered by the creation of the resources in reconciliation 1 causes reconciliation loop 2 to run (yes, it's weird. That'

[2020-11-30 12:12] FilipB commented on #3469
All 3 loops I'm talking about are result of removal of one namespace from accessible_namespaces. I'm not talking about reconciliation happening during installation of kiali.
So the timeline is following:
1. kiali CR is created and kiali is installed (I'm not interested in this reconciliation cycle)
2. kiali CR is updated to watch multiple namespaces (I'm not interested in this reconciliation cycle

[2020-11-30 12:37] abonas commented on #3203
In indeed sounds very helpful to get this info.
I'm wondering if generating the dump is a heavy action that might influence the proxy?
If several users, or even the same user click, say, 3 times in a row on "generate dump", will it have impact on the proxy, or it's such a light and fast action (and a tiny dump) that it won't influence anything?

[2020-11-30 12:44] abonas commented on #1582
@mtho11  your tutorials are great.
What tutorials are planned for this sprint? I wasn't sure I understand looking at this GH issue.
thanks

[2020-11-30 13:08] abonas commented on #3314
I wonder what hiding features means here - does it mean entities that don't exist, or functionality, like some action that exists in a wizard that other vendor doesn't have? or both :)

[2020-11-30 13:54] jmazzitelli commented on #3469
I really hate this feature of dependent resource watching. I think I should disable it. It is too "aggressive"

I too just saw the 3 loops by simply removing one namespace from the accessible_namespaces list. I might disable dependent resource watching AGAIN because it simply adds too much overhead.

[2020-11-30 14:41] jmazzitelli commented on #3469
OK, from the ansible operator SDK folks, this appears to be "expected":

[code]

I'm going to disable dependent resource watching because of this. We can't have the operator run a reconciliation 3 times everytime the Kiali CR is changed.

[2020-11-30 14:57] jmazzitelli opened #3482 "[operator] disable dependent resource watching"
We have [seen a single change to the Kiali CR (specifically accessible_namespaces) causes the Kiali operator to run *three* reconciliation loops](https://github.com/kiali/kiali/issues/3469#issuecomment-735749191).

I asked the ansible operator SDK folks about this, and it appears this is "to be expected" when dependent resource watching is enabled:

[code]

We need to disable dependent resource wa

[2020-11-30 15:11] mtho11 commented on #1582
@abonas yes, we need to decide and prioritize that.

[2020-11-30 15:32] jmazzitelli commented on #3482
It is possible a user can manually enable this feature by setting the [reconcilePeriod annotation](https://sdk.operatorframework.io/docs/building-operators/ansible/reference/watches/) in the Kiali CR to a non-zero value. This way, the user could tell the operator to check every X minutes to make sure all dependent resources are as they should be. This is an alternative option if people want this f

[2020-11-30 15:40] jmazzitelli commented on #3469
dependent resource watching disabled:
issue: https://github.com/kiali/kiali/issues/3482
master PR: https://github.com/kiali/kiali-operator/pull/207
backport 1.24 PR: https://github.com/kiali/kiali-operator/pull/208

[2020-11-30 15:59] DickChesterwood opened #3483 "Cannot inject a fault to a service which is served by a pod with no version: label"
**Describe the bug**

Hope I'm not doing something daft here ;-)

Up to and including v23.0, it was fine to "suspend traffic" on a service that was selecting a pod with no version: label.

From v24.0 onwards, with the new "inject fault" option, the following error is given:

`"admission webhook "validation.istio.io" denied the request: configuration is invalid: HTTP route or redirect is required"`

[2020-11-30 16:02] mtho11 opened #3484 "Qualify Kiali-ui to latest node.js LTS version (14)"
**Is your feature request related to a problem? Please describe.**
We normally track LTS versions of node.js for building and developing the Kiali-ui

**Describe the solution you'd like**
Check the build and test with node.js version 14 (LTS) to see if we can qualify it and use it as well to build and test with.

Node.js Release Map: https://nodejs.org/en/about/releases/

[2020-11-30 16:08] mtho11 commented on #3484
Thanks @FilipB for noticing this!

[2020-11-30 16:21] lucasponce commented on #3483
@DickChesterwood your comment is right, it seems it needs the "version" label up in the workload to enable this one.

[2020-11-30 16:24] lucasponce commented on #3483
+1

[2020-11-30 16:31] jmazzitelli opened #3485 "status field accessibleNamespaces in Kiali CR is not updated properly"
The Kiali CR has a `status` field like any other k8s resource. The operator adds a `accessibleNamespaces` entry in there to indicate which accessible namespaces were processed. This field is not being updated properly - the list of names is wrong.

How to replicate:

1) Create a Kiali CR with namespaces "foo" and "bar" in accessible_namespaces.
2) After the operator is done, see that status.access

[2020-11-30 16:32] lucasponce commented on #3483
Perhaps when a service is backed with a single workload, the version can be skipped from the Kiali Wizard perspective, but when whtere are more than 1 workload I guess it needs to fail or inform to use the "version" label, otherwise traffic shifting would need custom selectors which are not supported for the moment.

[2020-11-30 17:04] DickChesterwood commented on #3483
Thanks for this! Is a version relevant if you're just doing a fault injection, delay or timeout?

[2020-11-30 17:10] lucasponce commented on #3483
Not from Istio perspective, for Kiali Wizard that label helped to build the information required to build the VS/DR objects in Request Routing and Traffic Shifting scenarios, and that was reused in Fault Injection and others.

I'll investigate as probably I may find more cornercases that are working as expected.

Thanks for reporting this issue !

[2020-11-30 17:25] israel-hdez commented on #3448
Work in:
* Back-end: https://github.com/kiali/kiali/pull/3458
* Front-end: https://github.com/kiali/kiali-ui/pull/2012

Both are merged. Closing as done.

[2020-11-30 17:25] #3448 closed

[2020-11-30 18:51] mtho11 commented on #3484
I tested on both Fedora 30 and OS/X (Catalina) do an `npm cache clear --force` first.

[2020-11-30 19:03] jshaughn commented on #3314
It means the ability to hide/disable options that a specific vendor does not support.

[2020-11-30 19:21] jshaughn commented on #3426
@ediezh has this been resolved in any way?

[2020-11-30 19:24] jmazzitelli commented on #3485
Workarounds I've tried that do NOT work:
1) Make an initial call to set the field to an empty list `[]`
2) Make an initial call to set the field to `null` (this actually results in an error in k8s_status.py - `/tmp/ansible_operator_sdk.util.k8s_status_payload_An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: 'NoneType' object is not iterabl

[2020-11-30 19:28] jshaughn commented on #3461
@lucasponce Perhaps this should be added to the sprint?

[2020-11-30 20:12] jshaughn commented on #3477
When requesting "Requests Per Second" if you see a percentage below the rate it's the percentage of requests with errors.  I'll add a help blurb on the menu item.

[2020-11-30 20:20] jshaughn commented on #3477
As for mirror traffic, this is a longstanding issue with istio telemetry.  The mirrored request is not reported, and so you see you don't see that initial request, but if it generates susequent upstream requests those will show up.   There are actually a coupld of Istio issues for this, and some other related issues:

https://github.com/istio/istio/issues/11093  // mazz wrote this one up almost tw

[2020-11-30 20:45] #3482 closed

[2020-11-30 21:53] #3485 closed

[2020-12-01 08:22] aljesusg commented on #3279
looks great form me @jotak theheatmaps.

I don't know if we can improve the information about the simialr traces, I don't like to see N "Display" maybe set a link in the identifier with a tooltip. What do you think ?

[2020-12-01 09:17] jotak commented on #3279
@aljesusg thanks! Lucas had actually the same remark and it's implemented already

[2020-12-01 09:42] jotak opened #3487 "Show heatmaps in trace tooltips"
Follow-up on https://github.com/kiali/kiali/issues/3279

This was discussed in the above mentioned task, but I've been splitting the work in smaller tasks. Trace heatmaps can be displayed in the traces chart, in tooltips.

[2020-12-01 10:46] lucasponce opened #3488 "Update Kiali.io and promote better Tasks scenarios using Kiali"
Part of Epic https://github.com/kiali/kiali/issues/3174

Kiali.io can benefit of a "Tasks" section with short and straightforward examples about how to use Kiali to perform management operations.

Similar as proposed in [1] but using Kiali Wizards and Forms.

[1] https://istio.io/latest/docs/tasks/

[2020-12-01 13:38] jmazzitelli opened #3489 "be able to enable profiler in operator"
The operator image now supports running a profiler to help perform performance analysis on the operator (introduced as part of [this performance analysis issue](https://github.com/kiali/kiali/issues/3469)). We want to be able to turn that on from the command line/makefile infrastructure so devs can easily run this profiler and so the molecule tests can optionally produce the profiler report, too.

[2020-12-01 13:42] FilipB commented on #3469
Verified that only one reconciliation cycle runs after removing one namespaces from accessible_namespaces.
It took 258s for 29 namespaces.

[2020-12-01 14:16] #3461 closed

[2020-12-01 15:35] #3484 closed

[2020-12-01 15:53] jmazzitelli commented on #3489
all PRs merged.

[2020-12-01 15:53] #3489 closed

[2020-12-01 18:45] mtho11 opened #3491 "Publish the Kiali API docs to Github Pages"
**Is your feature request related to a problem? Please describe.**
The Kiali.io API documentation pages were broken because of swagger-ui javascript issues.

**Describe the solution you'd like**
We wish to publish a static API document (in asciidoc) to GH pages and then link from Kiali.io back to this

[2020-12-01 19:10] bcochofel opened #3492 "Kiali Operator and Istio 1.8 with Jaeger operator and Prometheus operator"
Using Kiali Operator chart to also create Kiali CR. Unable to access Jaeger and Grafana.

I have installed Prometheus and Grafana using Prometheus Operator (namespace: monitoring), and Jaeger using Jaeger Operator (namespace: jaeger-operator) but on Kiali UI I'm always getting unreachable.

Since I also have one Prometheus instance running on the istio-system namespace (to scrape Istio components

[2020-12-01 19:41] jmazzitelli commented on #3492
Can you provide any error messages you see in the Kiali pod logs?

cc @jotak @xeviknal

[2020-12-01 19:57] jshaughn commented on #3491
@mtho11 I don't think we need to link from kiali.io to the new adoc on github.  That can be reached directly bt gh users.

[2020-12-01 20:05] israel-hdez opened #3493 "Idle status taking precedence over degraded health status"
**General remarks**

Applications list page show "Idle" status when there are Idle and unhealthy pods for an application <ins>with multiple versions</ins>:

![image](https://user-images.githubusercontent.com/23639005/100788967-717ffe00-33db-11eb-90f5-b67027a28275.png)

Notice there is only one unhealthy version and the other versions are idle. Notice the resolved overall health is "Idle" rather th

[2020-12-01 20:16] bcochofel commented on #3492
[code]

[2020-12-01 20:34] jmazzitelli commented on #3492
I see the problem. Your config is incorrect. Your indentation is all wrong. First, the `external_services` is a top level section under spec. You have it under `deployment` which is wrong. Same with `istio_component_namespaces`.

Consult the example Kiali CR for the proper syntax of the CR settings: https://github.com/kiali/kiali-operator/blob/master/deploy/kiali/kiali_cr.yaml

[2020-12-01 20:41] mtho11 commented on #3491
@jshaughn ok

[2020-12-01 23:01] JuanSeBestia commented on #3426
I have kiali-cr configured with the following values, it works as expected on Tracing, @ediezh test putting the exact port or using the configuration for namesapace
[code]

[2020-12-01 23:10] bcochofel commented on #3492
Thank you @jmazzitelli  I've missed that.

Do I need to use the component_status block? Prometheus Operator doesn't use app label for grafana, I've added it myself.

[2020-12-01 23:35] jmazzitelli commented on #3492
That stuff has changed recently and [the addon component_status blocks were removed](https://github.com/kiali/kiali/pull/3423). So I do not think you use that for grafana - that setting is no longer used for grafana and prometheus and jaeger. @xeviknal knows more (and can probably fill in more details).

I know this component status stuff is mentioned in [the example kiali_cr yaml](https://github.

[2020-12-01 23:47] JuanSeBestia opened #3494 "Some HTTP request still pending and never load (Graph, Applications, Workloads)"
**Describe the bug**
the application keeps processing some calls indefinitely, this can happen with various APIs in various sections of the application (such as Graph, Applications, Workloads, ... etc).

I waited half an hour and the HTTP call was still pending

reference image
<img width="1666" alt="Screen Shot 2020-12-01 at 4 46 00 PM" src="https://user-images.githubusercontent.com/7362688/10080

[2020-12-01 23:55] JuanSeBestia commented on #3494
Logs:
[Kiali_1_26_1.txt](https://github.com/kiali/kiali/files/5626111/Kiali_1_26_1.txt)

[2020-12-02 03:27] lucasponce commented on #3493
@israel-hdez I agree, this is a bug, it seems "iddle" workloads are not computed right on the App case.

[2020-12-02 04:06] ediezh commented on #3426
Thanks @jshaughn @JuanSeBestia , I will give it a try and let you know.

[2020-12-02 05:48] ediezh commented on #3426
Hi @JuanSeBestia thanks for the tip. Addin the port number fixed my problem.

[2020-12-02 08:41] jotak commented on #3494
@lucasponce have you ever seen this "too old resource version" log? Looks related to the watchers.

[code]

Perhaps when such error occurs we need to reinitialize watchers?

@JuanSeBestia
Does that log look related with the issue, ie. do you see it constantly when the problem appears and you don't see it in your working staging environment?

[2020-12-02 08:49] lucasponce commented on #3494
El mié., 2 dic. 2020 9:42, Joel Takvorian <notifications@github.com>
escribió:

That ConfigMap error means that resource has changed and it needs a refresh
in the informer but I don't think it's related to the problem with the
/apps endpoint.

It seems some overload of the k8s api, I wonder if this problem could be
reproduced to investigate

@JuanSeBestia <https://github.com/JuanSeBestia>

[2020-12-02 09:16] rakesh-garimella opened #3496 "Kiali should not depend on all the labels for creating the graph"
**Is your feature request related to a problem? Please describe.**

Kiali creates network graphs based on the information it receives from various istio metrics that are being scraped by promehteus. Usually in a production environment we have to drop several labels from these istio metrics in order to reduce the metric cardinality so as to bring the memory usage under control. However the side eff